Repository learningequality/kolibri, pull requests merged in 2018-02, with the labels that each got.

#3172 Breadcrumbs
  kolibri/core/assets/src/views/k-breadcrumbs/index.vue
Labels: PR: needs review

#3167 Build system simplification
  frontend_build/src/alias_import_resolver.js
  frontend_build/src/apiSpecExportTools.js
  frontend_build/src/kolibriName.js
  frontend_build/src/parse_bundle_plugin.js
  frontend_build/src/read_bundle_plugins.js
  frontend_build/src/webpack.config.base.js
  frontend_build/src/webpack.config.js
  frontend_build/test/test_bundle_parse.js
  kolibri/content/hooks.py
  kolibri/core/context_processors/custom_context_processor.py
  kolibri/core/templatetags/kolibri_tags.py
  kolibri/core/webpack.config.js
  kolibri/core/webpack/hooks.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/KOLIBRI_CORE_JS_NAME
  kolibri/utils/conf.py
Labels: PR: needs review

#3169 Adds permissions tests for DRF endpoints that should prevent deletion
  kolibri/auth/api.py
  kolibri/auth/test/test_api.py
  kolibri/content/api.py
  kolibri/content/test/test_content_app.py
  kolibri/core/exams/api.py
  kolibri/core/exams/test/test_exam_api.py
Labels: PR: needs review

#3156 Vue intl upgrade
  docs-developer/references/i18n.rst
  frontend_build/src/intl_code_gen.js
  frontend_build/src/webpack.config.base.js
  karma_config/karma.conf.js
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/assets/src/utils/import-intl-locale.js
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/core/assets/src/views/elapsed-time/index.vue
  kolibri/core/assets/test/core-app-mediator.js
  kolibri/core/assets/test/views/elapsed-time-spec.js
  kolibri/deployment/default/settings/base.py
  kolibri/locale/en/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/management_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/en/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/supported_languages.json
  kolibri/utils/i18n.py
  package.json
  yarn.lock
Labels: PR: needs review

#3113 Clean up our makefile
  Makefile
  build_tools/install_cexts.py
Labels: DEV: dev experience, PR: needs updates

#3178 Don't cache frontend messages during development.
  kolibri/core/webpack/hooks.py
Labels: PR: needs review

#3179 Use dashes instead of forward slashes for nicer filenames.
  .buildkite/upload_artifacts.py
Labels: DEV: dev experience, PR: needs review

#3180 Tox fails if models have changes that are not yet reflected in a migration
  kolibri/auth/migrations/0007_auto_20171226_1125.py
  kolibri/content/migrations/0004_auto_20170825_1038.py
  requirements/base.txt
  tox.ini
Labels: DEV: backend, DEV: dev experience, PR: needs review

#3173 Disabled CREATE EXAM button while no content is selected
  kolibri/plugins/coach/assets/src/views/exams-page/create-exam-modal.vue
Labels: PR: needs review

#3190 Fix soon-to-be-deleted line with some python3-specific code
  docs-developer/conf.py
  docs/conf.py
Labels: DEV: devops

#3183 add 'enter' handler, fixes #3182
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-permissions-form/index.vue
Labels: PR: needs review

#3192 Do not install requirements during make dist
  Makefile
Labels: DEV: dev experience, PR: needs updates

#3197 Adds a basic epub renderer to Kolibri.
  kolibri/plugins/document_epub_render/__init__.py
  kolibri/plugins/document_epub_render/assets/src/module.js
  kolibri/plugins/document_epub_render/assets/src/views/index.vue
  kolibri/plugins/document_epub_render/content_types.json
  kolibri/plugins/document_epub_render/kolibri_plugin.py
  kolibri/plugins/document_epub_render/package.json
  kolibri/plugins/document_epub_render/yarn.lock
Labels: PR: needs review

#3191 Exams and nested permissions
  kolibri/auth/api.py
  kolibri/core/exams/api.py
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
Labels: PR: needs review

#3199 Filter contents by availability in Coach Topics Reports
  kolibri/plugins/coach/api.py
Labels: PR: needs review

#3205 Flappybirdcenter
  kolibri/plugins/setup_wizard/assets/src/views/index.vue
Labels: PR: needs review

#3217 Autoaccept fonts EULA for windows builds.
  windows_installer_docker_build/Dockerfile
Labels: PR: needs review

#3207 Download topic thumbnails
  kolibri/content/utils/import_export_content.py
Labels: PR: needs review

#3097 Let users change password
  kolibri/plugins/user/assets/src/state/actions.js
  kolibri/plugins/user/assets/src/state/mutations.js
  kolibri/plugins/user/assets/src/views/profile-page/change-user-password-modal.vue
  kolibri/plugins/user/assets/src/views/profile-page/index.vue
Labels: P0 - critical, PR: needs updates

#3115 Class users list UI: Fixed column widths and replace switch with checkbox
  kolibri/plugins/facility_management/assets/src/views/class-enroll-page/index.vue
Labels: PR: needs updates

#3216 Adjusts line height after having ignored it for years. :skull_and_crossbones:
  kolibri/core/assets/src/styles/main.styl
  kolibri/core/assets/src/views/k-select/index.vue
  kolibri/plugins/device_management/assets/src/views/available-channels-page/index.vue
  kolibri/plugins/device_management/assets/test/views/available-channels-page.spec.js
Labels: PR: needs review

#3221 Use lodash merge to do a deep merge for coreAPI injection.
  kolibri/core/assets/src/core-app/constructor.js
Labels: PR: needs review

#3176 Translation workflow updates
  .gitignore
  Makefile
  build_tools/crowdin.yaml
  docs-developer/Makefile
  docs-developer/crowdin.yaml
  docs-developer/locale/docs/es_MX/LC_MESSAGES/authors.po
  docs-developer/locale/docs/es_MX/LC_MESSAGES/changelog.po
  docs-developer/locale/docs/es_MX/LC_MESSAGES/contributing.po
  docs-developer/locale/docs/es_MX/LC_MESSAGES/dev.po
  docs-developer/locale/docs/es_MX/LC_MESSAGES/index.po
  docs-developer/references/i18n.rst
  docs-developer/references/release_process.rst
Labels: DEV: devops, DOCS: developer, PR: needs review

#3223 Logo updates
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/logo/icons/kolibri-logo.svg
  kolibri/core/assets/src/views/logo/index.vue
  kolibri/core/assets/src/views/points-icon/icons/grey-leaf.svg
  kolibri/core/assets/src/views/points-icon/icons/leaf.svg
  kolibri/core/assets/src/views/side-nav/index.vue
  kolibri/plugins/user/assets/src/views/sign-up-page/index.vue
Labels: PR: work-in-progress

#3227 Fix inconsistent naming/terminology - users vs. learners #3021
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/class-enroll-page/confirm-enrollment-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
Labels: PR: needs review

#3203 Immersive Page
  kolibri/core/assets/src/views/app-body/index.vue
  kolibri/core/assets/src/views/core-base.vue
  kolibri/core/assets/src/views/immersive-toolbar/index.vue
Labels: DEV: frontend

#3230 Pass proper data to backend for exam assignment
  kolibri/plugins/coach/assets/src/state/actions/exam.js
Labels: PR: needs review

#3231 Fix selection in exam creation
  kolibri/plugins/coach/assets/src/views/create-exam-page/index.vue
Labels: PR: needs review

#3154 Create user and exclude email from fields
  kolibri/auth/migrations/0008_auto_20180222_1244.py
  kolibri/auth/models.py
Labels: PR: needs review

#3245 Move docs-developer/ to docs/
  .gitignore
  Makefile
  docs/Makefile
  docs/_static/theme_overrides.css
  docs/architecture/content/api_endpoints.rst
  docs/architecture/content/api_methods.rst
  docs/architecture/content/concepts_and_definitions.rst
  docs/architecture/content/content_distributed_db.png
  docs/architecture/content/implementation.rst
  docs/architecture/content/index.rst
  docs/architecture/dataflow/full_stack_data_flow.svg
  docs/architecture/dataflow/index.rst
  docs/architecture/frontend_architecture.rst
  docs/architecture/index.rst
  docs/architecture/logger/concepts_and_definitions.rst
  docs/architecture/logger/implementations.rst
  docs/architecture/logger/index.rst
  docs/architecture/plugins.rst
  docs/architecture/uap/concepts_and_definitions.rst
  docs/architecture/uap/img/uap_collection_hierarchy.svg
  docs/architecture/uap/img/uap_crud_permissions.svg
  docs/architecture/uap/img/uap_membership_diagram.svg
  docs/architecture/uap/img/uap_role_membership_diagram.svg
  docs/architecture/uap/img/uap_role_membership_queries.svg
  docs/architecture/uap/implementation.rst
  docs/architecture/uap/index.rst
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/logo.png
  docs/pipeline/dist_build_pipeline.rst
  docs/pipeline/frontend_build_pipeline.rst
  docs/pipeline/index.rst
  docs/pipeline/upgrade.rst
  docs/references/conventions.rst
  docs/references/files.rst
  docs/references/i18n.rst
  docs/references/index.rst
  docs/references/manual_testing.rst
  docs/references/release_process.rst
  docs/start/contributing/authors.rst
  docs/start/contributing/code_of_conduct.rst
  docs/start/contributing/index.rst
  docs/start/getting_started.rst
  docs/start/index.rst
  docs/start/stack.rst
Labels: DOCS: developer, PR: needs review

#3235 add content type tooltips to icons, and remove 'html5' from text
  kolibri/core/assets/src/views/content-icon/index.vue
  kolibri/plugins/learn/assets/src/views/content-card-group-grid/index.vue
  kolibri/plugins/learn/assets/src/views/content-card/card-thumbnail.vue
  kolibri/plugins/learn/assets/src/views/points-popup/index.vue
Labels: PR: needs review

#3238 Use circular progress comp
  kolibri/plugins/device_management/assets/src/views/manage-content-page/task-progress.vue
Labels: PR: needs review

#3247 Adds a transition
  kolibri/plugins/device_management/assets/src/views/available-channels-page/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/task-progress.vue
Labels: PR: needs review

#3237 various user-facing text cleanup
  kolibri/core/assets/src/views/k-radio-button/index.vue
  kolibri/plugins/coach/assets/src/views/exams-page/index.vue
  kolibri/plugins/coach/assets/src/views/groups-page/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonsRootPage.vue
  kolibri/plugins/coach/assets/src/views/lessons/ManageLessonModals/CopyLessonModal.vue
  kolibri/plugins/coach/assets/src/views/reports/item-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/summary-section.vue
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/user-remove-modal.vue
  kolibri/plugins/facility_management/assets/src/views/class-enroll-page/confirm-enrollment-modal.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-name-form/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-permissions-form/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/onboarding-form.vue
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
Labels: PR: needs review, TAG: user strings

#3250 Update noto sans font
  frontend_build/src/webpack.config.base.js
  kolibri/core/assets/src/styles/font-NotoSans.css
  package.json
  yarn.lock
Labels: PR: needs review

#3248 Fix search box on IE
  kolibri/plugins/learn/assets/src/views/search-box/index.vue
Labels: PR: needs review

#3261 Version bump current develop
  kolibri/__init__.py
Labels: PR: needs review

#3264 Consistency in dev docs TOCs, no empty index pages
  docs/architecture/index.rst
  docs/index.rst
  docs/pipeline/index.rst
Labels: DOCS, PR: needs review

#3263 0.8.x into develop (conflict resolved)
  .travis.yml
  Makefile
  kolibri/plugins/learn/assets/src/views/search-box/index.vue
  kolibri/utils/version.py
Labels: PR: needs review

#3242 Close exam after submission
  kolibri/plugins/learn/assets/src/state/actions/main.js
Labels: PR: needs review

#3265 Add python compiling to Tox tests
  Makefile
  tox.ini
Labels: DEV: distributions, PR: needs review

#3233 Some fixes for granular import/export workflows
  kolibri/plugins/device_management/assets/src/state/getters.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/index.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/index.vue
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-list-item.spec.js
  kolibri/plugins/device_management/assets/test/views/select-content-page.spec.js
Labels: PR: needs review

#3170 Fixed Server 400 error for Superusers
  kolibri/core/assets/src/conditionalPromise.js
Labels: PR: needs review

#3266 update strings
  kolibri/plugins/coach/assets/src/views/lessons/ManageLessonModals/CopyLessonModal.vue
Labels: PR: needs review

#3239 Removed name attribute from presets
  kolibri/auth/constants/facility_configuration_presets.json
  kolibri/auth/constants/facility_presets.py
Labels: PR: needs updates

#3259 tweak docs and makefile around crowdin process
  Makefile
  docs/references/i18n.rst
  docs/references/index.rst
  kolibri/locale/en/LC_MESSAGES/django.po
Labels: PR: needs review

#3267 prop should be js, not string
  kolibri/plugins/setup_wizard/assets/src/views/submission-states/error-page/index.vue
Labels: PR: needs review

#3241 Facility selection on login
  kolibri/auth/api.py
  kolibri/core/assets/src/state/actions.js
  kolibri/core/assets/src/state/getters.js
  kolibri/plugins/user/assets/src/app.js
  kolibri/plugins/user/assets/src/state/actions.js
  kolibri/plugins/user/assets/src/state/initialState.js
  kolibri/plugins/user/assets/src/state/mutations.js
  kolibri/plugins/user/assets/src/views/sign-in-page/facility-modal.vue
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
  kolibri/plugins/user/templates/user/user.html
  kolibri/plugins/user/views.py
Labels: DEV: frontend, P0 - critical, TAG: user strings, TASK: new feature
