Repository learningequality/kolibri, pull requests merged in 2018-06, with the labels that each got.

#3735 0.9.x into 0.10.x
  CHANGELOG.rst
  build_tools/crowdin.yaml
  kolibri/auth/management/commands/fullfacilitysync.py
  kolibri/content/test/test_annotation.py
  kolibri/content/utils/annotation.py
  kolibri/content/utils/channels.py
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/deployment/default/settings/base.py
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/django.po
  kolibri/locale/supported_languages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/yo/LC_MESSAGES/django.po
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/zu/LC_MESSAGES/django.po
  kolibri/plugins/user/assets/src/views/profile-page/change-user-password-modal.vue
  requirements/base.txt
Labels: PR: needs review

#3737 Ensure that copies only accounts for content nodes that are available
  kolibri/content/api.py
  kolibri/content/fixtures/content_test.json
  kolibri/content/test/test_content_app.py
  kolibri/plugins/coach/test/test_coach_api.py
Labels: PR: needs review

#3743 Conditionally encode when reading stopword file
  kolibri/content/utils/stopwords.py
Labels: PR: needs review

#3754 Fix manual provision device workflow
  kolibri/core/device/management/commands/provisiondevice.py
Labels: PR: needs review

#3760 Handle pdfs that have different sized pages
  kolibri/plugins/document_pdf_render/assets/src/views/index.vue
  kolibri/plugins/document_pdf_render/assets/src/views/pdfPage.vue
  kolibri/plugins/document_pdf_render/package.json
  kolibri/plugins/document_pdf_render/yarn.lock
Labels: PR: needs review

#3758 Allow vue devtools to open in editor.
  frontend_build/src/webpackdevserver.js
  kolibri/deployment/default/settings/dev.py
  kolibri/deployment/default/urls.py
  package.json
  yarn.lock
Labels: DEV: dev experience, PR: needs review

#3736 Fine tune Kolibri CherryPy params, allowing options
  kolibri/utils/options.py
  kolibri/utils/server.py
Labels: PR: needs review

#3762 Adjust thumbnail style and add missing pdf content color
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/card-thumbnail.vue
  kolibri/plugins/learn/assets/src/views/content-card/card-thumbnail.vue
Labels: PR: needs review

#3753 Gracefully and semantically handle missing tasks.
  kolibri/tasks/api.py
  kolibri/tasks/test/test_api.py
Labels: PR: needs review

#3752 changelog for 0.10.0
  CHANGELOG.rst
Labels: PR: needs review

#3708 Replace material icon font with svgs
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/styles/main.styl
  kolibri/core/assets/src/views/CoreInfoIcon/index.vue
  kolibri/core/assets/src/views/app-bar.vue
  kolibri/core/assets/src/views/coach-content-label.vue
  kolibri/core/assets/src/views/core-menu/index.vue
  kolibri/core/assets/src/views/core-menu/option.vue
  kolibri/core/assets/src/views/immersive-toolbar.vue
  kolibri/core/assets/src/views/k-breadcrumbs.vue
  kolibri/core/assets/src/views/k-filter-textbox.vue
  kolibri/core/assets/src/views/k-navbar/link/index.vue
  kolibri/core/assets/src/views/permissions-icon.vue
  kolibri/core/assets/src/views/progress-icon.vue
  kolibri/core/assets/src/views/side-nav.vue
  kolibri/core/assets/test/progress-icon.spec.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceUserSummaryPage.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/top-nav.vue
  kolibri/plugins/device_management/assets/src/views/device-top-nav.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channel-list-item.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/channel-contents-summary.vue
  kolibri/plugins/document_epub_render/assets/src/views/index.vue
  kolibri/plugins/document_pdf_render/assets/src/views/index.vue
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/class-enroll-form.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/top-nav.vue
  kolibri/plugins/facility_management/assets/src/views/user-table.vue
  kolibri/plugins/learn/assets/src/views/action-bar-search-box.vue
  kolibri/plugins/learn/assets/src/views/content-card-group-carousel.vue
  kolibri/plugins/learn/assets/src/views/content-page.vue
  kolibri/plugins/learn/assets/src/views/index.vue
  kolibri/plugins/learn/assets/src/views/mastered-snackbars/snackbar.vue
  kolibri/plugins/learn/assets/src/views/search-box.vue
  kolibri/plugins/setup_wizard/assets/src/views/progress-toolbar.vue
  kolibri/plugins/style_guide/assets/src/views/content/navbar/example.html
  kolibri/plugins/style_guide/assets/src/views/content/navbar/index.vue
  kolibri/plugins/style_guide/assets/src/views/shell/sidenav.vue
  kolibri/plugins/user/assets/src/views/profile-page/change-user-password-modal.vue
Labels: PR: needs review

#3759 Don't translate backend role kind strings
  kolibri/auth/constants/role_kinds.py
Labels: PR: needs review

#3774 Fix typo
  kolibri/plugins/coach/assets/src/views/exams/exams-page/index.vue
Labels: PR: needs review

#3748 remove global css helper classes
  kolibri/core/assets/src/styles/main.styl
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
Labels: PR: needs review

#3769 switch from open to io.open for text file read/write
  build_tools/webpack_json.py
  kolibri/auth/constants/facility_presets.py
  kolibri/auth/management/commands/importusers.py
  kolibri/content/hooks.py
  kolibri/content/management/commands/generate_schema.py
  kolibri/content/test/test_channel_import.py
  kolibri/content/utils/stopwords.py
  kolibri/core/webpack/hooks.py
  kolibri/logger/management/commands/generateuserdata.py
  kolibri/utils/conf.py
  setup.py
Labels: PR: needs review

#3768 clicking through items during import causes a 'loading' state
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/state/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-wizard-ui-alert.vue
Labels: PR: needs review

#3772 clarify brazilian pt
  CHANGELOG.rst
  kolibri/locale/supported_languages.json
Labels: PR: needs review

#3767 Remove content_session_receiver signal
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/views/content-renderer/index.vue
  kolibri/logger/apps.py
  kolibri/logger/signals.py
Labels: DEV: backend, DEV: frontend, DEV: performance, PR: needs review

#3705 remove distutils in env.py and refactor code in install_cexts.py
  build_tools/install_cexts.py
  kolibri/utils/env.py
  kolibripip.pex
  requirements/build.txt
Labels: PR: needs review

#3770 remove /run from the blacklist
  kolibri/core/discovery/utils/filesystem/posix.py
Labels: PR: needs review

#3766 Test case and fix for versioning error spotted by @ivanistheone
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Labels: DEV: distributions, PR: needs review

#3650 Update Kolibri Windows installer to v1.2.0
  .buildkite/build_windows_installer.sh
Labels: PR: needs review, changelog

#3777 Path fix for node-js on Ubuntu (or Debian in general?)
  frontend_build/src/read_webpack_json.js
Labels: DEV: dev experience, DEV: devops, PR: needs review

#3784 Remove noqa because these imports are already ordered
  kolibri/utils/cli.py
Labels: DEV: distributions, PR: needs review, TAG: tech debt

#3741 auto-resume for content importing from network
  kolibri/content/fixtures/content_test.json
  kolibri/content/management/commands/importcontent.py
  kolibri/content/test/test_annotation.py
  kolibri/content/test/test_content_app.py
  kolibri/content/test/test_import_export.py
  kolibri/content/utils/transfer.py
  kolibri/plugins/device_management/assets/src/views/manage-content-page/task-progress.vue
Labels: PR: needs review

#3789 Release v0.10.x into develop
  kolibri/content/fixtures/content_test.json
  kolibri/content/management/commands/importcontent.py
  kolibri/content/test/test_annotation.py
  kolibri/content/test/test_content_app.py
  kolibri/content/test/test_import_export.py
  kolibri/content/utils/transfer.py
  kolibri/plugins/device_management/assets/src/views/manage-content-page/task-progress.vue
Labels: PR: needs review

#3778 Fix logic for changing facility-level Roles when editing users
  kolibri/plugins/facility_management/assets/src/state/actions/rolesActions.js
  kolibri/plugins/facility_management/assets/src/state/actions/user.js
  kolibri/plugins/facility_management/assets/src/state/mutations.js
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/reset-user-password-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
Labels: PR: needs review

#3785 add max-width to exercise attempts bar
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/index.vue
Labels: PR: needs review

#3799 Fix attempt log list
  kolibri/core/assets/src/views/attempt-log-list.vue
  kolibri/core/assets/src/views/exam-report/index.vue
  kolibri/core/assets/src/views/interaction-list/index.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-exercise-detail-page/learner-exercise-report.vue
Labels: PR: needs review

#3800 Add triggered android apk build pipeline
  .buildkite/build_apk.sh
  .buildkite/pipeline.yml
Labels: PR: work-in-progress

#3796 Fix the test errors introduced by the movedirectory command PR
  kolibri/content/test/test_movedirectory.py
  kolibri/utils/tests/test_sanity_check.py
Labels: PR: needs review

#3810 Fix search box clear button horizontal overflow
  kolibri/plugins/learn/assets/src/views/search-box.vue
Labels: DEV: frontend, P2 - normal, PR: needs review

#3808 fix scrolling
  kolibri/core/assets/src/views/app-body.vue
Labels: PR: needs review

#3786 Parameterize core-modal buttons + more
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/core-modal.vue
  kolibri/core/assets/src/views/k-modal.vue
  kolibri/core/assets/src/views/language-switcher/list.vue
  kolibri/core/assets/src/views/language-switcher/modal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentChangeStatusModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentDeleteModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/exams/exams-page/preview-exam-modal.vue
  kolibri/plugins/coach/assets/src/views/groups-page/create-group-modal.vue
  kolibri/plugins/coach/assets/src/views/groups-page/delete-group-modal.vue
  kolibri/plugins/coach/assets/src/views/groups-page/move-learners-modal.vue
  kolibri/plugins/coach/assets/src/views/groups-page/rename-group-modal.vue
  kolibri/plugins/coach/assets/test/views/AssignmentCopyModal.spec.js
  kolibri/plugins/device_management/assets/src/views/available-channels-page/channel-token-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/delete-channel-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/select-drive-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/select-import-source-modal.vue
  kolibri/plugins/device_management/assets/src/views/welcome-modal.vue
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/select-import-source-modal.spec.js
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/class-rename-modal.vue
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/user-remove-confirmation-modal.vue
  kolibri/plugins/facility_management/assets/src/views/facilities-config-page/confirm-reset-modal.vue
  kolibri/plugins/facility_management/assets/src/views/facilities-config-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/class-create-modal.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/class-delete-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/delete-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/reset-user-password-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
  kolibri/plugins/facility_management/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/views/copies-modal.vue
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-permissions-form/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/modals/example.html
  kolibri/plugins/style_guide/assets/src/views/content/modals/index.vue
  kolibri/plugins/style_guide/assets/src/views/shell/nav-menu.js
  kolibri/plugins/user/assets/src/views/profile-page/change-user-password-modal.vue
  kolibri/plugins/user/assets/src/views/sign-in-page/facility-modal.vue
Labels: PR: needs review

#3814 Update local versions to conform with PEP 440
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Labels: DEV: distributions, PR: needs review

#3815 Port #3707 to 0.9.x: Updates to response headers for ZIP endpoints for security and functionality
  kolibri/content/test/test_zipcontent.py
  kolibri/content/views.py
Labels: PR: needs review

#3823 Prevent multiple group membership within a class
  kolibri/auth/serializers.py
  kolibri/auth/test/test_api.py
  kolibri/plugins/coach/assets/src/state/actions/group.js
Labels: DEV: backend, DEV: frontend, PR: needs review, changelog

#3795 updates to developer docs
  docs/architecture/content/api_methods.rst
  docs/architecture/content/concepts_and_definitions.rst
  docs/architecture/content/implementation.rst
  docs/architecture/dataflow/index.rst
  docs/architecture/frontend_architecture.rst
  docs/architecture/logger/concepts_and_definitions.rst
  docs/architecture/logger/implementations.rst
  docs/architecture/plugins.rst
  docs/architecture/uap/implementation.rst
  docs/index.rst
  docs/pipeline/dist_build_pipeline.rst
  docs/pipeline/frontend_build_pipeline.rst
  docs/references/conventions.rst
  docs/references/development_workflow.rst
  docs/references/files.rst
  docs/references/i18n.rst
  docs/references/index.rst
  docs/references/manual_testing.rst
  docs/references/release_process.rst
  docs/start/getting_started.rst
  docs/start/stack.rst
Labels: PR: needs review

#3816 experimental background image command
  kolibri/plugins/user/assets/src/views/sign-in-page/background.jpg
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
  kolibri/plugins/user/management/__init__.py
  kolibri/plugins/user/management/commands/__init__.py
  kolibri/plugins/user/management/commands/background.py
Labels: PR: needs review

#3702 Automate Kolibri Windows Installer signing
  .buildkite/pipeline.yml
  .buildkite/sign_windows_installer.bat
Labels: PR: needs review

#3830 Upgrade perseus renderer
  requirements/base.txt
Labels: PR: needs review, PR: work-in-progress

#3837 Show content metadata
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3840 Show content metadata
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3829 updated language switcher
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/language-switcher/list.vue
  kolibri/core/assets/src/views/language-switcher/mixin.js
  kolibri/core/assets/src/views/language-switcher/modal.vue
  kolibri/plugins/user/assets/src/views/language-switcher-footer.vue
Labels: PR: needs review, changelog

#3559 Sidenav and redirect architecture proposal
  build_tools/webpack_json.py
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/core-app/__mocks__/urls.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/nav-components.js
  kolibri/core/assets/src/state/actions.js
  kolibri/core/assets/src/utils/navComponents.js
  kolibri/core/assets/src/views/app-bar.vue
  kolibri/core/assets/src/views/core-base.vue
  kolibri/core/assets/src/views/core-menu/option.vue
  kolibri/core/assets/src/views/logout-side-nav-entry.vue
  kolibri/core/assets/src/views/side-nav-divider.vue
  kolibri/core/assets/src/views/side-nav.vue
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/assets/test/utils/navComponents.spec.js
  kolibri/core/assets/test/views/__snapshots__/app-bar.spec.js.snap
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/core/auth/api.py
  kolibri/core/auth/constants/user_kinds.py
  kolibri/core/hooks.py
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templatetags/kolibri_tags.py
  kolibri/core/test/test_kolibri_tags.py
  kolibri/core/urls.py
  kolibri/core/views.py
  kolibri/core/webpack/utils.py
  kolibri/deployment/default/urls.py
  kolibri/deployment/default/views.py
  kolibri/plugins/coach/assets/src/views/coach-side-nav-entry.vue
  kolibri/plugins/coach/assets/src/views/index.vue
  kolibri/plugins/coach/kolibri_plugin.py
  kolibri/plugins/device_management/assets/src/views/device-management-side-nav-entry.vue
  kolibri/plugins/device_management/assets/src/views/index.vue
  kolibri/plugins/device_management/kolibri_plugin.py
  kolibri/plugins/facility_management/assets/src/views/facility-management-side-nav-entry.vue
  kolibri/plugins/facility_management/assets/src/views/index.vue
  kolibri/plugins/facility_management/kolibri_plugin.py
  kolibri/plugins/learn/assets/src/views/index.vue
  kolibri/plugins/learn/assets/src/views/learn-side-nav-entry.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/state/actions/main.js
  kolibri/plugins/user/assets/src/views/index.vue
  kolibri/plugins/user/assets/src/views/login-side-nav-entry.vue
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
  kolibri/plugins/user/assets/src/views/user-profile-side-nav-entry.vue
  kolibri/plugins/user/assets/test/views/sign-in-page.spec.js
  kolibri/plugins/user/assets/test/views/user-page.spec.js
  kolibri/plugins/user/kolibri_plugin.py
Labels: PR: needs review

#3859 Display metadata in content-page component correctly
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3862 Show description for channels
  kolibri/plugins/learn/assets/src/state/actions/main.js
Labels: PR: needs review

#3865 0.9 -> 0.10
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3849 Handle single-card carousel.
  kolibri/plugins/learn/assets/src/views/content-card-group-carousel.vue
Labels: DEV: frontend, PR: needs review

#3860 Upgrade perseus renderer to core.content compatible API.
  requirements/base.txt
Labels: PR: needs review

#3827 Add option to configure postgres database port
  AUTHORS.rst
  kolibri/deployment/default/settings/base.py
  kolibri/utils/options.py
Labels: DEV: backend, PR: needs review

#3857 Fix password fields in modals.
  kolibri/core/assets/src/views/core-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
Labels: PR: needs review

#3887 Handle when String::localeCompare extended arguments are not supported (IE, Edge)
  kolibri/core/assets/src/utils/i18n.js
  kolibri/plugins/coach/assets/src/state/getters/reportUtils.js
  kolibri/plugins/device_management/assets/src/userSearchUtils.js
  kolibri/plugins/facility_management/assets/src/userSearchUtils.js
Labels: PR: needs review

#3889 Only use logs for 'available' content when displaying user progress
  kolibri/content/serializers.py
Labels: PR: needs review

#3890 Add multiPaneLayout
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/attempt-log-list.vue
  kolibri/core/assets/src/views/exam-report/index.vue
  kolibri/core/assets/src/views/exam-report/page-status.vue
  kolibri/core/assets/src/views/immersive-full-screen.vue
  kolibri/core/assets/src/views/interaction-list/index.vue
  kolibri/core/assets/src/views/multi-pane-layout.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/ContentArea.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/MetadataArea.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/QuestionList.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-exercise-detail-page/attempt-summary.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-exercise-detail-page/index.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-exercise-detail-page/learner-exercise-report.vue
  kolibri/plugins/device_management/assets/src/views/manage-permissions-page/index.vue
  kolibri/plugins/html5_app_renderer/assets/src/views/index.vue
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
Labels: PR: needs review

#3893 Add "deprovision" management command to clear out user data from the DB
  kolibri/auth/management/commands/deprovision.py
  kolibri/auth/test/test_deprovisioning.py
  kolibri/utils/cli.py
Labels: PR: needs review, changelog

#3894 Multi pane layout follow up
  kolibri/core/assets/src/api-resource.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/ContentArea.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/index.vue
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
Labels: P0 - critical, PR: needs review

#3898 Recommended 404
  kolibri/content/api.py
  kolibri/content/test/test_content_app.py
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3891 Linking to topics page if a topic is recommended.
  kolibri/plugins/learn/assets/src/views/recommended-page.vue
  kolibri/plugins/learn/assets/src/views/recommended-subpage.vue
Labels: DEV: frontend, P1 - important, PR: needs review

#3897 Fix alignment of radios in move-learners-modal
  kolibri/plugins/coach/assets/src/views/groups-page/move-learners-modal.vue
Labels: PR: needs review

#3895 Remove a possible copy-paste artifact in Dockerfile
  Dockerfile
Labels: DEV: distributions, PR: needs review

#3907 Bump perseus
  requirements/base.txt
Labels: PR: needs review

#3904 Address #3869
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/views/attempt-log-list.vue
  kolibri/core/assets/src/views/exam-report/index.vue
  kolibri/core/assets/src/views/interaction-list/interaction-item.vue
  kolibri/plugins/coach/assets/src/state/actions/reports.js
  kolibri/plugins/coach/assets/src/views/reports/learner-exercise-detail-page/learner-exercise-report.vue
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
Labels: PR: needs review

#3900 No heartbeat on setup wizard
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/test/heartbeat.js
  kolibri/plugins/setup_wizard/assets/src/app.js
Labels: PR: needs review

#3912 Debounce exam answer save
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
Labels: PR: needs review

#3920 Adjust setup wizard margins
  kolibri/plugins/setup_wizard/assets/src/views/index.vue
Labels: PR: needs review

#3923 Fix core tables with empty tbodys in IE and Edge
  kolibri/core/assets/src/views/core-table.vue
Labels: PR: needs review

#3929 Fix missing private channels in import workflow
  kolibri/plugins/device_management/assets/src/state/actions/availableChannelsActions.js
Labels: PR: needs review

#3915 block double clicks
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/src/state/actions.js
  kolibri/core/assets/src/state/store.js
  kolibri/core/assets/src/views/app-body.vue
  kolibri/plugins/learn/assets/src/app.js
Labels: PR: needs review, changelog

#3936 move 'dir' attribute
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
Labels: PR: needs review

#3943 Make a fullscreen component
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/fullscreen.js
  kolibri/core/assets/src/styles/main.styl
  kolibri/core/assets/src/utils/browser.js
  kolibri/core/assets/src/views/fullscreen.vue
  kolibri/plugins/document_epub_render/assets/src/views/index.vue
  kolibri/plugins/document_pdf_render/assets/src/views/index.vue
  kolibri/plugins/html5_app_renderer/assets/src/views/index.vue
  kolibri/plugins/media_player/assets/src/views/index.vue
Labels: PR: needs review

#3935 Turn setup wizard redirect into an HTTP META refresh to avoid load.
  kolibri/core/test/test_key_urls.py
  kolibri/plugins/setup_wizard/middleware.py
Labels: PR: needs review

#3934 Check if current user is the `kolibri` user when running kolibri
  kolibri/utils/cli.py
  kolibri/utils/debian_check.py
Labels: PR: needs review
