Repository learningequality/kolibri, pull requests merged in 2018-10, with the labels that each got.

#4336 Only show assignee learners on Exam Report Page
  integration_testing/features/coach/coach-exam-learner-reports.feature
  kolibri/plugins/coach/assets/src/modules/examReport/actions.js
  kolibri/plugins/coach/assets/src/modules/examReport/index.js
  kolibri/plugins/coach/assets/src/views/exams/ExamReportPage/index.vue
  kolibri/plugins/coach/assets/test/views/exam-report-page.spec.js
Labels: PR: needs review

#4340 Make bottom margin exactly the height of the exercise progress bar
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: PR: needs review

#4277 Make any cross-plugin url references safe to plugin removal.
  kolibri/core/assets/src/core-app/__mocks__/urls.js
  kolibri/plugins/coach/assets/src/views/ClassListPage.vue
  kolibri/plugins/coach/assets/test/views/ClassListPage.spec.js
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: PR: needs review

#4283 Clean up error handling code to use constants and CatchError logic.
  kolibri/core/assets/src/constants.js
  kolibri/core/error_constants.py
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/AddAddressForm.spec.js
  kolibri/plugins/facility_management/assets/src/modules/classAssignMembers/actions.js
Labels: PR: needs review

#4317 Kill the "download" button on error page
  kolibri/core/assets/src/views/AppError/ReportErrorModal.vue
  kolibri/core/assets/src/views/AppError/TechnicalTextBlock.vue
  kolibri/plugins/device_management/assets/src/views/DeviceInfoPage.vue
Labels: DEV: frontend, P1 - important

#4320 rearrange the cryptography packages due to abi3 tag
  build_tools/install_cexts.py
Labels: PR: needs review

#4322 Add mgmt cmd for dumping user data to several files
  kolibri/core/auth/management/commands/user_info.py
Labels: PR: needs review

#4325 User Edit Updates
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/plugins/facility_management/assets/src/modules/userManagement/actions.js
  kolibri/plugins/facility_management/assets/src/modules/userManagement/utils.js
  kolibri/plugins/facility_management/assets/src/views/UserPage/EditUserModal.vue
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
Labels: DEV: frontend, P1 - important, PR: needs review

#4338 change logging to be logger in retry logic
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/management/commands/importcontent.py
Labels: PR: needs review

#4351 Don’t count an exam as ‘completed’ until it’s ‘closed’
  kolibri/plugins/coach/assets/src/views/exams/ExamReportPage/index.vue
Labels: PR: needs review

#4349 Added tests for the server installer detection in Python
  kolibri/utils/tests/test_server.py
Labels: PR: needs review

#4356 provide a width rule to onboarding form fieldset legend fixes #4353
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/OnboardingForm.vue
Labels: PR: needs review

#4345 Only try to display renderable files in a content node.
  kolibri/core/assets/src/core-app/constructor.js
  kolibri/core/assets/src/core-app/mediator.js
  kolibri/core/assets/src/views/content-renderer/index.vue
  kolibri/core/assets/test/content-renderer.spec.js
Labels: DEV: frontend, P1 - important, PR: needs review

#4348 Fix clipped box shadows in ContentCardGroupCarousel
  kolibri/plugins/learn/assets/src/views/ContentCardGroupCarousel.vue
Labels: PR: needs review

#4354 for learners, only show classrooms they are part of
  kolibri/plugins/learn/assets/src/modules/classes/handlers.js
Labels: PR: needs review

#4327 Don't aggressively cache recommendation endpoints.
  kolibri/content/api.py
Labels: PR: needs review

#4337 0.10intodevelop
  kolibri/core/assets/src/core-app/constructor.js
  kolibri/core/assets/src/core-app/mediator.js
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/core/assets/src/views/ContentRenderer/index.vue
  kolibri/core/assets/test/content-renderer.spec.js
  kolibri/core/auth/migrations/0004_auto_20170816_1607.py
  kolibri/core/auth/test/test_data_migrations.py
  kolibri/core/content/api.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_content_app.py
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/bg_BG/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/django.po
  kolibri/locale/supported_languages.json
  kolibri/plugins/coach/assets/src/modules/examReport/handlers.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/index.vue
  kolibri/plugins/coach/serializers.py
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
Labels: PR: needs review

#2948 Ecosystem tests
  .travis.yml
  kolibri/core/auth/test/sync_utils.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/deployment/default/settings/postgres_test.py
  requirements/test.txt
Labels: PR: needs review

#4249 Inline nav items
  kolibri/core/assets/src/views/LogoutSideNavEntry.vue
  kolibri/core/hooks.py
  kolibri/core/webpack/hooks.py
  kolibri/deployment/default/dev_urls.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/dev.py
  kolibri/plugins/coach/assets/src/views/CoachSideNavEntry.vue
  kolibri/plugins/device_management/assets/src/views/DeviceManagementSideNavEntry.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityManagementSideNavEntry.vue
  kolibri/plugins/learn/assets/src/views/LearnSideNavEntry.vue
  kolibri/plugins/user/assets/src/views/LoginSideNavEntry.vue
  kolibri/plugins/user/assets/src/views/UserProfileSideNavEntry.vue
  kolibri/utils/cli.py
Labels: PR: needs review

#4330 Saving positions for epubs, pdfs, and video/audio
  kolibri/core/assets/src/mixins/contentRenderer.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/logging.js
  kolibri/core/assets/src/views/ContentRenderer/index.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubConstants.js
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/SettingsSideBar.vue
  kolibri/plugins/document_epub_render/assets/tests/SettingsSideBar.spec.js
  kolibri/plugins/document_pdf_render/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: PR: needs updates

#4379 Do not have a dist/ in the root, it's only for build artifacts
  dist/.gitkeep
Labels: DEV: dev experience

#4382 change annotation method name
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
Labels: PR: needs review

#4365 Dismiss errors in Exams when going to new item
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/index.vue
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: PR: needs review

#4387 i18n tooling bug fix and messages update
  build_tools/i18n/utils.py
  kolibri/locale/bg_BG/LC_MESSAGES/django.po
  kolibri/locale/bg_BG/LC_MESSAGES/setup_wizard-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/django.po
  kolibri/locale/fa/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/fa/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/django.po
  kolibri/locale/fa/LC_MESSAGES/document_epub_render_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/facility_management_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/setup_wizard-messages.json
  kolibri/locale/fa/LC_MESSAGES/user_module-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/django.po
  kolibri/locale/hi_IN/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/django.po
  kolibri/locale/hi_IN/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/setup_wizard-messages.json
  kolibri/locale/mr/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/mr/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/django.po
  kolibri/locale/mr/LC_MESSAGES/document_epub_render_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/facility_management_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/setup_wizard-messages.json
  kolibri/locale/mr/LC_MESSAGES/user_module-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/django.po
  kolibri/locale/te/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/te/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/te/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/te/LC_MESSAGES/django.po
  kolibri/locale/te/LC_MESSAGES/document_epub_render_module-messages.json
  kolibri/locale/te/LC_MESSAGES/facility_management_module-messages.json
  kolibri/locale/te/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/te/LC_MESSAGES/setup_wizard-messages.json
  kolibri/locale/te/LC_MESSAGES/user_module-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/django.po
  kolibri/locale/yo/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/yo/LC_MESSAGES/django.mo
  kolibri/locale/yo/LC_MESSAGES/django.po
  kolibri/locale/yo/LC_MESSAGES/setup_wizard-messages.json
Labels: PR: needs review

#4374 Dev docs: Make visible that disjoint tip is about Node and add instructions for apt
  docs/start/getting_started.rst
Labels: DEV: dev experience, PR: needs review

#4390 Changelog for 0.11.0
  CHANGELOG.rst
Labels: PR: needs review

#4400 Fix time overflow on 32bit architecture
  kolibri/content/api.py
Labels: P1 - important

#4384 Add initial version of statistics pingback
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/analytics/test/__init__.py
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
Labels: PR: work-in-progress

#4405 A bunch of small fixes
  kolibri/core/assets/src/views/KModal.vue
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/routes/examRoutes.js
  kolibri/plugins/coach/assets/src/routes/lessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/CoachIndex.vue
  kolibri/plugins/coach/assets/src/views/exams/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
  kolibri/plugins/document_pdf_render/assets/src/views/PdfRendererIndex.vue
Labels: PR: needs review

#4389 Make cross plugin reference fail safe
  kolibri/plugins/facility_management/assets/src/views/UserPage/EditUserModal.vue
Labels: PR: needs review

#4430 Bump to 0.10.3 final
  kolibri/__init__.py
Labels: DEV: devops

#4372 use watchers and data instead of computed props to memoize results
  kolibri/core/assets/src/mixins/responsive-window.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FacilityNameTextbox.vue
Labels: PR: needs review

#4438 Add missing context when webpack file fails to load
  kolibri/core/webpack/hooks.py
Labels: DEV: backend, DEV: frontend

#4406 Revert CSS-based fix for carousel shadows, use inline-styles fixes #4399
  kolibri/plugins/learn/assets/src/views/ContentCardGroupCarousel.vue
Labels: PR: needs review

#4417 Content Node fetching cleanup
  kolibri/core/assets/src/exams/utils.js
  kolibri/plugins/coach/assets/src/modules/examReport/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/reports/handlers.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
Labels: PR: needs review

#4440 Download files in new tab
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/plugins/facility_management/assets/src/views/DataPage.vue
Labels: PR: needs review

#4332 Get available disk space from CONTENT_DIR instead of KOLIBRI_HOME
  kolibri/core/device/api.py
  kolibri/plugins/device_management/assets/src/modules/wizard/actions/selectContentActions.js
Labels: PR: needs review, changelog

#4439 Break words on cards
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
Labels: PR: needs review

#4437 Change layout of Cards and Card Lists (fixes many issues)
  kolibri/core/assets/src/views/TextTruncator.vue
  kolibri/plugins/coach/assets/src/views/exams/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/LessonContentCard/card.scss
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
  kolibri/plugins/device_management/assets/src/modules/wizard/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/modules/wizard/handlers.js
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: PR: needs review

#4425 Channel list speedup
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_content_app.py
Labels: PR: needs review

#4416 Fixes #4414: Properly handle ping JSON response in Python 3 (including tests)
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/analytics/test/test_ping.py
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
Labels: PR: needs review

#4449 Upgrade windows installer
  docker/env.list
Labels: PR: needs review

#4441 Epub Sandbox v1
  frontend_build/src/webpack.config.base.js
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/SandboxIFrameView.js
Labels: PR: needs review

#4388 More efficient descendants query
  kolibri/core/content/api.py
Labels: PR: needs review

#4429 Update Gherkin scenarios to match changes in release 0.11
  integration_testing/features/README.md
  integration_testing/features/admin/admin-change-facility-settings.feature
  integration_testing/features/admin/admin-create-class.feature
  integration_testing/features/admin/admin-create-users.feature
  integration_testing/features/admin/admin-delete-class.feature
  integration_testing/features/admin/admin-delete-user.feature
  integration_testing/features/admin/admin-edit-user.feature
  integration_testing/features/admin/admin-import-content.feature
  integration_testing/features/coach/coach-activate-exam.feature
  integration_testing/features/coach/coach-activate-lesson.feature
  integration_testing/features/coach/coach-assign-exam.feature
  integration_testing/features/coach/coach-copy-exam.feature
  integration_testing/features/coach/coach-copy-lesson.feature
  integration_testing/features/coach/coach-create-exams.feature
  integration_testing/features/coach/coach-create-group.feature
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-deactivate-exam.feature
  integration_testing/features/coach/coach-delete-exam.feature
  integration_testing/features/coach/coach-delete-group.feature
  integration_testing/features/coach/coach-exam-learner-reports.feature
  integration_testing/features/coach/coach-lesson-resources-search.feature
  integration_testing/features/coach/coach-reassign-lesson.feature
  integration_testing/features/coach/coach-remove-lesson-resources.feature
  integration_testing/features/coach/coach-rename-group.feature
  integration_testing/features/coach/coach-rename-lesson.feature
  integration_testing/features/coach/coach-view-class-channel-report.feature
  integration_testing/features/learner/learner-engage-completed-exam.feature
  integration_testing/features/learner/learner-take-exam.feature
  integration_testing/features/super-admin/super-admin-app-bar-user-dropdown.feature
  integration_testing/features/super-admin/super-admin-cancel-import-channel.feature
  integration_testing/features/super-admin/super-admin-change-language.feature
  integration_testing/features/super-admin/super-admin-change-profile-information.feature
  integration_testing/features/super-admin/super-admin-create-class.feature
  integration_testing/features/super-admin/super-admin-create-users.feature
  integration_testing/features/super-admin/super-admin-delete-channel.feature
  integration_testing/features/super-admin/super-admin-delete-class.feature
  integration_testing/features/super-admin/super-admin-delete-user.feature
  integration_testing/features/super-admin/super-admin-downgrade-from-super-content-import-permission.feature
  integration_testing/features/super-admin/super-admin-edit-user.feature
  integration_testing/features/super-admin/super-admin-enroll-assign-users.feature
  integration_testing/features/super-admin/super-admin-export-content-to-local-drive.feature
  integration_testing/features/super-admin/super-admin-export-data.feature
  integration_testing/features/super-admin/super-admin-find-user.feature
  integration_testing/features/super-admin/super-admin-grant-content-import-permissions.feature
  integration_testing/features/super-admin/super-admin-grant-super-admin-permissions.feature
  integration_testing/features/super-admin/super-admin-import-more-from-content-channel.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-local-drive.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-studio-token-id.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-studio.feature
  integration_testing/features/super-admin/super-admin-manage-import-network-addresses.feature
  integration_testing/features/super-admin/super-admin-revoke-super-admin-permissions.feature
  integration_testing/features/super-admin/super-admin-select-import-content-location.feature
  integration_testing/features/super-admin/super-admin-setup-wizard.feature
  integration_testing/features/super-admin/super-admin-sign-in.feature
  integration_testing/features/super-admin/super-admin-sign-out.feature
  integration_testing/features/super-admin/super-admin-update-channel-import-more.feature
Labels: PR: needs review

#4306 adding privacy and usage information
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/PersonalDataConsentForm.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: TAG: user strings, TASK: new feature, changelog

#4444 Get available disk space for symlinked directory
  kolibri/core/device/test/test_api.py
  kolibri/utils/system.py
Labels: PR: needs review

#4458 Fix channel file size summaries in import/export workflows
  integration_testing/features/admin/admin-manage-channel-sizes.feature
  kolibri/plugins/device_management/assets/src/modules/wizard/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/modules/wizard/apiChannelMetadata.js
  kolibri/plugins/device_management/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device_management/assets/src/modules/wizard/utils.js
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/device_management/assets/test/utils/makeStore.js
  kolibri/plugins/device_management/assets/test/views/select-content-page.spec.js
Labels: PR: needs review

#4454 Adds gherkins for saving sate and settings
  integration_testing/features/guest/guest-modify-renderer-settings.feature
  integration_testing/features/learner/learner-close-and-reopen-content.feature
Labels: PR: needs review

#4457 Fix autosave issue when removing from a Lesson Resource Preview
  kolibri/core/assets/src/views/KModal.vue
  kolibri/plugins/coach/assets/src/routes/lessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
Labels: PR: needs review

#4276 basic kolibri manage command for testing server performance
  AUTHORS.rst
  kolibri/core/analytics/__init__.py
  kolibri/core/analytics/management/commands/benchmark.py
  kolibri/core/analytics/management/commands/profile.py
  kolibri/core/analytics/measurements.py
  kolibri/core/analytics/middleware.py
  kolibri/core/analytics/pskolibri/__init__.py
  kolibri/core/analytics/pskolibri/_pslinux.py
  kolibri/core/analytics/pskolibri/_psosx.py
  kolibri/core/analytics/pskolibri/_pswindows.py
  kolibri/core/analytics/pskolibri/common.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/options.py
  kolibri/utils/server.py
Labels: PR: needs review

#4465 Change sub-page navigation to MD Tabs-like component
  kolibri/core/assets/src/styles/definitions.scss
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/KNavbar/KNavbarLink.vue
  kolibri/core/assets/src/views/KNavbar/index.vue
  kolibri/core/assets/src/views/KNavbar/items.scss
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/views/__snapshots__/app-bar.spec.js.snap
  kolibri/plugins/coach/assets/src/views/CoachIndex.vue
  kolibri/plugins/coach/assets/src/views/CoachTopNav.vue
  kolibri/plugins/device_management/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device_management/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityIndex.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityTopNav.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/TotalPoints.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/style_guide/assets/src/views/content/Navbar/index.vue
Labels: PR: needs review, changelog

#4434 Gherking stories for profile and benchmark manage commands
  integration_testing/features/super-admin/super-admin-benchmark-command.feature
  integration_testing/features/super-admin/super-admin-profile-command.feature
Labels: PR: work-in-progress

#4476 remove start_progress mock in the content import test cases
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
Labels: PR: needs review

#4427 Font updates
  Makefile
  build_tools/i18n/fonts.py
  build_tools/i18n/utils.py
  docs/references/i18n.rst
  docs/references/release_process.rst
  frontend_build/src/intl_code_gen.js
  kolibri/core/assets/src/keen-config/font-stack.scss
  kolibri/core/assets/src/styles/definitions.scss
  kolibri/core/assets/src/styles/main.scss
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/assets/src/views/KBreadcrumbs.vue
  kolibri/core/assets/src/views/KGrid/KGridItem.vue
  kolibri/core/assets/src/views/KGrid/index.vue
  kolibri/core/assets/test/views/k-grid-item.spec.js
  kolibri/locale/supported_languages.json
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: PR: needs review

#4473 adding a 'kind' to the StatusIcon and add two new strings
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentSummary.vue
  kolibri/plugins/coach/assets/src/views/assignments/StatusIcon.vue
  kolibri/plugins/coach/assets/src/views/exams/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonsRootPage.vue
Labels: PR: needs review

#4479 add dir=auto to link
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
  kolibri/core/assets/src/views/buttons-and-links/KExternalLink.vue
Labels: PR: needs review

#4471 remove references to 'lesson' in assignment modal
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentDetailsModal.vue
Labels: PR: needs review

#4472 add initial load delay and prevent flicker
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
Labels: PR: needs review

#4484 Upgrade pex to newer version and remove wheel from build.txt
  requirements/build.txt
Labels: PR: needs review

#4498 Make some paths with os.path more clear
  build_tools/customize_build.py
  build_tools/install_cexts.py
  build_tools/py2only.py
Labels: PR: needs review
