Repository learningequality/kolibri, pull requests merged in 2018-05, with the labels that each got.

#3535 Coach contents updates
  kolibri/content/serializers.py
  kolibri/content/utils/import_export_content.py
  kolibri/core/assets/src/views/attempt-log-list.vue
  kolibri/core/assets/src/views/coach-content-label.vue
  kolibri/plugins/coach/assets/src/state/actions/lessons.js
  kolibri/plugins/coach/assets/src/state/actions/reports.js
  kolibri/plugins/coach/assets/src/state/getters/reports.js
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/exercise-row.vue
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/topic-row.vue
  kolibri/plugins/coach/assets/src/views/exams/exams-page/preview-exam-modal.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/MetadataArea.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceUserSummaryPage.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/reports/channel-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/table-cells/name-cell.vue
  kolibri/plugins/device_management/assets/src/state/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channel-list-item.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-node-row.vue
  kolibri/plugins/learn/assets/src/state/actions/classesActions.js
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonResourceViewer.vue
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/content-page.vue
Labels: PR: needs review

#3603 Add creation of Lessons to the generateuserdata script
  kolibri/logger/management/commands/generateuserdata.py
  kolibri/logger/test/test_generateuserdata.py
  kolibri/logger/utils/user_data.py
Labels: PR: needs review

#3591 Add empty state for coach content item report
  kolibri/plugins/coach/assets/src/views/reports/item-list-page.vue
Labels: PR: needs review

#3608 Refactor coach/exams actions
  kolibri/plugins/coach/assets/src/state/actions/exam.js
  kolibri/plugins/coach/assets/src/state/store.js
Labels: PR: needs review

#3616 Filter requests by facility to prevent facility leaking.
  kolibri/auth/api.py
  kolibri/plugins/device_management/assets/src/state/actions/managePermissionsActions.js
  kolibri/plugins/facility_management/assets/src/state/actions/class.js
  kolibri/plugins/facility_management/assets/src/state/actions/user.js
Labels: PR: needs review

#3615 Cherry pick low risk bug fixes from develop to 0.9.x
  kolibri/auth/api.py
  kolibri/auth/serializers.py
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
Labels: PR: needs review

#3612 Use public facility endpoint for fullfacilitysync
  kolibri/auth/management/commands/fullfacilitysync.py
Labels: PR: needs review

#3624 Upgrade morango requirements
  requirements/base.txt
Labels: PR: needs review

#3625 Upgrade ifcfg to 0.15
  requirements/base.txt
Labels: PR: needs review

#3538 Cancellable channel import
  kolibri/content/fixtures/1_content_data.json
  kolibri/content/fixtures/2_content_data.json
  kolibri/content/fixtures/content_import_test.json
  kolibri/content/fixtures/v0.2.0-beta1_content_data.json
  kolibri/content/fixtures/v0.4.0-beta3_content_data.json
  kolibri/content/management/commands/importchannel.py
  kolibri/content/test/test_annotation.py
  kolibri/content/test/test_channel_import.py
  kolibri/content/test/test_import_export.py
  kolibri/content/utils/annotation.py
  kolibri/content/utils/channel_import.py
  kolibri/content/utils/sqlalchemybridge.py
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/state/actions/contentWizardActions.js
  kolibri/plugins/device_management/assets/src/state/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/state/getters.js
  kolibri/plugins/device_management/assets/src/views/available-channels-page/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/select-drive-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/select-import-source-modal.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/index.vue
  kolibri/plugins/device_management/assets/src/wizardTransitionRoutes.js
  kolibri/plugins/device_management/assets/test/actions/contentWizardActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/tasks/api.py
  kolibri/tasks/test/__init__.py
  kolibri/tasks/test/test_api.py
Labels: PR: needs review

#3617 Wrap some unwrapped title strings.
  kolibri/plugins/facility_management/assets/src/state/actions/class.js
Labels: PR: needs review

#3630 Don't make names with extraneous spaces
  kolibri/logger/test/test_generateuserdata.py
  kolibri/logger/utils/user_data.py
Labels: PR: needs review

#3631 Fix coach reports learner view
  kolibri/plugins/coach/assets/src/state/actions/reports.js
Labels: PR: needs review

#3607 First pass at ini-based options file, for persistent user-accessible configuration
  kolibri/content/management/commands/importchannel.py
  kolibri/content/management/commands/importcontent.py
  kolibri/content/test/test_downloadcontent.py
  kolibri/content/test/test_import_export.py
  kolibri/content/test/test_zipcontent.py
  kolibri/content/utils/annotation.py
  kolibri/content/utils/channels.py
  kolibri/content/utils/paths.py
  kolibri/core/discovery/utils/filesystem/__init__.py
  kolibri/core/urls.py
  kolibri/deployment/default/settings/base.py
  kolibri/logger/test/test_generateuserdata.py
  kolibri/plugins/coach/test/test_coach_api.py
  kolibri/tasks/api.py
  kolibri/utils/cli.py
  kolibri/utils/conf.py
  kolibri/utils/env.py
  kolibri/utils/options.py
  kolibri/utils/server.py
  kolibri/utils/tests/helpers.py
  kolibri/utils/tests/test_cli.py
  kolibri/utils/tests/test_options.py
  requirements/base.txt
Labels: PR: needs review

#3614 Create unit test for exam progress endpoint
  kolibri/logger/test/test_api.py
Labels: PR: needs review

#3633 Update texts on facility settings page
  kolibri/plugins/facility_management/assets/src/views/facilities-config-page/index.vue
Labels: PR: needs review

#3632 Re-style Coach Content Indicator
  kolibri/content/api.py
  kolibri/content/serializers.py
  kolibri/core/assets/src/views/coach-content-label.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-tree-viewer.vue
Labels: PR: needs review

#3634 Add test and annotate per channel correctly.
  kolibri/content/test/test_annotation.py
  kolibri/content/utils/annotation.py
Labels: PR: needs review

#3637 HOTFIX: Ensure paths in options file are resolved and expanded
  kolibri/utils/options.py
  kolibri/utils/tests/test_options.py
Labels: PR: needs review

#3640 Move loading morango fixtures to after migrating db
  kolibri/utils/cli.py
Labels: PR: needs review

#3642 Fix for generating lessons when no channels present
  kolibri/logger/utils/user_data.py
Labels: PR: needs review

#3643 bump morango to 0.3.2
  requirements/base.txt
Labels: PR: needs review

#3636 Have router scroll to top after each page transition
  kolibri/core/assets/src/router.js
Labels: PR: needs review

#3647 New languages - Bengali, Yoruba, and Zulu
  CHANGELOG.rst
  build_tools/crowdin.yaml
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/deployment/default/settings/base.py
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/bn_BD/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/django.po
  kolibri/locale/supported_languages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/yo/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/yo/LC_MESSAGES/django.po
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/coach_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/default_frontend-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/device_management_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/document_pdf_render_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/facility_management_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/html5_app_renderer_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/learn_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/media_player_module-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/setup_wizard-messages.json
  kolibri/locale/zu/LC_FRONTEND_MESSAGES/user_module-messages.json
  kolibri/locale/zu/LC_MESSAGES/django.po
  requirements/base.txt
Labels: PR: needs review, changelog

#3657 0.9 into develop
  requirements/base.txt
Labels: PR: needs review

#3665 Pass correct reversal string
  kolibri/auth/management/commands/fullfacilitysync.py
Labels: PR: needs review

#3666 Bump morango to 0.3.3
  requirements/base.txt
Labels: PR: needs review

#3667 Add autofix for improperly imported content trees.
  kolibri/content/test/test_annotation.py
  kolibri/content/utils/annotation.py
Labels: PR: needs review, changelog

#3669 Bump to 0.9.2 final
  kolibri/__init__.py
Labels: PR: needs review

#3676 fix PyPi description
  setup.py
Labels: DEV: distributions, DOCS, PR: needs review, TASK: ux update

#3680 Fix Dockerfile to stop buildkite from failing
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  Dockerfile
  windows_installer_docker_build/Dockerfile
Labels: PR: needs review

#3662 Handle esc key in fullscreen mixin
  kolibri/core/assets/src/mixins/fullscreen.js
Labels: PR: needs review

#3694 Adds deprecation warning to devserver flags.
  docs/start/getting_started.rst
  kolibri/core/webpack/management/commands/devserver.py
Labels: DEV: dev experience, PR: needs review

#3655 Coach contents post bug bash fixes
  kolibri/content/api.py
  kolibri/content/serializers.py
  kolibri/content/test/test_content_app.py
  kolibri/core/assets/src/state/actions.js
  kolibri/plugins/coach/assets/src/state/actions/exam.js
  kolibri/plugins/coach/assets/src/state/actions/lessons.js
  kolibri/plugins/coach/assets/src/state/actions/reports.js
  kolibri/plugins/coach/assets/src/views/exams/exams-page/preview-exam-modal.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/device_management/assets/src/state/actions/availableChannelsActions.js
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/views/content-card/card.styl
Labels: PR: needs review

#3686 Aligned user-dropdown with app bar
  kolibri/core/assets/src/views/app-bar.vue
  kolibri/plugins/learn/assets/src/views/search-box.vue
Labels: PR: needs review

#3712 update i18n docs
  CHANGELOG.rst
  docs/references/i18n.rst
Labels: DOCS, PR: needs review

#3704 Make heartbeat events passive
  kolibri/core/assets/src/heartbeat.js
Labels: PR: needs review

#3719 Fixes #3691
  kolibri/plugins/user/assets/src/views/profile-page/change-user-password-modal.vue
Labels: PR: needs review

#3707 Updates to response headers for ZIP endpoints for security and functionality
  kolibri/content/test/test_zipcontent.py
  kolibri/content/views.py
Labels: PR: needs review

#3689 Exercise progress and mastered/next item redesign
  kolibri/content/api.py
  kolibri/core/assets/src/state/actions.js
  kolibri/core/assets/src/state/store.js
  kolibri/core/assets/src/views/CoreInfoIcon/index.vue
  kolibri/logger/migrations/0005_auto_20180514_1419.py
  kolibri/logger/models.py
  kolibri/logger/serializers.py
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/exercise-attempts/answer-icon.vue
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/exercise-attempts/index.vue
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/index.vue
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/content-page.vue
  kolibri/plugins/learn/assets/src/views/index.vue
  kolibri/plugins/learn/assets/src/views/mastered-snackbars/index.vue
  kolibri/plugins/learn/assets/src/views/mastered-snackbars/snackbar.vue
  kolibri/plugins/learn/assets/src/views/points-popup.vue
  kolibri/plugins/learn/assets/src/views/points-slidein.vue
  kolibri/plugins/learn/assets/test/views/assessment-wrapper.spec.js
Labels: PR: needs review, TAG: user strings

#3701 Add queries around critical words and stopwords
  kolibri/content/api.py
  kolibri/content/constants/stopwords-all.json
  kolibri/content/test/test_content_app.py
  kolibri/content/utils/stopwords.py
Labels: PR: work-in-progress

#3722 Fix alignment of cards in Safari
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
Labels: PR: needs review

#3724 Fix error during local import when channel metadata only has root_id
  kolibri/content/utils/channels.py
Labels: PR: needs review

#3687 Search page redesign
  kolibri/content/api.py
  kolibri/content/fixtures/content_test.json
  kolibri/content/test/test_annotation.py
  kolibri/content/test/test_content_app.py
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/views/text-truncator.vue
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/state/mutations/index.js
  kolibri/plugins/learn/assets/src/views/content-card-group-grid.vue
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/copies-modal.vue
  kolibri/plugins/learn/assets/src/views/search-page.vue
Labels: PR: needs review, TAG: user strings, changelog

#3715 updates to coach column strings
  kolibri/plugins/coach/assets/src/views/class-list-page.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/index.vue
Labels: PR: needs review, TAG: user strings

#3721 Remove textarea
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentDetailsModal.vue
Labels: PR: needs review

#3725 updates to login page
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
Labels: PR: needs review, TASK: ux update

#3717 Import export
  kolibri/plugins/device_management/assets/src/app.js
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/state/actions/availableChannelsActions.js
  kolibri/plugins/device_management/assets/src/state/actions/contentTransferActions.js
  kolibri/plugins/device_management/assets/src/state/actions/contentTreeViewerActions.js
  kolibri/plugins/device_management/assets/src/state/actions/contentWizardActions.js
  kolibri/plugins/device_management/assets/src/state/actions/manageContentActions.js
  kolibri/plugins/device_management/assets/src/state/actions/selectContentActions.js
  kolibri/plugins/device_management/assets/src/state/actions/taskActions.js
  kolibri/plugins/device_management/assets/src/state/getters.js
  kolibri/plugins/device_management/assets/src/state/mutations/contentTransferMutations.js
  kolibri/plugins/device_management/assets/src/state/mutations/contentWizardMutations.js
  kolibri/plugins/device_management/assets/src/state/mutations/index.js
  kolibri/plugins/device_management/assets/src/state/mutations/manageContentMutations.js
  kolibri/plugins/device_management/assets/src/state/wizardState.js
  kolibri/plugins/device_management/assets/src/views/available-channels-page/index.vue
  kolibri/plugins/device_management/assets/src/views/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channel-list-item.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/manageContentLinks.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/drive-list.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/select-drive-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/select-import-source-modal.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/channel-contents-summary.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-tree-viewer.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-wizard-ui-alert.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/index.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/treeViewUtils.js
  kolibri/plugins/device_management/assets/src/wizardTransitionRoutes.js
  kolibri/plugins/device_management/assets/test/actions/contentTreeViewerActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/contentWizardActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/device_management/assets/test/treeViewUtils.spec.js
  kolibri/plugins/device_management/assets/test/utils/data.js
  kolibri/plugins/device_management/assets/test/utils/makeStore.js
  kolibri/plugins/device_management/assets/test/views/available-channels-page.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-list-item.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-token-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
  kolibri/plugins/device_management/assets/test/views/content-node-row.spec.js
  kolibri/plugins/device_management/assets/test/views/content-tree-viewer.spec.js
  kolibri/plugins/device_management/assets/test/views/device-management-index.spec.js
  kolibri/plugins/device_management/assets/test/views/select-content-page.spec.js
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/select-import-source-modal.spec.js
Labels: PR: needs review

#3716 update crowdin docs
  docs/references/translation-memory.png
Labels: DOCS, PR: needs review

#3711 remove vestigial py_modules code dump
  .gitignore
  Makefile
  docs/conf.py
Labels: DOCS, PR: needs review

#3740 remove comma-separated list
  kolibri/plugins/coach/assets/src/views/nav-title.vue
Labels: PR: needs review
