Repository learningequality/kolibri, pull requests merged in 2018-04, with the labels that each got.

#3448 Pre coach-contents work
  kolibri/content/api.py
  kolibri/content/serializers.py
  kolibri/content/test/test_content_app.py
  kolibri/content/utils/channel_import.py
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/state/getters.js
  kolibri/core/assets/src/validators.js
  kolibri/core/assets/src/views/coach-content-label.vue
  kolibri/core/assets/src/views/content-icon.vue
  kolibri/core/device/models.py
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/card-thumbnail.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/index.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-node-row.vue
  kolibri/plugins/device_management/assets/src/views/select-content-page/content-tree-viewer.vue
  kolibri/plugins/learn/assets/src/app.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/state/actions/recommended.js
  kolibri/plugins/learn/assets/src/state/initialState.js
  kolibri/plugins/learn/assets/src/state/mutations/index.js
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/assets/src/views/classes/classPageLinks.js
  kolibri/plugins/learn/assets/src/views/content-card/card-thumbnail.vue
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/content-page.vue
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
  kolibri/plugins/learn/assets/src/views/recommended-page.vue
  kolibri/plugins/learn/assets/src/views/search-page.vue
  kolibri/plugins/learn/assets/test/util/core-base.vue
  kolibri/plugins/learn/assets/test/util/initialState.js
  kolibri/plugins/learn/assets/test/util/makeStore.js
  kolibri/plugins/learn/assets/test/util/mutations.js
  package.json
  yarn.lock
Labels: PR: needs review

#3450 Revamping "select all" feature of enrollment form.
  kolibri/plugins/facility_management/assets/src/views/user-table.vue
Labels: DEV: frontend, P2 - normal, PR: needs review

#3468 Remove duplicate fonts
  kolibri/core/assets/src/styles/main.styl
Labels: PR: needs review

#3467 Remove PDF Render Errors
  kolibri/plugins/document_pdf_render/assets/src/views/index.vue
  kolibri/plugins/learn/assets/src/state/actions/classesActions.js
Labels: DEV: frontend, P0 - critical, PR: needs review

#3389 Style guide updates
  .gitignore
  kolibri/plugins/style_guide/assets/src/views/content/_home.vue
  kolibri/plugins/style_guide/assets/src/views/content/_home/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/inclusive.vue
  kolibri/plugins/style_guide/assets/src/views/content/writing.vue
  kolibri/plugins/style_guide/assets/src/views/shell/nav-menu.js
Labels: PR: needs review, changelog

#3478 Fix variable name when updating full name.
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
Labels: PR: needs review

#3479 Ignore case when creating/updating username
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
Labels: PR: needs review

#3466 don't cache the Facility Collection when loading sign-in page
  kolibri/plugins/user/templates/user/user.html
Labels: PR: needs review

#3488 Change sinon .reset() to .resetHistory()
  karma_config/testUtils.js
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/contentTreeViewerActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/contentWizardActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/facility_management/assets/test/state/facilityConfig.spec.js
Labels: PR: needs review

#3334 Fixed encoding issue
  kolibri/deployment/default/settings/base.py
Labels: PR: needs updates

#3457 Fix for progress ranges in CSV export + general data validation
  CHANGELOG.rst
  kolibri/logger/csv.py
  kolibri/logger/migrations/0001_initial.py
  kolibri/logger/migrations/0004_tidy_progress_range.py
  kolibri/logger/models.py
Labels: DEV: backend, PR: needs review

#3490 Update videojs, enable autoplay, and add bigplaybutton
  kolibri/plugins/media_player/assets/src/views/index.vue
  kolibri/plugins/media_player/assets/src/views/videojs-style/video-js.min.css
  kolibri/plugins/media_player/package.json
  kolibri/plugins/media_player/yarn.lock
Labels: PR: needs review

#3419 Use the logger instead of print() calls
  kolibri/logger/management/commands/generateuserdata.py
  kolibri/logger/utils/user_data.py
Labels: DEV: dev experience, PR: needs review

#3465 Enable gziping
  frontend_build/src/webpackdevserver.js
  kolibri/deployment/default/settings/base.py
  kolibri/utils/server.py
Labels: DEV: performance, PR: needs review

#3501 Update kolibri to use the signed executable
  .buildkite/build_windows_installer.sh
Labels: PR: needs review

#3483 Do not mark as complete when content has errors.
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/index.vue
Labels: PR: needs review

#3503 Add filtering content nodes by lesson id
  kolibri/content/api.py
  kolibri/content/test/test_content_app.py
Labels: PR: needs review

#3473 Add loader components
  frontend_build/src/parse_bundle_plugin.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/styles/core-theme.styl
  kolibri/core/assets/src/views/app-body.vue
  kolibri/core/assets/src/views/content-renderer/index.vue
  kolibri/core/assets/src/views/core-base.vue
  kolibri/core/assets/src/views/k-circular-loader.vue
  kolibri/core/assets/src/views/k-linear-loader.vue
  kolibri/core/assets/src/views/loading-spinner/index.vue
  kolibri/core/assets/src/views/loading-spinner/loading-spinner.gif
  kolibri/core/templates/kolibri/base.html
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/index.vue
  kolibri/plugins/coach/assets/src/views/exams/exams-page/preview-exam-modal.vue
  kolibri/plugins/coach/assets/src/views/index.vue
  kolibri/plugins/device_management/assets/src/views/available-channels-page/index.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/task-progress.vue
  kolibri/plugins/learn/assets/src/state/actions/recommended.js
  kolibri/plugins/media_player/assets/src/views/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/submission-states/submission-state-page.vue
Labels: PR: work-in-progress

#3472 Radio button descriptions + cleanup
  kolibri/core/assets/src/views/k-radio-button.vue
  kolibri/core/assets/src/views/language-switcher/modal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentChangeStatusModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/groups-page/move-learners-modal.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/drive-list.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/select-import-source-modal.vue
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-permissions-form/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/radio-buttons/example.html
  kolibri/plugins/user/assets/src/views/sign-in-page/facility-modal.vue
Labels: DEV: frontend, P1 - important, PR: needs review

#3518 Dry up kind property in session api
  kolibri/auth/api.py
  kolibri/auth/test/test_api.py
Labels: PR: needs review

#3489 Coach content filter
  kolibri/content/api.py
  kolibri/content/fixtures/content_test.json
  kolibri/content/test/test_content_app.py
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/state/actions/recommended.js
Labels: PR: needs review

#3526 Update wording in exam submission modal
  kolibri/plugins/learn/assets/src/views/exam-page/index.vue
Labels: PR: needs review

#3524 Add loaders to style guide
  kolibri/core/assets/src/views/k-circular-loader.vue
  kolibri/core/assets/src/views/k-linear-loader.vue
  kolibri/plugins/style_guide/assets/src/views/content/loaders/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/loaders/k-circular-loader-example.html
  kolibri/plugins/style_guide/assets/src/views/content/loaders/k-linear-loader-example.html
  kolibri/plugins/style_guide/assets/src/views/shell/nav-menu.js
Labels: PR: needs review

#3527 0.9.x into develop
  .buildkite/build_windows_installer.sh
  karma_config/karma.conf.js
  kolibri/content/fixtures/1_content_data.json
  kolibri/content/fixtures/2_content_data.json
  kolibri/content/fixtures/content_import_test.json
  kolibri/content/fixtures/unversioned_content_data.json
  kolibri/content/fixtures/v0.2.0-beta1_content_data.json
  kolibri/content/fixtures/v0.4.0-beta3_content_data.json
  kolibri/content/test/test_channel_import.py
  kolibri/content/utils/annotation.py
  kolibri/content/utils/channel_import.py
  kolibri/core/assets/src/views/buttons-and-links/k-button.vue
  kolibri/core/assets/src/views/k-radio-button.vue
  kolibri/core/assets/src/views/language-switcher/modal.vue
  kolibri/core/assets/test/progress-bar.spec.js
  kolibri/logger/management/commands/generateuserdata.py
  kolibri/logger/utils/user_data.py
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentChangeStatusModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/groups-page/move-learners-modal.vue
  kolibri/plugins/coach/assets/test/views/AssignmentChangeStatusModal.spec.js
  kolibri/plugins/coach/assets/test/views/AssignmentCopyModal.spec.js
  kolibri/plugins/coach/assets/test/views/AssignmentDeleteModal.spec.js
  kolibri/plugins/coach/assets/test/views/AssignmentDetailsModal.spec.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/drive-list.vue
  kolibri/plugins/device_management/assets/src/views/manage-content-page/wizards/select-import-source-modal.vue
  kolibri/plugins/device_management/assets/test/views/channel-list-item.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-token-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/content-node-row.spec.js
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/selected-resources-size.spec.js
  kolibri/plugins/facility_management/assets/src/views/user-page/edit-user-modal.vue
  kolibri/plugins/facility_management/assets/src/views/user-page/user-create-modal.vue
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/index.vue
  kolibri/plugins/learn/assets/test/views/assessment-wrapper.spec.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-permissions-form/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/radio-buttons/example.html
  kolibri/plugins/user/assets/src/views/sign-in-page/facility-modal.vue
  kolibri/plugins/user/templates/user/user.html
  package.json
  tox.ini
  yarn.lock
Labels: PR: needs review

#3508 Truncate topic description
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/text-truncator.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonContentPreviewPage/MetadataArea.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/content-card/index.vue
  kolibri/plugins/learn/assets/src/views/content-card/shaved-text.vue
  kolibri/plugins/learn/assets/src/views/topics-page.vue
Labels: PR: needs review, PR: work-in-progress

#3529 Do not allow duplicate usernames
  kolibri/auth/serializers.py
Labels: PR: needs review

#3531 Remove duplicate section from Release process docs
  docs/references/release_process.rst
Labels: DOCS, PR: needs review

#3534 Don't try to create assessments results if the ContentNode does not h…
  kolibri/logger/utils/user_data.py
Labels: PR: needs review

#3403 Adds an importusers management command.
  kolibri/auth/management/commands/importusers.py
  kolibri/auth/models.py
  kolibri/auth/test/helpers.py
  kolibri/auth/test/test_user_import.py
  kolibri/core/device/management/__init__.py
  kolibri/core/device/management/commands/__init__.py
  kolibri/core/device/management/commands/provisiondevice.py
  kolibri/core/device/test/test_device_provision.py
Labels: PR: needs review

#3499 Exam Report shows progress status of students as completed even though they are still in progress.
  kolibri/logger/serializers.py
Labels: PR: needs review

#3540 Remove useless channel data bootstrapping
  kolibri/plugins/learn/templates/learn/learn.html
  kolibri/plugins/learn/views.py
Labels: PR: needs review

#3541 Fix setup.py for pip 10.
  Makefile
  kolibri/content/test/test_channel_import.py
  setup.py
Labels: PR: needs review

#3550 updates to tables
  kolibri/core/assets/src/views/core-table.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceUserSummaryPage.vue
  kolibri/plugins/coach/assets/src/views/reports/channel-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/learner-list-page.vue
  kolibri/plugins/coach/assets/src/views/reports/recent-items-page.vue
  kolibri/plugins/device_management/assets/src/views/manage-permissions-page/user-grid.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/index.vue
  kolibri/plugins/facility_management/assets/src/views/user-table.vue
Labels: PR: needs review, changelog

#3542 JS Build Decoupling from Django stack
  Dockerfile
  build_tools/build_plugins.txt
  build_tools/customize_build.py
  build_tools/webpack_json.py
  frontend_build/src/read_webpack_json.js
  kolibri/__init__.py
  kolibri/core/webpack/management/commands/webpack_json.py
  kolibri/utils/cli.py
Labels: PR: needs review

#3553 Fix coach/className getter
  kolibri/plugins/coach/assets/src/state/getters/classes.js
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonsRootPage.vue
Labels: PR: needs review

#3551 Resource Removal Autosave Deoptimization
  kolibri/plugins/coach/assets/src/state/actions/lessons.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/ResourceListTable.vue
Labels: DEV: frontend, P0 - critical, PR: needs review

#3566 Fixes #3562
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/index.vue
Labels: PR: needs review

#3565 Use chai as assertion library in all tests
  kolibri/core/assets/test/api-resource.js
  kolibri/core/assets/test/content-renderer.spec.js
  kolibri/core/assets/test/core-app-mediator.js
  kolibri/core/assets/test/download-button.spec.js
  kolibri/core/assets/test/heartbeat.js
  kolibri/core/assets/test/kolibri_app.js
  kolibri/core/assets/test/progress-bar.spec.js
  kolibri/core/assets/test/progress-icon.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/assets/test/views/auth-message.spec.js
  kolibri/core/assets/test/views/elapsed-time-spec.js
  kolibri/plugins/coach/assets/test/views/channel-list-page.spec.js
  kolibri/plugins/coach/assets/test/views/exam-report-page.spec.js
  kolibri/plugins/device_management/assets/test/actions/contentTreeViewerActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/contentWizardActions.spec.js
  kolibri/plugins/device_management/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/device_management/assets/test/bytesForHumans.spec.js
  kolibri/plugins/device_management/assets/test/treeViewUtils.spec.js
  kolibri/plugins/device_management/assets/test/views/available-channels-page.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-list-item.spec.js
  kolibri/plugins/device_management/assets/test/views/channel-token-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
  kolibri/plugins/device_management/assets/test/views/content-node-row.spec.js
  kolibri/plugins/device_management/assets/test/views/content-tree-viewer.spec.js
  kolibri/plugins/device_management/assets/test/views/select-content-page.spec.js
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/selected-resources-size.spec.js
  kolibri/plugins/facility_management/assets/test/state/mutations.spec.js
  kolibri/plugins/facility_management/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/test/state/prepareLearnApp.spec.js
  kolibri/plugins/learn/assets/test/views/assessment-wrapper.spec.js
  kolibri/plugins/learn/assets/test/views/breadcrumbs.spec.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/user/assets/test/util/makeStore.js
  kolibri/plugins/user/assets/test/views/profile-page.spec.js
  kolibri/plugins/user/assets/test/views/sign-in-page.spec.js
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
  kolibri/plugins/user/assets/test/views/user-page.spec.js
Labels: PR: needs review

#3570 Add showDownloadButtonInLearn to default config
  kolibri/plugins/facility_management/assets/src/constants.js
  kolibri/plugins/facility_management/assets/src/state/actions/facilityConfig.js
Labels: PR: needs review

#3571 Add Chewa support
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/deployment/default/settings/base.py
  kolibri/locale/nyn/LC_MESSAGES/django.mo
  kolibri/locale/supported_languages.json
Labels: PR: needs review

#3532 Include channel in search results
  kolibri/content/api.py
  kolibri/plugins/learn/assets/src/views/search-page.vue
Labels: PR: needs review

#3586 Re-enable filtering content-to-import by renderability, but faster!
  kolibri/content/management/commands/importcontent.py
  kolibri/content/utils/import_export_content.py
Labels: PR: needs review

#3583 Only fetch the channelList once on landing on the manage content page.
  kolibri/plugins/device_management/assets/src/state/actions/manageContentActions.js
  kolibri/plugins/device_management/assets/src/state/getters.js
  kolibri/plugins/device_management/assets/src/state/mutations/manageContentMutations.js
  kolibri/plugins/device_management/assets/src/state/wizardState.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
Labels: PR: needs review

#3577 If channel database being imported is same or older version, skip import
  kolibri/content/utils/channel_import.py
Labels: PR: needs review

#3585 Localize strings in user permissions and exam report page
  kolibri/core/assets/src/views/exam-report/index.vue
  kolibri/plugins/device_management/assets/src/state/actions/managePermissionsActions.js
Labels: PR: needs review

#3589 Merge 0.9.x into develop
  kolibri/content/management/commands/importcontent.py
  kolibri/content/utils/channel_import.py
  kolibri/content/utils/import_export_content.py
  kolibri/plugins/device_management/assets/src/state/actions/manageContentActions.js
  kolibri/plugins/device_management/assets/src/state/getters.js
  kolibri/plugins/device_management/assets/src/state/mutations/manageContentMutations.js
  kolibri/plugins/device_management/assets/src/state/wizardState.js
  kolibri/plugins/device_management/assets/src/views/manage-content-page/channels-grid.vue
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
  requirements/docs.txt
Labels: PR: needs review

#3590 Only use check_same_thread for sqlite
  kolibri/content/utils/sqlalchemybridge.py
Labels: PR: needs review

#3592 Pin dependencies for all test dependencies
  requirements/test.txt
Labels: PR: needs review

#3584 Do not show invalid credentials alert if pw is blank and simple sign-in is on
  kolibri/auth/api.py
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
Labels: PR: needs review

#3517 Sign in page redesign
  kolibri/plugins/user/assets/src/views/sign-in-page/background.png
  kolibri/plugins/user/assets/src/views/sign-in-page/background.svg
  kolibri/plugins/user/assets/src/views/sign-in-page/index.vue
Labels: PR: needs review

#3597 Remove raw sql and use django for in_lesson filter
  kolibri/content/api.py
Labels: PR: needs review

#3595 Give the learn/all-channels page a title. fixes #3486
  kolibri/plugins/learn/assets/src/state/actions/main.js
Labels: PR: needs review

#3536 Move loading morango fixtures to kolibri
  kolibri/utils/cli.py
  kolibri/utils/tests/test_cli.py
Labels: PR: needs review

#3500 Attempting to view exercise Attempt Log as anonymous user crashes
  kolibri/plugins/coach/assets/src/state/actions/exam.js
  kolibri/plugins/coach/assets/src/state/actions/group.js
  kolibri/plugins/coach/assets/src/state/actions/main.js
  kolibri/plugins/coach/assets/src/state/actions/reports.js
Labels: PR: needs review
