Repository learningequality/kolibri, pull requests merged in 2018-07, with the labels that each got.

#3946 Add a middleware to ignore the "kolibri session" user agent
  kolibri/core/device/middleware.py
  kolibri/deployment/default/settings/base.py
Labels: PR: needs review

#3957 Reduce label bottom margin in lesson and exam summaries
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentSummary.vue
Labels: PR: needs review

#3952 Make edit class button purple
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/index.vue
Labels: PR: needs review

#3959 Use min aggregation function instead of all_ to give bool AND behaviour.
  kolibri/content/test/test_annotation.py
  kolibri/content/utils/annotation.py
Labels: PR: needs review

#3955 Optimize speed of deletion of old content metadata prior to new import
  kolibri/content/utils/channel_import.py
Labels: PR: needs review

#3954 Sort exams newest to oldest
  kolibri/plugins/coach/assets/src/views/exams/exams-page/index.vue
Labels: PR: needs review

#3958 Adds length validation to exam titles, group names, and class names.
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/index.vue
  kolibri/plugins/coach/assets/src/views/groups-page/create-group-modal.vue
  kolibri/plugins/coach/assets/src/views/groups-page/rename-group-modal.vue
  kolibri/plugins/facility_management/assets/src/views/class-edit-page/class-rename-modal.vue
  kolibri/plugins/facility_management/assets/src/views/manage-class-page/class-create-modal.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/facility-name-form/index.vue
Labels: PR: needs review

#3944 Use file based sessions.
  kolibri/core/auth/test/test_api.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/cli.py
Labels: PR: needs review

#3968 Fix implicit derived dependencies that occur at build-time dep bundling
  requirements/base.txt
Labels: DEV: distributions, P0 - critical, PR: needs review

#3977 Remove horizontal scrollbar in FF
  kolibri/core/assets/src/views/side-nav.vue
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
Labels: PR: needs review

#3979 Fix implicit derived dependencies that occur at build-time dep bundling
  requirements/base.txt
Labels: PR: needs review

#3980 Remove whitespace
  frontend_build/src/webpack.config.base.js
  kolibri/core/assets/src/views/multi-pane-layout.vue
Labels: PR: needs review

#3965 Use zip compression on database before uploading.
  kolibri/auth/management/commands/syncdata.py
Labels: PR: needs review

#3971 Don't overwrite localfile availability on channel metadata import.
  kolibri/content/utils/channel_import.py
Labels: PR: needs review

#4001 Inject copyright year at build time
  .eslintrc.js
  frontend_build/src/read_bundle_plugins.js
  jest_config/jest.conf.js
  kolibri/core/assets/src/views/side-nav.vue
Labels: PR: needs review

#4010 Remove webpack.devserver command
  docs/start/getting_started.rst
  kolibri/core/webpack/management/__init__.py
  kolibri/core/webpack/management/commands/__init__.py
  kolibri/core/webpack/management/commands/devserver.py
  package.json
Labels: PR: needs review

#3999 Filter out channels + topics with no available exercises in Exam Creation
  kolibri/core/content/api.py
  kolibri/plugins/coach/assets/src/state/actions/exam.js
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/topic-row.vue
Labels: PR: needs review

#4002 Bump ifcfg, adds ip detection support for MacOS, restores for Ubuntu 17.10+
  requirements/base.txt
Labels: DEV: backend, P1 - important, PR: needs review

#4011 Localize texts in coach-content-label
  kolibri/core/assets/src/views/coach-content-label.vue
Labels: PR: needs review

#4008 Remove margin from select-import-source-modal radio buttons
  kolibri/plugins/device_management/assets/src/views/manage-content-page/select-transfer-source-modal/select-import-source-modal.vue
Labels: PR: needs review

#4018 Fix logging race condition in assessment-wrapper
  kolibri/plugins/coach/assets/src/views/exams/create-exam-page/topic-row.vue
  kolibri/plugins/learn/assets/src/views/assessment-wrapper/index.vue
Labels: PR: needs review

#4020 Fix Python2 compatibility in generate_schema cmd
  kolibri/core/content/management/commands/generate_schema.py
Labels: DEV: backend, PR: needs review

#4025 Fix exam creation breadcrumbs
  kolibri/content/api.py
Labels: PR: needs review

#4017 Fix incomplete progress bar
  kolibri/content/management/commands/importcontent.py
  kolibri/content/test/test_import_export.py
Labels: PR: needs review

#3854 Optimize contentnode endpoint for faster browsing
  kolibri/core/assets/src/api-resources/contentNodeSlim.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/state/mappers.js
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/plugins/learn/assets/src/state/actions/main.js
  kolibri/plugins/learn/assets/src/state/actions/recommended.js
  kolibri/plugins/learn/assets/src/state/mutations/index.js
Labels: DEV: backend, DEV: performance, PR: needs review

#4004 Fix layout of selected-resources-size
  kolibri/plugins/device_management/assets/src/views/select-content-page/selected-resources-size.vue
Labels: PR: needs review

#3886 Reduce processing time in Loggers viewsets
  kolibri/core/assets/src/api-resource.js
  kolibri/core/logger/api.py
  kolibri/core/logger/serializers.py
  kolibri/core/serializers.py
Labels: DEV: performance, PR: needs review

#4027 0.10 into develop
  CHANGELOG.rst
  kolibri/core/auth/management/commands/syncdata.py
  kolibri/core/content/api.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
  requirements/base.txt
Labels: PR: needs review

#4037 Optimize cherry pick
  kolibri/auth/test/test_api.py
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/views/content-renderer/index.vue
  kolibri/deployment/default/settings/base.py
  kolibri/logger/apps.py
  kolibri/logger/signals.py
  kolibri/plugins/learn/assets/src/app.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/state/actions/recommended.js
  kolibri/plugins/learn/assets/src/state/store.js
  kolibri/plugins/learn/assets/src/views/recommended-page.vue
  kolibri/plugins/learn/assets/src/views/recommended-subpage.vue
  kolibri/utils/cli.py
  kolibri/utils/server.py
Labels: PR: needs review

#4046 Ignore pytest cache directory
  .gitignore
Labels: DEV: backend, PR: needs review

#4043 Let's start the gherkin-roll!
  integration_testing/features/learner/learner-sign-in.feature
  integration_testing/features/learner/learner-sign-out.feature
Labels: PR: needs review, PR: work-in-progress, TASK: new feature

#4047 Add KOLIBRI_CONSTANTS to error responses to help frontend understand …
  kolibri/core/auth/api.py
  kolibri/core/auth/serializers.py
  kolibri/core/error_constants.py
  kolibri/core/utils.py
  kolibri/deployment/default/settings/base.py
Labels: PR: work-in-progress

#4026 Add slightly faster batch add/remove exercise actions
  kolibri/plugins/coach/assets/src/state/actions/exam.js
  kolibri/plugins/coach/assets/src/views/exams/CreateExamPage/index.vue
Labels: PR: needs review

#4019 Execute vacuum command to shrink the wal size
  kolibri/core/deviceadmin/management/commands/vacuumsqlite.py
  kolibri/utils/cli.py
  kolibri/utils/server.py
Labels: DEV: performance, PR: needs review

#4066 Make prettier plugin Webpack 4 compatible
  frontend_build/src/prettier-frontend-webpack-plugin.js
Labels: PR: needs review

#4073 Fix my own broken code
  frontend_build/src/prettier-frontend-webpack-plugin.js
  frontend_build/src/prettier-frontend.js
  kolibri/core/assets/src/views/KGrid/index.vue
  kolibri/plugins/learn/assets/src/views/RecommendedPage.vue
Labels: PR: needs review

#4060 Makes core component references in style guide PascalCase
  kolibri/plugins/style_guide/assets/src/views/shell/ComponentDocs.vue
  kolibri/plugins/style_guide/assets/src/views/shell/VueExample.vue
  kolibri/plugins/style_guide/package.json
  kolibri/plugins/style_guide/yarn.lock
Labels: PR: needs review

#4065 set vue to a beta version for testing
  kolibri/core/assets/src/mixins/responsive-window.js
  kolibri/core/assets/test/views/k-grid.spec.js
  package.json
  yarn.lock
Labels: PR: needs review

#3991 In Exam Report + Preview, handle when Exercises are not available
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/views/exam-report/index.vue
  kolibri/plugins/coach/assets/src/views/exams/exam-report-detail-page/index.vue
  kolibri/plugins/coach/assets/src/views/exams/exams-page/preview-exam-modal.vue
  kolibri/plugins/learn/assets/src/views/exam-report-viewer.vue
  kolibri/plugins/style_guide/assets/src/app.js
Labels: PR: needs updates

#4071 Allow guest access setting added
  CHANGELOG.rst
  kolibri/core/assets/src/api-resources/deviceProvision.js
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0012_facilitydataset_allow_guest_access.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/decorators.py
  kolibri/core/device/api.py
  kolibri/core/middleware/__init__.py
  kolibri/core/middleware/signin_page.py
  kolibri/core/test/test_middleware.py
  kolibri/core/views.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/facility_management/assets/src/constants.js
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/setup_wizard/views.py
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: PR: needs review, PR: work-in-progress

#4080 return first x attemptlogs depending on exercise type
  kolibri/core/logger/constants/__init__.py
  kolibri/core/logger/constants/exercise_attempts.py
  kolibri/core/logger/serializers.py
Labels: PR: work-in-progress

#4081 Fixes a few bugs with lessons and attempt logging
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/coach/assets/src/state/actions/lessons.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
  kolibri/plugins/learn/assets/src/state/actions/classesActions.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: PR: needs review

#4064 Clean up logging patterns
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/auth/management/commands/deprovision.py
  kolibri/core/auth/management/commands/importusers.py
  kolibri/core/auth/models.py
  kolibri/core/content/management/commands/deletechannel.py
  kolibri/core/content/management/commands/exportchannel.py
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/channels.py
  kolibri/core/content/utils/transfer.py
  kolibri/core/device/management/commands/provisiondevice.py
  kolibri/core/discovery/management/commands/enumeratedrives.py
  kolibri/core/tasks/api.py
  kolibri/plugins/learn/views.py
Labels: DEV: backend, P3 - low, PR: needs review

#4079 First pass of the style guide for .feature files
  integration_testing/features/README.md
Labels: DEV: dev experience, PR: needs review

#4059 Fix the error when OpenSSL version is incompatible with the system cryptography version
  .travis.yml
  Makefile
  kolibri/utils/debian_check.py
  kolibri/utils/env.py
  pytest.ini
  requirements/test.txt
  test/test_cext.py
  tox.ini
Labels: PR: needs review

#4078 add retry logic to importchannel and catch timeout/ssl exceptions
  kolibri/content/management/commands/importchannel.py
  kolibri/content/management/commands/importcontent.py
  kolibri/content/test/test_import_export.py
  kolibri/content/utils/import_export_content.py
Labels: PR: needs review
