Repository learningequality/kolibri, pull requests merged in 2018-12, with the labels that each got.

#4522 Change windows installer signing script based on the current step name
  .buildkite/sign_windows_installer.bat
Labels: TODO: needs review

#4557 Fix types error in analytics middleware
  kolibri/core/analytics/middleware.py
Labels: TODO: needs review

#4554 Allow daemonization on OSX.
  kolibri/utils/cli.py
  kolibri/utils/system.py
Labels: TODO: needs review

#4555 Add propagate False to kolibri loggers to prevent double logging.
  kolibri/deployment/default/settings/base.py
  kolibri/utils/options.py
Labels: TODO: needs review

#4456 adds docs about our github label conventions
  .github/PULL_REQUEST_TEMPLATE.md
  docs/development_workflow.rst
Labels: TAG: dev experience, TAG: developer docs

#4568 stub string for language switcher
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
Labels: TODO: needs review

#4576 Let devserver run with built assets
  kolibri/core/webpack/hooks.py
Labels: TODO: needs review

#4580 adds missing strings
  kolibri/locale/ar/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/fa/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/nyn/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/te/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/te/LC_MESSAGES/user_module-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/vi/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/yo/LC_MESSAGES/coach_module-messages.json
Labels: TODO: needs review

#4569 update content permissions page
  kolibri/plugins/device_management/assets/src/views/UserPermissionsPage/index.vue
Labels: TAG: user strings

#4582 update network address strings
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/SelectAddressForm.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
Labels: TAG: user strings, TODO: needs review

#4596 Unpin node in docker files
  docker/base.dockerfile
  docker/build_whl.dockerfile
Labels: TODO: needs review

#4599 Pin nodejs version in Dockerfile
  docker/base.dockerfile
  docker/build_whl.dockerfile
Labels: TODO: needs review

#4605 Revert "stub string" from community lang update
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
Labels: TODO: needs review

#4594 add 'vietnamese' to changelog
  CHANGELOG.rst
Labels: TODO: needs review

#4597 rename 'exam' to 'quiz' throughout app
  integration_testing/features/coach/coach-activate-exam.feature
  integration_testing/features/coach/coach-activate-quiz.feature
  integration_testing/features/coach/coach-assign-quiz.feature
  integration_testing/features/coach/coach-copy-quiz.feature
  integration_testing/features/coach/coach-create-quizzes.feature
  integration_testing/features/coach/coach-deactivate-exam.feature
  integration_testing/features/coach/coach-deactivate-quiz.feature
  integration_testing/features/coach/coach-delete-quiz.feature
  integration_testing/features/coach/coach-quiz-learner-reports.feature
  integration_testing/features/learner/learner-engage-completed-quiz.feature
  integration_testing/features/learner/learner-take-exam.feature
  integration_testing/features/learner/learner-take-quiz.feature
  kolibri/core/assets/src/views/ContentIcon.vue
  kolibri/core/assets/src/views/ExamReport/PageStatus.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examReport/actions.js
  kolibri/plugins/coach/assets/src/views/CoachIndex.vue
  kolibri/plugins/coach/assets/src/views/CoachTopNav.vue
  kolibri/plugins/coach/assets/src/views/assignments/AssignmentSummary.vue
  kolibri/plugins/coach/assets/src/views/exams/CoachExamReport/index.vue
  kolibri/plugins/coach/assets/src/views/exams/CoachExamsPage/PreviewExamModal.vue
  kolibri/plugins/coach/assets/src/views/exams/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/exams/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/exams/ExamReportPage/ManageExamModals.vue
  kolibri/plugins/coach/assets/src/views/exams/ExamReportPage/index.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AssignedExamsCards.vue
Labels: TAG: user strings, TODO: needs review, TODO: needs user docs, changelog

#4588 Fixes sign-up validation
  integration_testing/features/guest/guest-sign-up-account.feature
  kolibri/core/assets/src/views/AppBody.vue
  kolibri/core/assets/src/views/CoreBase.vue
  kolibri/core/assets/src/views/buttons-and-links/buttons.scss
  kolibri/core/auth/serializers.py
  kolibri/plugins/user/assets/src/modules/signUp/actions.js
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
Labels: TODO: needs review, work-in-progress

#4531 Async log export
  kolibri/core/analytics/management/commands/profile.py
  kolibri/core/api.py
  kolibri/core/assets/src/api-resources/task.js
  kolibri/core/assets/src/views/KCircularLoader.vue
  kolibri/core/assets/src/views/buttons-and-links/KButton.vue
  kolibri/core/assets/src/views/buttons-and-links/buttons.scss
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
  kolibri/core/logger/api_urls.py
  kolibri/core/logger/csv.py
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/test/test_api.py
  kolibri/core/tasks/api.py
  kolibri/plugins/device_management/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
  kolibri/plugins/device_management/assets/test/views/available-channels-page.spec.js
  kolibri/plugins/device_management/assets/test/views/content-node-row.spec.js
  kolibri/plugins/device_management/assets/test/views/content-tree-viewer.spec.js
  kolibri/plugins/facility_management/assets/src/constants.js
  kolibri/plugins/facility_management/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility_management/assets/src/modules/manageCSV/index.js
  kolibri/plugins/facility_management/assets/src/modules/pluginModule.js
  kolibri/plugins/facility_management/assets/src/views/DataPage.vue
  kolibri/plugins/facility_management/assets/src/views/DataPage/DataPageTaskProgress.vue
  kolibri/plugins/facility_management/assets/src/views/DataPage/GeneratedElapsedTime.vue
  kolibri/plugins/facility_management/assets/src/views/DataPage/index.vue
Labels: TAG: performance, TODO: needs review, changelog

#4615 Add NotificationCard component with $trs
  build_tools/i18n/fonts.py
  kolibri/plugins/coach/assets/src/views/ClassActivityFeed.vue
  kolibri/plugins/coach/assets/src/views/NotificationCard.vue
Labels: TODO: needs review

#4617 update some dependencies and limit updates on others
  kolibri/core/content/migrations/0014_auto_20181218_1132.py
  requirements/base.txt
  requirements/test.txt
Labels: TODO: needs review

#4570 update 'delete user' strings
  kolibri/plugins/facility_management/assets/src/views/UserPage/DeleteUserModal.vue
Labels: TAG: user strings, TODO: needs review

#4640 Fix merge issues.
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  yarn.lock
Labels: TODO: needs review

#4628 update login page
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#4638 $tr string bug fix
  kolibri/plugins/coach/assets/src/views/exams/CoachExamsPage/index.vue
Labels: TAG: user strings, TODO: needs review

#4634 add explanation for import options
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
Labels: TAG: user strings, TODO: needs review

#4649 Wrapping strings definitions in quotes.
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
Labels: DEV: frontend, TAG: user strings, TODO: needs review

#4650 Quick address form string change
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
Labels: DEV: frontend, TAG: user strings, TODO: needs review

#4648 New strings covering a variety of issues
  kolibri/plugins/coach/assets/src/views/exams/CoachExamReport/index.vue
  kolibri/plugins/coach/assets/src/views/exams/CoachExamsPage/ExamPreview.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/learn/assets/src/views/LearnExamReportViewer.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
Labels: TAG: user strings, TODO: needs review

#4654 Add strings for update notification alert.
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TAG: user strings, TODO: needs review
