Repository learningequality/kolibri, pull requests merged in 2019-02, with the labels that each got.

#4845 new status summary widget, plus lots of fixes
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/dataHelpers.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/LabeledIcon.vue
  kolibri/plugins/coach/assets/src/views/common/LessonActive.vue
  kolibri/plugins/coach/assets/src/views/common/QuizActive.vue
  kolibri/plugins/coach/assets/src/views/common/status/CoachStatusIcon.vue
  kolibri/plugins/coach/assets/src/views/common/status/HelpNeeded.vue
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressCount.vue
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressLabel.vue
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressRatio.vue
  kolibri/plugins/coach/assets/src/views/common/status/ProgressSummaryBar.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusSimple.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusTestPage.vue
  kolibri/plugins/coach/assets/src/views/common/status/statusStrings.js
  kolibri/plugins/coach/assets/src/views/common/status/tallyMixin.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/DashboardBar.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/StatusIcon.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review

#4851 adds unordered bullets to 'randomized' list
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
Labels: TODO: needs review

#4901 critical fix - groups prop -> groupNames
  kolibri/plugins/coach/assets/src/views/common/Recipients.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review

#4900 Use notifications polling to update the class summary module
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/dataHelpers.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleServerResponse.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState2.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/summary.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/classSummary/constants.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#4903 Fixes #4898: Return a status of STARTED as soon as user has opened exam
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#4897 Re-implement detail reports in new coach dashboard
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/ExamReport/PageStatus.vue
  kolibri/core/assets/src/views/InteractionList/InteractionItem.vue
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/examReportDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/examReportDetail/index.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/__test__/actions.spec.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/actions.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/index.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/assets/src/routes/reportRoutes.js
  kolibri/plugins/coach/assets/src/views/common/LearnerExerciseReport.vue
  kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerReportLessonExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerReportQuizPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportQuizPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerPage.vue
Labels: TODO: needs review

#4158 Android Tweaks
  kolibri/core/analytics/pskolibri/common.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/discovery/utils/filesystem/posix.py
  kolibri/core/tasks/management/commands/base.py
  kolibri/utils/system.py
  requirements/base.txt
Labels: DEV: backend, OS: Android, TODO: needs review

#4908 more coach report data
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/dataHelpers.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/routes/reportRoutes.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/LearnerExerciseReport.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/assets/src/views/common/status/tallyMixin.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
Labels: TODO: needs review

#4920 Add path-matching page titles to coach pages
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRoutes.js
  kolibri/plugins/coach/assets/src/routes/planRoutes.js
  kolibri/plugins/coach/assets/src/routes/reportRoutes.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonEditorPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonManagerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizEditorPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
Labels: TODO: needs review

#4913 calculate list of available node ids for lesson in class summary endpoint
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_class_summary.py
Labels: TODO: gherkin update, TODO: needs review

#4906 Ensure the snackbar does not reappear after the resource page is left
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
Labels: TODO: needs review

#4335 Improve the signing process and installer display
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/sign_windows_installer.bat
  .buildkite/upload_artifacts.py
  docker/build_windows.dockerfile
Labels: TODO: needs review

#4937 Correctly map lesson learner status data
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/dataHelpers.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState2.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
Labels: TODO: needs review

#4938 enable source maps in production
  packages/kolibri-tools/lib/production.js
  packages/kolibri-tools/lib/webpackdevserver.js
Labels: TODO: needs review

#4934 Fix various issues obvious from navigation of coach reports
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/groups/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  yarn.lock
Labels: TODO: needs review

#4936 Properly filter attemptlogs in exercise detail view
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/actions.js
Labels: TODO: needs review

#4801 0.12 Coach gherkin scenarios update
  integration_testing/features/coach/class-coach-view-class-channel-report.feature
  integration_testing/features/coach/class-coach-view.feature
  integration_testing/features/coach/coach-activate-lesson.feature
  integration_testing/features/coach/coach-activate-quiz.feature
  integration_testing/features/coach/coach-assign-learners-groups.feature
  integration_testing/features/coach/coach-assign-quiz.feature
  integration_testing/features/coach/coach-change-language.feature
  integration_testing/features/coach/coach-change-profile-information.feature
  integration_testing/features/coach/coach-class-home.feature
  integration_testing/features/coach/coach-class-plan.feature
  integration_testing/features/coach/coach-class-reports-groups.feature
  integration_testing/features/coach/coach-class-reports-learners.feature
  integration_testing/features/coach/coach-class-reports-lessons.feature
  integration_testing/features/coach/coach-class-reports-quizzes.feature
  integration_testing/features/coach/coach-class-reports.feature
  integration_testing/features/coach/coach-copy-lesson.feature
  integration_testing/features/coach/coach-copy-quiz.feature
  integration_testing/features/coach/coach-create-group.feature
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-create-quizzes.feature
  integration_testing/features/coach/coach-deactivate-quiz.feature
  integration_testing/features/coach/coach-delete-group.feature
  integration_testing/features/coach/coach-delete-lesson.feature
  integration_testing/features/coach/coach-delete-quiz.feature
  integration_testing/features/coach/coach-edit-lesson.feature
  integration_testing/features/coach/coach-edit-quiz.feature
  integration_testing/features/coach/coach-lesson-difficult-questions.feature
  integration_testing/features/coach/coach-lesson-remove-resources.feature
  integration_testing/features/coach/coach-lesson-reorder-resources.feature
  integration_testing/features/coach/coach-lesson-report.feature
  integration_testing/features/coach/coach-lesson-search-resources.feature
  integration_testing/features/coach/coach-move-learners-between-groups.feature
  integration_testing/features/coach/coach-quiz-learner-reports.feature
  integration_testing/features/coach/coach-reassign-lesson.feature
  integration_testing/features/coach/coach-reassign-quiz.feature
  integration_testing/features/coach/coach-rename-group.feature
  integration_testing/features/coach/coach-rename-lesson.feature
  integration_testing/features/coach/coach-rename-quiz.feature
  integration_testing/features/coach/coach-reorder-lesson-resources.feature
  integration_testing/features/coach/coach-sign-in.feature
  integration_testing/features/coach/coach-sign-out.feature
  integration_testing/features/coach/coach-view-class-channel-report.feature
  integration_testing/features/coach/coach-view-learner-reports.feature
Labels: TAG: performance, work-in-progress

#4949 Coach group and lessons fixes
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/modules/groups/actions.js
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/document_epub_render/assets/src/views/SearchSideBar.vue
  yarn.lock
Labels: TODO: needs review

#4941 Make coach dashboard items/links clickable
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
Labels: TODO: needs review

#4942 emphasize quality over quantity in code test coverage
  .codecov.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.rst
  docs/development_workflow.rst
Labels: TAG: dev experience, TODO: needs review

#4544 Create a script to automate the integration testing worksheet.
  .buildkite/build_worksheet.sh
  .buildkite/create_integration_testing_worksheet.py
  .buildkite/pipeline.yml
  integration_testing/features/ORDER.txt
  integration_testing/features/admin/ORDER.txt
  integration_testing/features/coach/ORDER.txt
  integration_testing/features/common/ORDER.txt
  integration_testing/features/guest/ORDER.txt
  integration_testing/features/learner/ORDER.txt
  integration_testing/features/super-admin/ORDER.txt
Labels: TODO: needs review

#4943 1) Validate quiz number of questions, 2) add notification links, 3) learner/group activity pages
  kolibri/core/assets/src/router.js
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/gettersUtils.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/handlers.js
  kolibri/plugins/coach/assets/src/routes/reportRoutes.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/status/ProgressSummaryBar.vue
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerPage.vue
Labels: TODO: needs review

#4955 Replace font rules in vendored Keen UI components to use noto
  kolibri/core/assets/src/views/CoreSnackbar/KeenUiSnackbar.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelectOption.vue
Labels: TODO: needs review

#4961 Kolibri tools updates
  kolibri/core/package.json
  package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/build.js
  packages/kolibri-tools/lib/apiSpecExportTools.js
  packages/kolibri-tools/package.json
  packages/publish.js
Labels: TODO: needs review

#4968 fix table widths
  kolibri/plugins/coach/assets/src/views/common/HeaderTable/HeaderTableRow.vue
Labels: TODO: needs review

#4977 make group report header dynamic
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
Labels: TODO: needs review

#4978 fixes time spent issue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
Labels: TODO: needs review

#4976 Prevent creating a daemon on Mac Python 2.7 due to crashing on fork.
  kolibri/utils/cli.py
Labels: TODO: needs review

#4963 Add import from token for studio local import
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/modules/wizard/getters.js
  kolibri/plugins/device_management/assets/src/views/AvailableChannelsPage/index.vue
Labels: TODO: needs review

#4967 Sign Up -> Create account
  kolibri/plugins/user/assets/src/views/UserIndex.vue
Labels: TODO: needs review

#4983 Sourcemaps
  packages/kolibri-tools/lib/production.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#4981 Fixes and refactors for notifications and privacy modal
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/plugins/coach/assets/src/modules/classSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/gettersUtils.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCardNoLink.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
Labels: TODO: needs review

#4990 Fix IE 11 Compatibility
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#4999 Fixes behaviour for multiple lesson assignment
  kolibri/plugins/learn/serializers.py
  kolibri/plugins/learn/test/test_learner_lesson.py
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#5008 Notifications signals learner groups
  kolibri/core/notifications/api.py
  kolibri/core/notifications/models.py
  kolibri/plugins/coach/api.py
Labels: TODO: needs review

#4997 Windows free space regression fix and python code quality fixes
  build_tools/i18n/crowdin.py
  docker/entrypoint.py
  kolibri/core/analytics/management/commands/benchmark.py
  kolibri/core/analytics/pskolibri/__init__.py
  kolibri/core/analytics/utils.py
  kolibri/core/api.py
  kolibri/core/content/management/commands/content.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/logger/utils/user_data.py
  kolibri/plugins/coach/api.py
  kolibri/utils/compat.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/server.py
  kolibri/utils/system.py
  kolibri/utils/version.py
Labels: TODO: needs review

#5005 Epub settings style
  kolibri/plugins/document_epub_render/assets/src/views/EpubConstants.js
  kolibri/plugins/document_epub_render/assets/src/views/SettingsSideBar.vue
Labels: TODO: needs review

#5004 Remove text ellipsis on overflow in buttons.
  kolibri/core/assets/src/views/buttons-and-links/buttons.scss
Labels: TODO: needs review

#4993 JS code quality fixes.
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/mixins/contentRenderer.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/jest.conf/index.js
  packages/kolibri-tools/lib/apiSpecExportTools.js
  packages/kolibri-tools/lib/htmlhint_custom.js
  packages/kolibri-tools/lib/webpackMessages.js
Labels: TODO: needs review

#5015 Enable handlers after setting action router handlers
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/src/router.js
Labels: TODO: needs review

#5010 Force-clear snackbars at every navigation in coach page
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/UserTable.vue
Labels: TODO: needs review

#5017 Small performance fix when finding groups and classrooms for a lesson
  kolibri/core/notifications/api.py
Labels: TODO: needs review

#5003 More semantically handle malformed zipcontent paths by returning 404s.
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/views.py
Labels: TODO: needs review

#5019 Add default port value when starting webpack server
  packages/kolibri-tools/lib/bundleStats.js
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/webpackdevserver.js
Labels: TODO: needs review

#5027 remove 'back' link
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
Labels: TODO: needs review

#5028 Use Q object instead of empty queryset
  kolibri/core/content/utils/content_types_tools.py
Labels: TODO: needs review

#5018 Support multiple legacy lessons with the same title
  kolibri/core/lessons/serializers.py
  kolibri/core/lessons/test/test_lesson_api.py
  kolibri/core/lessons/test/test_lesson_create.py
Labels: TODO: needs review

#5001 Use float not int to ensure proper coercion.
  kolibri/core/analytics/middleware.py
Labels: TODO: needs review

#5034 Show correct messages on ClassListPage when there are no classes
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Labels: TODO: needs review

#5037 bump to beta
  kolibri/__init__.py
Labels: TODO: needs review

#5039 Import table styling update
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/TaskProgress.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentNodeRow.vue
Labels: TODO: needs review

#5038 add a proper empty state to truncated list component
  kolibri/core/assets/test/views/elapsed-time.spec.js
  kolibri/plugins/coach/assets/src/views/common/TruncatedItemList.vue
Labels: TODO: needs review

#5035 fixes language modal positioning
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/ScrollingHeader.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/test/views/__snapshots__/app-bar.spec.js.snap
Labels: TODO: needs review

#5044 Add a text-overflow CSS rule to TruncatedItemList
  kolibri/plugins/coach/assets/src/views/common/TruncatedItemList.vue
Labels: TODO: needs review

#4984 Change server persistence logic based on page visibility
  kolibri/core/assets/src/core-app/baseClient.js
  kolibri/core/assets/src/core-app/constructor.js
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/assets/src/core-app/monitorPageVisibility.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/src/serverClock.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/views/ContentRenderer/index.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/kolibri_app.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/auth/api.py
  kolibri/core/content/utils/channels.py
  kolibri/core/context_processors/custom_context_processor.py
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templatetags/kolibri_tags.py
  kolibri/core/test/test_context_processor.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/setup_wizard/assets/src/app.js
Labels: TODO: needs review

#5048 Update css minification to prevent css name collisions across plugin assets
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#4914 Don't exit if database is locked while vacuuming
  kolibri/deployment/default/wsgi.py
  kolibri/utils/cli.py
  kolibri/utils/server.py
Labels: work-in-progress

#5021 Raise errors rather than asserting when a storage filename is bad.
  kolibri/core/content/errors.py
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/views.py
Labels: work-in-progress

#5040 Notification tests
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/index.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationsFilter.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/ActivityList.spec.js
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/NotificationCard.spec.js
  kolibri/plugins/coach/assets/src/views/common/notifications/notificationStrings.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/BlockItem.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportQuizPage.vue
Labels: TODO: needs review

#5006 Allow setting of scroll position based on browser history state.
  kolibri/core/assets/src/router.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/views/CoreBase/index.vue
  packages/kolibri-tools/jest.conf/setup.js
Labels: TODO: needs review

#5043 Add item filtering to attemptlog and examattemptlog endpoints.
  kolibri/core/logger/api.py
Labels: TODO: needs review

#5060 makes 'back' link on Plan page point to Home
  kolibri/plugins/coach/assets/src/views/common/BackLink.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
Labels: TODO: needs review

#5023 increment django to ~1.11.19~ 1.11.20
  requirements/base.txt
Labels: TODO: needs review

#5051 Add empty states to various coach tables and widgets
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
Labels: TODO: needs review

#5058 gherkin story related to background tabs
  integration_testing/features/learner/learner-background-tab.feature
Labels: TODO: needs review

#5074 Turn on caching in cherrypy
  kolibri/utils/server.py
Labels: TODO: needs review

#5073 icon positioning
  kolibri/core/assets/src/views/buttons-and-links/KButton.vue
Labels: TODO: needs review

#5072 scroll app bar for short windows
  kolibri/core/assets/src/mixins/responsive-window.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/ScrollingHeader.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
Labels: TODO: needs review

#5075 Remove session bootstrap from base template
  kolibri/core/templates/kolibri/base.html
Labels: TODO: needs review

#5076 Fixes to heartbeat behaviour.
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/test/heartbeat.spec.js
Labels: TODO: needs review

#5067 add 'needs help' info to progress bar
  kolibri/plugins/coach/assets/src/views/common/status/ProgressSummaryBar.vue
Labels: TODO: needs review

#5066 more import styling updates
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentNodeRow.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device_management/assets/test/views/select-content-page.spec.js
Labels: TODO: needs review

#5116 Don't check ports if CherryPy is not going to start
  kolibri/utils/cli.py
Labels: TODO: needs review

#5100 Fixes for 0.12b5 bugs
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/InteractionList/index.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/DeleteGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ManageLessonModals.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDeleteModal.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/facility_management/assets/src/views/UserTable.vue
Labels: TODO: needs review

#5115 styling for disabled buttons
  kolibri/core/assets/src/views/buttons-and-links/buttonMixin.js
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
Labels: TODO: needs review

#5121 Manually blur text-link-style KButtons when they are clicked or enter-keyed
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/buttons-and-links/KButton.vue
Labels: TODO: needs review

#5122 In showExam handler, redirect to the report if the exam is closed
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: TODO: needs review

#5127 Fixes Device info page when CherryPy is not running
  kolibri/utils/server.py
Labels: TODO: needs review

#5123 Remove inconsistencies for not started exercises
  kolibri/core/logger/serializers.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#5130 Fix detail views
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/actions.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/index.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/actions.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/index.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/views/common/QuestionLearnersReport.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
  kolibri/plugins/coach/test/test_difficult_questions.py
Labels: TODO: needs review

#5131 last i18n update
  build_tools/i18n/crowdin.py
  kolibri/core/static/assets/fonts/noto-common.css
  kolibri/core/static/assets/fonts/noto-subset.ach-ug.css
  kolibri/core/static/assets/fonts/noto-subset.ar.css
  kolibri/core/static/assets/fonts/noto-subset.bg-bg.css
  kolibri/core/static/assets/fonts/noto-subset.bn-bd.css
  kolibri/core/static/assets/fonts/noto-subset.en.css
  kolibri/core/static/assets/fonts/noto-subset.es-es.css
  kolibri/core/static/assets/fonts/noto-subset.fa.css
  kolibri/core/static/assets/fonts/noto-subset.ff-cm.css
  kolibri/core/static/assets/fonts/noto-subset.fr-fr.css
  kolibri/core/static/assets/fonts/noto-subset.hi-in.css
  kolibri/core/static/assets/fonts/noto-subset.mr.css
  kolibri/core/static/assets/fonts/noto-subset.nyn.css
  kolibri/core/static/assets/fonts/noto-subset.pt-br.css
  kolibri/core/static/assets/fonts/noto-subset.sw-tz.css
  kolibri/core/static/assets/fonts/noto-subset.te.css
  kolibri/core/static/assets/fonts/noto-subset.ur-pk.css
  kolibri/core/static/assets/fonts/noto-subset.vi.css
  kolibri/core/static/assets/fonts/noto-subset.yo.css
  kolibri/locale/ff_CM/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/django.mo
  kolibri/locale/ff_CM/LC_MESSAGES/django.po
  kolibri/locale/ff_CM/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/django.po
  kolibri/locale/hi_IN/LC_MESSAGES/django.po
  kolibri/locale/pt_BR/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/django.po
  kolibri/locale/sw_TZ/LC_MESSAGES/django.po
  kolibri/locale/sw_TZ/LC_MESSAGES/user_module-messages.json
Labels: TODO: needs review

#5129 Added code to detect if kolibri-server is in use
  kolibri/utils/server.py
Labels: TODO: needs review

#5136 cleans up notification layouts a bit
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/NotificationCard.spec.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/BlockItem.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
Labels: TODO: needs review

#5135 work on dynamic button styling
  kolibri/core/assets/src/views/buttons-and-links/buttonMixin.js
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
Labels: TODO: needs review

#5139 Fix exercise question detail rendering
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
Labels: TODO: needs review

#5134 adding scroll behavior to individual table cells when the contents are too large
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/core/assets/src/views/icons/KLabeledIcon.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/UserTable.vue
Labels: TODO: needs review

#5141 Only gzip and cache static file endpoint
  kolibri/utils/server.py
Labels: TODO: needs review

#5140 Add safety measures for quizzes and lessons with deleted content
  CHANGELOG.rst
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/content/signals.py
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/PersonalDataConsentForm.vue
Labels: TODO: needs review

#5145 Update the documentation link in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: TAG: developer docs

#5144 Pass progress explicitly from parent components
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/PageHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#5153 Hover focus state for epub theme buttons
  kolibri/plugins/document_epub_render/assets/src/views/SettingsSideBar.vue
Labels: TODO: needs review

#5159 Ensure connections are closed on threads to avoid locks in the database
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/deviceadmin/management/commands/vacuumsqlite.py
  kolibri/core/notifications/tasks.py
Labels: TODO: needs review

#5197 minor search style fix
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
Labels: TODO: needs review

#5193 Remove deprecated exam codes
  kolibri/plugins/coach/assets/src/modules/examReport/__test__/actions.spec.js
  kolibri/plugins/coach/assets/src/modules/examReport/actions.js
  kolibri/plugins/coach/assets/src/modules/examReport/handlers.js
  kolibri/plugins/coach/assets/src/modules/examReport/index.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/ExamReportPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/ManageExamModals.vue
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
Labels: TODO: needs review

#5199 Update Changelog and Authors
  AUTHORS.rst
  CHANGELOG.rst
Labels: TODO: needs review

#5192 Make Plan > Group/Lesson look more like Report > Group/Lesson
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentSummary.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/user/assets/src/modules/profile/actions.js
  kolibri/plugins/user/assets/src/modules/profile/index.js
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review

#4910 Android build mods
  .buildkite/build_apk.sh
  .buildkite/pipeline.yml
  kolibri/core/analytics/pskolibri/common.py
  kolibri/core/discovery/utils/filesystem/posix.py
  kolibri/utils/android.py
  kolibri/utils/server.py
  kolibri/utils/system.py
Labels: OS: Android, TODO: needs review

#5201 Fix for notification version-checking and database corruption
  kolibri/core/analytics/utils.py
  kolibri/utils/cli.py
Labels: TODO: needs review

#5202 Don't always show core table scrollbar
  kolibri/core/assets/src/views/CoreTable.vue
Labels: TODO: needs review

#5198 pass timestamps to notifications
  kolibri/core/logger/serializers.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
  kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js
Labels: TODO: needs review, work-in-progress

#5206 Clean up version conversion code to avoid issues with funny versions
  kolibri/core/analytics/utils.py
Labels: TODO: needs review

#5208 Update exercise notification starting to also start a lesson if needed.
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
Labels: TODO: needs review

#5207 Group notifications
  kolibri/plugins/coach/assets/src/modules/groups/actions.js
  kolibri/plugins/coach/assets/src/views/common/groupManagement/groupManagementStrings.js
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/CreateGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/DeleteGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
Labels: TODO: needs review

#5200 Set on save, not before.
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/test/api-resource.spec.js
Labels: TODO: needs review

#5205 Adds some but not all of the creative commons translations
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/assets/src/utils/licenseTranslations.js
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review, changelog

#5212 Don't show a loading bar on the user signin page.
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/user/assets/src/modules/signIn/handlers.js
Labels: TODO: needs review

#5210 Fix client side 'server' time setting to prevent spooky interactions in the future
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/serverClock.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/views/ElapsedTime.vue
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/views/elapsed-time.spec.js
Labels: TODO: needs review

#5216 Prevent scrollbars on content cards in lesson resource selection
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
Labels: TODO: needs review
