Repository learningequality/kolibri, pull requests merged in 2019-06, with the labels that each got.

#5607 Django 1.11.21
  requirements/base.txt
Labels: TODO: needs review

#5610 Release v0.12.y into develop
  integration_testing/features/admin/admin-create-users.feature
  integration_testing/features/super-admin/super-admin-create-users.feature
  integration_testing/features/super-admin/super-admin-downgrade-from-super-content-import-permission.feature
  integration_testing/features/super-admin/super-admin-grant-content-import-permissions.feature
  kolibri/plugins/facility_management/assets/src/modules/classEditManagement/__test__/classEditManagementModule.spec.js
  kolibri/plugins/facility_management/assets/src/modules/classEditManagement/index.js
  requirements/base.txt
Labels: TODO: needs review

#5601 Remove facilitydataset bootstrap directive from user.html
  kolibri/plugins/user/templates/user/user.html
Labels: work-in-progress

#5609 Fix windows log file error when upgrading version
  kolibri/utils/sanity_checks.py
  kolibri/utils/tests/test_sanity_check.py
Labels: TODO: needs review

#5572 Fix 'no selectable nodes' logic when importing from a local drive
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentTreeViewer.vue
Labels: TODO: needs review

#5614 Prevent unforeseen errors from overly aggressive guest access middleware by removing it.
  kolibri/core/auth/api.py
  kolibri/core/content/views.py
  kolibri/core/decorators.py
  kolibri/core/device/api.py
  kolibri/core/middleware/__init__.py
  kolibri/core/middleware/signin_page.py
  kolibri/core/test/test_middleware.py
  kolibri/core/views.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/setup_wizard/views.py
Labels: TODO: needs review

#5615 Fixes #5562: Ensure channel gets updated for Safari
  kolibri/plugins/device_management/assets/src/modules/manageContent/index.js
  kolibri/plugins/device_management/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device_management/assets/src/routes/wizardTransitionRoutes.js
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue
Labels: TODO: needs review

#5613 Use etag to control SPA caching.
  kolibri/core/decorators.py
  kolibri/core/device/models.py
Labels: TODO: needs review

#5627 Catch KeyError when checking cancel during import.
  kolibri/core/tasks/management/commands/base.py
Labels: TODO: needs review

#5512 Annotate num coach contents at startup
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_enumerate_channel.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/utils/tests/test_handler.py
Labels: TODO: needs review

#5630 Fix date handling regarding learn last activity
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleServerResponse.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#5542 Fix task cancellation
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/queue.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device_management/assets/src/modules/manageContent/index.js
  kolibri/plugins/device_management/assets/src/modules/manageContent/utils.js
  kolibri/plugins/device_management/assets/src/modules/wizard/actions/contentTransferActions.js
  kolibri/plugins/device_management/assets/src/modules/wizard/utils.js
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/TaskProgress.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue
  requirements/base.txt
Labels: TODO: needs updates

#5624 Update localizations for version 0.12.4
  kolibri/core/static/assets/fonts/noto-common.css
  kolibri/core/static/assets/fonts/noto-subset.ach-ug.css
  kolibri/core/static/assets/fonts/noto-subset.ar.css
  kolibri/core/static/assets/fonts/noto-subset.bg-bg.css
  kolibri/core/static/assets/fonts/noto-subset.bn-bd.css
  kolibri/core/static/assets/fonts/noto-subset.en.css
  kolibri/core/static/assets/fonts/noto-subset.es-es.css
  kolibri/core/static/assets/fonts/noto-subset.fa.css
  kolibri/core/static/assets/fonts/noto-subset.ff-cm.css
  kolibri/core/static/assets/fonts/noto-subset.fr-fr.css
  kolibri/core/static/assets/fonts/noto-subset.gu-in.css
  kolibri/core/static/assets/fonts/noto-subset.hi-in.css
  kolibri/core/static/assets/fonts/noto-subset.mr.css
  kolibri/core/static/assets/fonts/noto-subset.my.css
  kolibri/core/static/assets/fonts/noto-subset.nyn.css
  kolibri/core/static/assets/fonts/noto-subset.pt-br.css
  kolibri/core/static/assets/fonts/noto-subset.sw-tz.css
  kolibri/core/static/assets/fonts/noto-subset.te.css
  kolibri/core/static/assets/fonts/noto-subset.ur-pk.css
  kolibri/core/static/assets/fonts/noto-subset.vi.css
  kolibri/core/static/assets/fonts/noto-subset.yo.css
  kolibri/locale/bg_BG/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/django.po
  kolibri/locale/bg_BG/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/django.po
  kolibri/locale/fr_FR/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/django.po
  kolibri/locale/gu_IN/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/demo_server_module-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/django.mo
  kolibri/locale/gu_IN/LC_MESSAGES/django.po
  kolibri/locale/gu_IN/LC_MESSAGES/learn_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/coach_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/mr/LC_MESSAGES/demo_server_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/mr/LC_MESSAGES/django.po
  kolibri/locale/my/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/my/LC_MESSAGES/django.po
  kolibri/locale/pt_BR/LC_MESSAGES/default_frontend-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/device_management_module-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/django.po
  kolibri/locale/vi/LC_MESSAGES/django.po
Labels: TODO: needs review

#5632 Correct export sizes
  kolibri/plugins/device_management/assets/src/modules/wizard/actions/contentTreeViewerActions.js
Labels: TODO: needs review

#5616 work on moving theming to plugins
  build_tools/default_plugins.txt
  kolibri/core/assets/src/core-app/constructor.js
  kolibri/core/assets/src/core-app/urls.js
  kolibri/core/assets/src/styles/brandColors.js
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/utils/colourPicker.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/ColourPicker.vue
  kolibri/core/assets/src/views/CoreLogo/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/decorators.py
  kolibri/core/hooks.py
  kolibri/core/package.json
  kolibri/core/settings.py
  kolibri/core/templatetags/kolibri_tags.py
  kolibri/core/theme_hook.py
  kolibri/core/urls.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/default_theme/__init__.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/background.jpg
  kolibri/plugins/hooks.py
  kolibri/plugins/user/assets/src/views/SignInPage/background.svg
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/management/commands/background.py
  kolibri/utils/cli.py
  kolibri/utils/conf.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_cli.py
  packages/kolibri-tools/jest.conf/setup.js
  requirements/base.txt
  yarn.lock
Labels: TODO: needs review

#5640 Implement preview button on exercise difficult question list page
  kolibri/plugins/coach/assets/src/constants/lastPagesConstants.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
Labels: TODO: needs review

#5642 New version of ifcfg
  requirements/base.txt
Labels: DEV: backend, DEV: frontend

#5635 Update coach-create-lesson.feature
  integration_testing/features/coach/coach-create-lesson.feature
Labels: TODO: needs review

#5577 Update super-admin-import-new-content-channel-from-studio.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-studio.feature
Labels: TODO: needs review

#5644 Update perseus to fix styling issues.
  requirements/base.txt
Labels: TODO: needs review

#5654 Update CHANGELOG and VERSION for 0.12.4
  CHANGELOG.md
  kolibri/__init__.py
Labels: TODO: needs review

#5659 Add Html5 option to KIcon
  kolibri/core/assets/src/views/icons/KIcon.vue
Labels: TODO: needs review

#5665 remove the duplicated step of uploading artifacts
  .buildkite/pipeline.yml
Labels: work-in-progress

#5641 Implement permalinking scheme for content.
  kolibri/core/content/hooks.py
  kolibri/core/content/test/test_redirectcontent.py
  kolibri/core/content/urls.py
  kolibri/core/content/views.py
  kolibri/plugins/learn/kolibri_plugin.py
Labels: TODO: needs review

#5670 Bump morango to 0.4.6
  requirements/base.txt
Labels: TODO: needs review

#5679 Fix username autocomplete
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, changelog

#5676 Update CHANGELOG for 0.12.5
  CHANGELOG.md
Labels: TODO: needs review

#5687 decouple pypi package description, github readme, and dev docs index
  README.md
  docs/index.rst
  setup.py
Labels: TODO: needs review

#5674 Fix exam conversion and difficult question bugs
  kolibri/core/assets/src/exams/utils.js
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/modules/questionList/handlers.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/api.js
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_difficult_questions.py
Labels: TODO: needs review

#5697 Merge 0.12.5 into develop
  CHANGELOG.md
  README.md
  docs/index.rst
  kolibri/core/assets/src/exams/utils.js
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/modules/questionList/handlers.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/api.js
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_difficult_questions.py
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  requirements/base.txt
  setup.py
Labels: TODO: needs review

#5688 add parameter for customizing title style
  kolibri/core/theme_hook.py
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#5686 Nutritionfacts i18n
  build_tools/i18n/crowdin.py
  build_tools/i18n/nutritionfacts_i18n.py
  build_tools/i18n/utils.py
  docs/release_process.rst
  kolibri/core/assets/src/views/CoreBase/index.vue
  requirements/dev.txt
Labels: TODO: needs review

#5637 Add plugin blacklist for when plugins are disabled.
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/base.py
  kolibri/plugins/utils.py
  kolibri/utils/cli.py
  kolibri/utils/conf.py
  kolibri/utils/tests/test_cli.py
Labels: TODO: needs review

#5707 update dev docs based on feedback
  docs/getting_started.rst
  docs/release_process.rst
Labels: TAG: developer docs, TODO: needs review

#5603 clean up setup file
  Makefile
  setup.py
Labels: TAG: tech update / debt, TODO: needs review

#5647 Add pagination to Facility Users table
  CHANGELOG.md
  kolibri/plugins/facility_management/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/index.vue
Labels: changelog

#5599 A few terminology consistency updates
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/plugins/document_epub_render/assets/src/views/SearchButton.vue
  kolibri/plugins/document_epub_render/assets/src/views/SettingsButton.vue
  kolibri/plugins/document_epub_render/assets/src/views/TocButton.vue
  kolibri/plugins/facility_management/assets/src/views/DataPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: TAG: user strings, TODO: needs review

#5720 small updates to 'ways to contribute' page
  docs/contributing/ways_to_contribute.rst
Labels: TAG: developer docs, TODO: needs review

#5681 Allow plugins to add to Django settings and the core options spec
  kolibri/core/device/translation.py
  kolibri/core/models.py
  kolibri/core/urls.py
  kolibri/core/webpack/hooks.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/base.py
  kolibri/plugins/coach/kolibri_plugin.py
  kolibri/plugins/demo_server/urls.py
  kolibri/plugins/demo_server/views.py
  kolibri/plugins/device_management/kolibri_plugin.py
  kolibri/plugins/facility_management/kolibri_plugin.py
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/registry.py
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  kolibri/plugins/style_guide/kolibri_plugin.py
  kolibri/plugins/user/kolibri_plugin.py
  kolibri/plugins/utils/__init__.py
  kolibri/plugins/utils/options.py
  kolibri/plugins/utils/settings.py
  kolibri/plugins/utils/test/__init__.py
  kolibri/plugins/utils/test/test_options.py
  kolibri/plugins/utils/test/test_settings.py
  kolibri/plugins/utils/urls.py
  kolibri/utils/conf.py
  kolibri/utils/i18n.py
  kolibri/utils/options.py
  kolibri/utils/tests/test_sanity_check.py
  packages/kolibri-tools/lib/webpack_json.py
Labels: TODO: needs review

#5723 set customized requirements.txt before installing it
  Makefile
Labels: TODO: needs review

#5716 Show demo server banner only on Sign In page
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/state/modules/core/getters.js
Labels: TODO: needs review

#5699 Various (7) 0.12.6 fixes
  kolibri/core/assets/src/views/AppError/index.vue
  kolibri/plugins/device_management/assets/src/views/DeviceInfoPage.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectTransferSourceModal/DriveList.vue
  kolibri/plugins/device_management/assets/test/views/channel-list-item.spec.js
  kolibri/plugins/device_management/assets/test/views/select-drive-modal.spec.js
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/PageHeader.vue
  kolibri/plugins/learn/assets/src/views/SearchPage.vue
Labels: TODO: needs review, changelog
