Repository learningequality/kolibri, pull requests merged in 2019-08, with the labels that each got.

#5840 Cmd messages
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/logger/utils/user_data.py
Labels: TODO: needs review

#5803 Only grab fields which are needed/available for custom migration
  kolibri/core/auth/migrations/0004_auto_20170816_1607.py
Labels: TODO: needs review

#5831 Fix briefly flashing checkboxes on CreateExamPage
  docs/i18n.rst
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: TODO: needs review, changelog

#5391 Base Slideshow Renderer
  build_tools/default_plugins.txt
  integration_testing/features/learner/learner-engage-slideshow.feature
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/views/ContentIcon.vue
  kolibri/core/assets/src/views/ContentRenderer/filePresetStrings.js
  kolibri/core/assets/src/views/icons/KIcon.vue
  kolibri/core/content/migrations/0019_contentnode_slideshow_options.py
  kolibri/plugins/learn/assets/src/views/ContentCard/CardThumbnail.vue
  kolibri/plugins/slideshow_render/__init__.py
  kolibri/plugins/slideshow_render/assets/src/module.js
  kolibri/plugins/slideshow_render/assets/src/utils.js
  kolibri/plugins/slideshow_render/assets/src/views/SlideshowRendererComponent.vue
  kolibri/plugins/slideshow_render/assets/src/views/custom-hooper.css
  kolibri/plugins/slideshow_render/assets/test/utils.spec.js
  kolibri/plugins/slideshow_render/content_types.json
  kolibri/plugins/slideshow_render/kolibri_plugin.py
  kolibri/plugins/slideshow_render/package.json
  kolibri/utils/conf.py
  requirements/base.txt
  yarn.lock
Labels: TODO: needs gherkin update, TODO: needs review, TODO: needs user docs, changelog

#5751 Add pagination to manage permissions page, make unified pagination component
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/plugins/device_management/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/device_management/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/index.vue
Labels: TODO: needs review, changelog

#5842 Add colors section to design system
  kolibri/core/assets/src/styles/globalDynamicStyles.js
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/views/AppError/TechnicalTextBlock.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/KNavbar/KNavbarLink.vue
  kolibri/core/assets/src/views/ProgressBar.vue
  kolibri/core/assets/src/views/buttons-and-links/buttonMixin.js
  kolibri/plugins/base.py
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/HeaderTab.vue
  kolibri/plugins/coach/assets/src/views/common/status/ProgressSummaryBar.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/QuestionList.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/document_epub_render/assets/src/views/BottomBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubConstants.js
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/SideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/TopBar.vue
  kolibri/plugins/html5_app_renderer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/Snackbar.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/style_guide/assets/src/app.js
  kolibri/plugins/style_guide/assets/src/routes.js
  kolibri/plugins/style_guide/assets/src/scrolling.js
  kolibri/plugins/style_guide/assets/src/state.js
  kolibri/plugins/style_guide/assets/src/views/StyleGuideIndex.vue
  kolibri/plugins/style_guide/assets/src/views/content/Colors/ColorBlock.vue
  kolibri/plugins/style_guide/assets/src/views/content/Colors/index.vue
  kolibri/plugins/style_guide/assets/src/views/content/Inclusive.vue
  kolibri/plugins/style_guide/assets/src/views/content/Writing.vue
  kolibri/plugins/style_guide/assets/src/views/navWidth.js
  kolibri/plugins/style_guide/assets/src/views/shell/PageTemplate/Header.vue
  kolibri/plugins/style_guide/assets/src/views/shell/PageTemplate/PageSection.vue
  kolibri/plugins/style_guide/assets/src/views/shell/PageTemplate/SectionLink.vue
  kolibri/plugins/style_guide/assets/src/views/shell/PageTemplate/link.svg
  kolibri/plugins/style_guide/assets/src/views/shell/SideNav.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TAG: design system, TODO: needs review

#5848 Customizable anonymous users
  kolibri/core/auth/api.py
  kolibri/core/auth/middleware.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_middleware.py
  kolibri/deployment/default/settings/base.py
Labels: TODO: needs review

#5839 Add skip navigation link to Core Base (App Bar)
  integration_testing/features/common/ORDER.txt
  integration_testing/features/common/skip-navigation-link.feature
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/SkipNavigationLink.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/src/views/classes/classesBreadcrumbItems.js
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, changelog

#5850 Always pass get params in requests
  kolibri/core/assets/src/api-resource.js
Labels: TODO: needs review

#5494 Migrate CLI to Click, add Version Upgrade Logic
  docs/backend_architecture/upgrade.rst
  docs/getting_started.rst
  kolibri/core/analytics/api.py
  kolibri/core/analytics/utils.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_enumerate_channel.py
  kolibri/core/content/test/test_upgrade.py
  kolibri/core/content/upgrade.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/logger/utils/formatter.py
  kolibri/core/logger/utils/handler.py
  kolibri/core/test/test_upgrade.py
  kolibri/core/upgrade.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/registry.py
  kolibri/plugins/utils/__init__.py
  kolibri/utils/cli.py
  kolibri/utils/conf.py
  kolibri/utils/logger.py
  kolibri/utils/options.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_cli.py
  kolibri/utils/tests/test_handler.py
  kolibri/utils/tests/test_sanity_check.py
  kolibri/utils/version.py
  package.json
  requirements/base.txt
Labels: TAG: developer docs, TODO: needs review, TODO: needs user docs

#5856 Upgrade Django to 1.11.23
  requirements/base.txt
Labels: TODO: needs review

#5858 Fix key error
  kolibri/core/notifications/api.py
Labels: TODO: needs review

#5861 Fix Sign Up API when non-default facility is selected
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/timer.js
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
  kolibri/plugins/user/assets/src/apiResource.js
  kolibri/plugins/user/assets/src/modules/signUp/actions.js
  kolibri/plugins/user/assets/src/views/SignInPage/FacilityModal.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
Labels: changelog

#5863 Update skipupdate references to skip-update.
  kolibri/utils/tests/test_handler.py
  package.json
Labels: TODO: needs review

#5844 Create a Gherkin stories for the internationalized Kolibri Windows install/uninstall
  integration_testing/features/super-admin/ORDER.txt
  integration_testing/features/super-admin/super-admin-windows-installer-translated-strings.feature
Labels: TODO: needs review

#5874 Focus on username/full name fields after dismissing FacilityModal
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: TODO: needs review

#5872 Update kolibri-tools for external plugin building.
  kolibri/core/package.json
  package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/.npmignore
  packages/kolibri-tools/lib/read_webpack_json.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/lib/webpack_json.py
  packages/kolibri-tools/package.json
  packages/kolibri-tools/test/test_webpack.config.base.spec.js
  requirements/base.txt
Labels: TODO: needs review

#5859 Check kolibri user only when running Debian installer
  kolibri/utils/cli.py
  kolibri/utils/debian_check.py
Labels: TODO: needs review

#5790 Warn about unused translation strings during frontend-lint
  packages/eslint-plugin-kolibri/lib/constants.js
  packages/eslint-plugin-kolibri/lib/rules/vue-no-unused-translations.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-unused-translations.spec.js
  packages/kolibri-tools/lib/ProfileStrings.js
Labels: TODO: needs review

#5879 explicitly set liveReload on webpack devserver
  packages/kolibri-tools/lib/webpackdevserver.js
Labels: TODO: needs review

#5878 Merge 0.12.8 into Develop
  CHANGELOG.md
  integration_testing/features/super-admin/ORDER.txt
  integration_testing/features/super-admin/super-admin-windows-installer-translated-strings.feature
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/auth/api.py
  kolibri/core/auth/middleware.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_middleware.py
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/views.py
  kolibri/core/notifications/api.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/PersonalDataConsentForm.vue
  kolibri/plugins/user/assets/src/apiResource.js
  kolibri/plugins/user/assets/src/modules/signUp/actions.js
  kolibri/plugins/user/assets/src/views/SignInPage/FacilityModal.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
  packages/hashi/src/replaceScript.js
  requirements/base.txt
Labels: TODO: needs review

#5883 Ensure correct imports in the default frontend entry point.
  kolibri/core/assets/src/core-app/index.js
Labels: TODO: needs review

#5888 Bootstrap 0.13 changelog
  CHANGELOG.md
Labels: TAG: developer docs, TODO: needs review

#5895 Adding gherking stories to test kolibri-server package
  integration_testing/features/ORDER.txt
  integration_testing/features/debian/ORDER.txt
  integration_testing/features/debian/kolibri-server-change-port.feature
  integration_testing/features/debian/kolibri-server-handle-multiple-args-in-url.feature
  integration_testing/features/debian/kolibri-server-show-file-streams.feature
  integration_testing/features/debian/kolibri-server-stop.feature
  integration_testing/features/debian/kolibri-server-uninstall.feature
Labels: DEV: distributions, TODO: needs review
