Repository learningequality/kolibri, pull requests merged in 2019-12, with the labels that each got.

#6163 Fix incomplete content status
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review

#6147 Exportable coach reports and accompanying updates
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/coach/assets/src/csv/exporter.js
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/coach/assets/src/safeFilename.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/BackLink.vue
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/index.vue
  kolibri/plugins/coach/assets/src/views/common/HeaderWithOptions.vue
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/status/statusStrings.js
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/LessonOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/QuizOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourcesStats.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/coach/package.json
  packages/kolibri-components/src/KThemePlugin.js
  packages/kolibri-components/src/buttons-and-links/buttonMixin.js
  yarn.lock
Labels: TODO: needs review, changelog

#6191 Set collection_kind not collection__kind on lesson assignments.
  kolibri/core/lessons/viewsets.py
Labels: TODO: needs review

#6133 Remove language cookie
  kolibri/core/assets/src/core-app/baseClient.js
  kolibri/core/device/test/test_locale_middleware.py
  kolibri/core/device/translation.py
  kolibri/core/test/test_key_urls.py
  kolibri/core/test/test_setlanguage.py
  kolibri/core/views.py
  kolibri/deployment/default/settings/base.py
Labels: TODO: needs review

#6152 import into default db only when upgrading
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/upgrade.py
  kolibri/core/tasks/api.py
Labels: TODO: needs review

#6194 Execute deletion within the session
  kolibri/core/content/utils/channel_import.py
Labels: TODO: needs review

#6193 add configurable sidenav header text
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/plugins/default_theme/kolibri_plugin.py
Labels: TODO: needs review

#6200 leave order as set by coach
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
Labels: TODO: needs review

#6198 set file total_size when file is compressed
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/utils/transfer.py
Labels: TODO: needs review

#6195 Parallel task execution for UI blocking tasks
  kolibri/core/analytics/utils.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/deviceadmin/utils.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/utils.py
  kolibri/deployment/default/cache.py
  kolibri/utils/server.py
Labels: TODO: needs review

#6199 Change recommended back to resume
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/RecommendedPage.vue
  kolibri/plugins/learn/assets/src/views/RecommendedSubpage.vue
  kolibri/plugins/learn/assets/src/views/learnIndexStrings.js
Labels: TODO: needs review

#6202 Only display invalid text if user changes input value
  packages/kolibri-components/src/KTextbox/index.vue
Labels: TODO: needs review

#6203 Order quiz and lessons by date created
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleServerResponse.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/summary.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review, changelog

#6186 Update coach Gherkins with 0.13 changes
  integration_testing/features/coach/ORDER.txt
  integration_testing/features/coach/coach-activate-lesson.feature
  integration_testing/features/coach/coach-activate-quiz.feature
  integration_testing/features/coach/coach-assign-learners-groups.feature
  integration_testing/features/coach/coach-change-profile-information.feature
  integration_testing/features/coach/coach-class-home.feature
  integration_testing/features/coach/coach-class-plan.feature
  integration_testing/features/coach/coach-class-reports-lessons.feature
  integration_testing/features/coach/coach-copy-lesson.feature
  integration_testing/features/coach/coach-copy-quiz.feature
  integration_testing/features/coach/coach-create-group.feature
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-create-quiz.feature
  integration_testing/features/coach/coach-delete-group.feature
  integration_testing/features/coach/coach-edit-lesson-details.feature
  integration_testing/features/coach/coach-edit-lesson-from-report.feature
  integration_testing/features/coach/coach-edit-quiz-from-report.feature
  integration_testing/features/coach/coach-edit-quiz.feature
  integration_testing/features/coach/coach-lesson-difficult-questions.feature
  integration_testing/features/coach/coach-lesson-manage-resources.feature
  integration_testing/features/coach/coach-lesson-remove-resources.feature
  integration_testing/features/coach/coach-lesson-reorder-resources.feature
  integration_testing/features/coach/coach-lesson-search-resources.feature
  integration_testing/features/coach/coach-make-lesson-visible.feature
  integration_testing/features/coach/coach-non-lesson-quiz-resource-notifications.feature
  integration_testing/features/coach/coach-notified-learner-needs-help.feature
  integration_testing/features/coach/coach-print-reports.feature
  integration_testing/features/coach/coach-quiz-difficult-questions.feature
  integration_testing/features/coach/coach-start-end-quiz.feature
  integration_testing/features/coach/coach-track-lesson-groups-notifications.feature
  integration_testing/features/coach/coach-track-lesson-notifications.feature
  integration_testing/features/coach/coach-track-lesson-progress.feature
  integration_testing/features/coach/coach-track-quiz-groups-notifications.feature
  integration_testing/features/coach/coach-track-quiz-notifications.feature
  integration_testing/features/coach/coach-track-quiz-progress.feature
Labels: TODO: needs review

#6206 Copy userSearchUtils to coach
  kolibri/plugins/coach/assets/src/userSearchUtils.js
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
Labels: TODO: needs review

#6214 check log location only when version<0.12.4
  kolibri/utils/sanity_checks.py
Labels: TODO: needs review

#6215 Slideshow Button Outline Fix
  kolibri/plugins/slideshow_viewer/assets/src/views/custom-hooper.css
Labels: TODO: needs review

#6217 Add UI for viewing resource-changes statistics when upgrading, plus other fixes
  kolibri/core/content/api.py
  kolibri/core/content/utils/upgrade.py
  kolibri/core/tasks/api.py
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/modules/wizard/actions/availableChannelsActions.js
  kolibri/plugins/device/assets/src/modules/wizard/apiPeerImport.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/routes/wizardTransitionRoutes.js
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/BottomBar/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionBanner.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectDriveModal.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TaskProgress.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/manageContentLinks.js
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/treeViewUtils.js
  kolibri/plugins/device/assets/src/views/taskNotificationMixin.js
  kolibri/plugins/device/assets/test/treeViewUtils.spec.js
  kolibri/plugins/device/assets/test/views/AvailableChannelsPage.spec.js
  packages/kolibri-components/src/KModal.vue
Labels: TODO: needs review, changelog

#6225 Validate upon focusing as well as modification
  packages/kolibri-components/src/KTextbox/index.vue
Labels: TODO: needs review

#6149 Assign quizzes to individual learners
  integration_testing/features/coach/coach-edit-quiz.feature
  kolibri/core/assets/src/api-resources/adHocLearnersGroup.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/auth/constants/collection_kinds.py
  kolibri/core/auth/migrations/0015_facilitydataset_registered.py
  kolibri/core/auth/migrations/0016_add_adhoclearnersgroup_collection_kind.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/upgrade.py
  kolibri/core/device/utils.py
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/adHocLearners/actions.js
  kolibri/plugins/coach/assets/src/modules/adHocLearners/index.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleServerResponse.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState2.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizEditDetailsPage.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs gherkin update, TODO: needs review, TODO: needs user docs, changelog

#6235 Update facility admin Gherkin scenarios with 0.13 changes
  integration_testing/features/admin/admin-change-language.feature
  integration_testing/features/admin/admin-change-profile-information.feature
  integration_testing/features/admin/admin-create-class.feature
  integration_testing/features/admin/admin-create-users.feature
  integration_testing/features/admin/admin-delete-user.feature
  integration_testing/features/admin/admin-edit-user.feature
  integration_testing/features/admin/admin-enroll-assign-users.feature
  integration_testing/features/admin/admin-export-data.feature
  integration_testing/features/admin/admin-find-user.feature
Labels: TODO: needs review

#6233 Hide coach user filters
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs gherkin update, TODO: needs review

#6232 Use io.open instead of open in Crowdin CSV handling
  build_tools/i18n/crowdin.py
Labels: TODO: needs review

#6137 content -> resource (develop branch)
  kolibri/core/content/api.py
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
Labels: TAG: user strings

#6207 Updated peer discovery functionality
  integration_testing/features/super-admin/super-admin-adding-a-new-network-address.feature
  integration_testing/features/super-admin/super-admin-auto-discovering-new-network-addresses.feature
  integration_testing/features/super-admin/super-admin-forgetting-a-manually-added-address.feature
  integration_testing/features/super-admin/super-admin-no-peers-automatically-found-when-no-peers-around.feature
  kolibri/core/discovery/api.py
  kolibri/core/discovery/api_urls.py
  kolibri/core/discovery/migrations/0002_general_network_location_data_structure.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/discovery/test/test_connection_check.py
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/discovery/utils/network/search.py
  kolibri/core/public/api.py
  kolibri/core/public/utils.py
  kolibri/core/test/test_nothing.py
  kolibri/core/utils/cache.py
  kolibri/core/utils/nothing.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/dev.py
  kolibri/plugins/device/assets/src/apiResources.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/AddAddressForm.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/SelectAddressForm.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectNetworkAddressModal.spec.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/api.js
  kolibri/utils/cli.py
  kolibri/utils/server.py
  package.json
Labels: TODO: needs review, changelog

#6253 Revert "check log location only when version<0.12.4"
  kolibri/utils/sanity_checks.py
Labels: P0 - critical, TODO: needs review

#6254 Make json load error handling py2/3 compatible.
  kolibri/plugins/__init__.py
Labels: P0 - critical, TODO: needs review

#6234 Correctly calculate new resources for import
  kolibri/core/content/utils/upgrade.py
Labels: TODO: needs review

#6236 Fix permissions issue - rename to ADHOCLEARNERSGROUP
  kolibri/core/auth/constants/collection_kinds.py
  kolibri/core/auth/migrations/0016_add_adhoclearnersgroup_collection_kind.py
  kolibri/core/auth/models.py
  kolibri/core/auth/permissions/auth.py
Labels: TODO: needs review

#6269 Update zeroconf for enum vendoring.
  requirements/base.txt
Labels: TODO: needs review

#6271 fix up layout for import
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectionBottomBar.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
Labels: TODO: needs review

#6263 conditionally show plus, minus, and info
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
Labels: TODO: needs review

#6249 Options -> Manage
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithSizeAndOptions.vue
Labels: TODO: needs review

#6257 Various changes
  kolibri/core/assets/src/views/CoachContentLabel.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonExerciseLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsResourceLearners.spec.js.snap
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/SelectAddressForm.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/test/views/AvailableChannelsPage.spec.js
  packages/kolibri-components/src/KLabeledIcon.vue
Labels: TODO: needs review

#6281 Make objects that access the database lazy to prevent DB access only during import
  kolibri/core/tasks/main.py
  kolibri/utils/tests/test_cli_at_import.py
Labels: TODO: needs review

#6291 Fix transcript wrap in RTL
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: TODO: needs review

#6278 add content height style and fix jitter bug
  packages/kolibri-components/src/KModal.vue
Labels: changelog

#6208 Updates to device settings (moves guest access setting, adds settings for landing page and learner resource access and more)
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/constants/facility_configuration_presets.json
  kolibri/core/auth/migrations/0017_remove_facilitydataset_allow_guest_access.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/migrations/0016_auto_20190124_1639.py
  kolibri/core/content/migrations/0024_channelmetadata_public.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/migrations/0005_auto_20191203_0951.py
  kolibri/core/device/models.py
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/utils.py
  kolibri/core/public/api.py
  kolibri/core/public/test/test_api.py
  kolibri/core/views.py
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/api.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/test/state/facilityConfig.spec.js
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/modules/classes/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GuestAccessForm.vue
  kolibri/plugins/setup_wizard/assets/test/views/GuestAccessForm.spec.js
  kolibri/plugins/setup_wizard/assets/test/views/SetupWizardIndex.spec.js
  kolibri/plugins/user/kolibri_plugin.py
Labels: TODO: needs review, changelog

#6283 Assign Lessons to Individual Learners + Recipient Bug Fixes
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-edit-lesson-details.feature
  kolibri/core/assets/src/constants.js
  kolibri/plugins/coach/assets/src/constants/lessonsConstants.js
  kolibri/plugins/coach/assets/src/modules/adHocLearners/actions.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState.js
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/sampleState2.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonCreationPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonEditDetailsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizEditDetailsPage.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/test/views/AssignmentDetailsModal.spec.js
Labels: TODO: needs review, changelog

#6204 Update super admin Gherkins with 0.13 changes
  integration_testing/features/super-admin/ORDER.txt
  integration_testing/features/super-admin/super-admin-adding-a-new-network-address.feature
  integration_testing/features/super-admin/super-admin-auto-discovering-new-network-addresses.feature
  integration_testing/features/super-admin/super-admin-cancel-import-channel.feature
  integration_testing/features/super-admin/super-admin-change-facility-settings.feature
  integration_testing/features/super-admin/super-admin-change-language.feature
  integration_testing/features/super-admin/super-admin-change-profile-information.feature
  integration_testing/features/super-admin/super-admin-create-class.feature
  integration_testing/features/super-admin/super-admin-create-users.feature
  integration_testing/features/super-admin/super-admin-delete-channel.feature
  integration_testing/features/super-admin/super-admin-delete-user.feature
  integration_testing/features/super-admin/super-admin-downgrade-from-super-content-import-permission.feature
  integration_testing/features/super-admin/super-admin-edit-channel-order.feature
  integration_testing/features/super-admin/super-admin-edit-user.feature
  integration_testing/features/super-admin/super-admin-enroll-assign-users.feature
  integration_testing/features/super-admin/super-admin-export-content-to-local-drive.feature
  integration_testing/features/super-admin/super-admin-find-user.feature
  integration_testing/features/super-admin/super-admin-forgetting-a-manually-added-address.feature
  integration_testing/features/super-admin/super-admin-grant-content-import-permissions.feature
  integration_testing/features/super-admin/super-admin-grant-super-admin-permissions.feature
  integration_testing/features/super-admin/super-admin-hard-delete-user.feature
  integration_testing/features/super-admin/super-admin-import-more-from-content-channel.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-local-drive.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-studio-token-id.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-from-studio.feature
  integration_testing/features/super-admin/super-admin-import-new-content-channel-with-token.feature
  integration_testing/features/super-admin/super-admin-manage-import-network-addresses.feature
  integration_testing/features/super-admin/super-admin-manage-user-permissions.feature
  integration_testing/features/super-admin/super-admin-no-peers-automatically-found-when-no-peers-around.feature
  integration_testing/features/super-admin/super-admin-profile-command.feature
  integration_testing/features/super-admin/super-admin-revoke-super-admin-permissions.feature
  integration_testing/features/super-admin/super-admin-select-import-content-location.feature
  integration_testing/features/super-admin/super-admin-set-kolibri-port.feature
  integration_testing/features/super-admin/super-admin-setup-wizard.feature
  integration_testing/features/super-admin/super-admin-switch-between-import-channels-or-resources.feature
  integration_testing/features/super-admin/super-admin-update-channel-import-more.feature
  integration_testing/features/super-admin/super-admin-windows-installer-setup-error-log.feature
  integration_testing/features/super-admin/super-admin-windows-installer-translated-strings.feature
Labels: TODO: needs review

#6299 Don't try to run upgrades on a non-existent plugin.
  kolibri/plugins/utils/__init__.py
Labels: TODO: needs review

#6286 Turn services handling into a cherrypy plugin to prevent zombie processes
  kolibri/core/tasks/scheduler.py
  kolibri/utils/cli.py
  kolibri/utils/server.py
Labels: TODO: needs review

#6292 closing db connections after the info is retrieved
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/search.py
  kolibri/core/public/test/test_api.py
  kolibri/core/public/utils.py
  kolibri/core/tasks/job.py
  kolibri/core/test/test_key_urls.py
  kolibri/utils/server.py
Labels: P1 - important, TODO: needs review

#6302 New gherkin stories for new 0.13 device settings
  integration_testing/features/super-admin/super-admin-change-device-settings.feature
  integration_testing/features/super-admin/super-admin-change-peer-unlisted-import.feature
Labels: TODO: needs review

#6293 peer discovery: UI cleanup
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/SelectAddressForm.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
Labels: P1 - important, TODO: needs review

#6297 use page container in setup wizard
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
Labels: TODO: needs review

#6300 Fixes for issues in 0.13 beta5
  kolibri/core/tasks/api.py
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/modules/wizard/actions/availableChannelsActions.js
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectDriveModal.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/TaskPanel.spec.js
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device/assets/test/views/SelectDriveModal.spec.js
  packages/kolibri-components/src/KModal.vue
Labels: TODO: needs review

#6270 Disable the download button when running in the app on Mac…
  kolibri/core/assets/src/utils/browser.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review

#6290 Update file name for perseus JSON translations
  docs/release_process.rst
Labels: TAG: developer docs, TODO: needs review

#6309 Report as Kolibri app server when running from within an app.
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
Labels: TODO: needs review

#6289 i18n-update properly converts downloaded CSV to JSON
  build_tools/i18n/crowdin.py
Labels: TODO: needs review

#6310 Automated pi builds
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
Labels: TODO: needs review

#6348 Give the `KModal` fade transition a more specific name.
  packages/kolibri-components/src/KModal.vue
Labels: TODO: needs review

#6333 Fixes command line import without node_id and exclude_node_id args.
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
Labels: TODO: needs review

#6337 remove text and increase size of spinner
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/SelectAddressForm.vue
Labels: TODO: needs review

#6313 don't allow scroll position to be negative
  kolibri/core/assets/src/views/CoreBase/ScrollingHeader.vue
Labels: TODO: needs review

#6321 learner quiz view updates
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review

#6279 Ensure startup/provision/shutdown don't leave zombie Kolibris behind
  .travis.yml
  test/do_mock_provisioning.py
  test/ensure_no_kolibris_running_on_port.sh
  tox.ini
Labels: P0 - critical, TODO: needs review

#6308 Don't try to run git commands when running from inside the app.
  kolibri/utils/version.py
Labels: TODO: needs review

#6352 Always disable CSV download button in the app…
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Labels: TODO: needs review

#6332 update channel diff header nesting, layout, and loading behavior
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
Labels: TODO: needs review

#6356 Don't show the export panel if export is not possible.
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: TODO: needs review

#6306 Remove unnecessary special handling for internal plugin upgrades.
  kolibri/plugins/registry.py
Labels: TODO: needs review

#6315 Button alignment
  packages/kolibri-components/src/buttons-and-links/buttons.scss
Labels: TODO: needs review

#6367 Fixing broken points icon
  kolibri/plugins/learn/assets/src/views/TotalPoints.vue
Labels: DEV: frontend, P0 - critical, TODO: needs review

#6355 Only auto-delete individual tasks when they finish
  kolibri/core/content/serializers.py
  kolibri/plugins/device/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/modules/wizard/actions/selectContentActions.js
  kolibri/plugins/device/assets/src/modules/wizard/utils.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithSizeAndOptions.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
Labels: TODO: needs review

#6360 Only handle signals propagating from the current process in cherrypy
  kolibri/utils/server.py
Labels: TODO: needs review

#6347 Fixes for Assigning Individual Learners
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
Labels: TODO: needs review

#6329 add missing info icon
  kolibri/plugins/coach/assets/src/views/common/AverageScoreTooltip.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
Labels: TODO: needs review

#6320 more button alignment
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review

#6371 Close video.js menu on click away
  kolibri/plugins/media_player/assets/src/mixins/videojsButtonMixin.js
  kolibri/plugins/media_player/assets/src/mixins/videojsMenuVueMixin.js
Labels: TODO: needs review

#6385 Copy with Individual Learners
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ManageLessonModals.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/ManageExamModals.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/test/views/AssignmentCopyModal.spec.js
Labels: TODO: needs review

#6389 Fix button alignment in Quiz Creation
  packages/kolibri-components/src/buttons-and-links/buttons.scss
Labels: TODO: needs review

#6386 Pass AssignmentDetailsModal specs
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/test/views/AssignmentDetailsModal.spec.js
Labels: TODO: needs review

#6373 Fix passing id instead of task, and other cleanup
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
Labels: TODO: needs review

#6362 Pin pickle protocol to 2 for 2/3 compatibility.
  kolibri/core/tasks/scheduler.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/utils.py
  kolibri/deployment/default/cache.py
  kolibri/utils/options.py
Labels: TODO: needs review

#6382 latest i18n files
  kolibri/core/static/assets/fonts/noto-common.css
  kolibri/core/static/assets/fonts/noto-subset.ach-ug.css
  kolibri/core/static/assets/fonts/noto-subset.ar.css
  kolibri/core/static/assets/fonts/noto-subset.bg-bg.css
  kolibri/core/static/assets/fonts/noto-subset.bn-bd.css
  kolibri/core/static/assets/fonts/noto-subset.en.css
  kolibri/core/static/assets/fonts/noto-subset.es-419.css
  kolibri/core/static/assets/fonts/noto-subset.es-es.css
  kolibri/core/static/assets/fonts/noto-subset.fa.css
  kolibri/core/static/assets/fonts/noto-subset.ff-cm.css
  kolibri/core/static/assets/fonts/noto-subset.fr-fr.css
  kolibri/core/static/assets/fonts/noto-subset.gu-in.css
  kolibri/core/static/assets/fonts/noto-subset.hi-in.css
  kolibri/core/static/assets/fonts/noto-subset.ko.css
  kolibri/core/static/assets/fonts/noto-subset.mr.css
  kolibri/core/static/assets/fonts/noto-subset.my.css
  kolibri/core/static/assets/fonts/noto-subset.nyn.css
  kolibri/core/static/assets/fonts/noto-subset.pt-br.css
  kolibri/core/static/assets/fonts/noto-subset.sw-tz.css
  kolibri/core/static/assets/fonts/noto-subset.te.css
  kolibri/core/static/assets/fonts/noto-subset.ur-pk.css
  kolibri/core/static/assets/fonts/noto-subset.vi.css
  kolibri/core/static/assets/fonts/noto-subset.yo.css
  kolibri/locale/es_419/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.media_player.main-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
Labels: TODO: needs review

#6380 Cancel all background tasks on shutdown
  kolibri/core/tasks/job.py
  kolibri/core/tasks/worker.py
  kolibri/core/urls.py
  kolibri/core/views.py
  kolibri/utils/server.py
  kolibri/utils/system.py
Labels: TODO: needs review

#6377 Replace "x of y" selected messages with "all/some" selected messages in channel content viewer
  kolibri/plugins/coach/assets/src/constants/lessonsConstants.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRouterUtils.js
  kolibri/plugins/device/assets/src/views/SelectContentPage/treeViewUtils.js
  kolibri/plugins/device/assets/test/treeViewUtils.spec.js
Labels: TODO: needs review

#6370 Ensure adhocgroup is managed in notifications
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/constants/lessonsConstants.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/gettersUtils.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
Labels: TODO: needs review

#6305 send demographic data in pingback
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
  kolibri/core/logger/utils/user_data.py
Labels: TODO: needs review

#6392 try to make the zombie test a little easier
  .travis.yml
  test/do_mock_provisioning.py
  tox.ini
Labels: P0 - critical, TODO: needs review

#6396 Inilne style z-index magic number to avoid perseus overlay
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
Labels: TODO: needs review

#6394 only update if order is defined
  kolibri/core/content/signals.py
Labels: TODO: needs review

#6391 In TaskBar, count clearable tasks as "done" and make label consistent with progress bar
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
Labels: TODO: needs review

#6399 Update perseus to latest.
  requirements/base.txt
Labels: TODO: needs review

#6378 Ensures against MAX SQLITE variables errors in most problematic potential places
  kolibri/core/auth/api.py
  kolibri/core/content/api.py
  kolibri/core/content/models.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/mixins.py
  kolibri/core/public/api.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/device/api.py
Labels: TODO: needs review

#6398 Upgrade le-utils to 0.1.24
  kolibri/core/content/migrations/0025_add_h5p_kind.py
  requirements/base.txt
Labels: TODO: needs review

#6401 Zeroconf tweaks and error handling
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/search.py
Labels: TODO: needs review

#6406 Only show cancel button when tasks are cancellable.
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
Labels: TODO: needs review

#6410 set Windows installer to 1.3.5
  docker/env.list
Labels: TODO: needs review

#6412 Check status before writing startup lock to prevent false negatives.
  kolibri/utils/cli.py
Labels: TODO: needs review

#6415 fixes related to reverse-order layout
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review

#6418 Hide individual learners until 0.13.1
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
Labels: TODO: needs review

#6414 Preserve pigen image and container
  Makefile
Labels: TODO: needs review
