Repository learningequality/kolibri, pull requests merged in 2019-03, with the labels that each got.

#5218 remove instructions that made corruption worse not better
  kolibri/utils/cli.py
Labels: TODO: needs review

#5220 Fix quiz question detail views.
  kolibri/plugins/coach/assets/src/modules/questionDetail/actions.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/views/common/QuestionLearnersReport.vue
Labels: TODO: needs review

#5215 Update exercise learner progress in line with notifications
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
Labels: TODO: needs review

#4828 Upgrade notification gherkin story
  integration_testing/features/super-admin/super-admin-upgrade-notification.feature
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TODO: needs review

#5222 Use FacilityUser instead of AUTH_USER_MODEL in migrations
  kolibri/core/auth/migrations/0009_auto_20180301_1123.py
  kolibri/core/device/migrations/0001_initial.py
  kolibri/core/lessons/migrations/0001_initial.py
Labels: TODO: needs review

#5155 Prevent Epub top bar floating over app bar
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubStyles.scss
  kolibri/plugins/document_epub_render/assets/src/views/TopBar.vue
Labels: TODO: needs review

#5224 Move async notifications thread invocation into server start.
  kolibri/core/notifications/apps.py
  kolibri/utils/server.py
Labels: TODO: needs review

#5233 Facility and User page fixes
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device_management/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: TODO: needs review

#5226 Fix data folder not recognized in external drive list
  kolibri/core/discovery/test/dummydata/linux_data.py
  kolibri/core/discovery/test/dummydata/osx_data.py
  kolibri/core/discovery/test/dummydata/windows_data.py
  kolibri/core/discovery/test/test_filesystem_utils.py
  kolibri/core/discovery/utils/filesystem/__init__.py
Labels: TODO: needs review

#5234 Update perseus
  requirements/base.txt
Labels: TODO: needs review

#5235 Prevent empty lessons from being shown as anything but 'not started'.
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
Labels: TODO: needs review

#5236 Remove extra debugging logs.
  kolibri/core/notifications/tasks.py
Labels: TODO: needs review

#5246 Make device settings language have more impact.
  kolibri/core/content/test/test_content_app.py
  kolibri/core/device/migrations/0004_auto_20190306_0553.py
  kolibri/core/device/models.py
  kolibri/core/device/translation.py
Labels: TODO: needs review

#5249 Fix African Storybook by ensuring Hashi runs body.onload handlers
  packages/hashi/src/loadCurrentPage.js
Labels: TODO: needs review

#5254 Don't try to translate messages in the module closure.
  kolibri/core/assets/src/utils/i18n.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
Labels: TODO: needs review

#5248 Use Vue observable for state that does not need to be vuex
  kolibri/core/assets/src/core-app/vuexModality.js
  kolibri/core/assets/src/mixins/theme.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/theme.js
  kolibri/core/assets/src/styles/globalDynamicStyles.js
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/views/ColourPicker.vue
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#5238 Notifications async thread is launched on demand
  kolibri/core/notifications/tasks.py
  kolibri/utils/server.py
Labels: TODO: needs review

#5260 Add Object.values shim to Hashi.
  packages/hashi/package.json
  packages/hashi/src/baseShim.js
Labels: TODO: needs review

#5272 Make Hashi compatible with IE11 and up
  kolibri/core/assets/src/views/CoreBase/index.vue
  packages/hashi/compat.js
  packages/hashi/package.json
  packages/hashi/src/baseShim.js
  packages/hashi/src/compat.js
  packages/hashi/src/iframe.js
  packages/hashi/src/iframeClient.js
  yarn.lock
Labels: TODO: needs review

#5274 Multiple assignments
  kolibri/plugins/learn/serializers.py
  kolibri/plugins/learn/test/test_learner_lesson.py
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#5270 Add blob protocol data to the list of allowed sandbox permissions.
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/views.py
Labels: TODO: needs review

#5276 Don't redirect the zip content endpoint.
  kolibri/core/content/views.py
Labels: TODO: needs review

#5275 Format microseconds correctly when profiling
  kolibri/core/analytics/management/commands/profile.py
  kolibri/core/analytics/middleware.py
Labels: TODO: needs review

#5279 Adjust toolbar icon and title spacing
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/KeenUiToolbar.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/views/__snapshots__/side-nav.spec.js.snap
  kolibri/plugins/setup_wizard/assets/src/views/ProgressToolbar.vue
Labels: TODO: needs review

#5251 New Feature - Change the default language in DeviceSettings model
  CHANGELOG.rst
  kolibri/core/assets/src/views/KSelect/index.vue
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/plugins/device_management/assets/src/constants.js
  kolibri/plugins/device_management/assets/src/routes/index.js
  kolibri/plugins/device_management/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device_management/assets/src/views/DeviceSettingsPage/api.js
  kolibri/plugins/device_management/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device_management/assets/src/views/DeviceTopNav.vue
Labels: TODO: needs review

#5287 Remove obsolete code related to app bar title icon
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/test/views/__snapshots__/app-bar.spec.js.snap
Labels: TODO: needs review

#5288 Fix HTML5 Rendering issues
  kolibri/plugins/html5_app_renderer/assets/src/views/Html5AppRendererIndex.vue
  packages/hashi/src/iframe.js
  packages/hashi/src/loadCurrentPage.js
  packages/hashi/src/replaceScript.js
  packages/hashi/test/loadCurrentPage.spec.js
Labels: TODO: needs review

#5291 proper RTL-alignment of labeled icons
  kolibri/core/assets/src/views/icons/KLabeledIcon.vue
Labels: TODO: needs review, changelog

#5267 Localize the File Download button underneath Resources
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/utils/__test__/bytesForHumans.spec.js
  kolibri/core/assets/src/utils/bytesForHumans.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/core/assets/src/views/ContentRenderer/filePresetStrings.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/device_management/assets/src/modules/deviceInfo/handlers.js
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/SelectedResourcesSize.vue
  yarn.lock
Labels: TODO: needs review

#5298 Fix question numbering errors on exercise detail reports and question detail reports
  kolibri/core/assets/src/api-resource.js
Labels: TODO: needs review

#5293 Add tests and behaviour for unsetting the language.
  kolibri/core/test/test_setlanguage.py
  kolibri/core/views.py
Labels: TODO: needs review

#5299 [kolibri-tools] make vue-template-compiler a peer dependency
  packages/kolibri-tools/package.json
Labels: TODO: needs review

#5303 Format microseconds correctly when profiling
  kolibri/core/analytics/management/commands/profile.py
  kolibri/core/analytics/middleware.py
Labels: TODO: needs review

#5296 Calculate CherryPy default thread pool depending on the server memory
  kolibri/utils/options.py
Labels: TODO: needs review

#5241 Simplify interface for createSnackbar action + bug fixes
  kolibri/core/assets/src/disconnection.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/snackbar.js
  kolibri/core/assets/src/views/AppError/TechnicalTextBlock.vue
  kolibri/core/assets/src/views/KTextbox/index.vue
  kolibri/core/assets/src/views/kSortable/KDragContainer.vue
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examReport/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/SelectNetworkAddressModal/index.vue
  kolibri/plugins/device_management/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/user/assets/src/modules/profile/actions.js
  kolibri/plugins/user/assets/src/modules/signIn/handlers.js
Labels: TODO: needs review

#5310 Update unit tests info in getting started docs
  docs/getting_started.rst
Labels: TAG: developer docs, TODO: needs review

#5302 Handle max question problems in quiz creation
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examCreation/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: TODO: needs review

#5308 Class summary permissions
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/helpers.py
  kolibri/plugins/coach/test/test_class_summary.py
  kolibri/plugins/coach/test/test_classroom_notifications.py
  kolibri/plugins/coach/test/test_difficult_questions.py
  kolibri/plugins/coach/test/test_lesson_report.py
Labels: TODO: needs review

#5312 Anchor ancestor collection to the lesson assignment collection
  kolibri/plugins/learn/serializers.py
  kolibri/plugins/learn/test/test_learner_classroom.py
Labels: TODO: needs review

#5314 Fix buildkite docker image cache error
  docker/build_debian.dockerfile
  docker/build_windows.dockerfile
Labels: TODO: needs review

#5315 Update perseus renderer to 1.1.5 for Gujarati
  requirements/base.txt
Labels: TODO: needs review

#5306 Limit threads to 50 to 100 range.
  kolibri/utils/options.py
Labels: TODO: needs review

#5261 Layout changes for the ContentPage in Learn pages
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/index.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/RecommendedPage.vue
  kolibri/plugins/learn/assets/src/views/RecommendedSubpage.vue
  kolibri/plugins/learn/assets/src/views/SearchPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonResourceViewer.vue
Labels: TODO: needs review

#5322 Don't cause errors when assigning or enrolling users
  kolibri/plugins/facility_management/assets/src/modules/classAssignMembers/actions.js
  kolibri/plugins/facility_management/assets/src/modules/classEditManagement/handlers.js
Labels: TODO: needs review

#5323 Fix HTML5 apps on Firefox
  packages/hashi/src/replaceScript.js
Labels: TODO: needs review

#5297 Update scanforcontent command and annotation to handle missing files properly
  kolibri/core/content/management/commands/scanforcontent.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/utils/annotation.py
Labels: TODO: needs user docs, changelog

#5327 Fix HTML5 Apps on iOS 9.3 + Safari
  packages/hashi/src/loadCurrentPage.js
  packages/hashi/src/replaceScript.js
Labels: TODO: needs review

#5328 Specify 3.6 as python version for black as it requires it.
  .pre-commit-config.yaml
Labels: TODO: needs review

#4862 Add a helper tool to download Python.exe in build_windows.dockerfile
  docker/build_windows.dockerfile
  docker/env.list
Labels: work-in-progress
