Repository learningequality/kolibri, pull requests merged in 2019-05, with the labels that each got.

#5445 Node.js dependency and tools setup and validation
  AUTHORS.md
  docs/getting_started.rst
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/logging.js
  packages/kolibri-tools/package.json
  requirements/dev.txt
  yarn.lock
Labels: TODO: needs review

#5449 minor task layout update
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/TaskProgress.vue
Labels: TODO: needs review

#5451 Fix undefined env vars for non-process based frontend building.
  packages/kolibri-tools/lib/build.js
  packages/kolibri-tools/lib/bundleStats.js
  packages/kolibri-tools/lib/i18n.js
  packages/kolibri-tools/lib/production.js
  packages/kolibri-tools/lib/webpackdevserver.js
Labels: TODO: needs review

#5452 Update Getting started page
  docs/getting_started.rst
Labels: P2 - normal, TAG: developer docs, TODO: needs review

#5447 Add Learner Can Edit Password to FacilityConfigPage
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility_management/assets/test/views/facility-config-page.spec.js
Labels: TODO: needs review

#5230 Use separate engine and client for iceqube.
  kolibri/conftest.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/client.py
  kolibri/core/tasks/management/commands/base.py
  kolibri/core/tasks/queue.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/test/test_key_urls.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/device_management/assets/src/modules/wizard/utils.js
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/TaskProgress.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/index.vue
  kolibri/utils/cli.py
  kolibri/utils/server.py
  kolibri/utils/system.py
  kolibri/utils/tests/test_cli.py
  package.json
  requirements/base.txt
Labels: work-in-progress

#5433 Fix property names of facilityConfig after un-camelcasing them in #5340
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility_management/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#5444 Some Learn page clean up
  kolibri/core/assets/src/views/PointsIcon/index.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
  kolibri/plugins/learn/assets/src/views/PageHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/src/views/TotalPoints.vue
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review

#5457 update notification strings
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TODO: needs review

#5463 Add estimated content strings.
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/SelectedResourcesSize.vue
Labels: TAG: user strings, TODO: needs review

#5453 Add group-level reports for an exercise/resource learners
  kolibri/plugins/coach/assets/src/constants/lastPagesConstants.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/ActivityList.spec.js
  kolibri/plugins/coach/assets/src/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsExerciseLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourceLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourcesStats.vue
  kolibri/plugins/coach/assets/test/views/reports/ReportsExerciseLearners.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonExerciseLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonResourceLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsResourceLearners.spec.js
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonExerciseLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsResourceLearners.spec.js.snap
Labels: TAG: new feature, TODO: needs review

#5458 Clean up 'always on' hasIcons prop.
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/SideNav.vue
Labels: TODO: needs review

#5459 set immersive AppBar for Search in Learn section
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TAG: user strings, TODO: needs review

#5442 Add mgmnt command for claiming a facility on data portal
  kolibri/core/auth/api.py
  kolibri/core/auth/management/commands/registerfacility.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/test_register_facility.py
  kolibri/core/auth/test/test_users.py
  kolibri/core/auth/test/test_utils.py
  kolibri/core/error_constants.py
  kolibri/core/utils/__init__.py
  kolibri/core/utils/exception_handler.py
  kolibri/core/utils/portal.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/options.py
Labels: TODO: needs review

#5469 Fix infinite loop between search and viewing searched content.
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TODO: needs review

#5412 Update Demo Banner Styling & Copy
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/utils/coreBannerContent.js
  kolibri/core/assets/src/views/CoreBanner.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/demo_server/assets/src/DemoServerBannerContent.vue
  kolibri/plugins/demo_server/assets/src/module.js
  kolibri/plugins/demo_server/assets/src/views/DemoServerIndex.vue
Labels: TAG: user strings, TODO: needs review

#5465 Add current group membership summary to group enrollment
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/UserTable.vue
Labels: TAG: user strings, TODO: needs review

#5471 add upgrade strings
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TAG: user strings

#5448 updates to learner quiz view
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/ContentRenderer/index.vue
  kolibri/core/assets/src/views/KBottomAppBar.vue
  kolibri/core/assets/src/views/KGrid/index.vue
  kolibri/core/assets/src/views/buttons-and-links/KButton.vue
  kolibri/core/assets/src/views/icons/KIcon.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/footers.js
Labels: TAG: user strings, TODO: needs review

#5446 Compare file checksum with localfile id during content import
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
Labels: TODO: needs review

#5330 Update Windows installer
  docker/build_windows.dockerfile
  docker/env.list
Labels: OS: Windows, TAG: tech update / debt, TODO: needs review

#5479 remove all word-break overrides
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/RemoveFromGroupModal.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/UserRemoveConfirmationModal.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
Labels: TODO: needs review

#5476 updates to docs
  docs/backend_architecture/dist_build_pipeline.rst
  docs/development_workflow.rst
  docs/release_process.rst
  test/if.sh
Labels: TODO: needs review

#5477 update the demo server section of the developer doc
  docs/release_process.rst
Labels: TAG: developer docs, TODO: needs review

#5480 Set our path prefix option on all Django cookie path settings.
  kolibri/deployment/default/settings/base.py
Labels: TODO: needs review

#5481 demo site string changes
  kolibri/plugins/demo_server/assets/src/DemoServerBannerContent.vue
Labels: TODO: needs review

#5461 Prevent placing duplicate questions/assessments in quizzes
  kolibri/core/assets/src/__mocks__/logging.js
  kolibri/plugins/coach/assets/src/modules/examCreation/selectQuestions.js
  kolibri/plugins/coach/assets/test/selectRandomExamQuestions.spec.js
Labels: TODO: needs review, changelog

#5484 fix typo
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TAG: user strings, TODO: needs review

#5486 Ensure cached value of ContentNodeSlim/popular is never None
  kolibri/core/content/api.py
Labels: TODO: needs review

#5492 Release Update Docs - Android
  docs/release_process.rst
Labels: TAG: developer docs, TODO: needs review

#5491 changelog for 0.12.3
  CHANGELOG.rst
Labels: TODO: needs review

#5482 Add Gherkin stories for group-level reports for an exercise/resource learners and Preview button
  integration_testing/features/coach/coach-class-reports-lessons.feature
  integration_testing/features/coach/coach-edit-lesson-from-report.feature
Labels: TODO: needs review

#5503 Merge Release v0.12.x into Release v0.12.y
  CHANGELOG.md
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_enumerate_channel.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channels.py
  kolibri/core/exams/migrations/0003_auto_20190426_1015.py
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/coach/assets/src/modules/examCreation/selectQuestions.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: TODO: needs review

#5313 Run integration testing script inside the docker environment
  .buildkite/build_worksheet.sh
  .buildkite/create_integration_testing_worksheet.py
  .buildkite/pipeline.yml
  .gitignore
  Makefile
  docker/build_testing_sheet.dockerfile
  docker/build_windows.dockerfile
  docker/env.list
  kolibri/__init__.py
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/RemoveFromGroupModal.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/UserRemoveConfirmationModal.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
  requirements/testing_sheet.txt
Labels: TAG: tech update / debt

#5497 Content and database related fixes
  kolibri/core/analytics/measurements.py
  kolibri/core/auth/constants/user_kinds.py
  kolibri/core/content/api.py
  kolibri/core/content/fixtures/current_content_schema
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/migrations/0012_auto_20180910_1702.py
  kolibri/core/content/migrations/0018_contentnode_num_coach_contents.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/channels.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/device/translation.py
  kolibri/core/tasks/api.py
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/search/actions.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
Labels: TODO: needs review

#5514 Lint fix - do not report `mapState` nested array expressions items as unused state
  packages/eslint-plugin-kolibri/lib/rules/vue-no-unused-vuex-properties.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-unused-vuex-properties.spec.js
Labels: TAG: dev experience, TODO: needs review

#5475 Miscellaneous EPUB renderer fixes
  integration_testing/features/learner/learner-engage-content-recommended.feature
  integration_testing/features/learner/learner-engage-epub-content.feature
  kolibri/core/assets/src/views/buttons-and-links/buttonMixin.js
  kolibri/plugins/document_epub_render/assets/src/views/BottomBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/LoadingError.vue
  kolibri/plugins/document_epub_render/assets/src/views/LoadingScreen.vue
  kolibri/plugins/document_epub_render/assets/src/views/SandboxIFrameView.js
  kolibri/plugins/document_epub_render/assets/src/views/SearchSideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/SettingsSideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/SideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/TopBar.vue
  kolibri/plugins/document_epub_render/package.json
  yarn.lock
Labels: TODO: needs review, changelog

#5502 Fix progress bar overlapping with thumbnail
  kolibri/plugins/learn/assets/src/views/ContentCard/CardThumbnail.vue
Labels: TODO: needs review

#5509 Propagate corrupt database handling to scanforcontent command.
  kolibri/core/content/management/commands/scanforcontent.py
Labels: TODO: needs review

#5439 Have KModal pass through their 'submit' and 'cancel' events to simplify other modals
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/KModal.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/UpdateNotification.vue
  kolibri/core/assets/src/views/buttons-and-links/KButton.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherList.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/RemoveFromGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/CreateGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/DeleteGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/RenameGroupModal.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/test/views/AssignmentDeleteModal.spec.js
  kolibri/plugins/device_management/assets/src/views/AvailableChannelsPage/ChannelTokenModal.vue
  kolibri/plugins/device_management/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device_management/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelsGrid.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/DeleteChannelModal.vue
  kolibri/plugins/device_management/assets/src/views/WelcomeModal.vue
  kolibri/plugins/device_management/assets/test/views/channel-token-modal.spec.js
  kolibri/plugins/device_management/assets/test/views/channels-grid.spec.js
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/ClassRenameModal.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/UserRemoveConfirmationModal.vue
  kolibri/plugins/facility_management/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility_management/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/ClassCreateModal.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/facility_management/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/DeleteUserModal.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/EditUserModal.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/ResetUserPasswordModal.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/UserCreateModal.vue
  kolibri/plugins/facility_management/assets/src/views/UserPage/index.vue
  kolibri/plugins/facility_management/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/views/ContentCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/setup_wizard/assets/test/views/PersonalDataConsentForm.spec.js
  kolibri/plugins/user/assets/src/views/ProfilePage/ChangeUserPasswordModal.vue
  kolibri/plugins/user/assets/src/views/SignInPage/FacilityModal.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, work-in-progress

#5520 Add submit listener to WelcomeModal. Fixes #5518
  kolibri/plugins/device_management/assets/src/views/WelcomeModal.vue
  kolibri/plugins/device_management/assets/test/views/WelcomeModel.spec.js
Labels: TODO: needs review

#5522 Welcome modal release012y
  kolibri/plugins/device_management/assets/src/views/WelcomeModal.vue
  kolibri/plugins/device_management/assets/test/views/WelcomeModel.spec.js
Labels: TODO: needs review

#5524 Add More header icons
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/views/ExamReport/PageStatus.vue
  kolibri/core/assets/test/api-resource.spec.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/device_management/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
Labels: TODO: needs review

#5530 remove debug code
  kolibri/core/assets/src/kolibri_app.js
Labels: TAG: dev experience

#5521 Fixes #5462: Coach Recipients display and group deletion edge case
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/dataHelpers.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/Recipients.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/LessonsBlock.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/QuizzesBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentSummary.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/test/views/reports/ReportsExerciseLearners.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonExerciseLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonResourceLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsResourceLearners.spec.js
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonExerciseLearnerListPage.spec.js.snap
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#5495 rename all the log files and add log rotation to kolibri.txt
  .github/ISSUE_TEMPLATE.md
  kolibri/core/logger/test/test_handler.py
  kolibri/core/logger/utils/formatter.py
  kolibri/core/logger/utils/handler.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/cli.py
  kolibri/utils/conf.py
  kolibri/utils/options.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_options.py
  kolibri/utils/tests/test_sanity_check.py
Labels: TODO: needs review, TODO: needs user docs, changelog

#5546 Tasks permissions updates
  kolibri/core/auth/permissions/general.py
  kolibri/core/content/permissions.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
Labels: TODO: needs review

#5561 Update coach-learner scenarios
  integration_testing/features/coach/ORDER.txt
  integration_testing/features/coach/class-coach-view.feature
  integration_testing/features/coach/coach-activate-lesson.feature
  integration_testing/features/coach/coach-activate-quiz.feature
  integration_testing/features/coach/coach-assign-learners-groups.feature
  integration_testing/features/coach/coach-change-language.feature
  integration_testing/features/coach/coach-change-profile-information.feature
  integration_testing/features/coach/coach-class-home-with-interaction.feature
  integration_testing/features/coach/coach-class-home.feature
  integration_testing/features/coach/coach-class-plan.feature
  integration_testing/features/coach/coach-class-reports-groups.feature
  integration_testing/features/coach/coach-class-reports-learners.feature
  integration_testing/features/coach/coach-class-reports-lessons.feature
  integration_testing/features/coach/coach-class-reports-quizzes.feature
  integration_testing/features/coach/coach-class-reports.feature
  integration_testing/features/coach/coach-copy-lesson.feature
  integration_testing/features/coach/coach-copy-quiz.feature
  integration_testing/features/coach/coach-create-group.feature
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-create-quiz.feature
  integration_testing/features/coach/coach-delete-group.feature
  integration_testing/features/coach/coach-delete-lesson.feature
  integration_testing/features/coach/coach-delete-quiz.feature
  integration_testing/features/coach/coach-edit-lesson-from-report.feature
  integration_testing/features/coach/coach-edit-lesson.feature
  integration_testing/features/coach/coach-edit-quiz-from-report.feature
  integration_testing/features/coach/coach-edit-quiz.feature
  integration_testing/features/coach/coach-lesson-difficult-questions.feature
  integration_testing/features/coach/coach-lesson-remove-resources.feature
  integration_testing/features/coach/coach-lesson-reorder-resources.feature
  integration_testing/features/coach/coach-lesson-search-resources.feature
  integration_testing/features/coach/coach-non-lesson-quiz-resource-notifications.feature
  integration_testing/features/coach/coach-notified-learner-needs-help.feature
  integration_testing/features/coach/coach-quiz-difficult-questions.feature
  integration_testing/features/coach/coach-rename-group.feature
  integration_testing/features/coach/coach-track-lesson-groups-notifications.feature
  integration_testing/features/coach/coach-track-lesson-notifications.feature
  integration_testing/features/coach/coach-track-lesson-progress.feature
  integration_testing/features/coach/coach-track-quiz-groups-notifications.feature
  integration_testing/features/coach/coach-track-quiz-notifications.feature
  integration_testing/features/coach/coach-track-quiz-progress.feature
  integration_testing/features/common/ORDER.txt
  integration_testing/features/common/view-all-content-types.feature
  integration_testing/features/guest/guest-find-content-item.feature
  integration_testing/features/learner/ORDER.txt
  integration_testing/features/learner/learner-background-tab.feature
  integration_testing/features/learner/learner-change-language.feature
  integration_testing/features/learner/learner-change-profile-information.feature
  integration_testing/features/learner/learner-close-and-reopen-content.feature
  integration_testing/features/learner/learner-engage-completed-quiz.feature
  integration_testing/features/learner/learner-engage-content-channels.feature
  integration_testing/features/learner/learner-engage-epub-content.feature
  integration_testing/features/learner/learner-engage-lesson.feature
  integration_testing/features/learner/learner-engage-quiz.feature
  integration_testing/features/learner/learner-find-content-item.feature
  integration_testing/features/learner/learner-sign-in.feature
  integration_testing/features/learner/learner-sign-out.feature
  integration_testing/features/super-admin/super-admin-setup-wizard.feature
Labels: TODO: needs review

#5554 fix descenders
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
Labels: TODO: needs review

#5580 Helps resolve #5568: Clear any margins on html element
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
Labels: TODO: needs review

#5510 Add version number to wsgi start
  kolibri/deployment/default/wsgi.py
  kolibri/utils/server.py
Labels: TODO: needs updates

#5581 Fixes #5566: Use fullscreen pseudo selector to avoid 0 height in resize event
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
Labels: TODO: needs review

#5579 Fixes #5565: Revise EPUB renderer z-indices
  kolibri/plugins/document_epub_render/assets/src/views/BottomBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/document_epub_render/assets/src/views/LoadingError.vue
  kolibri/plugins/document_epub_render/assets/src/views/LoadingScreen.vue
  kolibri/plugins/document_epub_render/assets/src/views/SideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/TopBar.vue
Labels: TODO: needs review

#5584 bump morango and add chunking capability
  kolibri/core/auth/management/commands/fullfacilitysync.py
  kolibri/core/auth/management/commands/sync.py
  requirements/base.txt
Labels: TODO: needs review

#5587 a few more theme updates
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/views/CoachContentLabel.vue
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/core/assets/src/views/KCheckbox.vue
  kolibri/core/assets/src/views/KEmptyPlaceholder.vue
  kolibri/core/assets/src/views/KFilterTextbox.vue
  kolibri/core/assets/src/views/KModal.vue
  kolibri/core/assets/src/views/KRadioButton.vue
  kolibri/core/assets/src/views/PermissionsIcon.vue
  kolibri/plugins/coach/assets/src/views/common/LessonActive.vue
  kolibri/plugins/coach/assets/src/views/common/QuizActive.vue
  kolibri/plugins/coach/assets/src/views/common/status/CoachStatusIcon.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusSimple.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsResourceLearners.spec.js.snap
  kolibri/plugins/device_management/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device_management/assets/src/views/ManageContentPage/ChannelListItem.vue
  kolibri/plugins/document_epub_render/assets/src/views/EpubConstants.js
  kolibri/plugins/document_epub_render/assets/src/views/NextButton.vue
  kolibri/plugins/document_epub_render/assets/src/views/PreviousButton.vue
  kolibri/plugins/document_epub_render/assets/src/views/SearchSideBar.vue
  kolibri/plugins/document_epub_render/assets/src/views/SettingsSideBar.vue
  kolibri/plugins/learn/assets/src/views/PageHeader.vue
Labels: TODO: needs review

#5544 Update state.currentClass after updating class model
  kolibri/plugins/facility_management/assets/src/modules/classEditManagement/__test__/classEditManagementModule.spec.js
  kolibri/plugins/facility_management/assets/src/modules/classEditManagement/index.js
Labels: TODO: needs review

#5571 Hide CoachContent annotations from Learners
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
Labels: TODO: needs review
