Repository learningequality/kolibri, pull requests merged in 2019-10, with the labels that each got.

#5962 Add API endpoint for setting channel order.
  kolibri/plugins/device/api.py
  kolibri/plugins/device/api_urls.py
  kolibri/plugins/device/test/__init__.py
  kolibri/plugins/device/test/test_api.py
Labels: TODO: needs review

#5796 Crowdin CSV & Translation Context
  .gitignore
  Makefile
  build_tools/i18n/crowdin.py
  build_tools/i18n/utils.py
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/kolibri_plugin.py
  kolibri/core/webpack/hooks.py
  package.json
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/lib/ExtractStrings.js
  packages/kolibri-tools/lib/i18nSyncContext.js
  packages/kolibri-tools/package.json
  packages/kolibri-tools/test/fixtures/i18nSyncContext/CommonContextStrings01.js
  packages/kolibri-tools/test/fixtures/i18nSyncContext/CommonContextStrings02.js
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context01.vue
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context02.vue
  packages/kolibri-tools/test/fixtures/i18nSyncContext/csv-new-context/new-context-definitions.csv
  packages/kolibri-tools/test/fixtures/i18nSyncContext/csv-no-context/no-context-definitions.csv
  packages/kolibri-tools/test/test_i18nSyncContext.spec.js
  yarn.lock
Labels: TODO: needs review

#5973 Update the content cache key when reordering channels.
  kolibri/plugins/device/api.py
Labels: TODO: needs review

#5966 Add customizable sidenav footer branding
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/theme_hook.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  packages/kolibri-tools/jest.conf/setup.js
Labels: TODO: needs updates

#5967 Add theme option to disable scrim from background image
  kolibri/core/theme_hook.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs updates

#5969 Allow appbar color to be configurable in theme token mapping
  kolibri/core/assets/src/styles/theme.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/KNavbar/KNavbarLink.vue
  kolibri/core/assets/src/views/KNavbar/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
Labels: TODO: needs updates

#5963 Update Time Spent & Last Activity columns from notifications in Coach Lesson Reports
  integration_testing/features/coach/coach-class-reports-lessons.feature
  kolibri/core/notifications/api.py
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
Labels: changelog

#5869 Extend AppError page to show special messages and actions when GETting a 404
  kolibri/core/assets/src/views/AppError/__test__/AppError.spec.js
  kolibri/core/assets/src/views/AppError/index.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
Labels: changelog

#5983 Merge 012
  docker/env.list
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-create-quiz.feature
  integration_testing/features/debian/kolibri-server-stop.feature
  kolibri/core/assets/src/utils/branding.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/theme_hook.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/utils/server.py
  packages/kolibri-components/src/styles/colorsDefault.js
Labels: TODO: needs review

#5980 Cleanup stemmed
  kolibri/core/content/base_models.py
  kolibri/core/content/constants/schema_versions.py
  kolibri/core/content/fixtures/3_content_data.json
  kolibri/core/content/fixtures/3_content_schema
  kolibri/core/content/fixtures/current_content_schema
  kolibri/core/content/legacy_models.py
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/migrations/0021_remove_contentnode_stemmed_metaphone.py
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/search.py
Labels: TODO: needs review

#5927 Reinstate progress bars and cleanup unused code/dependencies
  kolibri/core/auth/management/commands/syncdata.py
  kolibri/core/deviceadmin/management/commands/dbrestore.py
  kolibri/core/deviceadmin/tests/test_dbrestore.py
  kolibri/core/deviceadmin/utils.py
  kolibri/core/tasks/management/commands/base.py
  requirements/base.txt
Labels: TODO: needs review

#5975 Add function and utility for listing all available plugins.
  kolibri/__init__.py
  kolibri/plugins/__init__.py
  kolibri/plugins/utils/__init__.py
  kolibri/utils/cli.py
  kolibri/utils/tests/test_cli.py
  setup.py
Labels: TODO: needs review

#5992 Fix issue with media player not working after loading once
  packages/kolibri-components/src/utils/pluginMediator.js
Labels: TODO: needs review

#5993 Function to delete stored files with no available `ContentNode`s
  kolibri/core/content/models.py
  kolibri/core/content/test/test_delete_content.py
  kolibri/core/content/utils/delete_content.py
Labels: TODO: needs review

#5987 Remove unneeded vacuums and close correctly the connection when needed
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/analytics/test/test_ping.py
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/apps.py
  kolibri/utils/cli.py
  kolibri/utils/server.py
Labels: TODO: needs review

#5994 update ifcfg to 0.19
  requirements/base.txt
Labels: TODO: needs review

#5998 CreateExamPage missing snackbar $trs
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: TODO: needs review

#5995 changelog for 0.12.9
  CHANGELOG.md
Labels: TODO: needs review

#6002 Don't translate in import scope!
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#6004 [WIP] Fix python black issues in develop
  kolibri/core/analytics/middleware.py
  kolibri/core/auth/management/commands/fullfacilitysync.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/test/test_permissions.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_data_migrations.py
  kolibri/core/decorators.py
  kolibri/plugins/learn/test/test_learner_classroom.py
  kolibri/utils/lru_cache.py
Labels: TODO: needs review

#5999 focus and hover updates
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/SideNavDivider.vue
  packages/kolibri-components/src/KThemePlugin.js
  packages/kolibri-components/src/styles/generateGlobalStyles.js
  packages/kolibri-components/src/styles/globalThemeState.js
  packages/kolibri-components/src/styles/theme.js
Labels: TODO: needs review

#6000 fixes spacing
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelListItem.vue
  packages/kolibri-components/src/KResponsiveWindowMixin.js
  packages/kolibri-components/src/grids/KFixedGrid.vue
Labels: TODO: needs review

#5852 Fix keyboard focus styling on AppBar and Coach > Class Home Page
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/Block.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
Labels: TODO: needs review

#5990 Give default full name when creating a user with createsuperuser or importusers command
  kolibri/core/auth/management/commands/importusers.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_user_import.py
Labels: changelog

#6009 refactorize search splitting it
  kolibri/core/content/api.py
Labels: TODO: needs review
