Repository learningequality/kolibri, pull requests merged in 2020-08, with the labels that each got.

#7429 Remove code that's on the plugin setup.py responsability
  kolibri/plugins/utils/__init__.py
Labels: TODO: needs review

#7407 Fix used variable, checking for when DB will shrink
  kolibri/core/apps.py
Labels: TODO: needs review

#7428 Bump tzlocal version to work properly with Python 3.8
  requirements/base.txt
Labels: TODO: needs review

#7421 adjust tooltip positions
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
  kolibri/plugins/facility/assets/src/views/IdentifierTextbox.vue
Labels: TODO: needs review

#7420 update to channel layout and text truncator
  kolibri/core/assets/src/views/TextTruncator.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#7432 Prevent runtime error in UserType.js if FacilityUser has an incomplete set of Roles
  kolibri/core/assets/src/utils/UserType.js
Labels: TODO: needs review

#7430 Network name -> Name
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/AddAddressForm.vue
  kolibri/locale/ar/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/de/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/es_419/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/fa/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/it/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/km/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ko/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/mr/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/my/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/nyn/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/te/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/kolibri.core.default_frontend-messages.json
Labels: TAG: user strings, TODO: needs review

#7433 Pass filenames to only lint changed files in pre-commit.
  .pre-commit-config.yaml
Labels: TODO: needs review

#7435 buttons in tables should be flat, not raised
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
Labels: TODO: needs review

#7434 Progress fetching url limiting
  kolibri/core/content/api.py
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/index.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/RecommendedPage.vue
  kolibri/plugins/learn/assets/src/views/RecommendedSubpage.vue
Labels: TODO: needs review

#7438 coach layout updates
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/CardThumbnail.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/CornerIcon.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/card.scss
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchFilters.vue
Labels: TODO: needs review

#7431 Preliminary handling for missing content in editing lessons and quizzes
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/exams/api.py
  kolibri/core/lessons/serializers.py
  kolibri/core/lessons/test/test_lesson_create.py
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/index.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonEditDetailsPage/EditDetailsResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
Labels: TODO: needs review

#7443 Give zombies a chance to finish
  .travis.yml
  test/ensure_kolibri_stops_within_time.sh
  tox.ini
Labels: TODO: needs review

#7466 Fix lesson resource removal and lesson deletion bugs
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/index.js
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
Labels: TODO: needs review

#7469 update to channel responsive grid behaviors
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TODO: needs review, changelog

#7470 Checks madison returns repo info
  kolibri/utils/server.py
Labels: changelog

#7446 pr/7283 setting doesn't get disabled in valid state
  AUTHORS.md
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: changelog

#7468 Return 0 for current interactions when interaction history is undefined.
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
Labels: TODO: needs review

#7479 Prevent checksum related too many variables errors
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
Labels: TODO: needs review

#7483 upgrade design system (0.2.1) to fix external links
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review, changelog

#7476 pr/7456 In `LearnerClassEnrollmentPage` and `CoachClassAssignmentPage`, place "Confirm" button in fixed bottom bar
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/CoachClassAssignmentPage.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
  kolibri/plugins/facility/assets/src/views/SelectionBottomBar.vue
Labels: changelog

#7490 Show full device ID under advanced
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
Labels: changelog

#7489 pr/7473 Login flow looks like it accepts any username despite the error validation
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: changelog

#7316 Clean up c extension code and add pip cache for it
  .gitignore
  Makefile
  build_tools/install_cexts.py
  docker/base.dockerfile
  docker/build_whl.dockerfile
  kolibri/utils/env.py
  kolibripip.pex
  tox.ini
Labels: TODO: needs review

#7497 Fix minor issue in Channel Upgrade test
  kolibri/core/content/test/test_channel_upgrade.py
Labels: TODO: needs review
