Repository learningequality/kolibri, pull requests merged in 2020-07, with the labels that each got.

#7102 Don't show the password input if the username is not correctly validated
  kolibri/plugins/user/assets/src/views/SignInPage.vue
Labels: TODO: needs review

#7182 Fix bugs in Permissions pages caused by "unique username" assumption
  kolibri/core/tasks/test/test_api.py
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityIndex.vue
Labels: TODO: needs review

#7226 Fix invalid JSON during morango sync
  kolibri/core/negotiation.py
Labels: DEV: backend, TODO: needs review, python

#7217 Make static symlinking check more robust.
  kolibri/utils/cli.py
  kolibri/utils/system.py
Labels: TODO: needs review

#7231 Close language modal when language not changed
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
Labels: TODO: needs review

#7228 Fix urls notation to make the share button URL accesible
  kolibri/core/assets/src/utils/appCapabilities.js
Labels: TODO: needs review

#7236 Fix Export-Users-To-CSV functionality in multi-facility devices.
  kolibri/core/tasks/api.py
  kolibri/plugins/facility/api_urls.py
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/facility/views.py
Labels: TODO: needs review

#7223 Fix is_learner attribute and admin login
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/error_constants.py
  kolibri/plugins/user/assets/src/modules/signIn/index.js
  kolibri/plugins/user/assets/src/views/SignInPage.vue
  kolibri/plugins/user/assets/src/views/UsersList.vue
  kolibri/plugins/user/assets/test/views/sign-in-page.spec.js
Labels: TODO: needs review

#7193 make staticdeps run on systems where python is 3, and 2.7 is availabl…
  AUTHORS.md
  Makefile
Labels: TODO: needs review

#7242 Fix KIcon size and positioning in AttemptLogList
  kolibri/core/assets/src/views/AttemptLogList.vue
Labels: TODO: needs review

#7002 Attempted fix : Enter Channel Token
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/ChannelTokenModal.vue
Labels: TODO: needs review

#7245 Use correct link according to figma design
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
Labels: TAG: user strings

#7209 Fixes #7207: Update zeroconf to work within Docker, without ip/ifconfig
  requirements/base.txt
Labels: TODO: needs review

#7116 remove unused strings in develop
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressCount.vue
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressLabel.vue
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressRatio.vue
  kolibri/plugins/coach/assets/src/views/common/status/constants.js
  kolibri/plugins/coach/assets/src/views/common/status/statusStrings.js
Labels: TAG: user strings, TODO: needs review

#7261 Remove inline style for channel filter when window is small
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
Labels: TODO: needs review

#7260 exclude status endpoint from the logs
  kolibri/core/analytics/middleware.py
Labels: TODO: needs review

#7190 KDS Iconography updates
  kolibri/core/assets/src/views/ContentIcon.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/core/assets/src/views/sortable/DragSortWidget/index.vue
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/NotificationCard.spec.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchFilters.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionPage.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonExerciseLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsResourceLearners.spec.js.snap
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/epub_viewer/assets/src/views/NextButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/PreviousButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/SettingsSideBar.vue
  kolibri/plugins/epub_viewer/assets/tests/NextButton.spec.js
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/learn/assets/src/views/ActionBarSearchBox.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/user/assets/src/views/SignInPage.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
  packages/kolibri-tools/test/fixtures/TestComponent.vue
  yarn.lock
Labels: TODO: needs review, changelog

#7279 Redirect logout hook
  kolibri/core/hooks.py
  kolibri/core/views.py
Labels: TODO: needs review

#7257 Suppress login popup on unauthenticated xhr requests in development
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/auth/middleware.py
  kolibri/deployment/default/settings/dev.py
Labels: P2 - normal, TODO: needs review

#7274 Channel Upgrade Fixes and Enhancements
  kolibri/core/content/api.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_channel_upgrade.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channels.py
  kolibri/core/content/utils/importability_annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/content/utils/upgrade.py
  kolibri/core/mixins.py
  kolibri/core/tasks/api.py
  kolibri/plugins/device/api.py
  kolibri/plugins/device/assets/src/modules/wizard/apiChannelMetadata.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelUpdateAnnotations.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentNodeRow.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
Labels: TODO: needs gherkin update, TODO: needs review

#7287 Fix copy paste error and catch programming errors.
  kolibri/utils/sanity_checks.py
Labels: TODO: needs review

#7255 Validation fixes for bulkimport
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_bulk_import.py
Labels: TODO: needs review

#7290 Add safeguards to our channel fuzzing operations to prevent different operations from colliding.
  kolibri/core/content/test/test_channel_upgrade.py
Labels: TODO: needs review

#7288 Fixes a bug in aggregation for foreign key field type coercion
  kolibri/core/query.py
Labels: TODO: needs review

#7286 Hide user import in app
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: TODO: needs review

#7256 Responsively make room for info icon in demographic fields
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
  kolibri/plugins/facility/assets/src/views/IdentifierTextbox.vue
Labels: TODO: needs review

#7293 Fix missing info on Device Info Page
  docs/backend_architecture/uap/implementation.rst
  docs/i18n.rst
  docs/stack.rst
  kolibri/core/device/api.py
  kolibri/core/device/test/test_api.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/urls.py
  kolibri/deployment/default/wsgi.py
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
Labels: TODO: needs review

#7264 [WIP] Login frontend tests
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/AuthSelect.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/test/views/auth-base.spec.js
  kolibri/plugins/user/assets/test/views/auth-select-page.spec.js
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
Labels: TODO: needs review

#7272 Minor pipeline cleanup
  .buildkite/build_whl.sh
  .buildkite/pipeline.yml
  docker/base.dockerfile
  docker/build_debian.dockerfile
  docker/build_windows.dockerfile
Labels: DEV: dev-ops

#7301 Auto-select newly added network addresses/locations in the SelectAddressModalGroup
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/AddAddressForm.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/index.vue
Labels: TODO: needs review, changelog

#7251 Separate morango pull/push clients with better write locking and better cancellation handling
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_models.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/test/test_storage.py
  kolibri/core/tasks/worker.py
  kolibri/plugins/device/assets/src/views/__test__/syncTaskUtils.spec.js
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  requirements/base.txt
Labels: DEV: backend, DEV: frontend, TODO: needs review, python

#7269 Channel dropdown reset fix
  kolibri/core/device/utils.py
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/views/PersonalSetup.vue
  kolibri/plugins/setup_wizard/assets/test/views/SuperuserCredentialsForm.spec.js
Labels: TODO: needs review

#7305 Add additional guards and simplify class -> topic redirection
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/models.py
  kolibri/plugins/learn/assets/src/modules/coreLearn/getters.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/learn/kolibri_plugin.py
Labels: TODO: needs review

#7311 Update pyzeroconf to allow for more interruptability and quicker shutdown
  kolibri/core/discovery/test/test_network_search.py
  requirements/base.txt
Labels: TODO: needs review

#7306 Sign In Refactor
  kolibri/core/assets/src/views/AuthMessage.vue
  kolibri/core/assets/test/views/auth-message.spec.js
  kolibri/plugins/user/assets/src/constants.js
  kolibri/plugins/user/assets/src/modules/pluginModule.js
  kolibri/plugins/user/assets/src/modules/profile/handlers.js
  kolibri/plugins/user/assets/src/modules/signIn/handlers.js
  kolibri/plugins/user/assets/src/modules/signIn/index.js
  kolibri/plugins/user/assets/src/modules/signUp/handlers.js
  kolibri/plugins/user/assets/src/routes.js
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/AuthSelect.vue
  kolibri/plugins/user/assets/src/views/FacilitySelect.vue
  kolibri/plugins/user/assets/src/views/ProfileEditPage.vue
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user/assets/src/views/SignInPage/SignInHeading.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
  kolibri/plugins/user/assets/test/views/auth-base.spec.js
  kolibri/plugins/user/assets/test/views/auth-select-page.spec.js
  kolibri/plugins/user/assets/test/views/sign-in-page.spec.js
  kolibri/plugins/user/assets/test/views/user-page.spec.js
Labels: TAG: ux update, TODO: needs review, changelog

#7322 Add the ability to scroll to a specific part of the page when routing
  kolibri/core/assets/src/router.js
  kolibri/core/assets/src/views/CoreBase/ScrollingHeader.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/manageContentLinks.js
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/user/assets/src/views/AuthSelect.vue
Labels: TODO: needs review

#7324 SignInPage - no error when password is autofilled
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#7328 Translation error fixes @ #7273
  kolibri/plugins/user/assets/src/views/AuthBase.vue
Labels: TAG: user strings, TODO: needs review

#7332 Increase zeroconf service info fetch timeout to reduce missed fetches.
  kolibri/core/discovery/utils/network/search.py
Labels: TODO: needs review

#7297 Set Windows installer to latest pre-release v1.4.0-beta3
  docker/env.list
Labels: TODO: needs review

#7282 parameters to device provisioning command for arbitrary settings
  kolibri/core/device/management/commands/provisiondevice.py
  kolibri/utils/cli.py
Labels: changelog

#7331 Upgrade Morango to 0.5.3
  requirements/base.txt
Labels: TODO: needs review

#7335 Demo server banner & Sign in page routing updates
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/demo_server/assets/src/module.js
  kolibri/plugins/user/assets/src/modules/signIn/index.js
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/AuthSelect.vue
  kolibri/plugins/user/assets/src/views/FacilitySelect.vue
  kolibri/plugins/user/assets/src/views/SignInPage/SignInHeading.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
Labels: TODO: needs review

#7352 String on Sign up -> Facility Select
  kolibri/plugins/user/assets/src/views/FacilitySelect.vue
Labels: TODO: needs review

#7353 No guest access allowed? Not logged in? No contentnode API calls for you!
  kolibri/plugins/learn/assets/src/app.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
Labels: TODO: needs review

#7358 More pickles seasoned for 0.14
  integration_testing/features/app-context/ORDER.txt
  integration_testing/features/app-context/app-context-create-account.feature
  integration_testing/features/app-context/app-context-manage-sign-in-options.feature
  integration_testing/features/learner/learner-sign-in.feature
  integration_testing/features/super-admin/ORDER.txt
  integration_testing/features/super-admin/device/super-admin-update-channel-import-more.feature
  integration_testing/features/super-admin/super-admin-quick-wizard-content-fallback-dirs.feature
Labels: TODO: needs review

#7300 Allow configuration of Redis through Kolibri options
  kolibri/core/apps.py
  kolibri/core/tasks/utils.py
  kolibri/core/test/test_apps.py
  kolibri/core/test/test_utils.py
  kolibri/core/utils/cache.py
  kolibri/deployment/default/cache.py
  kolibri/utils/options.py
Labels: DEV: backend, TODO: needs review, python

#7333 Setup Wizard UX and Bug Fixes (wrong facility preset, "stuck" import tasks, saving superuser credentials)
  kolibri/core/device/management/commands/provisiondevice.py
  kolibri/core/device/serializers.py
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectSuperAdminAccountForm.vue
Labels: TODO: needs review

#7342 Option to disable pingback
  kolibri/utils/options.py
  kolibri/utils/server.py
Labels: TODO: needs review

#7360 KDS & Kolibri design and style bug fixes
  kolibri/core/assets/src/views/CoreSnackbar/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SyncAllFacilitiesModal.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#7368 update notification styling
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionBanner.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device/assets/test/views/SelectContentPage.spec.js
Labels: TODO: needs review

#7350 Add P2P-sync workflow on Facility > Data page. Fix some UX issues on Device > Facilities page
  kolibri/core/assets/src/api-resources/facilityTask.js
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/api.js
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/index.vue
  kolibri/core/assets/src/views/sync/SelectSourceModal.vue
  kolibri/core/assets/src/views/sync/SelectSyncSourceModal.vue
  kolibri/core/assets/src/views/sync/SyncFacilityModalGroup.vue
  kolibri/core/assets/src/views/sync/syncComponentSet.js
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanelDetails.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/user/assets/src/views/FacilitySelect.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#7375 channel cards
  kolibri/core/assets/src/views/CoachContentLabel.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#7373 Disable sync cancellation
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
Labels: TAG: tech update / debt, TODO: needs review, python

#7357 fix superuser creation in provisiondevice command
  kolibri/core/device/management/commands/provisiondevice.py
Labels: TODO: needs review

#7371 Set Redis memory policy first and warn about forced cache size decrease
  kolibri/core/apps.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/test_utils.py
  kolibri/core/logger/test/test_utils.py
  kolibri/core/logger/utils/data.py
  kolibri/core/test/test_apps.py
  kolibri/core/test/test_utils.py
  kolibri/core/utils/cache.py
Labels: DEV: backend, TODO: needs review, python

#7382 Scroll to .content-tree-viewer in ContentTreeViewer
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
Labels: TODO: needs review

#7388 Breadcrumb link fix - force fetch contentnode
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
Labels: TODO: needs review

#7359 Replace ‘text-align: end’ rule with ‘justify-content: flex-end’ for desired button position on IE11
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#7387 Redirect to ‘Select Content Page’ after updating a channel with new content
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
Labels: TODO: needs review

#7391 Stabilize peer discovery
  requirements/base.txt
Labels: TODO: needs review

#7396 Allow sentry plugin to work again
  kolibri/core/tasks/utils.py
  kolibri/core/test/test_utils.py
  kolibri/core/utils/cache.py
  kolibri/plugins/__init__.py
  kolibri/utils/server.py
Labels: TODO: needs review

#7405 50 minutes is too long for content completion
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
Labels: TODO: needs review

#7401 Use `yarn run lint-frontend` script in `frontend-lint` pre-commit hook
  .pre-commit-config.yaml
  package.json
Labels: TODO: needs review

#7356 Default to flushing sync sessions greater than one day in past
  kolibri/core/auth/management/commands/flushsyncsessions.py
Labels: TODO: needs review

#7275 Add a database_only mode in scanforcontent
  kolibri/core/content/management/commands/scanforcontent.py
Labels: TODO: needs review, changelog

#7393 Update permissions for NetworkLocationViewSet et al. so Admins can use p2p sync
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/views/sync/FacilityAdminCredentialsForm.vue
  kolibri/core/assets/src/views/sync/SyncFacilityModalGroup.vue
  kolibri/core/discovery/api.py
  kolibri/core/discovery/permissions.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/permissions.py
  kolibri/core/tasks/test/test_api.py
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanelDetails.vue
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/setup_wizard/api.py
Labels: TODO: needs review

#7409 Create adhoc groups only when needed and handle them entirely on the backend
  kolibri/core/api.py
  kolibri/core/assets/src/api-resources/adHocLearnersGroup.js
  kolibri/core/assets/src/api-resources/examassignment.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/upgrade.py
  kolibri/core/auth/utils.py
  kolibri/core/exams/api.py
  kolibri/core/exams/api_urls.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/core/lessons/serializers.py
  kolibri/core/lessons/test/test_lesson_api.py
  kolibri/core/lessons/test/test_lesson_create.py
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/adHocLearners/actions.js
  kolibri/plugins/coach/assets/src/modules/adHocLearners/index.js
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonCreationPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonEditDetailsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ManageLessonModals.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizEditDetailsPage.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/api.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/coach/assets/test/views/AssignmentDetailsModal.spec.js
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#7414 Load ScopedDefinition objects before attempting a facility import via REST API
  kolibri/core/tasks/api.py
Labels: TODO: needs review

#7416 Bump Morango to 0.5.5
  requirements/base.txt
Labels: TODO: needs review

#7413 periodically check for cancelation during import retry logic
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/transfer.py
Labels: TODO: needs review

#7412 Update pre-commit linting to be selective again and write.
  .pre-commit-config.yaml
  package.json
  packages/kolibri-tools/lib/cli.js
Labels: TAG: dev experience, TODO: needs review
