Repository learningequality/kolibri, pull requests merged in 2020-02, with the labels that each got.

#6520 Bump 0.12.10 to beta 2
  kolibri/__init__.py
Labels: TODO: needs review

#6498 Fix gcs upload step 0.11
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: work-in-progress

#6497 Fix gcs upload step in 0.10
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: DEV: dev-ops, TAG: dev experience, TODO: needs review

#6506 Fixes for IE11 and Firefox-specific bugs in 0.13.0
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
  kolibri/core/assets/src/views/sortable/DragHandle.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  packages/kolibri-components/src/KModal.vue
Labels: TODO: needs review, changelog

#6505 Coach Report details fix coach resource icon
  kolibri/core/assets/src/views/AttemptLogList.vue
Labels: changelog

#6470 enable byte-range resuming of file imports
  kolibri/core/content/management/commands/exportchannel.py
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/transfer.py
Labels: TODO: needs review, changelog

#6488 Move RunPython to a separate migration and transaction
  kolibri/core/device/migrations/0005_auto_20191203_0951.py
  kolibri/core/device/migrations/0006_migrate_guest_access.py
Labels: TODO: needs review

#6511 Fix cache db corruption
  kolibri/core/analytics/utils.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/tasks/utils.py
  kolibri/deployment/default/cache.py
Labels: TODO: needs review

#6524 Upgrade django patch version.
  requirements/base.txt
Labels: TODO: needs review

#6517 Handle device settings returning none
  kolibri/core/device/utils.py
Labels: TODO: needs review

#6403 Improve startup sanity checks
  kolibri/utils/cli.py
  kolibri/utils/sanity_checks.py
  package.json
Labels: TODO: needs review

#6530 pin tox dependency virtualenv to 16.7.9 to fix travis build failures
  .travis.yml
Labels: TODO: needs review

#6533 Clear importability stats when channel is upgraded.
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/importability_annotation.py
  kolibri/core/utils/cache.py
Labels: TODO: needs review

#6535 Close connections that are left open
  kolibri/utils/sanity_checks.py
Labels: changelog

#6537 Fix appearance of long label (in certain locales) and remove disabling for "select resources" buttons.
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
Labels: changelog

#6544 convert contentnode ids to hex strings in channel stats during import
  kolibri/core/content/serializers.py
  kolibri/core/mixins.py
Labels: TODO: needs review

#6546 VirtualEnv pin 0.10
  .travis.yml
Labels: DEV: dev-ops, TODO: needs review

#6549 Virtualenv pin 0.11
  .travis.yml
Labels: DEV: dev-ops

#6555 Fix errors on postgres startup
  kolibri/core/discovery/utils/network/search.py
  kolibri/core/tasks/main.py
Labels: TODO: needs review

#6554 Try to prevent accessing objects from undefined content objects in contentMap
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
Labels: TODO: needs review

#6553 Merge 0.13 into develop
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  docker/build_debian.dockerfile
  integration_testing/features/common/ORDER.txt
  integration_testing/features/common/verify-super-admin-and-admin-credentials.feature
  kolibri/core/analytics/utils.py
  kolibri/core/apps.py
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
  kolibri/core/assets/src/views/sortable/DragHandle.vue
  kolibri/core/auth/management/commands/registerfacility.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/importability_annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/device/migrations/0005_auto_20191203_0951.py
  kolibri/core/device/migrations/0006_migrate_guest_access.py
  kolibri/core/device/utils.py
  kolibri/core/mixins.py
  kolibri/core/notifications/tasks.py
  kolibri/core/sqlite/pragmas.py
  kolibri/core/sqlite/utils.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/utils.py
  kolibri/core/utils/cache.py
  kolibri/deployment/default/cache.py
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/utils/cli.py
  kolibri/utils/sanity_checks.py
  package.json
  packages/kolibri-components/src/KModal.vue
  requirements/base.txt
  requirements/pipeline.txt
Labels: TODO: needs review

#6559 Allow None in validate_language_id
  kolibri/core/device/serializers.py
Labels: TODO: needs review

#6510 make max-len linting less strict
  packages/kolibri-tools/.eslintrc.js
Labels: TAG: dev experience, TODO: needs review

#6567 Always regenarate cache.db when kolibri starts
  kolibri/deployment/default/cache.py
  kolibri/utils/cli.py
Labels: TODO: needs review

#6566 Bump ifcfg to 0.21b1 for testing
  requirements/base.txt
Labels: DEV: backend, TAG: dependencies, TODO: needs review, TODO: needs updates, work-in-progress

#6550 Generate a default options.ini file inside the KOLIBRI_HOME folder
  kolibri/utils/cli.py
  kolibri/utils/options.py
  kolibri/utils/sanity_checks.py
Labels: TODO: needs review

#6578 Correct pipenv link in getting_started docs
  docs/getting_started.rst
Labels: TAG: developer docs

#6556 VirtualEnv Pin 0.12
  .travis.yml
Labels: DEV: dev-ops, TAG: unit tests, work-in-progress

#6585 Lint build_tools
  build_tools/i18n/crowdin.py
  build_tools/i18n/fonts.py
Labels: DEV: dev-ops, TODO: needs review

#6587 Lint .buildkite and .dockerignore
  .buildkite/upload_artifacts.py
  .dockerignore
Labels: DEV: dev-ops, TODO: needs review

#6586 Lint docs/
  docs/backend_architecture/content/api_endpoints.rst
  docs/backend_architecture/logger/concepts_and_definitions.rst
  docs/backend_architecture/uap/img/uap_collection_hierarchy.svg
  docs/backend_architecture/uap/img/uap_crud_permissions.svg
  docs/backend_architecture/uap/img/uap_membership_diagram.svg
  docs/backend_architecture/uap/img/uap_role_membership_diagram.svg
  docs/backend_architecture/uap/img/uap_role_membership_queries.svg
Labels: DEV: dev-ops, TODO: needs review

#6596 Linting overlooked broken rules from previous run of #6583
  build_tools/i18n/noto_source.py
  build_tools/i18n/utils.py
  kolibri/core/auth/migrations/0014_auto_20190815_1421.py
  kolibri/core/device/hooks.py
  kolibri/core/exams/migrations/0003_auto_20190426_1015.py
  kolibri/core/exams/test/test_models.py
  kolibri/core/notifications/api.py
  kolibri/core/tasks/worker.py
  kolibri/plugins/user/hooks.py
  kolibri/plugins/utils/__init__.py
Labels: DEV: dev-ops, TODO: needs review

#6598 Lint JS files
  kolibri/plugins/style_guide/vue-doc-loader.js
  packages/kolibri-tools/.babelrc.js
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/.htmlhintrc.js
Labels: DEV: frontend, TAG: dev experience, TODO: needs review

#6581 update phrasing of log-in prompt
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
Labels: TAG: user strings, changelog

#6494 Less brittle upload step
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
Labels: DEV: dev-ops, TODO: needs review

#6603 Pre-commit hook to disallow auto-named migrations
  .pre-commit-config.yaml
Labels: DEV: dev-ops, TAG: dev experience, TODO: needs review

#6583 Align local pre-commit with CI-based linting (Tox and Travis)
  .pre-commit-config.yaml
  .travis.yml
  setup.cfg
  tox.ini
Labels: DEV: dev-ops, TODO: needs review, TODO: needs updates

#6600 Automatically block pi builds
  .buildkite/pipeline.yml
Labels: DEV: dev-ops, TODO: needs review

#6504 Set classroom on quiz page load
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: TODO: needs updates
