Repository learningequality/kolibri, pull requests merged in 2020-01, with the labels that each got.

#6438 use python 3.5 instead of 3.4 when uploading artifacts on buildkite
  .buildkite/setup_and_upload_artifact.sh
Labels: TODO: needs review

#6449 Rename CROWDIN_CSV to what is generated
  build_tools/i18n/crowdin.py
Labels: TAG: bug fix

#6450 cherry-pick to develop: use python 3.5 instead of 3.4 when uploading artifacts
  .buildkite/setup_and_upload_artifact.sh
Labels: TODO: needs review

#6431 Remove ‘rtl-icon’ class from Login/LogoutSideNavEntry
  kolibri/core/assets/src/views/LogoutSideNavEntry.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/user/assets/src/views/LoginSideNavEntry.vue
  kolibri/plugins/user/assets/src/views/ProfileEditPage.vue
Labels: TODO: needs review

#6471 use google-cloud-storage package to upload artifacts
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
Labels: TODO: needs review

#6472 Cherry-pick #6471: use google-cloud-storage package to upload artifacts
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
Labels: TODO: needs review

#6473 Temporarily disabling macOS build
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
Labels: DEV: dev-ops, TODO: needs review

#6476 Set cues only for selected language
  AUTHORS.md
  kolibri/plugins/media_player/assets/src/modules/captions/index.js
Labels: TODO: needs review

#6430 update guidance
  setup.py
Labels: TODO: needs review

#6433 Update vue-test-utils to latest beta; fix breaks; refactor stuff
  __mocks__/http.js
  kolibri/core/assets/src/views/AppError/__test__/AppError.spec.js
  kolibri/core/assets/test/api-resource.spec.js
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/assets/test/views/CoreBase/ScrollingHeader.spec.js
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/elapsed-time.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/ActivityList.spec.js
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/NotificationCard.spec.js
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/__tests__/LessonsSearchFilters.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsExerciseLearners.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonExerciseLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/ReportsLessonResourceLearnerListPage.spec.js
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsResourceLearners.spec.js.snap
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectAddressForm.spec.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkAddressModal/__test__/SelectNetworkAddressModal.spec.js
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/device/assets/src/views/__test__/DeviceIndex.spec.js
  kolibri/plugins/device/assets/test/views/AvailableChannelsPage.spec.js
  kolibri/plugins/device/assets/test/views/SelectDriveModal.spec.js
  kolibri/plugins/epub_viewer/assets/tests/SearchSideBar.spec.js
  kolibri/plugins/facility/assets/src/modules/classManagement/actions.js
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassCreateModal.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/test/views/assessment-wrapper.spec.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/setup_wizard/assets/test/views/FacilityPermissionsForm.spec.js
  kolibri/plugins/setup_wizard/assets/test/views/PersonalDataConsentForm.spec.js
  kolibri/plugins/setup_wizard/assets/test/views/SetupWizardIndex.spec.js
  kolibri/plugins/user/assets/test/views/sign-up-page.spec.js
  kolibri/plugins/user/assets/test/views/user-page.spec.js
  packages/kolibri-components/src/content/__test__/KContentRenderer.spec.js
  packages/kolibri-components/src/grids/test/KFixedGrid.spec.js
  packages/kolibri-components/src/grids/test/KGrid.spec.js
  packages/kolibri-components/src/grids/test/KGridItem.spec.js
  packages/kolibri-components/src/utils/__test__/pluginMediator.spec.js
  packages/kolibri-components/src/utils/pluginMediator.js
  packages/kolibri-tools/jest.conf/setup.js
  packages/kolibri-tools/jest.conf/testUtils.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#6437 Bump ifcfg to 0.20
  requirements/base.txt
Labels: TODO: needs review

#6456 use raise instead of raise e to show full traceback
  kolibri/core/tasks/job.py
  kolibri/core/tasks/worker.py
Labels: TODO: needs review

#6435 Help text improvement
  kolibri/utils/cli.py
Labels: TODO: needs review

#6467 migrate woff file from binary to LFS pointer
  kolibri/core/content/static/assets/h5p-standalone-dist/fonts/h5p-core-23.woff
Labels: TODO: needs review

#6436 bypass port availability check when socket activation is used
  kolibri/utils/sanity_checks.py
  kolibri/utils/tests/test_sanity_check.py
Labels: TODO: needs review

#6440 make sure schedulers use timezone aware datetime object
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/analytics/utils.py
  kolibri/core/tasks/scheduler.py
  kolibri/core/tasks/test/test_scheduler.py
  kolibri/utils/time_utils.py
Labels: TODO: needs review

#6481 Show Python version in device info tab
  kolibri/core/device/api.py
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
Labels: TODO: needs review, changelog

#6463 Add focus trap to CoreMenu (Fixes #6043)
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
Labels: TODO: needs review

#6489 isAdmin getter, check for admin and superuser creds
  kolibri/core/assets/src/state/modules/session.js
Labels: TODO: needs review

#6486 enable legacy_alter_table pragma
  kolibri/core/apps.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/sqlite/pragmas.py
Labels: TODO: needs review

#5972 Refactor js modules
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/userAgentCheck.js
  kolibri/core/assets/src/utils/__test__/browserInfo.spec.js
  kolibri/core/assets/src/utils/browser.js
  kolibri/core/assets/src/utils/browserInfo.js
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/assets/src/utils/minimumBrowserRequirements.js
  kolibri/core/assets/src/utils/plugin_data.js
  kolibri/core/assets/src/utils/plugin_data_src.js
  kolibri/core/assets/src/utils/redirectBrowser.js
  kolibri/core/assets/src/utils/setupAndLoadFonts.js
  kolibri/core/assets/src/views/CoreFullscreen.vue
  kolibri/core/assets/src/views/language-switcher/mixin.js
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/buildConfig.js
  kolibri/core/kolibri_plugin.py
  kolibri/core/templates/kolibri/base.html
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
  packages/kolibri-tools/lib/apiSpecExportTools.js
Labels: TAG: tech update / debt, TODO: needs review

#6491 Fix scroll arrows in AppBar
  kolibri/core/assets/src/views/AppBar.vue
Labels: TODO: needs review

#6492 Create a Gherkin story for the admin and super admin credentials
  integration_testing/features/common/ORDER.txt
  integration_testing/features/common/verify-super-admin-and-admin-credentials.feature
Labels: TODO: needs review

#6495 Cherry-pick to release-v0.12.x: use python 3.5 instead of 3.4 when uploading artifacts on buildkite
  .buildkite/setup_and_upload_artifact.sh
Labels: TODO: needs review

#6432 dont sys exit for registerfacility cmd
  kolibri/core/auth/management/commands/registerfacility.py
Labels: TODO: needs review

#6490 Maintain channel order when importing new resources
  kolibri/core/content/utils/annotation.py
Labels: TODO: needs review

#6500 remove hashi .gitignore and yarn.lock files
  packages/hashi/.gitignore
  packages/hashi/yarn.lock
Labels: TODO: needs review

#6493 Force debian version when building the package
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  docker/build_debian.dockerfile
  requirements/pipeline.txt
Labels: TODO: needs review

#6499 Fix gcs upload step 0.12
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: work-in-progress

#6503 Add min-width to percentage to avoid word break
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
Labels: TODO: needs review
