Repository learningequality/kolibri, pull requests merged in 2020-06, with the labels that each got.

#6929 Remove docker-clean recipe.
  .buildkite/pipeline.yml
  Makefile
Labels: DEV: dev-ops

#6978 Trigger debian pipeline
  .buildkite/build_debian_pkgs.sh
  .buildkite/pipeline.yml
  Makefile
  docker/build_debian.dockerfile
  docker/test_bionic.dockerfile
  docker/test_trusty.dockerfile
  docker/test_xenial.dockerfile
  docs/start/getting_started.rst
Labels: DEV: dev-ops, TODO: needs review

#6985 Merge tag `0.13.3` to `develop`
  .buildkite/build_apk.sh
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  CHANGELOG.md
  Makefile
  build_tools/i18n/crowdin.py
  kolibri/core/static/assets/fonts/noto-subset.zh-hans.css
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/django.mo
  kolibri/locale/zh_Hans/LC_MESSAGES/django.po
Labels: TODO: needs review

#6885 Fix for mount point detection on Android with latest toolchain.
  kolibri/core/discovery/utils/filesystem/posix.py
Labels: TODO: needs review

#6936 CherryPy config cleanup
  kolibri/utils/server.py
Labels: DEV: backend, TAG: tech update / debt, TODO: needs review

#6990 Add yet another swagger generator (remove the old one)
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_bulk_export.py
  kolibri/core/auth/test/test_bulk_import.py
  kolibri/core/device/migrations/0007_deviceappkey.py
  kolibri/core/tasks/utils.py
  kolibri/deployment/default/dev_urls.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/dev.py
  requirements/dev.txt
Labels: TAG: developer docs, TODO: needs review

#6955 Remote access device settings changes
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/serializers.py
  kolibri/core/device/utils.py
  kolibri/deployment/default/dev_urls.py
  kolibri/deployment/default/urls.py
  kolibri/plugins/device/api.py
  kolibri/plugins/device/api_urls.py
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/api.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/user/assets/src/modules/pluginModule.js
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, changelog

#6962 List Users Login Flow in App Context
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/views/userAccounts/PasswordTextbox.vue
  kolibri/core/auth/api.py
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/user/assets/src/views/SignInPage/UsersList.vue
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/kolibri_plugin.py
Labels: TODO: needs review

#7007 exam -> quiz
  kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: TAG: user strings, TODO: needs review

#7005 Updated new strings for 0.14
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/mixins/taskStrings.js
  kolibri/core/auth/constants/commands_errors.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/device/assets/src/views/DeviceNameModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/RemoveFacilityModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SelectSyncSourceModal.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/device/assets/src/views/PermissionsChangeModal.vue
  kolibri/plugins/facility/assets/src/views/CsvInfoModal.vue
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/CreateFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GettingStartedFormAlt.vue
Labels: TODO: needs review

#7006 allowRemoteAccess `undefined` from state - was a getter
  kolibri/core/assets/src/state/modules/session.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
Labels: P0 - critical, TODO: needs review

#6921 Migrate docs manual test a11y
  docs/_static/theme_overrides.css
  docs/getting_started.rst
  docs/index.rst
  docs/manual_testing/a11y_resources/automated_tools.rst
  docs/manual_testing/a11y_resources/bookmarklets.rst
  docs/manual_testing/a11y_resources/chrome.rst
  docs/manual_testing/a11y_resources/color_contrast.rst
  docs/manual_testing/a11y_resources/firefox.rst
  docs/manual_testing/a11y_resources/index.rst
  docs/manual_testing/a11y_resources/online_validators.rst
  docs/manual_testing/a11y_resources/style_guides.rst
  docs/manual_testing/general_notes/index.rst
  docs/manual_testing/index.rst
  docs/manual_testing/testing_with_vms/index.rst
  docs/manual_testing/testing_with_vms/install_virtualbox/enable_extension_pack.png
  docs/manual_testing/testing_with_vms/install_virtualbox/enable_extension_pack.rst
  docs/manual_testing/testing_with_vms/install_virtualbox/index.rst
  docs/manual_testing/testing_with_vms/install_virtualbox/linux.rst
  docs/manual_testing/testing_with_vms/install_virtualbox/mac_osx.rst
  docs/manual_testing/testing_with_vms/install_virtualbox/windows.rst
  docs/manual_testing/testing_with_vms/kolibri_releases.png
  docs/manual_testing/testing_with_vms/kolibri_releases.rst
  docs/manual_testing/testing_with_vms/linux/download_images.png
  docs/manual_testing/testing_with_vms/linux/download_images.rst
  docs/manual_testing/testing_with_vms/linux/import_and_configure.rst
  docs/manual_testing/testing_with_vms/linux/index.rst
  docs/manual_testing/testing_with_vms/linux/vbox-1.jpg
  docs/manual_testing/testing_with_vms/linux/vbox-2.jpg
  docs/manual_testing/testing_with_vms/linux/vbox-3.jpg
  docs/manual_testing/testing_with_vms/linux/vbox-4.jpg
  docs/manual_testing/testing_with_vms/linux/vbox-5.png
  docs/manual_testing/testing_with_vms/linux/vbox-6.jpg
  docs/manual_testing/testing_with_vms/linux/vbox-7.jpg
  docs/manual_testing/testing_with_vms/mac_osx/index.rst
  docs/manual_testing/testing_with_vms/windows/configure_vm.rst
  docs/manual_testing/testing_with_vms/windows/configure_vm_01.png
  docs/manual_testing/testing_with_vms/windows/configure_vm_02.png
  docs/manual_testing/testing_with_vms/windows/configure_vm_03.png
  docs/manual_testing/testing_with_vms/windows/configure_vm_04.png
  docs/manual_testing/testing_with_vms/windows/configure_vm_05.png
  docs/manual_testing/testing_with_vms/windows/download_images.png
  docs/manual_testing/testing_with_vms/windows/download_images.rst
  docs/manual_testing/testing_with_vms/windows/import_vm.rst
  docs/manual_testing/testing_with_vms/windows/index.rst
  docs/manual_testing/testing_with_vms/windows/install_additional_browsers.rst
  docs/manual_testing/testing_with_vms/windows/install_kolibri.rst
  docs/manual_testing/testing_with_vms/windows/install_kolibri_01.png
  docs/manual_testing/testing_with_vms/windows/install_kolibri_02.png
  docs/manual_testing/testing_with_vms/windows/recommendations_for_tuning.rst
  docs/manual_testing/testing_with_vms/windows/recommendations_for_tuning_01.png
  docs/manual_testing/testing_with_vms/windows/recommendations_for_tuning_02.png
  docs/manual_testing/testing_with_vms/windows/recommendations_for_tuning_03.png
  docs/manual_testing/testing_with_vms/windows/start_vm.rst
  docs/manual_testing/testing_with_vms/windows/start_vm_01.png
Labels: TAG: developer docs, TODO: needs review

#7015 Bootstrap remote access data into page
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/api.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/utils.py
  kolibri/core/kolibri_plugin.py
  kolibri/plugins/device/api.py
  kolibri/plugins/device/api_urls.py
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/user/assets/src/modules/pluginModule.js
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#7010 attempting to merge app-support into develop
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/views/userAccounts/PasswordTextbox.vue
  kolibri/core/auth/api.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/migrations/0009_merge_20200608_1716.py
  kolibri/core/device/models.py
  kolibri/core/device/serializers.py
  kolibri/core/device/utils.py
  kolibri/core/discovery/utils/filesystem/posix.py
  kolibri/deployment/default/dev_urls.py
  kolibri/deployment/default/urls.py
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/device/api.py
  kolibri/plugins/device/api_urls.py
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/api.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/setup_wizard/assets/src/views/ProgressToolbar.vue
  kolibri/plugins/user/assets/src/modules/pluginModule.js
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/SignInPage.vue
  kolibri/plugins/user/assets/src/views/UsersList.vue
  kolibri/plugins/user/kolibri_plugin.py
Labels: TODO: needs review

#6881 Facility sync progress
  kolibri/core/assets/src/api-resources/facilityTask.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/api-resources/task.js
  kolibri/core/auth/constants/morango_scope_definitions.py
  kolibri/core/auth/constants/morango_sync.py
  kolibri/core/auth/management/commands/fullfacilitysync.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_utils.py
  kolibri/core/discovery/utils/network/urls.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/api_urls.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/management/commands/base.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/utils/portal.py
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  requirements/base.txt
Labels: DEV: backend, TODO: needs review, changelog

#7025 Move disconnection checking into accessible code branch.
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/assets/src/state/modules/core/actions.js
Labels: TODO: needs review

#7008 PDF Renderer: Add border to content, move controls to top
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#7018 Update the remaining strings after the string chill review
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/auth/constants/commands_errors.py
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/device/assets/src/views/PermissionsChangeModal.vue
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/facility/assets/src/views/CsvInfoModal.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectSuperAdminAccountForm.vue
  kolibri/plugins/user/assets/src/views/SignInPage.vue
Labels: P0 - critical, TAG: user strings, TODO: needs review

#7028 Make tracking code injection optional.
  kolibri/plugins/profuturo_mvp/kolibri_plugin.py
  kolibri/plugins/profuturo_mvp/options.py
Labels: TODO: needs review

#7034 Add explicit post method to device provision call.
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
Labels: TODO: needs review

#7039 Get KDS from its develop branch
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#7035 Mirror prod default plugins in development, simplify build customization
  .gitignore
  build_tools/customize_build.py
  build_tools/default_plugins.txt
  kolibri/__init__.py
  kolibri/plugins/__init__.py
  kolibri/utils/build_config/default_plugins.py
  kolibri/utils/build_config/default_settings.py
  kolibri/utils/env.py
Labels: TODO: needs review

#7013 Updates to the generateuserdata management command - part 2
  kolibri/core/logger/management/commands/generateuserdata.py
  kolibri/core/logger/utils/user_data.py
Labels: work-in-progress

#7042 Misc Sign In Fixes
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/SignInPage.vue
  kolibri/plugins/user/assets/src/views/UsersList.vue
Labels: TAG: user strings, TODO: needs review

#7044 App-support into 0.14
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/api.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/utils.py
  kolibri/core/kolibri_plugin.py
  kolibri/plugins/device/api.py
  kolibri/plugins/device/api_urls.py
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/user/assets/src/modules/pluginModule.js
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  requirements/base.txt
Labels: TODO: needs review

#7047 Updates to the generateuserdata management command documentation.
  docs/manual_testing/general_notes/index.rst
Labels: work-in-progress

#7045 Set Kolibri Windows installer to v1.4.0-beta1 pre-release
  docker/env.list
Labels: TODO: needs review

#6851 Optimized content node queries
  kolibri/core/api.py
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/api-resources/contentNodeSlim.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/state/mappers.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/core/auth/api.py
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/lessons/viewsets.py
  kolibri/core/query.py
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/api.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs updates

#7054 Work around ICT routes sizing bug by expanding HTML5 canvas size…
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
Labels: TODO: needs review

#7058 Beginning tagline work
  kolibri/core/content/api.py
  kolibri/core/content/base_models.py
  kolibri/core/content/fixtures/4_content_data.json
  kolibri/core/content/fixtures/4_content_schema
  kolibri/core/content/fixtures/current_content_schema
  kolibri/core/content/migrations/0027_channelmetadata_tagline.py
  kolibri/core/content/serializers.py
  kolibri/core/content/utils/channels.py
  kolibri/locale/ach_UG/LC_MESSAGES/django.po
  kolibri/locale/ar/LC_MESSAGES/django.po
  kolibri/locale/bg_BG/LC_MESSAGES/django.po
  kolibri/locale/bn_BD/LC_MESSAGES/django.po
  kolibri/locale/es_419/LC_MESSAGES/django.po
  kolibri/locale/es_ES/LC_MESSAGES/django.po
  kolibri/locale/fa/LC_MESSAGES/django.po
  kolibri/locale/ff_CM/LC_MESSAGES/django.po
  kolibri/locale/fr_FR/LC_MESSAGES/django.po
  kolibri/locale/gu_IN/LC_MESSAGES/django.po
  kolibri/locale/hi_IN/LC_MESSAGES/django.po
  kolibri/locale/it/LC_MESSAGES/django.po
  kolibri/locale/ko/LC_MESSAGES/django.po
  kolibri/locale/mr/LC_MESSAGES/django.po
  kolibri/locale/my/LC_MESSAGES/django.po
  kolibri/locale/nyn/LC_MESSAGES/django.po
  kolibri/locale/pt_BR/LC_MESSAGES/django.po
  kolibri/locale/sw_TZ/LC_MESSAGES/django.po
  kolibri/locale/te/LC_MESSAGES/django.po
  kolibri/locale/ur_PK/LC_MESSAGES/django.po
  kolibri/locale/vi/LC_MESSAGES/django.po
  kolibri/locale/yo/LC_MESSAGES/django.po
  kolibri/locale/zh_Hans/LC_MESSAGES/django.po
Labels: TODO: needs review

#7031 Add Gherkin scenarios for Android app context
  integration_testing/features/app-context/app-context-disable-device-network-access.feature
  integration_testing/features/app-context/app-context-manage-password-requirements.feature
  integration_testing/features/app-context/app-context-manage-sign-in-options.feature
  integration_testing/features/app-context/app-context-remote-network-access.feature
Labels: P0 - critical, TODO: needs review

#7062 Learner and guest Gherkin scenarios reviewed
  integration_testing/features/coach/coach-sign-in.feature
  integration_testing/features/guest/guest-sign-up-account.feature
  integration_testing/features/learner/learner-engage-content-channels.feature
  integration_testing/features/learner/learner-sign-in.feature
Labels: TODO: needs review

#7033 Facility deletion management command
  kolibri/core/assets/src/api-resources/facilityTask.js
  kolibri/core/auth/constants/morango_sync.py
  kolibri/core/auth/management/commands/deletefacility.py
  kolibri/core/auth/management/commands/deprovision.py
  kolibri/core/auth/management/commands/fullfacilitysync.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/device/permissions.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
Labels: changelog, python

#7050 Remove chrome autofilling detection
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#6917 Add keyup handler to ensure proper triggering of input value event
  kolibri/core/assets/src/views/FilterTextbox.vue
Labels: DEV: frontend, OS: Android, TODO: needs review

#6996 Gestures on PDFs
  kolibri/core/package.json
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  yarn.lock
Labels: TODO: needs review

#7024 Handle backend provisioning errors.
  kolibri/core/device/hooks.py
  kolibri/core/device/middleware.py
  kolibri/core/views.py
  kolibri/deployment/default/settings/base.py
Labels: TODO: needs review

#7072 Update Python version at the build_windows dockerfile
  docker/build_windows.dockerfile
  docker/env.list
Labels: TODO: needs review

#7074 PDF renderer controls button spacing
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#7073 Integration Testing Worksheet Repair and Dockerization
  .buildkite/build_worksheet.sh
  .buildkite/create_integration_testing_worksheet.py
  .buildkite/setup_and_upload_artifact.sh
  docker/build_test_worksheet.dockerfile
  requirements/build_test_worksheet.txt
  requirements/release_upload.txt
  requirements/test_worksheet.txt
Labels: work-in-progress

#7075 Misc style fixes (with/without KDS)
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetupMethod.vue
  kolibri/plugins/user/assets/src/views/SignInPage.vue
Labels: TODO: needs review

#7061 Taglines Frontend
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ChannelsPage.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#7076 Integrate Facility-Sync/Import + Deletion APIs
  kolibri/core/assets/src/api-resources/facilityTask.js
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/views/sync/FacilityAdminCredentialsForm.vue
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/auth/management/commands/deletefacility.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/models.py
  kolibri/core/device/serializers.py
  kolibri/core/device/utils.py
  kolibri/core/discovery/api.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityAdminCredentialsModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanel.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/ImportFacilityModalGroup.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/RemoveFacilityModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SelectFacilityModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SyncAllFacilitiesModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SyncFacilityModalGroup.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/__test__/syncTaskUtils.spec.js
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/setup_wizard/api.py
  kolibri/plugins/setup_wizard/api_urls.py
  kolibri/plugins/setup_wizard/assets/src/api.js
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/views/ImportFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetupMethod.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
  kolibri/plugins/setup_wizard/assets/test/views/SuperuserCredentialsForm.spec.js
  kolibri/plugins/setup_wizard/test/test_api.py
Labels: TODO: needs review, changelog

#7085 Integration Testing Working Repair and Isolation - Merge v0.13.x
  .buildkite/build_worksheet.sh
  .buildkite/create_integration_testing_worksheet.py
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  docker/build_test_worksheet.dockerfile
  requirements/build_test_worksheet.txt
  requirements/release_upload.txt
  requirements/test_worksheet.txt
Labels: DEV: dev-ops

#7094 Actually Pin Spreadsheet Dependencies
  requirements/build_test_worksheet.txt
  requirements/test_worksheet.txt
Labels: DEV: dev-ops

#7083 Removed OIDC provider plugin
  kolibri/plugins/oidc_provider_plugin/__init__.py
  kolibri/plugins/oidc_provider_plugin/kolibri_plugin.py
  kolibri/plugins/oidc_provider_plugin/management/__init__.py
  kolibri/plugins/oidc_provider_plugin/management/commands/__init__.py
  kolibri/plugins/oidc_provider_plugin/management/commands/oidccreateclient.py
  kolibri/plugins/oidc_provider_plugin/options.py
  kolibri/plugins/oidc_provider_plugin/root_urls.py
  kolibri/plugins/oidc_provider_plugin/settings.py
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/authorize.html
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/authorize_without_consent.html
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/error.html
  requirements/base.txt
Labels: TODO: needs review

#7096 Actually Pin Dependencies | 0.13 <- 0.12
  requirements/build_test_worksheet.txt
  requirements/test_worksheet.txt
Labels: DEV: dev-ops

#7092 WOFF pointer issues in git
  kolibri/core/static/assets/fonts/noto-full.NotoSans.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSans.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansArabic.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansArabic.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansArmenian.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansArmenian.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansBengali.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansBengali.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCanadianAboriginal.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCanadianAboriginal.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCham.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCham.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCherokee.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansCherokee.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansDevanagari.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansDevanagari.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansEthiopic.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansEthiopic.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGeorgian.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGeorgian.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGujarati.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGujarati.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGurmukhi.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansGurmukhi.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansHebrew.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansHebrew.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansJavanese.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansJavanese.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansKannada.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansKannada.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansKhmer.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansKhmer.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansLao.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansLao.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansMalayalam.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansMalayalam.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansMyanmar.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansMyanmar.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansOriya.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansOriya.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansSinhala.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansSinhala.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansSymbols.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansSymbols.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTamil.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTamil.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTelugu.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTelugu.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansThaana.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansThaana.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansThai.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansThai.700.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTibetan.400.woff
  kolibri/core/static/assets/fonts/noto-full.NotoSansTibetan.700.woff
Labels: TAG: dev experience, TODO: needs review

#7037 Do not bootstrap every user into sign in page
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/auth/api.py
  kolibri/core/auth/serializers.py
  kolibri/core/models.py
  kolibri/plugins/user/assets/src/modules/signIn/index.js
  kolibri/plugins/user/assets/src/views/SignInPage.vue
  kolibri/plugins/user/kolibri_plugin.py
Labels: TODO: needs review

#7105 Removing windows signing step assumption from upload script
  .buildkite/setup_and_upload_artifact.sh
Labels: DEV: dev-ops, TODO: needs review

#7104 Actually Pin Dependencies | 0.14 <- 0.13
  requirements/build_test_worksheet.txt
  requirements/test_worksheet.txt
Labels: DEV: dev-ops

#7110 rename command: i18n-update -> i18n-download
  Makefile
  docs/i18n.rst
Labels: TAG: dev experience, TODO: needs review

#7106 Removing windows signing step assumption from upload script | 0.13 <- 0.12
  .buildkite/setup_and_upload_artifact.sh
Labels: DEV: dev-ops

#7118 Assessment data is correctly added to the fetch request
  kolibri/core/content/api.py
Labels: TODO: needs review

#7146 update kolibri version to 0.14.0 beta
  kolibri/__init__.py
Labels: TODO: needs review

#7133 Fixes for bugs in tag v0.14.0- beta3
  kolibri/core/assets/src/views/AppError/index.vue
  kolibri/core/assets/src/views/CoreInfoIcon/index.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherList.vue
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanel.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanelDetails.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/ImportFacilityModalGroup.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/__test__/syncTaskUtils.spec.js
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  kolibri/plugins/learn/assets/src/modules/search/actions.js
  kolibri/plugins/learn/assets/src/modules/search/index.js
  kolibri/plugins/learn/assets/src/views/SearchPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/CreateFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/PersonalSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/UngroupedSetupSteps.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DeviceNameForm.vue
Labels: TODO: needs review

#7095 handle numpad enter on Sign in page form
  kolibri/plugins/user/assets/src/views/SignInPage.vue
Labels: TODO: needs review

#7167 Rollback upload virtualenv to 3.5
  .buildkite/setup_and_upload_artifact.sh
Labels: DEV: dev-ops

#7177 Contact name change on the Code of Conduct page
  CODE_OF_CONDUCT.md
Labels: TAG: developer docs, TODO: needs review

#7168 Using the right data payload with axios and multipart content type
  kolibri/core/assets/src/core-app/client.js
Labels: TODO: needs review

#7114 do not internationalize collection kind names
  kolibri/core/auth/constants/collection_kinds.py
  kolibri/core/auth/migrations/0018_no_i18n_collection_kinds.py
Labels: TAG: user strings, TODO: needs review

#7185 Include additional pre-aggregated stats in pingback
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
Labels: TODO: needs review

#7187 Facility command and task improvements
  kolibri/core/auth/management/commands/deletefacility.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/models.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/utils.py
  kolibri/core/test/test_utils.py
  kolibri/core/utils/cache.py
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanel.vue
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  requirements/base.txt
Labels: DEV: backend, DEV: frontend, TODO: needs review, python

#7188 pin to tagged design system
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#7191 add prop to AuthBase to hide the normal create account button
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/assets/src/views/AuthSelect.vue
Labels: TODO: needs review

#7166 Replace one-off links in Facility Page with getter that properly handles multi-facility devices
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/tasks/api.py
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/modules/classManagement/actions.js
  kolibri/plugins/facility/assets/src/modules/importCSV/actions.js
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/CoachClassAssignmentPage.vue
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityIndex.vue
  kolibri/plugins/facility/assets/src/views/FacilityTopNav.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/index.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassCreateModal.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
Labels: TODO: needs review

#7160 Review and update super-admin Gherkin scenarios
  integration_testing/features/ORDER.txt
  integration_testing/features/common/common-multiple-facility-sign-in.feature
  integration_testing/features/guest/guest-sign-up-account.feature
  integration_testing/features/learner/learner-profile-update-notification.feature
  integration_testing/features/super-admin/ORDER.txt
  integration_testing/features/super-admin/commands/super-admin-benchmark-command.feature
  integration_testing/features/super-admin/commands/super-admin-bulk-export-users.feature
  integration_testing/features/super-admin/commands/super-admin-bulk-import-users.feature
  integration_testing/features/super-admin/commands/super-admin-deletefacility-command.feature
  integration_testing/features/super-admin/commands/super-admin-hard-delete-user.feature
  integration_testing/features/super-admin/commands/super-admin-load-kolibri-with-content-fallback-directories.feature
  integration_testing/features/super-admin/commands/super-admin-profile-command.feature
  integration_testing/features/super-admin/commands/super-admin-set-kolibri-port.feature
  integration_testing/features/super-admin/device/super-admin-auto-discovering-new-network-addresses.feature
  integration_testing/features/super-admin/device/super-admin-cancel-import-channel.feature
  integration_testing/features/super-admin/device/super-admin-change-device-name.feature
  integration_testing/features/super-admin/device/super-admin-change-device-settings.feature
  integration_testing/features/super-admin/device/super-admin-change-peer-unlisted-import.feature
  integration_testing/features/super-admin/device/super-admin-delete-channel.feature
  integration_testing/features/super-admin/device/super-admin-edit-channel-order.feature
  integration_testing/features/super-admin/device/super-admin-export-content-to-local-drive.feature
  integration_testing/features/super-admin/device/super-admin-import-facility-from-a-peer-post-setup.feature
  integration_testing/features/super-admin/device/super-admin-import-granular-from-peer.feature
  integration_testing/features/super-admin/device/super-admin-import-more-from-content-channel.feature
  integration_testing/features/super-admin/device/super-admin-import-new-content-channel-from-local-drive.feature
  integration_testing/features/super-admin/device/super-admin-import-new-content-channel-from-studio.feature
  integration_testing/features/super-admin/device/super-admin-import-new-content-channel-with-token.feature
  integration_testing/features/super-admin/device/super-admin-manage-import-network-addresses.feature
  integration_testing/features/super-admin/device/super-admin-manage-user-permissions.feature
  integration_testing/features/super-admin/device/super-admin-managing-facility-tasks.feature
  integration_testing/features/super-admin/device/super-admin-remove-facility.feature
  integration_testing/features/super-admin/device/super-admin-rename-facility.feature
  integration_testing/features/super-admin/device/super-admin-select-import-content-location.feature
  integration_testing/features/super-admin/device/super-admin-switch-between-import-channels-or-resources.feature
  integration_testing/features/super-admin/device/super-admin-sync-all-to-kolibri-data-portal.feature
  integration_testing/features/super-admin/device/super-admin-sync-facility-with-a-peer-device.feature
  integration_testing/features/super-admin/device/super-admin-sync-one-facility-to-kolibri-data-portal.feature
  integration_testing/features/super-admin/device/super-admin-toggle-user-filters-in-device-permissions.feature
  integration_testing/features/super-admin/device/super-admin-update-channel-import-more.feature
  integration_testing/features/super-admin/facility/super-admin-change-facility-settings.feature
  integration_testing/features/super-admin/facility/super-admin-create-class.feature
  integration_testing/features/super-admin/facility/super-admin-create-users.feature
  integration_testing/features/super-admin/facility/super-admin-delete-class.feature
  integration_testing/features/super-admin/facility/super-admin-delete-user.feature
  integration_testing/features/super-admin/facility/super-admin-edit-user.feature
  integration_testing/features/super-admin/facility/super-admin-enroll-assign-users.feature
  integration_testing/features/super-admin/facility/super-admin-export-data.feature
  integration_testing/features/super-admin/facility/super-admin-find-user.feature
  integration_testing/features/super-admin/super-admin-change-facility-settings.feature
  integration_testing/features/super-admin/super-admin-change-profile-information.feature
  integration_testing/features/super-admin/super-admin-creates-new-facility-in-device-setup.feature
  integration_testing/features/super-admin/super-admin-imports-facility-in-device-setup.feature
  integration_testing/features/super-admin/super-admin-new-landing-page-in-coach-plugin.feature
  integration_testing/features/super-admin/super-admin-new-landing-page-in-facility-plugin.feature
  integration_testing/features/super-admin/super-admin-quick-start-setup-wizard.feature
  integration_testing/features/super-admin/super-admin-sign-in.feature
  integration_testing/features/super-admin/super-admin-super-admin-creates-new-facility-in-device-setup.feature
  integration_testing/features/windows/ORDER.txt
  integration_testing/features/windows/super-admin-windows-installer-setup-error-log.feature
  integration_testing/features/windows/super-admin-windows-installer-translated-strings.feature
Labels: TODO: needs review

#7208 Update integration testing script
  .buildkite/create_integration_testing_worksheet.py
  integration_testing/features/app-context/ORDER.txt
  integration_testing/features/super-admin/device/super-admin-upgrade-notification.feature
Labels: TODO: needs review

#7198 Delay setting default "NOT_SPECIFIED" password for learners and other Facility page bug fixes
  kolibri/plugins/facility/assets/src/modules/classEditManagement/handlers.js
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
Labels: TODO: needs review

#7170 into -> in to
  kolibri/plugins/user/assets/src/views/SignInPage.vue
Labels: TAG: user strings, TODO: needs review

#7195 Communicate that 404 is an expected response when requesting /device_channel
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
Labels: TODO: needs review

#7214 Coerce generators to lists in annotations
  kolibri/core/query.py
Labels: TODO: needs review

#7221 Remove oidc provider plugin for 0.14 release
  kolibri/plugins/oidc_provider_plugin/__init__.py
  kolibri/plugins/oidc_provider_plugin/kolibri_plugin.py
  kolibri/plugins/oidc_provider_plugin/management/__init__.py
  kolibri/plugins/oidc_provider_plugin/management/commands/__init__.py
  kolibri/plugins/oidc_provider_plugin/management/commands/oidccreateclient.py
  kolibri/plugins/oidc_provider_plugin/options.py
  kolibri/plugins/oidc_provider_plugin/root_urls.py
  kolibri/plugins/oidc_provider_plugin/settings.py
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/authorize.html
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/authorize_without_consent.html
  kolibri/plugins/oidc_provider_plugin/templates/oidc_provider/error.html
  requirements/base.txt
Labels: TODO: needs review

#7107 Cache etags
  kolibri/core/decorators.py
Labels: TODO: needs review

#7225 Add Jacob (nucleogenesis) to AUTHORS.md
  AUTHORS.md
Labels: TODO: needs review

#7219 spacing when windowIsSmall for mobile buttons on channel import
  kolibri/plugins/device/assets/src/views/HeaderWithOptions.vue
Labels: TODO: needs review

#7213 Return to resource list after adding/removing an item from a lesson/quiz
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/SelectOptions.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
Labels: changelog

#7029 Add method to get initialize url.
  kolibri/core/device/models.py
  kolibri/plugins/app/utils.py
Labels: TODO: needs review
