Repository learningequality/kolibri, pull requests merged in 2020-11, with the labels that each got.

#7559 Disable search results filters in Quiz/Lessons workflow if there are no options for filter; fix navigation when switching to "All" filter
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchFilters.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
Labels: TODO: needs review, changelog

#7660 Keyboard navigation focus outline
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
  kolibri/plugins/user/assets/src/views/AuthBase.vue
Labels: changelog

#7665 Cherry-pick commits from visual-issues branch to `release-v0.14.x`
  AUTHORS.md
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Labels: changelog

#7656 Fix unselectable Facility Radio button when importing Facility from remote peer
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectFacilityForm.vue
Labels: changelog

#7666 fix morango id subquery, by removing "-" characters
  kolibri/core/auth/api.py
Labels: changelog

#7653 Update RecipientBehavior behavior; fix bugs when copying Quizzes with individual learner-assignments
  kolibri/plugins/coach/assets/src/views/plan/LessonEditDetailsPage/EditDetailsResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
Labels: TODO: needs review, changelog

#7678 Don't show the import button if the loaded CSV does not introduce changes
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/Preview.vue
Labels: changelog

#7684 Multi facilities facility icon
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: changelog

#7691 Add new watched prop to consolidate logic in 'disabled'
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
Labels: TODO: needs review

#7671 i18n -> kolibri-tools for cross product i18n
  Makefile
  docs/i18n.rst
  kolibri/core/auth/api.py
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/i18n/ExtractMessages.js
  packages/kolibri-tools/lib/i18n/ExtractStrings.js
  packages/kolibri-tools/lib/i18n/ProfileStrings.js
  packages/kolibri-tools/lib/i18n/SyncContext.js
  packages/kolibri-tools/lib/i18n/__init__.py
  packages/kolibri-tools/lib/i18n/combineStringProfiles.js
  packages/kolibri-tools/lib/i18n/crowdin.py
  packages/kolibri-tools/lib/i18n/fonts.py
  packages/kolibri-tools/lib/i18n/index.js
  packages/kolibri-tools/lib/i18n/intl-locale-data.js
  packages/kolibri-tools/lib/i18n/intl_code_gen.js
  packages/kolibri-tools/lib/i18n/language_info.json
  packages/kolibri-tools/lib/i18n/noto_source.py
  packages/kolibri-tools/lib/i18n/noto_source/manifest.json
  packages/kolibri-tools/lib/i18n/noto_source/readme.md
  packages/kolibri-tools/lib/i18n/nutritionfacts_i18n.py
  packages/kolibri-tools/lib/i18n/utils.py
  packages/kolibri-tools/lib/i18n/vue-intl-locale-data.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  packages/kolibri-tools/test/test_i18nSyncContext.spec.js
  packages/kolibri-tools/test/test_profileStrings.spec.js
  yarn.lock
Labels: TODO: needs review
