Repository learningequality/kolibri, pull requests merged in 2020-03, with the labels that each got.

#6611 OperationalError not caught, retry moved
  kolibri/deployment/default/wsgi.py
Labels: DEV: backend, TODO: needs review, changelog

#6599 Bring Back Mac
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
Labels: DEV: dev-ops, TODO: needs review

#6618 Fix Snackbar overlay not covering any open modals, plus keyboard a11y fixes
  kolibri/core/assets/src/views/CoreSnackbar/KeenUiSnackbar.vue
  kolibri/core/assets/src/views/CoreSnackbar/index.vue
  packages/kolibri-components/src/KModal.vue
Labels: TODO: needs review, changelog

#6626 Clear importability stats when deleting items from channels
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/test/test_delete_content.py
Labels: TODO: needs review, changelog

#6630 disable progress bar on py2
  kolibri/core/tasks/management/commands/base.py
Labels: TODO: needs review

#6631 Add super admin filter to users page
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
Labels: changelog

#6621 Add channel_name to bulk-task payload
  kolibri/core/tasks/api.py
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
Labels: TODO: needs review

#6629 Batching and less DB intensive descendant queries for availability annotation
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/sqlalchemytesting.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/importability_annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/mixins.py
Labels: TODO: needs review

#6632 Updates to UI messages
  kolibri/plugins/coach/assets/src/views/common/notifications/notificationStrings.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
Labels: changelog

#6536 Simplify and consolidate array aggregation code.
  kolibri/core/auth/api.py
  kolibri/core/lessons/viewsets.py
  kolibri/core/query.py
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#6643 Stop optimizing pi build via container reuse + cleanup
  .buildkite/pipeline.yml
  Makefile
Labels: DEV: dev-ops, TODO: needs review

#6637 Add option to customize sandbox.
  kolibri/core/content/hooks.py
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/html5_viewer/kolibri_plugin.py
  kolibri/plugins/html5_viewer/options.py
  kolibri/plugins/utils/__init__.py
Labels: TODO: needs review

#6639 Improve progress reporting when bulk-importing channels
  kolibri/core/tasks/api.py
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
Labels: TODO: needs review, changelog

#6646 SCORM content rendering fixes
  kolibri/core/content/views.py
Labels: TODO: needs review

#6645 improved webpack error reporting
  kolibri/core/templates/kolibri/webpack_error.html
  kolibri/core/webpack/hooks.py
  kolibri/core/webpack/middleware.py
  kolibri/deployment/default/settings/dev.py
Labels: TAG: dev experience, TODO: needs review

#6652 Html5parse tests
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/views.py
Labels: TODO: needs review

#6166 Decode JSON from JSONField.
  kolibri/core/analytics/migrations/0001_initial.py
  kolibri/core/analytics/models.py
  kolibri/core/content/base_models.py
  kolibri/core/content/migrations/0004_auto_20170825_1038.py
  kolibri/core/exams/migrations/0001_initial.py
  kolibri/core/exams/models.py
  kolibri/core/fields.py
  kolibri/core/lessons/migrations/0001_initial.py
  kolibri/core/lessons/models.py
  kolibri/core/lessons/viewsets.py
  kolibri/core/logger/migrations/0001_initial.py
  kolibri/core/logger/models.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#6636 added backroute for immersive pages
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerExercisePage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionPage.vue
Labels: TODO: needs review, changelog

#6662 Removing HTML page generation
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  kolibri/__init__.py
  requirements/pipeline.txt
Labels: TODO: needs review

#6664 Build test remove html page
  kolibri/__init__.py
Labels: DEV: dev-ops, TODO: needs review

#6660 Update column headers for various coach report CSV files
  kolibri/core/assets/src/utils/i18n.js
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  packages/kolibri-components/src/KIcon.vue
Labels: changelog

#6665 Remove html page 0.11
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: DEV: dev-ops, TODO: needs review

#6669 Remove gh artifact page 0.12
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: DEV: dev-ops, work-in-progress

#6671 Remove gh artifact page 0.13
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: DEV: dev-ops

#6661 inline download button and timestamp text
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: changelog

#6679 Fixing linting issues in upload script
  .buildkite/upload_artifacts.py
Labels: DEV: dev-ops

#6680 Merge 0.13 to Develop
  .buildkite/pipeline.yml
  .buildkite/upload_artifacts.py
  requirements/pipeline.txt
Labels: DEV: dev-ops

#6691 Design system keen updates
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreSnackbar/KeenUiSnackbar.vue
  kolibri/core/assets/src/views/CoreSnackbar/index.vue
  kolibri/core/assets/src/views/FilterTextbox.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherList.vue
  kolibri/core/assets/src/views/sortable/DragSortWidget/index.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/common/BackLink.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/BackLink.vue
  kolibri/plugins/epub_viewer/assets/src/views/NextButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/PreviousButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/SearchButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/SearchSideBar.vue
  kolibri/plugins/epub_viewer/assets/src/views/SettingsButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/TocButton.vue
  kolibri/plugins/epub_viewer/assets/src/views/TopBar.vue
  kolibri/plugins/h5p_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/ActionBarSearchBox.vue
  kolibri/plugins/learn/assets/src/views/ContentCardGroupCarousel.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/Snackbar.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/ProgressToolbar.vue
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
  yarn.lock
Labels: TAG: design system

#6695 Mistakenly removed in #6691
  kolibri/core/package.json
Labels: TAG: design system

#6690 Granular import gherkin
  integration_testing/features/super-admin/super-admin-import-granular-from-peer.feature
Labels: TODO: needs review

#6674 Bulkimport
  kolibri/core/assets/src/api-resources/task.js
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/models.py
  kolibri/core/content/permissions.py
  kolibri/core/tasks/api.py
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/modules/importCSV/actions.js
  kolibri/plugins/facility/assets/src/modules/importCSV/index.js
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/Init.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/Preview.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/index.vue
  package.json
Labels: work-in-progress

#6677 Wait for triggered builds during release
  .buildkite/pipeline.yml
Labels: DEV: dev-ops, TODO: needs review

#6609 Document issues with pre-commit from alternative git clients
  docs/getting_started.rst
Labels: TAG: dev experience, TAG: developer docs, TODO: needs decisions, TODO: needs review

#6705 Fix edit modals to navigate properly on save
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/user/assets/src/views/ProfileEditPage.vue
Labels: changelog

#6709 Remove sphinx from build-related dependencies
  requirements/base.txt
  requirements/build.txt
  requirements/docs.txt
Labels: TAG: developer docs, TAG: regression, TAG: tech update / debt, TODO: needs review

#6711 Update Python version compatibility specifiers
  setup.py
Labels: DEV: distributions, TODO: needs review

#6704 Upgrade Windows installer to v1.3.6
  docker/env.list
Labels: TODO: needs review
