Repository learningequality/kolibri, pull requests merged in 2021-08, with the labels that each got.

#8252 Simplify file URL generation.
  kolibri/core/assets/src/core-app/urls.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/core/content/test/test_paths.py
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/utils/paths.py
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
Labels: P2 - normal, TODO: needs review

#8247 Sync notifications updates
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SyncStatusDisplay.vue
  kolibri/core/device/api.py
  kolibri/core/device/kolibri_plugin.py
  kolibri/core/public/api.py
  kolibri/plugins/coach/assets/src/views/ClassLearnersListPage.vue
Labels: TODO: needs review

#8253 Simplify i18n download paths
  .gitignore
  packages/kolibri-tools/lib/i18n/ExtractMessages.js
  packages/kolibri-tools/lib/i18n/crowdin.py
  packages/kolibri-tools/lib/i18n/csvToJSON.js
  packages/kolibri-tools/lib/i18n/untranslatedMessages.js
  packages/kolibri-tools/lib/i18n/utils.js
  packages/kolibri-tools/lib/i18n/utils.py
Labels: TODO: needs review

#8225 Add a thumbnail component for new hybrid learning features
  kolibri/core/assets/src/utils/contentNodeUtils.js
  kolibri/plugins/learn/assets/src/views/Thumbnail.vue
Labels: TODO: needs review

#8267 Add a resource completion modal
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/FocusTrap.vue
  kolibri/core/assets/src/views/TimeDuration.vue
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsExerciseLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourceLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourcesStats.vue
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/CompletionModalSection.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/ResourceItem/ResourceLabel.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/ResourceItem/index.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/Snackbar.vue
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
  kolibri/plugins/learn/assets/test/views/completion-modal.spec.js
Labels: TODO: needs review

#8262 Fix soud intervals
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/device/api.py
  kolibri/core/public/api.py
  kolibri/core/public/constants/user_sync_options.py
  kolibri/core/public/constants/user_sync_statuses.py
  kolibri/core/public/utils.py
  kolibri/utils/options.py
Labels: TODO: needs review

#8280 Bump morango to fix removal of assert statements
  requirements/base.txt
  tox.ini
Labels: TODO: needs review, TAG: dependencies, python

#8298 fix bad order of the parameters to check role permissions
  kolibri/core/auth/models.py
Labels: TODO: needs review, bug

#8318 Remove spreadsheet generation
  .buildkite/build_worksheet.sh
  .buildkite/create_integration_testing_worksheet.py
  .buildkite/pipeline.yml
  docker/build_test_worksheet.dockerfile
  requirements/build_test_worksheet.txt
Labels: TODO: needs review

#8322 Swap order of build commands to allow passing arguments to build proc…
  package.json
Labels: TODO: needs review

#8317 Add defensive guard for ref.
  kolibri/core/assets/src/views/SideNav.vue
Labels: TODO: needs review

#8321 Add setup cli command.
  kolibri/utils/cli.py
Labels: TODO: needs review

#8331 Fix syncing when password-less flow is enabled
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
Labels: TODO: needs review

#8328 Don't stop polling until admin actually initiates the session
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
Labels: TODO: needs review

#8329 Update sync status reporting
  kolibri/core/device/api.py
  kolibri/core/device/test/test_api.py
  kolibri/core/public/constants/user_sync_statuses.py
Labels: TODO: needs review

#8334 CLI Fixes
  kolibri/utils/cli.py
Labels: TODO: needs review

#8333 Server sync queue
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/public/api.py
  kolibri/core/public/constants/user_sync_options.py
  kolibri/core/public/test/test_api.py
  kolibri/core/public/utils.py
Labels: TODO: needs review

#8277 SoUD Status Indicator & Learn-only Notification & Block Facility/Coach
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/state/store.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/LearnOnlyDeviceNotice.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/core/kolibri_plugin.py
  kolibri/core/test/test_key_urls.py
  kolibri/plugins/coach/kolibri_plugin.py
  kolibri/plugins/coach/test/test_subset_of_users_device.py
  kolibri/plugins/facility/kolibri_plugin.py
  kolibri/plugins/facility/test/__init__.py
  kolibri/plugins/facility/test/test_subset_of_users_device.py
Labels: TODO: needs review, TAG: user strings, changelog

#8324 Mark resource as finished modal
  integration_testing/features/learner/learner-mark-resource-as-complete.feature
  kolibri/plugins/learn/assets/src/views/MarkAsCompleteModal.vue
  kolibri/plugins/learn/assets/test/views/mark-as-complete.spec.js
Labels: TODO: needs review, TAG: user strings, changelog

#8341 Setup wizard redirect fix
  kolibri/core/device/middleware.py
  kolibri/core/kolibri_plugin.py
Labels: TODO: needs review

#8342 Sync queue updates
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/device/migrations/0014_syncqueue_instance_id.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/public/api.py
  kolibri/core/public/test/test_api.py
  kolibri/core/public/utils.py
Labels: TODO: needs review

#8366 Fix URL prefixing for static urls
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8200 Add PROJECT option to track specific projects.
  kolibri/core/analytics/utils.py
  kolibri/utils/options.py
Labels: TODO: needs review

#8261 Test modifications to verify exam related logs are synced
  kolibri/core/auth/test/test_morango_integration.py
Labels: TODO: needs review

#8323 Add an upgrade function to remove the static directory to clean up unused files
  kolibri/core/device/upgrade.py
Labels: TODO: needs review

#8368 Return 404s for invalid zipfile names.
  kolibri/core/content/zip_wsgi.py
Labels: TODO: needs review

#8314 Implementation of new LearnImmersiveLayout parent component for Content Renderer
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/classes/Hint.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonMasteryBar.vue
  kolibri/plugins/learn/assets/src/views/classes/OverallStatus.vue
  kolibri/plugins/learn/assets/test/views/learn-immersive-layout.spec.js
Labels: TODO: needs review
