Repository learningequality/kolibri, pull requests merged in 2021-11, with the labels that each got.

#8569 Do not use the default queue when requesting sync in the wizard
  kolibri/plugins/setup_wizard/tasks.py
Labels: TODO: needs review, TAG: regression

#8574 Home page follow-up fixes
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/LearningActivityLabel.vue
Labels: TODO: needs review, DEV: frontend

#8570 Search updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/package.json
  kolibri/core/webpack/hooks.py
  kolibri/plugins/learn/assets/src/composables/__mocks__/useChannels.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useSearch.spec.js
  kolibri/plugins/learn/assets/src/composables/useChannels.js
  kolibri/plugins/learn/assets/src/composables/useLanguages.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/getters.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/mutations.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsRoot/index.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/index.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/Breadcrumbs.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ChannelsPage.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ExploreChannels/__tests__/ExploreChannels.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/ExploreChannels/index.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/test/views/breadcrumbs.spec.js
  kolibri/plugins/learn/kolibri_plugin.py
  package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#8579 Escape " in JSON generation.
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/utils/annotation.py
Labels: TODO: needs review

#8567 Examattemptlog migration in case where no examlog has been changed
  kolibri/core/logger/kolibri_plugin.py
  kolibri/core/logger/test/test_exam_log_migration.py
  kolibri/core/logger/utils/exam_log_migration.py
Labels: TODO: needs review

#8581 KIconButton in top bar was oblong and now it's a circle again
  kolibri/core/assets/src/views/KeenUiToolbar.vue
Labels: TODO: needs review

#8580 sidepanel was hidden by mistake on channels, fixed some errors in BrowseResourceMetadata
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8576 Do simple diff tracking of extra_fields to prevent unnecessary updates.
  kolibri/core/assets/src/state/modules/logging.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#8585 Revert unneccessary change that breaks question detail rendering.
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
Labels: TODO: needs review

#8586 Dev docs - update version of `node` in `nodeenv`
  docs/getting_started.rst
Labels: TAG: developer docs

#8582 Fixes Perseus rendering for exercises that rely upon the KAS parser function
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/OverallStatus.vue
  kolibri/plugins/perseus_viewer/assets/dist/perseus.js
  kolibri/plugins/perseus_viewer/perseusBuildConfig.js
Labels: TODO: needs review

#8591 Fix topic filtering for channel quiz creation.
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
Labels: TODO: needs review

#8590 Update Topics Page for pagination and more
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/core/assets/src/views/KSelect/index.vue
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/learn/assets/src/modules/topicsTree/index.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8595 Setting right device permissions in the setup wizard
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
Labels: TODO: needs review

#8602 Fixes issue where perseus files were not reloading when the source file changed.
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8599 Progress fetching simplification and updates
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/api-resources/contentNodeProgress.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/learn/assets/src/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/assets/src/composables/useContentNodeProgress.js
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/index.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/index.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/index.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/utils/genContentLink.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentCardGroupCarousel.vue
  kolibri/plugins/learn/assets/src/views/ContentCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/ProgressBar.vue
  kolibri/plugins/learn/assets/src/views/RecommendedSubpage.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/index.vue
  kolibri/plugins/learn/assets/test/bookmark-page.spec.js
  kolibri/plugins/learn/assets/test/views/completion-modal.spec.js
Labels: TODO: needs review

#8575 User profile updates
  integration_testing/features/learner/learner-profile-update-notification.feature
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/utils/redirectBrowser.js
  kolibri/core/assets/src/views/language-switcher/mixin.js
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/UpdateYourProfileModal.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ProfileEditPage.vue
Labels: TODO: needs review, gherkin update

#8624 i18n cleanup
  Makefile
  packages/kolibri-tools/lib/i18n/intl_code_gen.js
Labels: TODO: needs review, TAG: tech update / debt

#8641 Filter search results by coach content when relevant.
  kolibri/plugins/learn/assets/src/composables/__tests__/useSearch.spec.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
Labels: TODO: needs review

#8644 Add SoUD hash to facility stats
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/analytics/utils.py
  kolibri/core/auth/management/utils.py
  kolibri/core/device/utils.py
Labels: TODO: needs review, changelog, python

#8646 Properly fetch more progress for tree data.
  kolibri/plugins/learn/assets/src/composables/useContentNodeProgress.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/index.js
Labels: TODO: needs review

#8647 Properly store answer state after initial attempt for exercises
  kolibri/core/assets/src/state/modules/logging.js
  kolibri/core/assets/test/state/store.spec.js
Labels: TODO: needs review

#8650 Consolidate Learn data loading
  kolibri/core/api.py
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/utils/pagination.py
  kolibri/plugins/learn/api_urls.py
  kolibri/plugins/learn/assets/src/app.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useContentNodeProgress.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useCoreLearn.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/assets/src/composables/useContentNodeProgress.js
  kolibri/plugins/learn/assets/src/composables/useCoreLearn.js
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/modules/classAssignments/index.js
  kolibri/plugins/learn/assets/src/modules/classes/handlers.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/mutations.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/test/state/prepareLearnApp.spec.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#8652 SidePanel to show on BookmarksPage
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
Labels: TODO: needs review

#8648 Focus and keyboard updates
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
Labels: TODO: needs review

#8657 Fix some issues in search
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
Labels: TODO: needs review

#8664 Side Panel freezing fix
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
Labels: TODO: needs review

#8658 Allow fast SQLite imports for version 4 schema
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
Labels: TODO: needs review

#8659 Store all currently displayed locations, not just the start location for EPUB progress
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
Labels: TODO: needs review

#8661 Add safeguards against too many fds through http server
  kolibri/deployment/default/cache.py
  kolibri/utils/options.py
  kolibri/utils/system.py
  kolibri/utils/tests/test_system.py
Labels: TODO: needs review

#8651 Also in this sidepanel
  integration_testing/features/learner/learner-view-next-content-side-panel.feature
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/core/content/api.py
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/ProgressBar.vue
  kolibri/plugins/learn/assets/test/views/learn-immersive-layout.spec.js
Labels: TODO: needs review

#8673 Fixes translation of All categories in search chips.
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
Labels: TODO: needs review

#8672 Toggle mark learner complete based on content metadata.
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
Labels: TODO: needs review

#8656 Update `pre-commit` config python version to 3.6
  .pre-commit-config.yaml
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/tasks/compat.py
  kolibri/core/tasks/worker.py
  kolibri/utils/debian_check.py
  packages/kolibri-tools/lib/i18n/utils.py
Labels: TODO: needs review

#8336 Developer documentation for Tasks architecture and consumable APIs
  docs/backend_architecture/index.rst
  docs/backend_architecture/tasks.rst
Labels: TAG: developer docs

#8705 Always provide port to zeroconf
  kolibri/utils/server.py
Labels: TODO: needs review

#8684 Coach view: hide dropdown when there are no practice quizzes
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/kolibri_plugin.py
Labels: TODO: needs review, TODO: needs gherkin update

#8691 Make sure to preload facility config on the user profile page.
  kolibri/core/auth/middleware.py
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ProfileEditPage.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review

#8710 Do not show user sync tasks in the Channels tasks
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
Labels: TODO: needs review

#8713 Hide Folders tab when no topics available on channel page
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8715 Updates "View learner devices" link to appear in all reports pages
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Labels: TODO: needs review

#8711 Sort data to prevent flaky postgres tests.
  kolibri/core/content/test/test_content_app.py
Labels: TODO: needs review

#8718 Added missing pluralization
  kolibri/core/assets/src/mixins/commonCoreStrings.js
Labels: TODO: needs review, TAG: user strings

#8717 Fix undefined string. Add tooltip and aria label for button.
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
Labels: TODO: needs review

#8699 Fix no password learner logging in after passwords activated
  kolibri/plugins/user_auth/assets/src/constants.js
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review

#8712 KA Burmese description overflowing in import fix (no more horizontal scroll)
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
Labels: TODO: needs review

#8703 Update Category Search Modal keyboard accessibility
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchModalOptions.vue
Labels: TODO: needs review

#8726 Don't show home page for guest users.
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
Labels: TODO: needs review

#8679 Check that a channel exists locally before trying to import content
  kolibri/core/content/management/commands/importcontent.py
Labels: TODO: needs review

#8680 Removes hard coded Studio URL from frontend.
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
Labels: TODO: needs review

#8716 Handle duplicate resources
  kolibri/plugins/learn/assets/src/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useSearch.spec.js
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/utils/contentNode.js
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/index.vue
Labels: TODO: needs review

#8708 Bookmark updates
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
Labels: TODO: needs review

#8706 Add back context for navigating back to search pages.
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TODO: needs review

#8731 upgrade caniuse-lite
  yarn.lock
Labels: TODO: needs review

#8743 Add undocumented metadata key to H5P content data.
  packages/hashi/src/H5P/H5PRunner.js
Labels: TODO: needs review

#8740 Evaluation api for mastery/attempt logs
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/api-resources/attemptLog.js
  kolibri/core/assets/src/api-resources/masteryLog.js
  kolibri/core/auth/api.py
  kolibri/core/logger/api.py
  kolibri/core/logger/evaluation.py
  kolibri/core/logger/models.py
  kolibri/core/logger/test/helpers.py
  kolibri/core/logger/test/test_api.py
  kolibri/core/logger/test/test_evaluation.py
Labels: TODO: needs review

#8748 Do permanent redirect from /user to /auth.
  kolibri/core/test/test_key_urls.py
  kolibri/plugins/user_auth/kolibri_plugin.py
  kolibri/plugins/user_auth/root_urls.py
Labels: TODO: needs review

#8747 Learning activity bar truncation and alignment fixes
  kolibri/core/assets/src/views/TextTruncatorCss.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
Labels: TODO: needs review, DEV: frontend

#8500 Use, when possible, an ENV var to get the installation type
  kolibri/utils/constants/__init__.py
  kolibri/utils/constants/installation_types.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#8744 Home page fixes
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#8766 Number of coach contents fixes
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
Labels: TODO: needs review, DEV: frontend

#8768 IE is not a modern browser
  kolibri/core/assets/src/utils/setupAndLoadFonts.js
Labels: TODO: needs review

#8769 Restore Show resources header.
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
Labels: TODO: needs review

#8770 Use TextTruncatorCss for cards on library page and truncate resource titles to five lines
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
Labels: TODO: needs review, DEV: frontend

#8759 Updates to developer 'getting started' docs
  .gitignore
  docker/readme.md
  docs/getting_started.rst
Labels: TODO: needs review, TAG: developer docs

#8773 Do not redefine variable
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#8696 Allow going back before importing the first user
  kolibri/plugins/setup_wizard/assets/src/machines/lodImportMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/ImportLODUsersSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/OnboardingForm.vue
Labels: TODO: needs review

#8714 Misc Perseus renderer style fixes
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8763 Prevent unnecessary fetches on the library page.
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
Labels: TODO: needs review

#8765 Fixes and tests for metadata labels
  kolibri/core/content/api.py
  kolibri/core/content/test/test_search.py
  kolibri/core/content/utils/search.py
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
  kolibri/plugins/learn/kolibri_plugin.py
  requirements/test.txt
Labels: TODO: needs review

#8754 Defer and parallelize loading of data for the also in this panel
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
Labels: TODO: needs review

#8764 Tweak Resource search drop down UX
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/core/assets/src/views/KSelect/index.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
Labels: TODO: needs review

#8774 Lesson completion modal
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/test/views/completion-modal.spec.js
  kolibri/plugins/learn/viewsets.py
Labels: TODO: needs review

#8779 Ensure nodes are ordered by bookmark creation
  kolibri/core/content/api.py
Labels: TODO: needs review, python

#8788 redirect using 'replace: true'
  kolibri/plugins/coach/assets/src/routes/index.js
Labels: TODO: needs review

#8790 upgrade to KDS v1.2.1 with textbox shifting update
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#8791 Remove text transformation on category search strings
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
Labels: TODO: needs review

#8758 Integration of quiz try and attempt diffs in reports
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/EmbeddedMultiPaneLayout.vue
  kolibri/core/assets/src/views/ExamReport/AttemptIconDiff.vue
  kolibri/core/assets/src/views/ExamReport/AttemptTextDiff.vue
  kolibri/core/assets/src/views/ExamReport/CurrentTryOverview.vue
  kolibri/core/assets/src/views/ExamReport/PageStatus.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/logger/api.py
  kolibri/plugins/learn/assets/src/views/QuizRenderer/QuizReport.vue
  kolibri/plugins/learn/assets/src/views/QuizRenderer/TriesOverview.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
Labels: TODO: needs review

#8783 Responsivity improvements of the mastery bar on an exercise page
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/BaseToolbar.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/OverallStatus.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
Labels: TODO: needs review, bug, DEV: frontend

#8634 Listing of practice quiz difficult questions
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/api_urls.py
  kolibri/plugins/coach/assets/src/apiResources/practiceQuizDifficulties.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/test/test_difficult_questions.py
Labels: TODO: needs review
