Repository learningequality/kolibri, pull requests merged in 2021-03, with the labels that each got.

#7822 Revert back to fc57aeb - fix mistaken merge of KDS dep update
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsExerciseLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/test/fixtures/TestComponent.vue
  yarn.lock
Labels: TODO: needs review

#7820 Fixes multiple issues in `IndividualLearnerSelector`
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
Labels: APP: Coach, changelog

#7823 FacilityUser performance speed up for non-admin users
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_roles_and_membership.py
Labels: TODO: needs review

#7846 fix: profile header display in navbar of profile screen
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
Labels: changelog

#7826 Extract NewPasswordPage from SignInPage, and make new route
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/ActivityList.spec.js
  kolibri/plugins/device/assets/src/views/__test__/RearrangeChannelsPage.spec.js
  kolibri/plugins/user/assets/src/constants.js
  kolibri/plugins/user/assets/src/routes.js
  kolibri/plugins/user/assets/src/views/SignInPage/NewPasswordPage.vue
  kolibri/plugins/user/assets/src/views/SignInPage/__test__/NewPasswordPage.spec.js
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/UserIndex.vue
  packages/kolibri-tools/jest.conf/setup.js
Labels: APP: User, changelog

#7844 Move the 'manage migrate' command in the 'Getting started' doc
  docs/getting_started.rst
Labels: TAG: developer docs

#7847 Fix closing animation on `sideNav`
  kolibri/core/assets/src/views/SideNav.vue
Labels: changelog

#7827 Align superuser ("key") icon with its label; style permissions icon with lighter color when disabled
  kolibri/core/assets/src/views/PermissionsIcon.vue
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
Labels: APP: Device, changelog

#7867 Decrease min-width of username in `AppBar` when window is narrow
  kolibri/core/assets/src/views/AppBar.vue
Labels: APP: Learn, changelog

#7852 Set `SOURCE_DATE_EPOCH` to a constant in `fonts.py` to prevent non-glyph related changes to noto CSS files
  build_tools/i18n/fonts.py
  kolibri/core/static/assets/fonts/noto-common.css
  kolibri/core/static/assets/fonts/noto-subset.ach-ug.css
  kolibri/core/static/assets/fonts/noto-subset.ar.css
  kolibri/core/static/assets/fonts/noto-subset.bg-bg.css
  kolibri/core/static/assets/fonts/noto-subset.bn-bd.css
  kolibri/core/static/assets/fonts/noto-subset.de.css
  kolibri/core/static/assets/fonts/noto-subset.en.css
  kolibri/core/static/assets/fonts/noto-subset.es-419.css
  kolibri/core/static/assets/fonts/noto-subset.es-es.css
  kolibri/core/static/assets/fonts/noto-subset.fa.css
  kolibri/core/static/assets/fonts/noto-subset.ff-cm.css
  kolibri/core/static/assets/fonts/noto-subset.fr-fr.css
  kolibri/core/static/assets/fonts/noto-subset.gu-in.css
  kolibri/core/static/assets/fonts/noto-subset.hi-in.css
  kolibri/core/static/assets/fonts/noto-subset.it.css
  kolibri/core/static/assets/fonts/noto-subset.km.css
  kolibri/core/static/assets/fonts/noto-subset.ko.css
  kolibri/core/static/assets/fonts/noto-subset.mr.css
  kolibri/core/static/assets/fonts/noto-subset.my.css
  kolibri/core/static/assets/fonts/noto-subset.nyn.css
  kolibri/core/static/assets/fonts/noto-subset.pt-br.css
  kolibri/core/static/assets/fonts/noto-subset.sw-tz.css
  kolibri/core/static/assets/fonts/noto-subset.te.css
  kolibri/core/static/assets/fonts/noto-subset.ur-pk.css
  kolibri/core/static/assets/fonts/noto-subset.vi.css
  kolibri/core/static/assets/fonts/noto-subset.yo.css
  kolibri/core/static/assets/fonts/noto-subset.zh-hans.css
Labels: TAG: tech update / debt

#7882 Fix for routing issue while exiting search in quiz creation
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: changelog

#7849 Updated scenarios to make it clear that topic description might be optional
  integration_testing/features/coach/coach-create-lesson.feature
  integration_testing/features/coach/coach-create-quiz.feature
  integration_testing/features/guest/guest-find-content-item.feature
  integration_testing/features/learner/learner-find-content-item.feature
Labels: work-in-progress

#7893 Clear failed facility import tasks when restarting Setup Wizard
  kolibri/plugins/setup_wizard/assets/src/api.js
  kolibri/plugins/setup_wizard/assets/src/app.js
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/__test__/LoadingTaskPage.spec.js
Labels: APP: Setup Wizard, changelog

#7897 Reduce transform scale to prevent overflow
  kolibri/core/assets/src/views/sortable/DragContainer.vue
Labels: APP: Coach, changelog

#7894 Show resource count at channel level cards while managing lesson resources
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
Labels: APP: Coach, changelog

#7898 Fix alignment of CoreTable headers on IE11
  kolibri/core/assets/src/views/CoreTable.vue
Labels: ie11

#7869 Watch for changes to the `channels` prop when unlisted channels are added to the list of importable channels in Vuex
  .github/workflows/tox.yml
  .github/workflows/yarn.yml
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
Labels: APP: Device, TAG: regression

#7892 Add step to import Kolibri QA channel to the 'Getting Started' doc
  docs/conf.py
  docs/getting_started.rst
Labels: TAG: developer docs

#7909 Display relevant text message when user selects a single resource while managing a channel
  kolibri/plugins/device/assets/src/views/SelectContentPage/treeViewUtils.js
Labels: APP: Device, changelog

#7918 fix typo in docs
  docs/i18n.rst
Labels: TAG: developer docs

#7915 feat: dynamically add title on shaved text
  kolibri/core/assets/src/views/TextTruncator.vue
Labels: changelog

#7920 Static files and zip content cleanup
  kolibri/core/content/static/assets/h5p/README.md
  kolibri/core/content/static/assets/h5p/fonts/h5p-core-23.eot
  kolibri/core/content/static/assets/h5p/fonts/h5p-core-23.svg
  kolibri/core/content/static/assets/h5p/fonts/h5p-core-23.woff
  kolibri/core/content/static/assets/h5p/images/throbber.gif
  kolibri/core/content/static/assets/h5p/js/frame.bundle.js
  kolibri/core/content/static/assets/h5p/styles/h5p-admin.css
  kolibri/core/content/static/assets/h5p/styles/h5p-confirmation-dialog.css
  kolibri/core/content/static/assets/h5p/styles/h5p-core-button.css
  kolibri/core/content/static/assets/h5p/styles/h5p.css
  kolibri/core/content/templates/content/h5p.html
  kolibri/core/content/templates/content/hashi.html
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/zip_wsgi.py
  kolibri/deployment/default/dev_urls.py
  kolibri/utils/cli.py
  kolibri/utils/django_whitenoise.py
  kolibri/utils/options.py
  kolibri/utils/server.py
  kolibri/utils/system.py
Labels: TODO: needs review

#7914 Update `TextTruncator` to handle text in Khmer, and long, unbroken strings
  kolibri/core/assets/src/views/TextTruncator.vue
Labels: changelog

#7903 When managing lesson resources, do not show "Saving..." notification unless the resources were changed
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/__test__/LessonResourceSelectionPage.spec.js
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ManageLessonModals.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
Labels: APP: Coach

#7931 Add content serving on alternate origin.
  kolibri/utils/server.py
Labels: TODO: needs review

#7926 Upgrade perseus to 1.3.4
  kolibri/core/assets/src/core-app/urls.js
  kolibri/core/content/utils/paths.py
  requirements/base.txt
Labels: changelog
