Repository learningequality/kolibri, pull requests merged in 2021-12, with the labels that each got.

#8792 Update bookmarks handler to reference lessonId
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Labels: TODO: needs review

#8794 Map H5P kind to explore learning activity
  kolibri/core/content/constants/kind_to_learningactivity.py
Labels: TODO: needs review

#8793 Fixed text-align: right for rtl languages
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
Labels: TODO: needs review, DEV: frontend

#8780 Expand media player to use more of viewport in ImmersiveLayout
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerLanguages/LanguagesMenu.vue
  kolibri/plugins/media_player/assets/src/views/videojs-style/variables.scss
Labels: TODO: needs review

#8803 Do not show the bookmark button if the user is not logged in
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
Labels: TODO: needs review

#8795 Fix learning activity label style on bookmarks cards
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/LearningActivityLabel.vue
Labels: TODO: needs review, DEV: frontend

#8814 Reinstate BaseLogFilter for collection based filtering of logs.
  kolibri/core/logger/api.py
Labels: TODO: needs review

#8812 Don't generate notifications on single user devices
  kolibri/core/notifications/kolibri_plugin.py
Labels: TODO: needs review

#8805 theme and branding code cleanup
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/assets/src/styles/definitions.scss
  kolibri/core/assets/src/styles/initializeTheme.js
  kolibri/core/assets/src/styles/main.scss
  kolibri/core/assets/src/styles/themeConfig.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelectOption.vue
  kolibri/core/assets/src/views/KSelect/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/kolibri_plugin.py
  kolibri/core/theme_hook.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/learn/assets/src/utils/__test__/themes.spec.js
  kolibri/plugins/learn/assets/src/utils/validateChannelTheme.js
  kolibri/plugins/learn/assets/src/views/ChannelRenderer/CustomContentRenderer.vue
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
  kolibri/utils/kolibri_whitenoise.py
Labels: TODO: needs review, TAG: tech update / debt

#8799 update font tooling dependency instructions and requirements file
  docs/i18n.rst
  requirements/dev.txt
  requirements/fonts.txt
Labels: TODO: needs review

#8820 Adjust search-chip spacing to enforce 8px minimum separation.
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
Labels: TODO: needs review

#8821 Hide search panel in mobile when search is selected
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8818 Fix upgrade startup errors
  kolibri/core/tasks/upgrade.py
  kolibri/deployment/default/cache.py
  kolibri/utils/main.py
  kolibri/utils/server.py
Labels: TODO: needs review

#8742 Allow facility forking and recreation
  kolibri/core/auth/management/commands/deletefacility.py
  kolibri/core/auth/management/commands/deleteuser.py
  kolibri/core/auth/management/commands/deprovision.py
  kolibri/core/auth/management/commands/flushsyncsessions.py
  kolibri/core/auth/management/commands/recreatefacility.py
  kolibri/core/auth/management/commands/registerfacility.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/test_delete_user.py
  kolibri/core/auth/test/test_utils.py
  kolibri/core/auth/utils.py
  kolibri/core/auth/utils/__init__.py
  kolibri/core/auth/utils/delete.py
  kolibri/core/auth/utils/migrate.py
  kolibri/core/auth/utils/users.py
  kolibri/core/device/utils.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/single_user_assignment_utils.py
  kolibri/core/lessons/serializers.py
  kolibri/core/lessons/single_user_assignment_utils.py
  requirements/docs.txt
Labels: TODO: needs review

#8819 Pass props as strings to avoid validation errors.
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchModalOptions.vue
Labels: TODO: needs review

#8861 If leaving LessonPlaylistPage for non-content, unset lesson in vuex
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
Labels: TODO: needs review

#8863 Include backRoute & context in content link on BrowseResourceMetadata
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/test/views/browse-resource-metadata.spec.js
Labels: TODO: needs review

#8864 Make KSelect label prop optional to match KeenUI Select.
  kolibri/core/assets/src/views/KSelect/index.vue
Labels: TODO: needs review, TAG: dev experience

#8857 Conditionally display 'over x results' when more to show.
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8862 Removes search box from top navbar when user is in library
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TODO: needs review

#8856 Fix height on content cards with folders
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
Labels: TODO: needs review

#8876 Reset searchbox input value when search term is cleared
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
Labels: TODO: needs review

#8883 Do an extra check to stop an unclean shutdown from breaking kolibri.
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#8885 Assign an h5p learning activity kind
  kolibri/core/assets/src/constants.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
Labels: TODO: needs review

#8886 Assign headers properly to prevent 500 when database is locked
  kolibri/core/device/middleware.py
Labels: TODO: needs review

#8880 Bug/soud cannot edit profile
  kolibri/plugins/user_profile/assets/src/views/ProfileEditPage.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user_profile/kolibri_plugin.py
Labels: TODO: needs review

#8884 Perseus in Coach full width - some coach alignment fixes
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8887 Breadcrumbs and title clean up
  kolibri/plugins/learn/assets/src/composables/__mocks__/useSearch.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/index.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/Breadcrumbs.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonResourceViewer.vue
  kolibri/plugins/learn/assets/src/views/classes/classPageLinks.js
  kolibri/plugins/learn/assets/src/views/classes/classesBreadcrumbItems.js
  kolibri/plugins/learn/assets/test/views/breadcrumbs.spec.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
Labels: TODO: needs review

#8891 Add support for topics to `ResourceCard`
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityIcon.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/index.vue
Labels: TODO: needs review, DEV: frontend

#8897 Display completion modal when completing quiz.
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review

#8909 Fix side panel alignment
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8898 Encapsulate progress tracking logic in a composable to prevent content pages crossing their streams
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/logging.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelRenderer/ContentItem.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/test/views/assessment-wrapper.spec.js
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8912 Create message JSON files for 'en'
  .gitignore
  kolibri/locale/en/LC_MESSAGES/README.md
  kolibri/locale/en/LC_MESSAGES/django.mo
  kolibri/locale/en/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.demo_server.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.device.side_nav-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.epub_viewer.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.facility.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.html5_viewer.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.learn.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.learn.side_nav-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.media_player.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.pdf_viewer.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.slideshow_viewer.main-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.user.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.user.user_profile_side_nav-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.user_auth.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.user_profile.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.user_profile.user_profile_side_nav-messages.json
  packages/kolibri-tools/lib/i18n/csvToJSON.js
Labels: TODO: needs review

#8917 Logging issues
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
Labels: TODO: needs review

#8900 theme code simplification
  kolibri/core/theme_hook.py
  kolibri/core/views.py
  kolibri/plugins/default_theme/kolibri_plugin.py
Labels: TODO: needs review

#8902 add object validation and apply it to themes
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/objectSpecs.js
  kolibri/core/assets/src/styles/initializeTheme.js
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/assets/test/objectSpecs.spec.js
  kolibri/core/theme_hook.py
  kolibri/plugins/default_theme/kolibri_plugin.py
Labels: TODO: needs review

#8894 Update Topics page header navigation
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8906 Make non-kolibri servers unavailable to be imported
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/discovery/serializers.py
Labels: TODO: needs review

#8895 Reinstate ids on attempt log viewset.
  kolibri/core/logger/api.py
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
Labels: TODO: needs review

#8925 Ignore duplicate attempts at questions when counting.
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review

#8923 Correct answered question count
  kolibri/plugins/learn/assets/src/views/QuizRenderer/index.vue
Labels: TODO: needs review

#8924 Bump zeroconf and remove separate plugin tracking of addresses
  kolibri/utils/server.py
  requirements/base.txt
Labels: TODO: needs review, DEV: backend, OS: Windows

#8920 Learning activities labels and duration improvements
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useLearningActivities.js
  kolibri/plugins/learn/assets/src/composables/useLearningActivities.js
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/__tests__/index.spec.js
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/index.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityLabel/__tests__/index.spec.js
  kolibri/plugins/learn/assets/src/views/LearningActivityLabel/index.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/LearningActivityLabel.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
Labels: TODO: needs review, bug, TAG: tech update / debt, DEV: frontend

#8937 PDF renderer completion fixes
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#8935 Use latest mac installer version
  .buildkite/pipeline.yml
Labels: TODO: needs review

#8926 Filter bookmarks by available nodes.
  kolibri/core/content/api.py
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
Labels: TODO: needs review

#8929 Update how we prevent orderer widget overflow.
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#8930 Add fixed header to FullScreenSidePanel
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/test/views/browse-resource-metadata.spec.js
  kolibri/plugins/learn/assets/test/views/currently-viewed-resource-metadata.spec.js
Labels: TODO: needs review

#8942 Show that a facility is registered immediately upon registering.
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
Labels: TODO: needs review

#8941 Completion labels
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/composables/useLearningActivities.js
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/__tests__/index.spec.js
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/index.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#8950 Progress update fix
  kolibri/core/tasks/job.py
  kolibri/core/tasks/test/test_job.py
Labels: TODO: needs review

#8947 Sticky side navigation improvements
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review, DEV: frontend

#8931 Finalize H5P Integration
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  packages/hashi/src/H5P/H5PRunner.js
  packages/hashi/src/iframeClient.js
  packages/hashi/src/xAPI/xAPIInterface.js
Labels: TODO: needs review

#8946 Schnittstellenfehler - Visual bugs in German
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/OnboardingForm.vue
Labels: TODO: needs review

#8945 Card heights
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/ProgressBar.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/ContentNodeThumbnail.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/Thumbnail.vue
Labels: TODO: needs review

#8959 Last minute bug fixes
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/ActivityButtonsGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
Labels: TODO: needs review, TAG: regression
