Repository learningequality/kolibri, pull requests merged in 2021-01, with the labels that each got.

#7707 Python 3.9 Support
  .github/workflows/tox.yml
  kolibri/core/analytics/utils.py
  tox.ini
Labels: TODO: needs review

#7703 Fix issue with Facility status displaying "Deleting" while actually "Syncing"
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
Labels: changelog

#7730 Make `CoreTable` compatiable with Vue 3 slot syntax + change API to make headers less nested
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/plugins/coach/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsExerciseLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourceLearners.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserTable.vue
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/test/fixtures/TestComponent.vue
Labels: TODO: needs review

#7731 Add `clearable` property to `task` API payload
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/TaskPanel.spec.js
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device/assets/src/views/__test__/syncTaskUtils.spec.js
  kolibri/plugins/device/assets/src/views/syncTaskUtils.js
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
Labels: TODO: needs review

#7742 Change exit link for Select Content Page after being taken there as part of channel upgrade flow
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
Labels: changelog

#7745 Fix bugs when validating the number of questions in a quiz
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: changelog

#7743 Fix sign-in link to redirect to original Learn-page URL when attempting to view restricted content as a guest
  kolibri/core/assets/src/views/AuthMessage.vue
  kolibri/core/assets/test/views/auth-message.spec.js
  kolibri/plugins/learn/assets/src/app.js
Labels: changelog

#7747 Fix issue with "in progress" icon being displayed in guest mode and update icon display logic in ProgressIcon.vue
  kolibri/core/assets/src/views/ProgressIcon.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: changelog

#7733 Reset Facility settings based on `facilty.dataset.preset` value
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/device/serializers.py
  kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js
  kolibri/plugins/facility/assets/test/state/facilityConfig.spec.js
Labels: TODO: needs review, changelog
