Repository learningequality/kolibri, pull requests merged in 2021-02, with the labels that each got.

#7766 Ensure imported content is immediately accessible
  kolibri/core/auth/test/helpers.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/test/test_device_provision.py
  kolibri/core/device/test/test_locale_middleware.py
  kolibri/core/test/test_key_urls.py
  kolibri/plugins/setup_wizard/test/test_api.py
Labels: changelog

#7778 Redirect to the Learn page after updating profile (when prompted by notification)
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/user/assets/src/views/ProfileEditPage.vue
Labels: changelog

#7777 Fix "X" button on search results page going to wrong location after viewing content shortly before
  CHANGELOG.md
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: changelog

#7789 Add Python 3.8 to setup.py
  setup.py
Labels: changelog

#7775 Update progress using summary spent_time, not session
  kolibri/core/assets/src/state/modules/logging.js
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/h5p_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#7797 Pre-compress static files
  .gitignore
  Makefile
  kolibri/utils/server.py
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/compress.js
  packages/kolibri-tools/lib/webpack.config.base.js
  requirements/base.txt
Labels: changelog

#7801 Disable SearchBox input when its value is empty string; fix various tech debt issues
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/SearchPage.vue
Labels: changelog

#7814 In password-update sign-in flow, block user if password and its confirmation do not match
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
Labels: APP: User, changelog

#7735 Use fuse.js to filter and rank users by `username` and `full_name` fields in `PaginatedListContainer`
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/utils/filterUsersByNames.js
  kolibri/core/assets/src/views/FilterTextbox.vue
  kolibri/core/assets/src/views/PaginatedListContainer.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/userSearchUtils.js
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/device/assets/src/userSearchUtils.js
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/modules/classEditManagement/handlers.js
  kolibri/plugins/facility/assets/src/userSearchUtils.js
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  yarn.lock
Labels: TODO: needs review, changelog

#7817 Update KDS dependency and update all KRouterLink components
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsExerciseLearners.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/test/fixtures/TestComponent.vue
  yarn.lock
Labels: TODO: needs review
