Repository learningequality/kolibri, pull requests merged in 2021-07, with the labels that each got.

#8184 Bump morango version to 0.5.6
  requirements/base.txt
Labels: TODO: needs review

#8195 Use a double tap strategy to ensure against zombies
  .github/workflows/no_zombies.yml
  kolibri/utils/server.py
Labels: TODO: needs review

#8190 Add support for multiple learning activities icon
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityIcon.vue
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
Labels: TODO: needs review

#8083 Fix Windows installer to correctly detect running Kolibri
  docker/env.list
Labels: TODO: needs review

#8196 Add env var to disable file based logging
  kolibri/utils/cli.py
  kolibri/utils/env.py
  kolibri/utils/logger.py
Labels: TODO: needs review

#6115 Postgresql database import speedup
  .github/workflows/postgres.yml
  .github/workflows/tox.yml
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/test/test_sqlalchemy_bridge.py
  kolibri/core/content/upgrade.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/channels.py
  kolibri/core/content/utils/check_schema_db.py
  kolibri/core/content/utils/importability_annotation.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/content/utils/tree.py
  tox.ini
Labels: TODO: needs review

#8197 Add test to confirm that rotation handler is working as intended.
  kolibri/utils/tests/test_handler.py
Labels: TODO: needs review

#8208 Deprecated options
  kolibri/core/webpack/hooks.py
  kolibri/deployment/default/cache.py
  kolibri/utils/cli.py
  kolibri/utils/main.py
  kolibri/utils/options.py
  kolibri/utils/tests/test_options.py
Labels: TODO: needs review

#8214 Don't try to initialize H5P when it is does not exist.
  packages/hashi/src/H5P/H5PInterface.js
Labels: TODO: needs review

#8207 Add basic batch processing of notifications with tests.
  kolibri/core/logger/test/factory_logger.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
Labels: TODO: needs review

#8212 Channel based quizzes
  kolibri/core/content/api.py
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateChannelQuizPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/PlanChannelQuizPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/ChannelQuizContentPreviewPage.vue
Labels: TODO: needs review

#8199 Don't modify lessons when content is deleted.
  kolibri/core/content/signals.py
Labels: TODO: needs review

#8223 Notification generation during cleanup stage of sync
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/utils.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/notifications/api.py
  kolibri/deployment/default/settings/base.py
  requirements/base.txt
Labels: TODO: needs review

#8215 Channel quiz gherkin
  integration_testing/features/coach/coach-create-quiz.feature
Labels: TODO: needs review

#8206 Small code quality cleanup
  kolibri/core/auth/permissions/base.py
Labels: TODO: needs review

#8194 Update data flow docs to be accurate, even if not complete.
  docs/dataflow/index.rst
Labels: TAG: developer docs

#8213 Fix deprovision cache issue
  kolibri/core/device/models.py
  kolibri/core/device/test/test_device_settings.py
Labels: TODO: needs review

#8205 Add permissions to SyncStatus model.
  kolibri/core/device/models.py
Labels: TODO: needs review

#8220 Point develop at most recent KDS
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#8202 UX for learner and coach/admin single user syncing
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/api-resources/userSyncStatus.js
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/SyncStatusDescription.vue
  kolibri/core/assets/src/views/SyncStatusDisplay.vue
  kolibri/core/assets/test/sync-status-display.spec.js
  kolibri/core/auth/permissions/base.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_api.py
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/ClassLearnersListPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/learn/api_urls.py
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/classes/handlers.js
  kolibri/plugins/user/assets/test/views/profile-page.spec.js
Labels: TODO: needs review, changelog

#8232 Fix check_device_info
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/discovery/utils/network/connections.py
Labels: TAG: regression, TODO: needs review

#8242 Make sure adhoc groups have a name.
  kolibri/core/auth/models.py
  kolibri/core/auth/upgrade.py
  kolibri/core/auth/utils.py
Labels: TODO: needs review

#8243 Catch Database locked errors during dynamic location registration
  kolibri/core/discovery/utils/network/search.py
Labels: TODO: needs review

#8239 Credential handling for password-less learner certificate generation
  kolibri/core/auth/backends.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_backend.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/discovery/test/test_network_utils.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
Labels: DEV: backend, TODO: needs review

#8231 Add method to detect if network has changed and reinitialize zeroconf
  kolibri/core/discovery/utils/network/search.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review
