Repository learningequality/kolibri, pull requests merged in 2021-09, with the labels that each got.

#8367 Ensure the user will see the welcome modal after login
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  kolibri/plugins/device/kolibri_plugin.py
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/views/ImportLODUsersSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/LoadingTaskPage.vue
Labels: TODO: needs review

#8369 Fix invocations of read_channel_metadata_from_db_file to expect a dict
  kolibri/core/content/management/commands/scanforcontent.py
  kolibri/core/content/utils/channels.py
  kolibri/core/tasks/api.py
Labels: TODO: needs review

#8374 User strings corrections and improvements
  kolibri/core/assets/src/views/AuthMessage.vue
  kolibri/core/assets/src/views/ContentIcon.vue
  kolibri/core/assets/src/views/ExamReport/PageStatus.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/assets/src/views/sync/SelectSyncSourceModal.vue
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchFilters.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/demo_server/assets/src/DemoServerBannerContent.vue
  kolibri/plugins/device/assets/src/modules/userPermissions/handlers.js
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/channelUpdateStrings.js
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/device/assets/src/views/PermissionsChangeModal.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/epub_viewer/assets/src/views/SearchSideBar.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/PersonalSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetupMethod.vue
  kolibri/plugins/user/assets/src/modules/signIn/handlers.js
  kolibri/plugins/user/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review, P1 - important, TAG: user strings, i18n

#8383 filter SoUD devices when scanning the network to import new facilities
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/api.js
  kolibri/core/discovery/api.py
Labels: TODO: needs review

#8372 Fix debug logging
  kolibri/core/tasks/compat.py
  kolibri/core/tasks/scheduler.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/utils.py
  kolibri/utils/cli.py
  kolibri/utils/logger.py
  kolibri/utils/main.py
Labels: TODO: needs review

#8373 Give a better error from RemoteViewset when Kolibri is offline
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Labels: TODO: needs review

#8397 Zeroconf updates
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/search.py
  kolibri/plugins/setup_wizard/api.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
  requirements/base.txt
Labels: TODO: needs review

#8385 Do not create accounts in Subset of users devices
  kolibri/plugins/user/assets/src/routes.js
  kolibri/plugins/user/assets/src/views/AuthBase.vue
  kolibri/plugins/user/kolibri_plugin.py
Labels: TODO: needs review

#8398 Handle redirect URLs that do not exist
  kolibri/core/views.py
  kolibri/plugins/coach/kolibri_plugin.py
  kolibri/plugins/facility/kolibri_plugin.py
Labels: TODO: needs review

#8386 Don't use SIGKILL on windows as it doesn't exist.
  kolibri/utils/server.py
Labels: TODO: needs review

#8401 Remove use of python ua-parser from the backend.
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/api-resources/session.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/utils/__test__/browserInfo.spec.js
  kolibri/core/assets/src/utils/browserInfo.js
  kolibri/core/assets/test/heartbeat.spec.js
  kolibri/core/assets/test/state/store.spec.js
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/logger/models.py
  kolibri/core/package.json
  requirements/base.txt
  yarn.lock
Labels: TODO: needs review

#8411 Upgrade zeroconf to catch import error on Android
  requirements/base.txt
Labels: TODO: needs review

#8412 Reduce the default sync retry interval.
  kolibri/utils/options.py
Labels: TODO: needs review

#8413 Reuse kolibriLogin to begin user sessions in the setup wizard
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
Labels: TODO: needs review

#8418 Prevent too many variables error
  kolibri/core/content/api.py
Labels: TODO: needs review

#8371 Unsupported browser theme
  kolibri/core/templates/kolibri/unsupported_browser.html
  kolibri/core/views.py
Labels: TODO: needs review

#8402 Remove older backups
  kolibri/core/deviceadmin/utils.py
  kolibri/utils/main.py
  kolibri/utils/tests/test_main.py
Labels: TODO: needs updates

#8421 Remove all user strings with instances of 'active/inactive'
  kolibri/plugins/coach/assets/src/views/common/LessonActive.vue
  kolibri/plugins/coach/assets/src/views/common/QuizActive.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentSummary.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review, P1 - important, TAG: user strings, i18n, DEV: frontend

#8407 Second batch of string corrections
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/FilterTextbox.vue
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLessonSelectionContentPreview.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectionBottomBar.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/CsvInfoModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserTable.vue
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
  kolibri/plugins/learn/assets/src/views/LearnExamReportViewer.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerCaptions/TranscriptMenuItem.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerTranscript/index.vue
Labels: TODO: needs review, P1 - important, TAG: user strings, i18n

#8403 8110/mark resource as finished modal part deux
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/MarkAsCompleteModal.vue
  kolibri/plugins/learn/assets/test/views/mark-as-complete.spec.js
Labels: TODO: needs review, changelog

#8430 Hybrid learning home page MVP - for string freeze
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/learn/assets/src/__mocks__/apiResources.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDeviceSettings.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useUser.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/assets/src/composables/useDeviceSettings.js
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/useUser.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/getters.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/ResourceItem/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ExploreChannels.vue
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/YourClasses/__tests__/YourClasses.spec.js
  kolibri/plugins/learn/assets/src/views/YourClasses/index.vue
  kolibri/plugins/learn/assets/src/views/cards/AssignmentCard.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  kolibri/plugins/learn/assets/src/views/cards/LessonCard/__tests__/LessonCard.spec.js
  kolibri/plugins/learn/assets/src/views/cards/LessonCard/index.vue
  kolibri/plugins/learn/assets/src/views/cards/QuizCard/__tests__/QuizCard.spec.js
  kolibri/plugins/learn/assets/src/views/cards/QuizCard/index.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/LearningActivityLabel.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/__tests__/LearningActivityLabel.spec.js
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/src/views/classes/AssignedLessonsCards.vue
  kolibri/plugins/learn/assets/src/views/classes/AssignedQuizzesCards.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/learn/assets/src/views/thumbnails/ContentNodeThumbnail.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/QuizThumbnail.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/Thumbnail.vue
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  packages/kolibri-tools/lib/i18n/astUtils.js
Labels: TODO: needs review

#8423 Add suggested time component with strings
  kolibri/plugins/learn/assets/src/views/SuggestedTime.vue
Labels: TODO: needs review, TAG: user strings

#8419 a way to handle pop-up blocker in mozilla
  kolibri/plugins/facility/assets/src/modules/manageCSV/index.js
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
Labels: TAG: user strings

#8426 Initial bookmark implementation and strings
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/bookmarks/api.py
  kolibri/core/bookmarks/migrations/0002_bookmark_created.py
  kolibri/core/bookmarks/models.py
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/utils/pagination.py
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/BookmarkIcon.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/CardThumbnail.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/test/views/learn-immersive-layout.spec.js
  kolibri/plugins/learn/assets/test/views/learn-index.spec.js
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
Labels: TODO: needs review

#8160 (WIP) Hybrid learning side panel
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/SidePanelContentItem.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/SidePanelResourceMetadata.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/SidePanelResourcesList.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review

#8415 Properly test that we do not prematurely initialize our OPTIONS
  test/test_cli_at_import.py
  tox.ini
Labels: TODO: needs review

#8442 Create separate SQLite databases for independent data to increase write concurrency
  kolibri/core/apps.py
  kolibri/core/device/migrations/0015_syncqueue_no_fk.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/test/test_upgrade.py
  kolibri/core/discovery/upgrade.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/notifications/models.py
  kolibri/core/notifications/tasks.py
  kolibri/core/public/api.py
  kolibri/core/public/test/test_api.py
  kolibri/core/sqlite/utils.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review

#8444 Update v0.13.x Morango dependency to latest version
  requirements/base.txt
Labels: TODO: needs review, TAG: dependencies

#8432 Don't require `label` and `icon` prop in `CoreMenuOption`
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
Labels: TODO: needs review

#8438 First pass at regression test and fix for SoUD FacilityUser sync conflict
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/test/sync_utils.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/plugins/registry.py
Labels: work-in-progress

#8446 Handle 500+ status codes when requesting a SoUD sync
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/public/utils.py
Labels: TODO: needs review

#8456 Defers content schema initialization until needed.
  kolibri/core/content/apps.py
  kolibri/core/content/utils/sqlalchemybridge.py
Labels: TODO: needs review, DEV: backend

#8457 Remove precaching of Django static files.
  kolibri/deployment/default/wsgi.py
  kolibri/utils/kolibri_whitenoise.py
Labels: TODO: needs review

#8462 Fix Perseus messages
  kolibri/locale/ach_UG/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ach_UG/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/de/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/de/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/es_419/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/es_419/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/fa/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/fa/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ha/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/id/LC_MESSAGES/kolibri.plugins.html5_viewer.main-messages.json
  kolibri/locale/id/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/it/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/it/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ka/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/km/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/km/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ko/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ko/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/mr/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/mr/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/my/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/my/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/nyn/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/nyn/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/te/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/te/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/kolibri_exercise_perseus_plugin.main-messages.json
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
  packages/kolibri-tools/lib/i18n/astUtils.js
Labels: TODO: needs review

#8459 Upgrades KDS and dependencies
  kolibri/core/package.json
  kolibri/plugins/perseus_viewer/package.json
  package.json
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
  packages/publish.js
  yarn.lock
Labels: TODO: needs review

#8452 Hybrid learning progress bar
  kolibri/plugins/learn/assets/src/views/ProgressBar.vue
Labels: TODO: needs review

#8468 Preseed all the databases
  Makefile
  build_tools/preseed_home.py
  kolibri/core/auth/management/commands/deprovision.py
  kolibri/utils/main.py
Labels: TODO: needs review
