Repository learningequality/kolibri, pull requests merged in 2021-04, with the labels that each got.

#7938 Do not use `--skip-update` when running Kolibri in development mode
  package.json
Labels: TAG: developer docs

#7937 Ensure mp3 type is audio/mpeg in media player
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: DEV: renderers, TODO: needs review

#7943 Attempt to restore the build
  build_tools/install_cexts.py
  requirements/base.txt
  requirements/cext.txt
  requirements/cext_noarch.txt
  test/test_cext.py
Labels: TODO: needs review

#7951 fix(tasks): tasks queue is cleared on server start
  kolibri/utils/server.py
Labels: TODO: needs review

#7950 fix(restarttask): client side reappearance of task upon restart
  kolibri/core/tasks/queue.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/test/test_job_running.py
Labels: TODO: needs review

#7939 Add endpoint to check for duplicate username and use it to check for existing username while creating an account
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/auth/test/test_api.py
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: changelog

#7941 ContentNodeViewset: Add content tags
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Labels: TODO: needs review

#7953 Fix non localized numerals
  kolibri/core/assets/src/views/userAccounts/BirthYearDisplayText.vue
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/common/StatusElapsedTime.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/common/status/LearnerProgressCount.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  packages/kolibri-tools/test/fixtures/TestComponent.vue
Labels: changelog, i18n

#7956 Add tab-indent style rule for Gherkin scenarios to the .editorconfig
  .editorconfig
Labels: TAG: dev experience, TODO: needs review

#7904 Remove svg-icon-inline-loader from dependencies, removes large dep
  docs/frontend_architecture/components.rst
  kolibri/core/assets/src/views/PointsIcon/index.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/Answer.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsExerciseLearners.spec.js.snap
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/learn/assets/src/views/MasteredSnackbars/index.vue
  kolibri/plugins/learn/assets/src/views/TotalPoints.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TAG: design system

#7936 Change template for personal facility name to "Home facility for {name}"
  kolibri/plugins/setup_wizard/assets/src/modules/__test__/setupWizardPluginModule.spec.js
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
Labels: APP: Setup Wizard, changelog

#7899 Add windows and macos python 3.6 unit test runners; make filesystem operations safer on Windows
  .github/workflows/tox.yml
  kolibri/conftest.py
  kolibri/core/auth/test/sync_utils.py
  kolibri/core/auth/test/test_user_import.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/test/test_movedirectory.py
  kolibri/core/discovery/utils/filesystem/windows.py
  kolibri/core/logger/csv_export.py
  kolibri/core/logger/test/test_api.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_job_running.py
  kolibri/core/tasks/test/test_scheduler.py
  kolibri/core/tasks/test/test_storage.py
  kolibri/core/tasks/test/test_worker.py
  kolibri/core/webpack/test/base.py
  kolibri/utils/tests/test_options.py
  kolibri/utils/tests/test_sanity_check.py
  requirements/test.txt
Labels: changelog

#7932 When toggling Demo Banner, do not send focus to a new location outside of the sign-in page forms
  kolibri/core/assets/src/views/CoreBanner.vue
Labels: changelog

#7981 Correct the component namespace in the JSON files
  kolibri/locale/ach_UG/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/de/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/es_419/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/fa/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/it/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/km/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ko/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/mr/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/my/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/nyn/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/te/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
Labels: TAG: user strings, changelog

#7987 Switch to babel.
  babel.config.js
  kolibri/core/assets/src/core-app/index.js
  packages/hashi/README.md
  packages/hashi/compat.js
  packages/hashi/package.json
  packages/hashi/src/compat.js
  packages/hashi/src/iframe.js
  packages/hashi/webpack.config.js
  packages/kolibri-tools/babel.config.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#7984 Add a placeholder 0.15 upgrade notification; add reminders about the upgrade notification in release process docs
  docs/_static/theme_overrides.css
  docs/i18n.rst
  docs/release_process.rst
  kolibri/core/assets/src/views/UpdateNotification.vue
Labels: TAG: developer docs

#8002 Upgrade dependencies for building docs
  requirements/docs.txt
Labels: TAG: developer docs

#8003 Fix utf-8 encoding issues for all Python CSV exports
  kolibri/core/auth/csv_utils.py
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/management/commands/importusers.py
  kolibri/core/auth/test/test_bulk_import.py
  kolibri/core/auth/test/test_user_export.py
  kolibri/core/auth/test/test_user_import.py
  kolibri/core/logger/csv_export.py
  kolibri/core/utils/csv.py
Labels: TODO: needs review

#7983 Validate usernames during sign-in flow + fix bug in facility settings page
  integration_testing/features/common/common-multiple-facility-sign-in.feature
  kolibri/core/assets/src/constants.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/user/assets/src/apiResource.js
  kolibri/plugins/user/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user/assets/src/views/SignUpPage.vue
Labels: APP: Facility, APP: User, changelog

#8006 fix link to beginner-friendly issues
  docs/contributing/ways_to_contribute.rst
Labels: TAG: developer docs

#7991 Add test and fix for byte encoded unicode text as a value for info.
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/search.py
Labels: TODO: needs review

#8008 Prevent too many variables error
  kolibri/core/content/utils/annotation.py
Labels: TODO: needs review

#8018 Update perseus renderer for Safari compatibility
  requirements/base.txt
Labels: TODO: needs review

#8031 Add more verbose logging for request errors.
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/test/api-resource.spec.js
Labels: TODO: needs review

#7924 Update zip_content options to better reflect deployment needs.
  kolibri/core/assets/src/core-app/urls.js
  kolibri/core/content/templates/content/h5p.html
  kolibri/core/content/templates/content/hashi.html
  kolibri/core/content/templatetags/zip_content_tags.py
  kolibri/core/content/test/test_zipcontent.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/zip_wsgi.py
  kolibri/core/kolibri_plugin.py
  kolibri/utils/options.py
  kolibri/utils/server.py
Labels: TODO: needs review

#7975 Run iceqube tests on postgres.
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/test/sqlalchemytesting.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/test/base.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/test/test_job_running.py
  kolibri/core/tasks/test/test_scheduler.py
  kolibri/core/tasks/test/test_storage.py
  kolibri/core/tasks/test/test_worker.py
  kolibri/core/utils/sqlalchemy_utils.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/postgres_test.py
  tox.ini
Labels: TODO: needs review

#8025 Add DISABLE_CUSTOM_CHANNEL_NAV - default false to options.py
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/learn/options.py
Labels: TODO: needs review

#8023 Consolidate WSGI configuration
  kolibri/core/urls.py
  kolibri/deployment/default/alt_wsgi.py
  kolibri/deployment/default/settings/dev.py
  kolibri/deployment/default/wsgi.py
  kolibri/utils/django_whitenoise.py
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_kolibri_whitenoise.py
Labels: TODO: needs review

#8000 Ensure progress_fraction is propagated through resource api
  kolibri/plugins/learn/assets/src/modules/topicsRoot/handlers.js
Labels: changelog
