Repository learningequality/kolibri, pull requests merged in 2022-10, with the labels that each got.

#9777 Fix show more bug for resources that are at the top level
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: TODO: needs review

#9773 Fix learn UI regressions
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/KeenUiToolbar.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
Labels: TODO: needs review

#9776 Fix PDF completion issues
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#9774 set max width on library page main grid container
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
Labels: TODO: needs review

#9763 Tests uKResponsiveWindow composable and Updates KDS Package to latest develop
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/views/LibraryPage/SidePanel.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  yarn.lock
Labels: TODO: needs review, changelog

#9294 Release process automation
  .buildkite/pipeline.yml
  .buildkite/setup_and_upload_artifact.sh
  .buildkite/upload_artifacts.py
  .github/githubUtils.js
  .github/workflows/pr_build_comment.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_kolibri.yml
  docker/upload_artifacts.dockerfile
  requirements/release_upload.txt
Labels: TODO: needs review

#9797 Remove all options from filters
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/ActivityButtonsGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
Labels: TODO: needs review, gherkin update

#9760 Created screen to do the actual merge
  kolibri/core/auth/api.py
  kolibri/core/auth/tasks.py
  kolibri/plugins/user_profile/api_urls.py
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ToBeDone.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/MergeFacility.spec.js
  kolibri/plugins/user_profile/tasks.py
  kolibri/plugins/user_profile/utils.py
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review, TODO: needs gherkin update, gherkin update

#9730 SetupWizard - Partial provisioning, On My Own Flow
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/utils/appCapabilities.js
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_device_provision.py
  kolibri/core/device/utils.py
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/DeleteExportChannelsPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/setup_wizard/api.py
  kolibri/plugins/setup_wizard/assets/src/api.js
  kolibri/plugins/setup_wizard/assets/src/constants.js
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/routes.js
  kolibri/plugins/setup_wizard/assets/src/views/ImportFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
  kolibri/plugins/setup_wizard/kolibri_plugin.py
Labels: TODO: needs review
