Repository learningequality/kolibri, pull requests merged in 2022-06, with the labels that each got.

#9476 Simplify task execution
  kolibri/core/tasks/job.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/test/base.py
  kolibri/core/tasks/utils.py
  kolibri/core/tasks/worker.py
  kolibri/utils/options.py
  kolibri/utils/tests/helpers.py
Labels: TODO: needs review

#9477 Update pytest to v4.1.1
  kolibri/core/content/test/test_sqlalchemy_bridge.py
  requirements/test.txt
  setup.cfg
Labels: TODO: needs review

#9474 Adds new public content metadata endpoints, allows for remote browsing of metadata
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/public/api.py
  kolibri/core/public/api_urls.py
Labels: TODO: needs review

#9468 Onboarding - On my own flow styling, state save & resume
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/routes.js
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/UngroupedSetupSteps.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DefaultLanguageForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
  kolibri/plugins/setup_wizard/assets/test/views/SuperuserCredentialsForm.spec.js
Labels: TODO: needs review

#9478 Adjust padding for visible focus outline on bottom bar buttons
  kolibri/core/assets/src/views/BottomAppBar.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
Labels: TODO: needs review

#9481 Delete ConditionalPromise
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/api-resources/contentNodeProgress.js
  kolibri/core/assets/src/conditionalPromise.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/test/conditionalPromise.spec.js
  kolibri/plugins/coach/assets/src/modules/examsRoot/handlers.js
  kolibri/plugins/coach/assets/src/modules/groups/handlers.js
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
  kolibri/plugins/device/assets/src/modules/managePermissions/handlers.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/facility/assets/src/modules/classAssignMembers/handlers.js
  kolibri/plugins/facility/assets/src/modules/classEditManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/classManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/userManagement/handlers.js
  kolibri/plugins/learn/assets/src/modules/examReportViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
Labels: TODO: needs review

#9463 Content dir argument
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/channel_import.py
Labels: TODO: needs user docs

#9456 Creation of remote users if needed
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review

#9222 Remove corebase from learn index
  kolibri/core/assets/src/views/AppBarCorePage.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/NotificationsRoot.vue
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
  kolibri/plugins/facility/assets/test/views/facility-app-bar-page.spec.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/ContentUnavailablePage.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/ImmersivePageRoot.vue
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LearnExamReportViewer.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/learn/assets/test/views/breadcrumbs.spec.js
  kolibri/plugins/learn/assets/test/views/learn-top-nav.spec.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
Labels: TODO: needs review

#9508 Upgrade requests to latest Py2.7 compatible version
  requirements/base.txt
Labels: TODO: needs review, TAG: tech update / debt

#9510 Update pytz to latest version.
  requirements/base.txt
Labels: TODO: needs review, TAG: tech update / debt

#9503 Task updates for android
  kolibri/core/analytics/management/commands/ping.py
  kolibri/core/analytics/tasks.py
  kolibri/core/analytics/utils.py
  kolibri/core/content/tasks.py
  kolibri/core/tasks/decorators.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/core/tasks/test/test_decorators.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/worker.py
  kolibri/utils/options.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#9515 Enable "continue" in quiz creation only once exercises selected
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: TODO: needs review

#9404 Remove profile dropdown
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
Labels: TODO: needs review, changelog

#9512 Change facility first screens
  kolibri/core/auth/serializers.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/permissions.py
  kolibri/core/discovery/permissions.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/public/api.py
  kolibri/core/public/api_urls.py
  kolibri/plugins/user_profile/api_urls.py
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccount.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ToBeDone.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user_profile/tasks.py
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review

#9540 Update webpack hooks to listen for proper stats status
  kolibri/core/webpack/hooks.py
Labels: TODO: needs review, TAG: dev experience

#9535 Clean up state management for user management page
  kolibri/plugins/facility/assets/src/modules/userManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/userManagement/index.js
  kolibri/plugins/facility/assets/src/routes.js
Labels: TODO: needs review

#9545 Fix quiz display for non-admins
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: TODO: needs review
