Repository learningequality/kolibri, pull requests merged in 2022-01, with the labels that each got.

#8965 Remove unnecessary uses of $computedClass
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/Thumbnail.vue
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
Labels: TODO: needs review, TAG: tech update / debt, DEV: frontend

#8970 Fix slow-closing submit modal
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/QuizRenderer/index.vue
Labels: TODO: needs review

#8957 Don't package core node_modules dir
  MANIFEST.in
Labels: TODO: needs review

#8973 Various UI fixes and improvements
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/userAccounts/PasswordTextbox.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
Labels: TODO: needs review, bug, DEV: frontend

#8975 Note which plugin has errors in webpack_json kolibri_plugin
  packages/kolibri-tools/lib/webpack_json.py
Labels: TODO: needs review

#8987 Don't use git:// protocol for unauthenticated github access.
  .pre-commit-config.yaml
Labels: TODO: needs review

#8990 Handle no xAPI statements existing.
  packages/hashi/src/xAPI/xAPIInterface.js
Labels: TODO: needs review, TAG: regression

#8995 Bump morango to v0.6.7
  requirements/base.txt
Labels: TODO: needs review

#8996 Fix `isTopic` error on Topics page
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
Labels: TODO: needs review

#9018 Move close button logic to `FullScreenSidePanel`
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8986 Fix Library and Topics pages side panel scrolling
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
Labels: TODO: needs review, TODO: needs decisions

#9000 Survey modality
  kolibri/core/assets/src/views/AttemptLogItem.vue
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/ExamReport/CurrentTryOverview.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/assets/test/exams/current-try-overview.spec.js
  kolibri/core/assets/test/fixtures/sample-attempt-logs.json
  kolibri/core/assets/test/views/attempt-log-item.spec.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/index.js
  kolibri/plugins/coach/assets/src/views/common/LearnerExerciseReport.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/QuizRenderer/QuizReport.vue
  kolibri/plugins/learn/assets/src/views/QuizRenderer/index.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
  packages/kolibri-core-for-export/package.json
  requirements/base.txt
  yarn.lock
Labels: TODO: needs review, changelog

#9036 Update KDS to v1.3.0
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, DEV: frontend

#9026 Use url utilities to format urls
  kolibri/core/discovery/api.py
Labels: TODO: needs review, bug, DEV: backend

#9046 Properly check if a quiz is randomized.
  kolibri/plugins/learn/assets/src/views/QuizRenderer/index.vue
Labels: TODO: needs review

#9011 Theming fixes + couple UI fixes
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BaseToolbar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/SidePanelContentItem.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/SidePanelResourcesList.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/src/views/SkipNavigationLink.vue
  kolibri/core/assets/src/views/TextTruncatorCss.vue
  kolibri/core/assets/src/views/sync/FacilityAdminCredentialsForm.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/plugins/coach/assets/src/views/CoachPrompts/index.vue
  kolibri/plugins/coach/assets/src/views/common/StatusElapsedTime.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusTestPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/RemoveFacilityModal.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/Preview.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/index.vue
  kolibri/plugins/learn/assets/src/views/ActionBarSearchBox.vue
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelRenderer/ContentModal.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/ActivityButtonsGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityChip.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerTranscript/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/ProgressToolbar.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
Labels: TODO: needs review, TAG: tech update / debt, TAG: ux update, DEV: frontend

#9047 Fix range requests where 'end' is specified.
  kolibri/utils/kolibri_whitenoise.py
Labels: TODO: needs review

#8999 reduce and fix migrations
  kolibri/core/auth/migrations/0001_initial.py
  kolibri/core/auth/migrations/0003_auto_20170621_0958.py
  kolibri/core/auth/migrations/0004_auto_20170816_1607.py
  kolibri/core/auth/test/test_data_migrations.py
  kolibri/core/logger/migrations/0002_auto_20170518_1031.py
Labels: TODO: needs review

#8976 frontend architecture docs correction re: default sass import
  docs/frontend_architecture/core.rst
Labels: TODO: needs review

#9038 Card refactor
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
Labels: TODO: needs review
