Repository learningequality/kolibri, pull requests merged in 2022-05, with the labels that each got.

#9393 Python 3.10 support
  .github/workflows/tox.yml
  kolibri/utils/compat.py
  kolibri/utils/env.py
  setup.py
  test/patch_pytest.py
  test/pytest_3.10.patch
  test/test_future_and_futures.py
  tox.ini
Labels: TODO: needs review

#9370 Allow internationalization of text before Django initialization.
  kolibri/plugins/coach/kolibri_plugin.py
  kolibri/plugins/facility/kolibri_plugin.py
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  kolibri/plugins/user_profile/kolibri_plugin.py
  kolibri/utils/translation.py
Labels: TODO: needs review

#9399 Merge up morango dependency upgrade to v0.6.12
  kolibri/deployment/default/settings/dev.py
  requirements/base.txt
Labels: TODO: needs review, TAG: dependencies

#9403 Move perseus specific logic into perseus renderer.
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#9379 Onboarding wrapper component
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
Labels: TODO: needs review

#9405 Onboarding state machine & plugin prep
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/routes.js
  kolibri/plugins/setup_wizard/assets/src/views/PersonalSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/Sandbox.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FullDeviceNewOrImportFacility.vue
Labels: TODO: needs review

#9408 Update side panel focus trapping
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
Labels: TODO: needs review, TAG: a11y

#9419 Create a state machine and new routes for change facility workflow
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
Labels: TODO: needs review

#9424 Unwrap API info from tuple.
  kolibri/deployment/default/dev_urls.py
Labels: TODO: needs review

#9422 Fix pagination issues for facility user page
  kolibri/core/auth/api.py
  kolibri/plugins/facility/assets/src/modules/userManagement/handlers.js
  kolibri/plugins/facility/assets/src/views/PaginatedListContainerWithBackend.vue
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
Labels: TODO: needs review

#9401 Ensure all file handlers use utf-8 encoding.
  kolibri/utils/env.py
  kolibri/utils/logger.py
Labels: TODO: needs review

#9432 Catch errors from overly aggressive upgrades.
  kolibri/core/tasks/upgrade.py
Labels: TODO: needs review

#9431 Fix minor bugs in discovery models.
  kolibri/core/discovery/models.py
Labels: TODO: needs review

#9437 Move get_device_info into the device module.
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/device/utils.py
  kolibri/core/discovery/utils/network/broadcast.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/public/api.py
  kolibri/core/public/utils.py
Labels: TODO: needs review

#9439 Push PDF pages rendering below full screen bar
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review

#9411 Adds aria labels to immersive toolbar buttons for back and close
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
Labels: TODO: needs review, changelog, TAG: a11y

#9335 Refactor topics page
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/SidePanelModal/SidePanelResourcesList.vue
  kolibri/core/assets/src/views/SidePanelModal/index.vue
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/LearnImmersiveLayout.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/SidePanel.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/ActivityButtonsGroup.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/SearchPanelModal.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsMobileHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/library-and-channel-browser-main-content-grid.spec.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/learn/assets/test/views/search-results-grid.spec.js
  kolibri/plugins/learn/assets/test/views/topic-row.spec.js
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
Labels: TODO: needs review

#9433 Move deviceadmin tasks into tasks.py
  kolibri/core/deviceadmin/tasks.py
  kolibri/core/deviceadmin/utils.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#9410 Adds aria-live=polite to the global snackbar component
  kolibri/core/assets/src/views/CoreBase/index.vue
Labels: TODO: needs review, changelog, TAG: a11y

#9445 Upgrade morango to v0.6.13
  requirements/base.txt
Labels: TODO: needs review

#9446 Fix X-Axis display for perseus graphs
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/KhanUtil.js
  kolibri/plugins/perseus_viewer/buildConfig.js
Labels: TODO: needs review

#9374 Use system default language when possible.
  kolibri/deployment/default/settings/base.py
  kolibri/utils/i18n.py
Labels: TODO: needs review

#9360 Drop Python 3.4 and 3.5 support.
  .github/workflows/tox.yml
  build_tools/install_cexts.py
  kolibri/deployment/default/cache.py
  kolibri/utils/env.py
  setup.py
  test/coverage_blame.py
  tox.ini
Labels: TODO: needs review

#9434 Implement TODO to error when registry is edited after initialization.
  kolibri/plugins/utils/__init__.py
  kolibri/utils/tests/test_cli.py
  kolibri/utils/tests/test_main.py
Labels: TODO: needs review

#9449 Remove shrink ray from TopicsPage content side panel
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#8938 Feature 8787
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchOptions.vue
Labels: TODO: needs review

#9450 Fix pagination user tables
  kolibri/core/auth/api.py
  kolibri/plugins/facility/assets/src/modules/classAssignMembers/handlers.js
  kolibri/plugins/facility/assets/src/modules/classAssignMembers/index.js
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/CoachClassAssignmentPage.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
Labels: TODO: needs review

#9341 Add API endpoint for UI initiated device restart
  kolibri/core/assets/src/core-app/baseClient.js
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/plugins/device/assets/src/composables/useDeviceRestart.js
  kolibri/plugins/device/kolibri_plugin.py
  kolibri/utils/cli.py
  kolibri/utils/options.py
  kolibri/utils/server.py
  kolibri/utils/tests/do_not_import.py
  kolibri/utils/tests/test_options.py
Labels: TODO: needs review

#9428 Move drive info endpoint into device app.
  kolibri/core/assets/src/api-resources/task.js
  kolibri/core/content/utils/channels.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/plugins/device/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
Labels: TODO: needs review

#9339 Fixes incorrect run method for full Kolibri Process Bus.
  kolibri/utils/server.py
Labels: TODO: needs review

#9429 Enable standard Django temporary file upload storage.
  kolibri/deployment/default/settings/base.py
Labels: TODO: needs review

#9457 refactor to use the NOT_SPECIFIED constant always
  kolibri/core/auth/api.py
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/auth/models.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_bulk_export.py
  kolibri/core/auth/test/test_models.py
  kolibri/core/auth/test/test_user_import.py
  kolibri/core/tasks/constants.py
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/setup_wizard/assets/test/views/SetupWizardIndex.spec.js
  test/do_mock_provisioning.py
Labels: TODO: needs review

#9458 Fix tests to not fail when run from non "en" terminals.
  kolibri/core/auth/test/test_bulk_export.py
  kolibri/core/auth/test/test_bulk_import.py
  kolibri/core/test/test_setlanguage.py
Labels: TODO: needs review
