Repository learningequality/kolibri, pull requests merged in 2022-02, with the labels that each got.

#9039 Allow untranslated headers in csv + correct serialization into json
  kolibri/core/auth/management/commands/bulkimportusers.py
Labels: TODO: needs review

#9078 Arabic translation for practice quizzes
  kolibri/locale/ar/LC_MESSAGES/django.mo
  kolibri/locale/ar/LC_MESSAGES/django.po
  kolibri/locale/ar/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.learn.app-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.learn.side_nav-messages.json
  kolibri/locale/es_419/LC_MESSAGES/django.mo
  kolibri/locale/es_419/LC_MESSAGES/django.po
  kolibri/locale/ff_CM/LC_MESSAGES/django.mo
  kolibri/locale/ff_CM/LC_MESSAGES/django.po
Labels: TODO: needs review, TAG: user strings

#9079 Ensure that we filter by subset_of_users_device on network location API
  kolibri/core/discovery/api.py
  kolibri/core/discovery/test/test_api.py
Labels: TODO: needs review

#9073 Fix morango 144: integrate new version of morango to address single-user syncing issue
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/auth/test/test_sync_operations.py
  requirements/base.txt
Labels: TODO: needs review

#9066 Tweak implementation of SlicedFile to match tested version from whitenoise
  kolibri/utils/kolibri_whitenoise.py
Labels: TODO: needs review

#9082 Bump morango to alpha that has FSIC V2 fix
  requirements/base.txt
Labels: TODO: needs review

#9081 Use os.path.abspath to ensure path resolution.
  kolibri/core/auth/constants/facility_presets.py
  kolibri/core/content/__init__.py
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/content/utils/stopwords.py
  kolibri/core/logger/management/commands/generateuserdata.py
  kolibri/core/webpack/hooks.py
  kolibri/utils/i18n.py
  kolibri/utils/main.py
Labels: TODO: needs review

#9084 Add regression test for latest sync issue, and bump morango to 0.6.8
  kolibri/core/auth/test/test_morango_integration.py
  requirements/base.txt
Labels: TODO: needs review

#9093 Kolibri 0.14: Bump morango to 0.6.8
  requirements/base.txt
Labels: TODO: needs review

#9076 Make database preseeding sensitive to custom build options.
  build_tools/preseed_home.py
Labels: TODO: needs review

#9087 Add padding to <th> and <td> elements on device permission page table
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
Labels: TODO: needs review

#9085 Fix alignment and improve visibility of navigation buttons in a quiz
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review

#9083 Fixes for buttons on resource cards
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
Labels: TODO: needs review, DEV: frontend

#9098 Perseus to only show hints when allowHints or interactive is true
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review

#9080 Remove kfixedgrid from category search modal
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchModalGrid.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchOptions.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
Labels: TODO: needs review

#9115 Adds auto alignment to channel card grids to ensure proper description display for RTL
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
Labels: TODO: needs review

#9113 Deprecation warnings for Python 3.4 and 3.5
  kolibri/utils/env.py
  kolibri/utils/logger.py
Labels: TODO: needs review

#9119 0.15 into develop
  CHANGELOG.md
  build_tools/preseed_home.py
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CoreBase/index.vue
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/FocusTrap.vue
  kolibri/core/assets/src/views/FullScreenSidePanel/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/auth/constants/facility_presets.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/auth/test/test_sync_operations.py
  kolibri/core/content/__init__.py
  kolibri/core/content/api.py
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/content/utils/stopwords.py
  kolibri/core/discovery/api.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/logger/management/commands/generateuserdata.py
  kolibri/core/webpack/hooks.py
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchModalGrid.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchOptions.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningCardGrid.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCardListView.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/test/views/completion-modal.spec.js
  kolibri/utils/env.py
  kolibri/utils/i18n.py
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/logger.py
  kolibri/utils/main.py
  kolibri/utils/options.py
  requirements/base.txt
Labels: TODO: needs review

#9122 Answer history layout fix
  kolibri/core/assets/src/views/AttemptLogItem.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
Labels: TODO: needs review

#9140 Bump morango to 0.6.9
  requirements/base.txt
Labels: TODO: needs review

#8279 Github Actions for building WHL and PEX files
  .github/workflows/build_pex.yml
  .github/workflows/build_whl.yml
  .github/workflows/pr_build_kolibri.yml
Labels: TODO: needs review
