Repository learningequality/kolibri, pull requests merged in 2022-09, with the labels that each got.

#9682 Check for an array's length to avoid breaking errors
  kolibri/plugins/coach/assets/src/modules/exerciseDetail/handlers.js
Labels: TODO: needs review

#9597 Update UserTable to allow single selection
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/UserTable/__tests__/index.spec.js
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserTable.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
Labels: TODO: needs review, TAG: a11y, DEV: frontend

#9584 Screens for create merge accounts
  kolibri/core/auth/api.py
  kolibri/plugins/user_profile/api_urls.py
  kolibri/plugins/user_profile/assets/src/composables/useRemoteFacility.js
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/ConfirmAccountDetails.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/ConfirmAccountDetails.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review

#9684 Add regression test and fix for multiple worker processes duplicating jobs.
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_worker.py
Labels: TODO: needs review

#9670 Added screen to confirm merge
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmMerge.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/ConfirmMerge.spec.js
Labels: TODO: needs review

#9687 Create screen to be shown if the username already exists in the facility
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeUsernameExists.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/MergeUsernameExists.spec.js
Labels: TODO: needs review

#9714 Upgrade morango and lower default sync chunk size through CLI
  Makefile
  docker-compose.yml
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/test/sync_utils.py
  kolibri/utils/tests/test_cli.py
  requirements/base.txt
Labels: TODO: needs review, TAG: tech update / debt, TAG: regression, TAG: dependencies, python

#9715 Change Facility: Choose a new super admin screen, error state, back navigation
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ChooseAdmin/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ChooseAdmin/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccountUsername/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccountUsername/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
Labels: TODO: needs review

#9496 [KDS update added] App Bar Refresh: browser spacing
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/device/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/facility/assets/src/views/FacilityTopNav.vue
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#9728 Make learner ids unique when assigned from groups and adhoc groups.
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
Labels: TODO: needs review

#9721 Fix quiz completion notification regression
  kolibri/core/logger/utils/quiz.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review, changelog

#9729 Improve import workflow for collections
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/api-resources/remoteChannel.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/device/assets/src/modules/manageContent/actions/index.js
  kolibri/plugins/device/assets/src/modules/wizard/actions/availableChannelsActions.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/modules/wizard/utils.js
  kolibri/plugins/device/assets/src/routes/wizardTransitionRoutes.js
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/ChannelTokenModal.vue
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/test/views/ChannelTokenModal.spec.js
Labels: TODO: needs review

#9723 Added function handler to delay SaveAnswer function
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review

#9658 height = width in import cards on thumbnail, fix misaligned text
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
Labels: TODO: needs review

#9667 Remove KSelect in favour of KDS KSelect.
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/assets/src/views/KSelect/KeenUiSelect.vue
  kolibri/core/assets/src/views/KSelect/KeenUiSelectOption.vue
  kolibri/core/assets/src/views/KSelect/index.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/SelectGroup.vue
  packages/kolibri-tools/jest.conf/setup.js
Labels: TODO: needs review

#9722 Adds job storage sanity check
  kolibri/core/tasks/scheduler.py
  kolibri/core/tasks/storage.py
  kolibri/utils/main.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/tests/test_sanity_check.py
Labels: TODO: needs review

#9736 Update levels to display translated strings, not constant ids
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
Labels: TODO: needs review

#9683 Startup time improvements
  build_tools/py2only.py
  kolibri/core/apps.py
  kolibri/core/models.py
  kolibri/core/test/__init__.py
  kolibri/core/test/helpers.py
  kolibri/core/test/test_app/__init__.py
  kolibri/core/test/test_app/models.py
  kolibri/core/test/test_datetimetzfield.py
  kolibri/core/test/test_query.py
  kolibri/core/webpack/hooks.py
  kolibri/core/webpack/test/base.py
  kolibri/plugins/utils/__init__.py
  kolibri/utils/compat.py
  kolibri/utils/main.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
  requirements/base.txt
Labels: TODO: needs review

#9735 By default don't initialize hooks when enabling and disabling plugins programmatically
  kolibri/plugins/utils/__init__.py
  kolibri/utils/cli.py
Labels: TODO: needs review

#9744 Select username screen for the change facility after device setup flow
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeDifferentAccounts/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeDifferentAccounts/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeUsernameExists.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/MergeUsernameExists.spec.js
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/UsernameExists.spec.js
Labels: TODO: needs review
