Repository learningequality/kolibri, pull requests merged in 2022-08, with the labels that each got.

#9580 Faster development server
  docs/getting_started.rst
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/read_webpack_json.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/lib/webpack.config.plugin.js
  yarn.lock
Labels: TODO: needs review, TAG: dev experience

#9588 Align common string modules
  docs/i18n.rst
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/user_auth/assets/src/views/commonUserStrings.js
Labels: TODO: needs review, TAG: tech update / debt, TAG: developer docs

#9475 Remove CoreBase from device
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/CorePage/ImmersivePage.vue
  kolibri/core/assets/src/views/NotificationsRoot.vue
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/styles/definitions.scss
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilityTaskPanelDetails.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/DeleteExportChannelsPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/BackLink.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
  kolibri/plugins/device/assets/src/views/RearrangeChannelsPage.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/device/assets/src/views/__test__/DeviceIndex.spec.js
  kolibri/plugins/device/assets/src/views/__test__/RearrangeChannelsPage.spec.js
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
  kolibri/plugins/device/assets/test/utils/makeStore.js
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/CoachClassAssignmentPage.vue
  kolibri/plugins/facility/assets/src/views/FacilityAppBarPage.vue
  kolibri/plugins/facility/assets/src/views/ImmersivePageRoot.vue
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/index.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LearnExamReportViewer.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review, TAG: user strings, APP: Device

#9595 Fix minor version of Node
  docs/getting_started.rst
Labels: TODO: needs review, TAG: developer docs

#9596 Add aria-labels for zoom in & out buttons
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review, TAG: a11y

#9602 Force unicode literals for Python 2 compatibility of string handling.
  kolibri/core/auth/csv_utils.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/public/test/test_api.py
  kolibri/core/utils/csv.py
Labels: TODO: needs review

#9534 Onboarding import facility - Mostly designs
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/utils/syncTaskUtils.js
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/core/assets/src/views/sync/FacilityAdminCredentialsForm.vue
  kolibri/core/assets/src/views/sync/FacilityTaskPanel.vue
  kolibri/core/assets/src/views/sync/FacilityTaskPanelDetails.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/SelectAddressForm.vue
  kolibri/core/assets/src/views/sync/syncComponentSet.js
  kolibri/core/assets/test/utils/syncTaskUtils.spec.js
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
  kolibri/plugins/device/assets/src/modules/manageContent/utils.js
  kolibri/plugins/device/assets/src/modules/wizard/actions/contentWizardActions.js
  kolibri/plugins/device/assets/src/modules/wizard/getters.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/modules/wizard/utils.js
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/RemoveFacilityModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SyncAllFacilitiesModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/DeleteExportChannelsPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectDriveModal.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/TaskPanel.spec.js
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/api.js
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/device/assets/test/actions/showSelectContentPage.spec.js
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/modules/importCSV/actions.js
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/ImportAuthentication.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/__test__/LoadingTaskPage.spec.js
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
Labels: TODO: needs review, TODO: needs QA re-review

#9614 fix: broken ProfileEditPage route
  AUTHORS.md
  kolibri/plugins/user_profile/assets/src/constants.js
  kolibri/plugins/user_profile/assets/src/views/ProfileEditPage.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review

#9593 Link users to Vue docs, make note of "legacy"
  docs/getting_started.rst
Labels: TODO: needs review, TAG: developer docs

#9635 add content check guard to library page
  kolibri/plugins/learn/assets/src/routes/index.js
  yarn.lock
Labels: TODO: needs review

#9582 Check for developer mode env var for telemetry.
  kolibri/utils/server.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review

#9648 Update KDS package to the latest version on develop
  kolibri/core/package.json
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  yarn.lock
Labels: TODO: needs review

#9675 Removes unused dependencies from kolibri-core.
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#9659 Logging: remove unused simple formatter, add asctime to color formatter
  kolibri/utils/logger.py
Labels: TODO: needs review

#9657 CSV Endpoint permissions and error handling
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/logger/api_urls.py
  kolibri/core/logger/csv_export.py
  kolibri/core/logger/test/test_api.py
  kolibri/plugins/facility/api_urls.py
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/modules/manageCSV/index.js
  kolibri/plugins/facility/assets/src/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/facility/test/test_api.py
  kolibri/plugins/facility/views.py
Labels: TODO: needs review

#9664 Adds translated string for user kind in the user table
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/userKinds.js
  kolibri/core/assets/src/views/UserTypeDisplay.vue
  kolibri/plugins/facility/assets/src/views/UserTable.vue
Labels: TODO: needs review, TAG: a11y, DEV: frontend
