Repository learningequality/kolibri, pull requests merged in 2022-03, with the labels that each got.

#9156 Remove unused vue-markdown dependency.
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review

#9153 TopicsPage unit tests
  kolibri/plugins/learn/assets/src/views/TopicsPage.vue
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
Labels: TODO: needs review

#9065 Unit tests for LibraryPage
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/EmbeddedSidePanel/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
Labels: TODO: needs review

#9142 Redirect for Bookmarks when user is not logged in
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: TODO: needs review, TODO: needs QA re-review

#9166 Slight hack to fix RTL CSS loading for webpack5.
  packages/kolibri-tools/lib/webpackBundleTracker.js
Labels: TODO: needs review

#9165 fix: epud toolbar button positioning
  AUTHORS.md
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/epub_viewer/assets/src/views/TopBar.vue
Labels: TODO: needs review

#9169 Don't run updates when starting from no version
  kolibri/core/content/utils/annotation.py
  kolibri/core/test/test_upgrade.py
  kolibri/core/upgrade.py
  kolibri/utils/cli.py
  requirements/docs.txt
Labels: TODO: needs review, TAG: tech update / debt, P0 - critical

#9173 Update Node version reference in getting_started.rst
  docs/getting_started.rst
Labels: TODO: needs review, TAG: developer docs

#9168 Bump morango to v0.6.10
  requirements/base.txt
Labels: TODO: needs review, P0 - critical, DEV: backend, TAG: dependencies

#9200 Pin windows installer to 1.5.0
  .buildkite/pipeline.yml
Labels: TODO: needs review

#9141 Delete any annotated channelmetadata many to many fields to avoid integrity errors
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/sqlalchemybridge.py
Labels: TODO: needs review

#9197 Compress HTML files for serving
  Makefile
  package.json
Labels: TODO: needs review

#9171 Use scroll position
  kolibri/core/assets/src/composables/__tests__/useScrollPosition.spec.js
  kolibri/core/assets/src/composables/useScrollPosition.js
  kolibri/core/assets/src/views/CoreBase/index.vue
Labels: TODO: needs review

#9210 Fix builds for IE11
  kolibri/core/package.json
  packages/hashi/webpack.config.js
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/lib/webpack.config.base.js
  yarn.lock
Labels: TODO: needs review

#9163 Pin django js asset
  requirements/base.txt
Labels: TODO: needs review

#9220 Add caching to babel-loader.
  packages/kolibri-tools/lib/webpack.config.base.js
Labels: TODO: needs review
