Repository learningequality/kolibri, pull requests merged in 2022-07, with the labels that each got.

#9539 Check node being available on filtered queryset to prevent index error.
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Labels: TODO: needs review

#9556 Update morango and stop locking sync when db backend is postgres
  Makefile
  docker-compose.yml
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/utils/lock.py
  requirements/base.txt
Labels: TODO: needs review, TAG: dependencies, python

#9541 Improve facility sync status reporting to users
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus/__tests__/index.spec.js
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus/index.vue
  kolibri/core/assets/src/views/sync/syncComponentSet.js
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/facility/assets/src/modules/manageCSV/index.js
Labels: TODO: needs review, DEV: backend, DEV: frontend

#9557 Force translations in bulk export/import of user data
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/auth/management/commands/bulkimportusers.py
Labels: TODO: needs review

#9558 Clean up theme regressions
  kolibri/core/assets/src/styles/themeSpec.js
Labels: TODO: needs review

#9533 Ensure peer import and sync tasks for data and content work with servers using a prefix path
  kolibri/core/auth/management/commands/fullfacilitysync.py
  kolibri/core/auth/management/utils.py
  kolibri/core/content/utils/paths.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/discovery/test/test_network_utils.py
  kolibri/core/discovery/utils/network/broadcast.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/public/utils.py
  kolibri/core/utils/urls.py
  kolibri/plugins/setup_wizard/tasks.py
Labels: TODO: needs review

#9559 0.14 into 0.15
  Makefile
  docker-compose.yml
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/test_deprovisioning.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/utils/lock.py
  requirements/base.txt
Labels: TODO: needs review

#9560 Don't use multiprocessing for downloads.
  kolibri/core/content/management/commands/importcontent.py
Labels: TODO: needs review

#9565 When changing facility , ensure version is at least 0.16.0
  kolibri/core/assets/src/composables/__tests__/useMinimumKolibriVersion.spec.js
  kolibri/core/assets/src/composables/useMinimumKolibriVersion.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
Labels: TODO: needs review

#9562 Change Facility - Create Account
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/styles/definitions.scss
  kolibri/core/assets/src/views/userAccounts/FullNameTextbox.vue
  kolibri/core/assets/src/views/userAccounts/PasswordTextbox.vue
  kolibri/core/assets/src/views/userAccounts/UsernameTextbox.vue
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SuperuserCredentialsForm.vue
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccount/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccount/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
Labels: TODO: needs review, DEV: frontend

#9576 Change facility - full name updates on the Create Account page
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/index.vue
Labels: TODO: needs review, TODO: needs gherkin update, DEV: frontend

#9571 Resolve issues with running morango integration tests on postgres
  Makefile
  kolibri/core/auth/test/sync_utils.py
  kolibri/core/auth/test/test_deprovisioning.py
Labels: TODO: needs review, TAG: unit tests, python

#9485 Upgrade webpack
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review

#9577 Create new field to store Facility properties
  kolibri/core/auth/migrations/0020_facilitydataset_extra_fields.py
  kolibri/core/auth/models.py
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review

#9573 Set up to track KDS develop
  kolibri/core/package.json
  yarn.lock
Labels: TODO: needs review

#9509 Upgrade cheroot to latest.
  requirements/base.txt
Labels: TODO: needs review, TAG: tech update / debt

#9364 Allow apps to use OS users
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/device/api.py
  kolibri/core/device/migrations/0016_osuser.py
  kolibri/core/device/models.py
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/plugins/app/api.py
  kolibri/plugins/app/test/__init__.py
  kolibri/plugins/app/test/helpers.py
  kolibri/plugins/app/test/test_api.py
  kolibri/plugins/app/utils.py
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  kolibri/plugins/user_profile/viewsets.py
  kolibri/plugins/utils/test/helpers.py
Labels: TODO: needs review

#9578 Username exists
  kolibri/plugins/user_profile/api_urls.py
  kolibri/plugins/user_profile/assets/src/composables/__mocks__/useIndividualDevice.js
  kolibri/plugins/user_profile/assets/src/composables/__mocks__/useOnMyOwnSetup.js
  kolibri/plugins/user_profile/assets/src/composables/useIndividualDevice.js
  kolibri/plugins/user_profile/assets/src/composables/useOnMyOwnSetup.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/UsernameExists.spec.js
  kolibri/plugins/user_profile/assets/test/views/profile-page.spec.js
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review

#9581 Remote URL cleanup
  kolibri/core/analytics/utils.py
  kolibri/core/api.py
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/utils/paths.py
  kolibri/core/device/api.py
  kolibri/core/discovery/api.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/utils/portal.py
  kolibri/core/utils/urls.py
  kolibri/plugins/user_profile/tasks.py
  kolibri/plugins/user_profile/viewsets.py
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/tests/helpers.py
Labels: TODO: needs review
