Repository learningequality/kolibri, pull requests merged in 2023-10, with the labels that each got.

#11339 Some minor linting fixes that became apparent after linting updates
  kolibri/core/assets/src/views/sortable/DragContainer.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/BookmarkIcon.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/media_player/assets/src/utils/settings.js
Labels: TODO: needs review, APP: Device, APP: Learn, APP: Coach, SIZE: small

#11337 Bugfix- birth year selction on profile edit page
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
Labels: SIZE: very small

#11277 Quiz foundations & data connection
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/CoachImmersivePage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
Labels: TODO: needs review, APP: Coach, SIZE: large, SIZE: very large

#11272 Navigation issue in Channels
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
Labels: TODO: needs review, APP: Device, SIZE: small, SIZE: very small

#11315 updated KDS reference & testing after changes to useKResponsiveWindow
  kolibri/core/package.json
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, APP: Learn, SIZE: small, SIZE: very small

#11347 Pass dummy auth token to testing script.
  integration_testing/scripts/run_kolibri_app_mode.py
Labels: DEV: backend, SIZE: very small

#11348 Migrates the OSUser associated with a facility user when migrating users.
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: small, SIZE: very small

#11359 Fix lesson visibility toggling for single user syncing
  kolibri/core/auth/test/test_morango_integration.py
  requirements/base.txt
Labels: TODO: needs review, DEV: backend, SIZE: small

#11357 kolibri-tools: Accept multiple --namespace/--searchPath arguments
  packages/kolibri-tools/lib/cli.js
Labels: SIZE: small

#11354 Deleted the responsiveWindowMixin from kolibri/library/user_auth
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, APP: User, SIZE: very small

#11371 Merge release-v0.16.x into develop
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/sortable/DragContainer.vue
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/content/contentschema/versions/content_schema_current.py
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/resource_import.py
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/discovery/utils/network/search.py
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/BookmarkIcon.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/device/assets/src/modules/deviceInfo/index.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
  kolibri/plugins/media_player/assets/src/utils/settings.js
  kolibri/plugins/setup_wizard/assets/src/views/ImportMultipleUsers.vue
  kolibri/plugins/setup_wizard/assets/src/views/LoadingTaskPage.vue
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user_profile/tasks.py
  packages/hashi/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/package.json
  requirements/base.txt
  yarn.lock
Labels: DEV: backend, APP: Device, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, SIZE: large

#11346 AnMi: Replaced KResponsiveWindow mixin by useKResponsiveWindow compos…
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/src/views/IdentifierTextbox.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
Labels: TODO: needs review, APP: Facility, SIZE: small, SIZE: very small

#11365 Replaced KResponsiveWindow mixin by useKResponsiveWindow composable - …
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: SIZE: very small

#11374 Fix order in which notification updates are commited to state
  kolibri/plugins/coach/assets/src/modules/classSummary/__test__/actions.spec.js
  kolibri/plugins/coach/assets/src/modules/classSummary/actions.js
Labels: TODO: needs review, APP: Coach, SIZE: small

#11370 Update package versions for latest publish.
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
Labels: SIZE: small

#11177 My downloads updates - polling and UI
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloadsSideNavEntry.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/ToggleHeaderTabs.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsPanelModal.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
  kolibri/plugins/learn/kolibri_plugin.py
Labels: DEV: backend, APP: Learn, SIZE: medium, SIZE: large

#11384 Tweak logic for highlighting current node to use id rather than content_id
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#11352 Tweak provisioning interaction with OS User capability
  kolibri/core/device/serializers.py
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: DEV: backend, APP: Setup Wizard, SIZE: small

#11369 Replace KResponseWiindow with useKResponseWindow in Epub Viewer plugin
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
Labels: SIZE: very small, hacktoberfest-accepted

#11383 Clean up renderer height styling behaviour
  kolibri/plugins/coach/assets/src/views/CoachImmersivePage.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/ContentArea.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/index.vue
Labels: TODO: needs review, APP: Learn, APP: Coach, SIZE: small, SIZE: medium

#11072 Change the way we check for Android to use Python internals.
  kolibri/utils/android.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11391 Update download request fetching on topic and topic content pages
  kolibri/core/content/api.py
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: medium

#11399 Add z-index to fix display of HybridLearningFooter dropdown menu
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
Labels: APP: Learn, SIZE: very small

#11304 Add LRU eviction mechanisms for streamed file chunks
  kolibri/core/content/utils/content_request.py
  kolibri/core/deviceadmin/tasks.py
  kolibri/utils/file_transfer.py
  kolibri/utils/options.py
  kolibri/utils/server.py
  kolibri/utils/tests/test_chunked_file.py
  kolibri/utils/tests/test_server.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#11409 Add connection status filter in useDevices composable
  kolibri/plugins/learn/assets/src/composables/useDevices.js
Labels: APP: Learn, SIZE: very small

#11411 Fix bottom bar alignment and menu label which was previously offscreen
  kolibri/core/assets/src/views/BottomNavigationBar.vue
Labels: SIZE: very small

#11402 Run cleanup for user initiated imports when saving a removal request
  kolibri/core/content/api.py
  kolibri/core/content/tasks.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11372 Delete user initiated ContentDownloadRequests and mark others as pending when the associated contentnode is deleted.
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/models.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/content_request.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: medium

#11408 Updated base.dockerfile for all architectures
  docker/base.dockerfile
  docker/demoserver.dockerfile
  docker/entrypoint.py
Labels: TODO: needs review, DEV: backend, SIZE: small, hacktoberfest-accepted

#11397 Fix selection behaviour on the My Downloads page
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
Labels: TODO: needs review, APP: Learn, SIZE: medium

#11393 Reset to page 1 of download pagination when a filter is selected.
  kolibri/plugins/learn/assets/src/my_downloads/views/Filters/ActivityFilter.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/Filters/SortFilter.vue
Labels: TODO: needs review, APP: Learn, SIZE: very small

#11386 Adds a touch events check before showing the bottom navigation on touch devices
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
Labels: TODO: needs review, SIZE: small

#11424 Update touch detection in Perseus
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/utils/browserInfo.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: TODO: needs review, SIZE: small

#11417 updated use of entry_points according to importlib version >3.6.0
  kolibri/plugins/utils/__init__.py
Labels: DEV: backend, SIZE: very small

#11398 Adding padding in ViewMore button
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: APP: Learn, SIZE: very small, hacktoberfest-accepted

#11419 Fix up reactivity and display issues for remote libraries on LibraryPage and ExploreLibrariesPage
  kolibri/core/discovery/api.py
  kolibri/core/discovery/migrations/0012_remove_pinned_device.py
  kolibri/core/discovery/migrations/0013_recreate_pinned_device.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/test/test_api.py
  kolibri/plugins/learn/assets/src/composables/__mocks__/useCardLayoutSpan.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useContentLink.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDevices.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/usePinnedDevices.js
  kolibri/plugins/learn/assets/src/composables/useCardLayoutSpan.js
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/usePinnedDevices.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/FadeInTransitionGroup.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/test/views/explore-libraries-page.spec.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: medium, SIZE: large, SIZE: very large

#11433 Make site title configurable via the theme hook.
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templates/kolibri/unsupported_browser.html
  kolibri/core/templatetags/core_tags.py
  kolibri/plugins/pwa/templates/pwa/manifest.json
Labels: TODO: needs review, DEV: backend, SIZE: small

#11385 Video transcripts flow based on windowBreakpoint
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
Labels: TODO: needs review, SIZE: very small

#11435 Keep current back link when navigating through the topics folder side panel
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsPanelModal.vue
Labels: TODO: needs review, APP: Learn, SIZE: small, SIZE: very small

#11436 Add IMS Content Package support to the HTML5 Viewer
  kolibri/core/content/migrations/0035_add_imscp_preset.py
  kolibri/plugins/html5_viewer/kolibri_plugin.py
  requirements/base.txt
Labels: TODO: needs review, DEV: backend, SIZE: small

#11426 Update MissingResourceAlert to report sync status
  kolibri/core/assets/src/composables/useUserSyncStatus.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/content/api.py
  kolibri/core/device/api.py
  kolibri/core/device/test/test_api.py
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/ResourceSyncingUiAlert.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  packages/kolibri-common/components/MissingResourceAlert.vue
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: small, SIZE: medium

#11445 priority of tasks can be declared via the API
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/validation.py
Labels: DEV: backend, SIZE: small

#11449 Fix unwanted welcomeModal display
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
Labels: APP: Device, APP: Learn, SIZE: small

#11431 Pin KDS to version 2.0.0-beta1
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, SIZE: very small

#11314 Section settings side panel
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Coach, SIZE: medium, SIZE: large, SIZE: very large

#11412 Fixes My downloads - The 'Available storage' value not being calculated when I am signed in as a Learner
  kolibri/core/content/utils/settings.py
  kolibri/core/device/api.py
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
  kolibri/plugins/learn/kolibri_plugin.py
Labels: TODO: needs review, DEV: backend, APP: Device, APP: Learn, SIZE: small

#11382 Feature quiz section tabs with overflow
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/TabsWithOverflow.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
  yarn.lock
Labels: APP: Coach, SIZE: medium

#11349 Replace KResponseWindow with useKResponseWindow in Device plugin
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/HeaderWithOptions.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithCheckbox.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithImportDetails.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithSizeAndOptions.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/DeleteExportChannelsPage.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectionBottomBar.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/TasksBar.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/__test__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/index.vue
Labels: TODO: needs review, APP: Device, SIZE: small, SIZE: medium, SIZE: very small, hacktoberfest-accepted

#11355 replaced responsiveWindow with useKResponsiveWindow
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/index.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/BlockItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreatePracticeQuizPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Labels: APP: Coach, SIZE: small, SIZE: medium, SIZE: very small

#11427 Replaced KResponsiveWindow mixin by useKResponsiveWindow composable - Core #11335
  AUTHORS.md
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/BottomAppBar.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/assets/src/views/MultiPaneLayout.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/TotalPoints.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherList.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/core/assets/src/views/sync/FacilityTaskPanelDetails.vue
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
Labels: TODO: needs review, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: Setup Wizard, SIZE: small, hacktoberfest-accepted

#11358 Replace KResponseWindow with useKResponseWindow in User Profile plugin
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review, APP: User, SIZE: very small, hacktoberfest-accepted

#11459 Disables caching for the kolibri studio status check
  kolibri/core/content/api.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11390 Sequential learner syncing
  kolibri/core/auth/models.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/device/__init__.py
  kolibri/core/device/api.py
  kolibri/core/device/apps.py
  kolibri/core/device/kolibri_plugin.py
  kolibri/core/device/migrations/0019_syncqueue_and_status.py
  kolibri/core/device/models.py
  kolibri/core/device/signals.py
  kolibri/core/device/soud.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/test/test_models.py
  kolibri/core/device/utils.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/public/api.py
  kolibri/core/public/api_urls.py
  kolibri/core/public/test/test_api.py
  kolibri/core/tasks/utils.py
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/learn/test/test_hooks.py
  kolibri/plugins/user_profile/tasks.py
Labels: DEV: backend, APP: Learn, APP: User, SIZE: very large

#11464 Fix caching issues for remote content API calls
  kolibri/core/content/api.py
  kolibri/core/public/api.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: medium

#11470 Revert "Disabling additional user import until multiple user syncing is working"
  kolibri/plugins/setup_wizard/assets/src/views/ImportMultipleUsers.vue
  kolibri/plugins/setup_wizard/assets/src/views/LoadingTaskPage.vue
Labels: APP: Setup Wizard, SIZE: small

#11480 Task scheduling updates for Android
  kolibri/core/tasks/constants.py
  kolibri/core/tasks/decorators.py
  kolibri/core/tasks/exceptions.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/test/test_decorators.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/validation.py
  kolibri/core/tasks/worker.py
Labels: TODO: needs review, DEV: backend, SIZE: large
