Repository learningequality/kolibri, pull requests merged in 2023-04, with the labels that each got.

#10372 Fixes #10328
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
Labels: APP: Device, SIZE: very small

#10374 Fixes #10360
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: APP: Learn, SIZE: very small

#10359 bfix: corrected snackbar message
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
Labels: APP: Facility, SIZE: very small

#10377 Correcting two strings that have already been amended on Crowdin
  kolibri/core/assets/src/mixins/taskStrings.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
Labels: P1 - important, TAG: user strings, APP: Learn, SIZE: very small

#10368 Fix #9270 by adding dependency in dev.txt
  requirements/dev.txt
Labels: SIZE: medium, SIZE: very small

#10324 KL-10308: Sorting tasks by `scheduled_datetime`
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
Labels: APP: Device, SIZE: small, SIZE: very small

#10339 Include active facility id in FacilityTopNav routes
  kolibri/plugins/facility/assets/src/views/FacilityTopNav.vue
Labels: APP: Facility, SIZE: very small

#10337 Remote content pinning channels
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/api-resources/pinnedDevice.js
  kolibri/core/discovery/api.py
  kolibri/core/discovery/api_urls.py
  kolibri/core/discovery/migrations/0007_device_pinning.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/test/test_api.py
  kolibri/plugins/learn/assets/src/composables/usePinnedDevices.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
Labels: DEV: backend, APP: Learn, SIZE: medium

#10383 Use Kolibri hooks for storage hooks.
  kolibri/core/tasks/hooks.py
  kolibri/core/tasks/storage.py
  kolibri/utils/options.py
Labels: DEV: backend, SIZE: small

#10402 Fix typo in property name
  kolibri/core/device/models.py
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: TODO: needs review, DEV: backend, APP: Device, SIZE: small

#9984 App bottom bar
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/utils/generateNavRoutes.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/TotalPoints.vue
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/routes/baseRoutes.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/CoachAppBarPage.vue
  kolibri/plugins/coach/assets/src/views/CoachSideNavEntry.js
  kolibri/plugins/coach/assets/src/views/CoachSideNavEntry.vue
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/coach/buildConfig.js
  kolibri/plugins/device/assets/src/appNavigationRoutes.js
  kolibri/plugins/device/assets/src/routes/baseRoutes.js
  kolibri/plugins/device/assets/src/views/DeviceManagementSideNavEntry.js
  kolibri/plugins/device/assets/src/views/DeviceManagementSideNavEntry.vue
  kolibri/plugins/device/buildConfig.js
  kolibri/plugins/facility/assets/src/baseRoutes.js
  kolibri/plugins/facility/assets/src/views/FacilityManagementSideNavEntry.js
  kolibri/plugins/facility/assets/src/views/FacilityManagementSideNavEntry.vue
  kolibri/plugins/facility/assets/test/views/facility-app-bar-page.spec.js
  kolibri/plugins/facility/buildConfig.js
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloadsSideNavEntry.js
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloadsSideNavEntry.vue
  kolibri/plugins/learn/assets/src/routes/baseRoutes.js
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/LearnSideNavEntry.js
  kolibri/plugins/learn/assets/src/views/LearnSideNavEntry.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/learn/buildConfig.js
  kolibri/plugins/user_auth/assets/src/views/LoginSideNavEntry.js
  kolibri/plugins/user_auth/assets/src/views/LoginSideNavEntry.vue
  kolibri/plugins/user_auth/buildConfig.js
  kolibri/plugins/user_profile/assets/src/views/UserProfileSideNavEntry.js
  kolibri/plugins/user_profile/assets/src/views/UserProfileSideNavEntry.vue
  kolibri/plugins/user_profile/buildConfig.js
  package.json
  yarn.lock
Labels: APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, SIZE: large, SIZE: very large

#10380 Policies plugin initialization fixes
  kolibri/plugins/policies/assets/src/app.js
  kolibri/plugins/policies/assets/src/views/CookiePolicy.vue
  kolibri/plugins/policies/assets/src/views/UsageAndPrivacy.vue
  kolibri/plugins/policies/kolibri_plugin.py
  kolibri/plugins/policies/urls.py
Labels: DEV: backend, SIZE: small

#10369 Solved Issue Text overlap on coach > plan: manage resources section #10340
  .npmrc
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
Labels: APP: Coach, SIZE: small

#10366 Username
  kolibri/core/assets/src/views/AppBar.vue
Labels: SIZE: very small

#10246 Fix bug where lesson active state was not properly conditionalized
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
Labels: APP: Coach, SIZE: small, SIZE: very small

#10417 Skip pre-initialization updates
  kolibri/utils/main.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10420 Remote Content Browsing: Clean the library page when displaying other available libraries.
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/CardContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ExploreCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: APP: Learn, SIZE: large

#10413 Fix by creating another file in requirements for #9270.
  requirements/dev.txt
Labels: SIZE: small, SIZE: very small

#10425 Validate NoneType client sock connection
  kolibri/core/discovery/utils/network/client.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10364 Add is local attribute
  kolibri/core/discovery/migrations/0008_networklocation_is_local.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/discovery/utils/network/ipaddress.py
Labels: TODO: needs review, DEV: backend, SIZE: very large

#10424 Updated docs from issue #10376
  docs/getting_started.rst
Labels: SIZE: small

#10439 Don't user username for admin
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/index.vue
Labels: TODO: needs review, APP: User, SIZE: very small

#10457 Remote content browsing followup
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
Labels: APP: Learn, SIZE: small

#10392 setup wizard - conflict in allowed char length between device_name and user's full_name
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: APP: Setup Wizard, SIZE: very small

#10441 Removes double focus outline on sign-in page
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
Labels: TODO: needs review, APP: User, SIZE: very small

#10365 Automatic content import / removal initiated by facility syncing
  docs/backend_architecture/facility_syncing/index.rst
  docs/backend_architecture/index.rst
  kolibri/core/auth/apps.py
  kolibri/core/auth/hooks.py
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/sync_event_hook_utils.py
  kolibri/core/auth/sync_operations.py
  kolibri/core/auth/test/test_sync_event_hook_utils.py
  kolibri/core/auth/test/test_sync_operations.py
  kolibri/core/content/kolibri_plugin.py
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/migrations/0033_content_requests.py
  kolibri/core/content/models.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_sqlalchemy_bridge.py
  kolibri/core/content/utils/assignment.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_models.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/discovery/utils/network/errors.py
  kolibri/core/exams/kolibri_plugin.py
  kolibri/core/exams/models.py
  kolibri/core/lessons/kolibri_plugin.py
  kolibri/core/lessons/models.py
  kolibri/utils/data.py
Labels: TODO: needs review, changelog, DEV: backend, SIZE: very large

#10450 Update remote browsing of Studio
  kolibri/core/content/api.py
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: medium

#10461 Removes facility after last user changes facility and sets migrated u…
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: small

#10403 Fix clear button not visible in Channel select due to text overflow for long labels
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/SelectGroup.vue
Labels: APP: Learn, SIZE: small

#10451 standardize percent calculation in ExamReport display
  kolibri/core/assets/src/views/ExamReport/index.vue
Labels: SIZE: very small

#10477 Adds correct string to register facility modal
  kolibri/core/assets/src/views/sync/RegisterFacilityModal.vue
Labels: TODO: needs review, SIZE: very small

#10480 fixed typo error when using corestring
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
Labels: APP: User, SIZE: very small

#10476 Fixes Missing Strings on quiz and lesson reports
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review, APP: Coach, SIZE: very small

#10472 toggles the save changes button based on the appcontext
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: APP: Device, SIZE: very small

#10471 Adds use of remove pin translation
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
Labels: TODO: needs review, APP: Facility, SIZE: small, SIZE: very small

#10474 learner names and close button
  kolibri/core/assets/src/views/SideNav.vue
Labels: TODO: needs review, SIZE: small

#10469 App bar work bugs cleanup
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/SideNav.vue
Labels: SIZE: small

#10475 Do not update interfaces if we're updating the broadcast of our own instance
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/utils/network/broadcast.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/discovery/utils/network/search.py
  kolibri/utils/server.py
Labels: DEV: backend, SIZE: small

#10479 Fixes #10442.
  kolibri/core/assets/src/views/ExamReport/index.vue
Labels: SIZE: small, SIZE: very small

#10488 Updates wrong pin message when letters are input in pin modal
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/device/assets/src/views/__test__/PinAuthenticationModal.spec.js
Labels: TODO: needs review, APP: Device, SIZE: small

#10498 fix lesson visibility in coach > reports
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review, DEV: backend, APP: Coach, SIZE: very small

#10515 Corrects spacing and duplicated messaging
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
Labels: APP: Device, SIZE: very small

#10516 #10407 Language button is now responsive
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
Labels: SIZE: very small

#10486 Logging cleanup
  kolibri/utils/env.py
  kolibri/utils/logger.py
  kolibri/utils/main.py
  kolibri/utils/options.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10520 Update pin_code validation on FacilityDataset model to allow null
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_datasets.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: very small

#10452 File sizes
  integration_testing/016-features/coach/plan/coach-make-lesson-visible.feature
  kolibri/core/exams/api.py
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/index.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: DEV: backend, APP: Coach, SIZE: medium

#10525 Fixes lod blank screen on facility that has not activated device pin management
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
Labels: TODO: needs review, APP: Device, SIZE: small

#10539 Frontend remote browsing tweaks
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#10553 Adds missing translatable "no results" string
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
Labels: APP: Coach, SIZE: very small

#10545 Static network device form error handling updates
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/AddDeviceForm.vue
  kolibri/core/discovery/serializers.py
Labels: DEV: backend, SIZE: very small

#10544 Export usage data is no longer scrollable.
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: APP: Facility, SIZE: very small

#10563 Adds safety check to superuser promotion
  kolibri/plugins/user_profile/tasks.py
Labels: DEV: backend, APP: User, SIZE: very small

#10573 Remote content browsing final polish
  kolibri/core/assets/src/constants.js
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/modules/wizard/getters.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ExploreCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
Labels: TODO: needs review, APP: Device, APP: Learn, SIZE: large

#10567 Update provisioning logic to work with app flows. Simplify redirect.
  kolibri/core/device/api.py
  kolibri/core/device/serializers.py
  kolibri/core/device/utils.py
  kolibri/plugins/app/api.py
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, SIZE: small

#10572 Fixes modal that adds content storage locations not resolving special…
  kolibri/core/device/api.py
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/AddStorageLocationModal.vue
  kolibri/utils/filesystem.py
Labels: TODO: needs review, DEV: backend, APP: Device, SIZE: small

#10578 Follow up to remote content browsing ui polish
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: work-in-progress, TODO: needs review, APP: Learn, SIZE: medium

#10562 Initial implementation of download chunking to allow more robust, interruptable file downloading and streaming
  kolibri/core/auth/tasks.py
  kolibri/core/content/management/commands/exportchannel.py
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/resource_import.py
  kolibri/utils/file_transfer.py
  kolibri/utils/filesystem.py
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/tests/test_chunked_file.py
  kolibri/utils/tests/test_file_transfer.py
Labels: TODO: needs review, DEV: backend, SIZE: very large

#10580 Fixes remote content browsing skipped tests
  kolibri/plugins/learn/assets/src/composables/__mocks__/usePinnedDevices.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10518 Fixed Update #8532 Replace TextTruncator with TextTruncatorCss
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
Labels: APP: Learn, APP: Coach, SIZE: small

#10587 Add the perseus plugin to the list of internal plugins.
  kolibri/__init__.py
Labels: TODO: needs review, DEV: backend, SIZE: very small
