Repository learningequality/kolibri, pull requests merged in 2023-02, with the labels that each got.

#10051 Update ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
Labels: APP: Coach, SIZE: very small

#10059 Update AUTHORS.md
  AUTHORS.md
Labels: SIZE: very small

#10073 Reverts pin to string to accomodate pins starting with 0
  kolibri/core/auth/migrations/0022_facilitydataset_extra_fields_update_pin_to_string.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10078 Fix content rendering regressions
  kolibri/deployment/default/alt_wsgi.py
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: small

#9724 Crowdin API v1 to v2 & Message extraction fixes
  Makefile
  docs/i18n.rst
  packages/kolibri-tools/lib/alias_import_resolver.js
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/i18n/ExtractMessages.js
  packages/kolibri-tools/lib/i18n/ProfileStrings.js
  packages/kolibri-tools/lib/i18n/SyncContext.js
  packages/kolibri-tools/lib/i18n/astUtils.js
  packages/kolibri-tools/lib/i18n/crowdin.py
  packages/kolibri-tools/lib/i18n/csvToJSON.js
  packages/kolibri-tools/lib/i18n/fonts.py
  packages/kolibri-tools/lib/i18n/untranslatedMessages.js
  packages/kolibri-tools/lib/i18n/utils.js
  packages/kolibri-tools/lib/i18n/utils.py
  packages/kolibri-tools/test/test_i18n_utils.spec.js
  requirements/dev.txt
  requirements/fonts.txt
Labels: DEV: backend, SIZE: very large

#10075 Add new model for tracking and syncing insufficient storage status
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/migrationtestcase.py
  kolibri/core/auth/test/sync_utils.py
  kolibri/core/auth/utils/delete.py
  kolibri/core/device/api.py
  kolibri/core/device/migrations/0018_add_learner_device_status.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/test/test_models.py
  kolibri/core/device/test/test_syncqueue.py
  kolibri/core/notifications/models.py
  kolibri/core/public/constants/user_sync_statuses.py
  kolibri/core/public/test/test_api.py
  kolibri/utils/data.py
  requirements/base.txt
Labels: TODO: needs review, DEV: backend, SIZE: large

#10076 Fix progress tracking edge case where float rounding issues prevent progress reaching 1
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/core/logger/upgrade.py
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: TODO: needs review

#10093 Update changelog to prepare for 0.15.11 release
  CHANGELOG.md
Labels: SIZE: very small

#10094 Release v0.15.x into develop
  CHANGELOG.md
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/core/logger/upgrade.py
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
Labels: DEV: backend, APP: Learn, SIZE: small

#10008 [EPUB] Prevent multiple results match highlight
  kolibri/plugins/epub_viewer/assets/src/views/SearchSideBar.vue
  kolibri/plugins/epub_viewer/assets/tests/SearchSideBar.spec.js
Labels: TODO: needs review, SIZE: small, SIZE: medium

#10074 Pin setup integration
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/CreateManagementPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/RemovePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ViewPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: TODO: needs review, APP: Facility, TODO: needs QA re-review, SIZE: small

#10025 Complete device settings
  kolibri/core/device/api.py
  kolibri/plugins/device/assets/src/composables/__mocks__/usePlugins.js
  kolibri/plugins/device/assets/src/composables/usePlugins.js
  kolibri/plugins/device/assets/src/modules/deviceInfo/index.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/setup_wizard/kolibri_plugin.py
Labels: TODO: needs review, TAG: ux update, TAG: new feature, TAG: user strings, DEV: backend, APP: Device, APP: Setup Wizard, SIZE: medium

#10105 Add scheduling info to `GET /api/tasks/`
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/test_api.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#10121 [PdfViewer] Add annotation layer
  kolibri/plugins/pdf_viewer/assets/src/utils/annotation_layer_builder.js
  kolibri/plugins/pdf_viewer/assets/src/utils/annotation_layer_builder.scss
  kolibri/plugins/pdf_viewer/assets/src/utils/pdf_link_service.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfPage.vue
  kolibri/plugins/pdf_viewer/assets/tests/mocks/pdfjsMock.js
Labels: TODO: needs review, SIZE: large

#10107 Disable some elements depending on kolibri options
  kolibri/plugins/device/assets/src/modules/deviceInfo/index.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: TODO: needs review, TAG: user strings, APP: Device, SIZE: small

#10125 update remove pin warning message
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/RemovePinModal.vue
Labels: TODO: needs review, APP: Facility, SIZE: very small

#10128 Added coach sync notification for learner devices with insufficient s…
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/views/SyncStatusDescription.vue
  kolibri/core/assets/src/views/SyncStatusDisplay.vue
  kolibri/plugins/coach/assets/src/views/ClassLearnersListPage.vue
  kolibri/plugins/coach/assets/src/views/StorageNotificationBanner.vue
Labels: APP: Coach, SIZE: medium

#10110 Implements pin check on learn-only devices
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/assets/src/utils/__test__/cookieUtils.spec.js
  kolibri/core/assets/src/utils/cookieUtils.js
  kolibri/plugins/device/assets/src/app.js
  kolibri/plugins/device/assets/src/modules/pluginModule.js
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/device/assets/src/views/__test__/PinAuthenticationModal.spec.js
Labels: TODO: needs review, APP: Device, SIZE: medium

#10127 Move facility settings buttons to the page container for Android
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
Labels: TODO: needs review, APP: Facility, SIZE: small

#10134 Updated resource sidebar to include currently viewed resource
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/SidePanelModal/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: APP: Learn, SIZE: small

#10115 String cleanup for learn library interface
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/views/SearchChips.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/test/views/search-results-grid.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10129 Download Request functionality for resource cards in remote libraries
  kolibri/core/api.py
  kolibri/core/content/api.py
  kolibri/core/content/migrations/0032_contentnode_admin_imported.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/upgrade.py
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/card.scss
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/cards/ResourceCard.vue
  kolibri/plugins/learn/assets/test/views/library-and-channel-browser-main-content-grid.spec.js
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: very large

#10114 Add constants for download requests status and reason
  kolibri/core/assets/src/constants.js
Labels: SIZE: small

#8677 Adds guards against non-locally available content.
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/AttemptLogItem.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/content/api.py
  kolibri/plugins/coach/assets/src/csv/fields.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/modules/resourceDetail/handlers.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/LearnerExerciseReport.vue
  kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/notificationStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/ContentArea.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonEditDetailsPage/EditDetailsResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/reports/ExerciseQuestionListPageBase.vue
  kolibri/plugins/coach/assets/src/views/reports/QuizQuestionListPageBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourcesList.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizQuestionListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourceHeader.vue
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_class_summary.py
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/handlers.js
  kolibri/plugins/learn/assets/src/modules/lessonPlaylist/index.js
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/learn/viewsets.py
  packages/kolibri-common/components/MissingResourceAlert.vue
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: Learn, APP: Coach, SIZE: large

#10138 Update PID file when the zipcontent server starts
  kolibri/utils/server.py
Labels: DEV: backend, SIZE: very small

#10141 Add new modal for connection testing with new strings
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/DeviceConnectingModal.vue
Labels: TODO: needs review, TAG: user strings, SIZE: medium

#10144 Fixes failure to save facility name
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: TODO: needs review, APP: Facility, SIZE: very small

#10050 Migrate KEmptyPlaceholder to use KOptionalText
  kolibri/core/assets/src/views/ElapsedTime.vue
  kolibri/core/assets/src/views/TimeDuration.vue
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/core/assets/src/views/userAccounts/BirthYearDisplayText.vue
  kolibri/core/assets/src/views/userAccounts/GenderDisplayText.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLearnersTable.spec.js.snap
  kolibri/plugins/coach/assets/test/views/reports/__snapshots__/ReportsLessonResourceLearnerListPage.spec.js.snap
  kolibri/plugins/epub_viewer/assets/src/views/SearchSideBar.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, APP: Facility, APP: Coach, SIZE: small, SIZE: medium

#10149 Return Android specific system value from public device info endpoint.
  kolibri/core/device/api.py
  kolibri/core/device/utils.py
  kolibri/utils/android.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10140 Update docs for installing pyenv for windows
  docs/getting_started.rst
  docs/howtos/installing_pyenv.md
Labels: SIZE: medium

#10143 Adds Metered connection notification modal to kolibri-common
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
Labels: TODO: needs review, SIZE: small

#10154 Cleans up some issues in the sidepanel component
  kolibri/plugins/learn/assets/src/views/LibraryPage/SidePanel.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#10106 KDateRange implementation in export usage data
  kolibri/core/assets/src/api-resources/generateCSVLogRequest.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/auth/utils/delete.py
  kolibri/core/logger/api.py
  kolibri/core/logger/api_urls.py
  kolibri/core/logger/csv_export.py
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/migrations/0012_generatecsvlogrequest.py
  kolibri/core/logger/models.py
  kolibri/core/logger/tasks.py
  kolibri/core/logger/test/test_api.py
  kolibri/core/logger/test/test_tasks.py
  kolibri/plugins/facility/api_urls.py
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/modules/manageCSV/index.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/facility/test/test_api.py
  kolibri/plugins/facility/views.py
Labels: DEV: backend, APP: Facility, SIZE: large

#10152 Add update hooks option.
  kolibri/core/tasks/main.py
  kolibri/utils/options.py
Labels: TODO: needs review, DEV: backend, SIZE: small
