Repository learningequality/kolibri, pull requests merged in 2023-08, with the labels that each got.

#11054 Conform code to E721 for flake8.
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/notifications/test/test_api.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11049 Handle queries that resolve to an empty result set in search utils.
  kolibri/core/content/test/test_search.py
  kolibri/core/content/utils/search.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11053 Always run plugin upgrades separately from core Kolibri upgrades.
  kolibri/core/upgrade.py
  kolibri/plugins/utils/settings.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11023 Fixes retry_in behaviour. Adds tests.
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/test_job.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10960 Composable translators
  docs/i18n.rst
  kolibri/core/assets/src/mixins/__test__/notificationStrings.spec.js
  kolibri/core/assets/src/utils/i18n.js
  kolibri/plugins/learn/assets/src/composables/useDevices.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#11052 Remove all use of pkg_resources in Kolibri run time code.
  kolibri/plugins/utils/__init__.py
  requirements/base.txt
Labels: DEV: backend, SIZE: small

#11009 Adds error handling for badly formed UUIDs sent to API endpoints
  kolibri/core/apps.py
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/logger/api.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#11060 Upload TAR file to releases
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: very small

#11062 Layout tweaks for Learn
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#11057 setup_wizard: only set firstImportedLodUser if task starts without errors
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
Labels: TODO: needs review, APP: Setup Wizard, SIZE: small

#11055 Add download button to BrowseResourceMetadata
  kolibri/core/assets/src/views/ContentRenderer/filePresetStrings.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/browse-resource-metadata.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10460 Attempt to reduce query times and memory usage during channel deletion operations
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_delete_content.py
  kolibri/core/content/test/test_deletechannel.py
Labels: TODO: needs review, DEV: backend, SIZE: medium, TAG: cloud

#11063 Prevent learner only imported superadmins from seeing studio.
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#11071 Consolidate logic to prevent polling for non learner only imports.
  kolibri/core/assets/src/composables/useUserSyncStatus.js
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/SideNav.vue
Labels: TODO: needs review, SIZE: small

#11061 Add loader to YourClasses component
  kolibri/plugins/learn/assets/src/views/YourClasses/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#11073 Upgrade pyzeroconf to version unpatched for Android.
  requirements/base.txt
Labels: TODO: needs review, SIZE: very small

#11084 Make import metadata tests more robust for mptt fields.
  kolibri/core/content/test/test_public_api.py
Labels: DEV: backend, SIZE: small

#11056 Cascade merge 0.16.x into develop
  .github/workflows/release_kolibri.yml
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/core/apps.py
  kolibri/core/assets/src/composables/useUserSyncStatus.js
  kolibri/core/assets/src/utils/appCapabilities.js
  kolibri/core/assets/src/views/ContentRenderer/filePresetStrings.js
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/auth/api.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/content/api.py
  kolibri/core/content/management/commands/deletecontent.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_delete_content.py
  kolibri/core/content/test/test_deletechannel.py
  kolibri/core/content/test/test_public_api.py
  kolibri/core/content/test/test_search.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/search.py
  kolibri/core/content/utils/sqlalchemybridge.py
  kolibri/core/logger/api.py
  kolibri/core/notifications/test/test_api.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/upgrade.py
  kolibri/core/upgrade.py
  kolibri/plugins/app/api.py
  kolibri/plugins/app/utils.py
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/YourClasses/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/assets/test/views/browse-resource-metadata.spec.js
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
  kolibri/plugins/utils/__init__.py
  kolibri/plugins/utils/settings.py
  kolibri/utils/main.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/sql_alchemy.py
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
  packages/kolibri-tools/package.json
  requirements/base.txt
  yarn.lock
Labels: DEV: dev-ops, DEV: backend, APP: Learn, APP: Setup Wizard, SIZE: medium, SIZE: large

#11025 Update Exam model with V3 question_sources, update relevant JS utils
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/core/exams/migrations/0007_bump_data_model_version_to_3.py
  kolibri/core/exams/models.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10966 Gherkin corrections and cleanup
  integration_testing/016-features/admin/facility/facility-data/admin-export-data.feature
  integration_testing/016-features/common/app-bar/android-app-bar.feature
  integration_testing/016-features/common/app-bar/appbar-scroll.feature
  integration_testing/016-features/learner/content-syncing/learner-automatic-content-syncing.feature
  integration_testing/016-features/learner/content-syncing/learner-explore-my-own-library.feature
  integration_testing/016-features/learner/content-syncing/learner-explore-other-libraries.feature
  integration_testing/016-features/learner/content-syncing/learner-library-page.feature
  integration_testing/016-features/learner/content-syncing/misc-content-syncing.feature
  integration_testing/016-features/superadmin/common/sorting-user-tables.feature
  integration_testing/016-features/superadmin/device/device-settings/super-admin-change-device-settings.feature
  integration_testing/016-features/superadmin/facility/facility-data/super-admin-export-data.feature
  integration_testing/016-features/superadmin/facility/facility-settings/facility-settings.feature
  integration_testing/016-features/superadmin/facility/facility-settings/super-admin-rename-facility.feature
  integration_testing/016-features/superadmin/initial-setup/0.15 EDITS NEEDED/super-admin-creates-new-facility-in-device-setup.feature
  integration_testing/016-features/superadmin/initial-setup/0.15 EDITS NEEDED/super-admin-goes-through-setup-wizard-offline-mode.feature
  integration_testing/016-features/superadmin/initial-setup/0.15 EDITS NEEDED/super-admin-imports-facility-in-device-setup.feature
  integration_testing/016-features/superadmin/initial-setup/0.15 EDITS NEEDED/super-admin-quick-start-setup-wizard.feature
  integration_testing/016-features/superadmin/initial-setup/0.15 EDITS NEEDED/super-admin-setup-wizard-import-individual-users.feature
  integration_testing/016-features/superadmin/initial-setup/device-setup.feature
  integration_testing/016-features/superadmin/initial-setup/post-setup.feature
Labels: SIZE: large

#11077 adds the new Quiz Creation Component
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: APP: Coach, SIZE: medium, SIZE: large

#11099 Fix device setting saving in a plugin antagonistic environment (like PyInstaller)
  kolibri/plugins/utils/__init__.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11103 Channel import progress
  kolibri/core/content/tasks.py
Labels: DEV: backend, SIZE: very small, SIZE: very large

#11083 Automatic content syncing: preferred instance tracking and fixes
  kolibri/core/content/api.py
  kolibri/core/content/kolibri_plugin.py
  kolibri/core/content/migrations/0034_contentrequest_source_instance_id.py
  kolibri/core/content/models.py
  kolibri/core/content/serializers.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_content_request.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/resource_import.py
  kolibri/core/content/utils/settings.py
  kolibri/core/discovery/api.py
  kolibri/core/discovery/migrations/0009_add_location_type.py
  kolibri/core/discovery/migrations/0010_set_location_type.py
  kolibri/core/discovery/migrations/0011_remove_networklocation_dynamic.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/discovery/well_known.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/test.py
  kolibri/plugins/app/utils.py
  kolibri/plugins/device/assets/src/apiResources.js
  kolibri/plugins/device/assets/src/modules/wizard/apiPeerImport.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useCoreLearn.js
  kolibri/plugins/learn/assets/src/composables/useCoreLearn.js
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/browse-resource-metadata.spec.js
  kolibri/plugins/learn/assets/test/views/currently-viewed-resource-metadata.spec.js
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/learn/viewsets.py
  requirements/base.txt
Labels: TODO: needs review, DEV: backend, APP: Device, APP: Learn, SIZE: very large

#11092 MyDownloads bug fixes
  kolibri/core/content/api.py
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
Labels: DEV: backend, APP: Learn, SIZE: medium, SIZE: very large

#11104 Catch errors that can happen when a network location is announced on more than one network.
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/discovery/tasks.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: very small

#11098 Plugin machinery tweaks
  kolibri/plugins/hooks.py
  kolibri/plugins/registry.py
  kolibri/plugins/utils/__init__.py
Labels: DEV: backend, SIZE: small, SIZE: very small

#11111 Pass dict as kwargs
  kolibri/core/discovery/api.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11112 Bug hunt fixes
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/settings.py
  kolibri/core/discovery/test/test_api.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: medium, SIZE: large

#11116 Add APK building to PR asset building and release pipelines
  .github/githubUtils.js
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops, SIZE: small

#11119 Catch and redirect 401 errors when browsing remotely
  kolibri/core/assets/src/core-app/client.js
Labels: SIZE: very small

#10892 final "on my own" flow updates
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  kolibri/plugins/learn/assets/src/modules/coreLearn/mutations.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LearnIndex.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: TODO: needs review, APP: Device, APP: Learn, APP: Setup Wizard, SIZE: small

#11096 Update documentation for contributors
  .github/ISSUE_TEMPLATE/config.yml
  AUTHORS.md
  CONTRIBUTING.md
  README.md
  docs/contributing/ways_to_contribute.rst
  docs/stack.rst
Labels: TODO: needs review, TAG: developer docs, SIZE: small

#11120 Actually cancel running jobs on worker shutdown to prevent blocking shutdown
  kolibri/core/discovery/utils/network/broadcast.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/worker.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11126 Fix links to issues in the contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: TODO: needs review, SIZE: very small

#11122 Fix resource viewing wasted vertical spacing for smaller devices
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: APP: Learn, SIZE: very small

#11090 ui error resolved related to library
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#11136 Remove secrets as unusable for PR builds
  .github/workflows/pr_build_kolibri.yml
Labels: DEV: dev-ops, SIZE: very small

#11133 objectSpec sub-spec on arrays fix; themeSpec fix
  kolibri/core/assets/src/objectSpecs.js
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/assets/test/objectSpecs.spec.js
Labels: TODO: needs review, SIZE: small

#11155 Restore exam/utils.spec.js to previous version; tests pass
  kolibri/core/assets/test/exams/utils.spec.js
Labels: SIZE: small

#11088 Enhanced Quizzes: Initial frontend state management API
  kolibri/core/assets/src/objectSpecs.js
  kolibri/core/assets/test/objectSpecs.spec.js
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/modules/examCreation/selectQuestions.js
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
Labels: TODO: needs review, APP: Coach, SIZE: large

#10561 Fix sync progress tracking overflow
  kolibri/core/auth/management/utils.py
  kolibri/core/auth/test/test_sync_utils.py
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/tasks/utils.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#11168 Retry when installing C extensions
  build_tools/install_cexts.py
Labels: DEV: backend, SIZE: small

#11100 kolibri studio no of remote channel issue resolved
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
Labels: APP: Learn, SIZE: small, SIZE: very small

#11041 Add customized themes feature into EPUB renderer
  kolibri/plugins/epub_viewer/assets/src/views/AddEditCustomThemeModal.vue
  kolibri/plugins/epub_viewer/assets/src/views/ColorPickerModal.vue
  kolibri/plugins/epub_viewer/assets/src/views/DeleteCustomThemeModal.vue
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/epub_viewer/assets/src/views/SettingsSideBar.vue
  kolibri/plugins/epub_viewer/package.json
  yarn.lock
Labels: SIZE: large, SIZE: very large

#11163 docs on how to run another kolibri instance alongside the development server
  docs/howtos/another_kolibri_instance.md
  docs/howtos/another_kolibri_instance.rst
  docs/howtos/index.rst
Labels: TODO: needs review, TAG: developer docs, SIZE: small

#11164 playback speed of 0.75 added for videos
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/media_player/assets/src/views/videojs-style/video-js.min.css
Labels: TODO: needs review, SIZE: very small

#11170 Commit job state change before running update hooks
  kolibri/core/tasks/storage.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11181 Do better availability checks for individual resource import
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/resource_import.py
  kolibri/core/public/api.py
Labels: DEV: backend, SIZE: small

#11165 Maintain the zoom settings for the PDF viewer
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
Labels: TODO: needs review, SIZE: very small

#11184 Pass through check_file_availability kwarg
  kolibri/core/content/utils/import_export_content.py
Labels: DEV: backend, SIZE: very small
