Repository learningequality/kolibri, pull requests merged in 2023-06, with the labels that each got.

#10757 'Sync schedule' gherkins
  integration_testing/016-features/admin/facility/facility-data/admin-sync-facility.feature
  integration_testing/016-features/superadmin/device/device-facilities/super-admin-sync-schedule.feature
Labels: SIZE: small, SIZE: medium

#10689 Logging configuration improvements
  kolibri/utils/logger.py
Labels: DEV: backend, SIZE: small

#10765 enables sync button in sync modal
  kolibri/plugins/device/assets/src/views/FacilitiesPage/SyncAllFacilitiesModal.vue
Labels: TODO: needs review, APP: Device, SIZE: small

#10761 conditionalizes display of device connection status and prevents unec…
  kolibri/core/discovery/api.py
  kolibri/plugins/learn/assets/src/views/DeviceConnectionStatus.vue
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/device-connection-status.spec.js
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: small, SIZE: medium

#10697 sets side nav submenus to remain active onclick
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/plugins/coach/assets/src/views/CoachSideNavEntry.js
  kolibri/plugins/device/assets/src/views/DeviceManagementSideNavEntry.js
  kolibri/plugins/facility/assets/src/views/FacilityManagementSideNavEntry.js
  kolibri/plugins/learn/assets/src/views/LearnSideNavEntry.js
Labels: APP: Device, APP: Facility, APP: Learn, APP: Coach, SIZE: small

#10776 docs: Remove mentions of fmt-backend from the getting started docs
  docs/getting_started.rst
Labels: SIZE: very small

#10767 Fixes for peer to peer import
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/api.js
Labels: TODO: needs review, APP: Device, SIZE: small

#10784 Kolibri
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/AuthMessage.vue
Labels: SIZE: very small

#10455 Fixes loading states in general
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/core/assets/src/views/UserTable/__tests__/index.spec.js
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/device/assets/src/modules/managePermissions/handlers.js
  kolibri/plugins/device/assets/src/modules/managePermissions/index.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/modules/classEditManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/classEditManagement/index.js
  kolibri/plugins/facility/assets/src/modules/classManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/classManagement/index.js
  kolibri/plugins/facility/assets/src/modules/shared.js
  kolibri/plugins/facility/assets/src/modules/userManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/userManagement/index.js
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/pdf_viewer/assets/tests/SideBar/Bookmarks.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ChooseAdmin/__tests__/index.spec.js
Labels: TODO: needs review, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, SIZE: medium, SIZE: large

#10782 Fixes hidden search elements in search panel on scroll
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small, SIZE: very small

#10783 Schedule-Sync: Frequency drop-down Label Correction
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.facility.app-messages.json
Labels: SIZE: very small

#10800 Update 'Frequency' Label Spelling in EditDeviceSyncSchedule.vue
  packages/kolibri-common/components/SyncSchedule/EditDeviceSyncSchedule.vue
Labels: SIZE: very small

#10768 fix missing "back" links in coach
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/examsRoot/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
Labels: TODO: needs review, APP: Coach, SIZE: small

#10799 adds error handling to diskcache.DjangoCache
  kolibri/deployment/default/cache.py
  kolibri/deployment/default/custom_django_cache.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10781 Updates LearnerDeviceStatus status saving method to remove NotImpleme…
  kolibri/core/device/models.py
  kolibri/core/device/test/test_models.py
Labels: DEV: backend, SIZE: small

#10803 Trigger schedule_ping on first content import of channel & after SetupWizard
  kolibri/core/content/utils/resource_import.py
  kolibri/core/device/api.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10817 Defers all active link calculation to vue router.
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/plugins/device/assets/src/appNavigationRoutes.js
  kolibri/plugins/device/assets/src/views/DeviceManagementSideNavEntry.js
Labels: TODO: needs review, APP: Device, SIZE: small

#10815 Fix some remote loading states
  kolibri/core/assets/src/validators.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/getters.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/mutations.js
  kolibri/plugins/learn/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityIcon.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10810 default_theme: Move favicon location to be configured by the theme
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templates/kolibri/unsupported_browser.html
  kolibri/core/templatetags/core_tags.py
  kolibri/plugins/default_theme/kolibri_plugin.py
Labels: DEV: backend, SIZE: small

#10780 Allow including all thumbnails in import
  kolibri/core/content/fixtures/content_test.json
  kolibri/core/content/management/commands/importcontent.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/resource_import.py
  kolibri/plugins/device/test/test_api.py
Labels: DEV: backend, APP: Device, SIZE: medium

#10703 Gives indication of user having permission to join the facility not showing the devices that don't have sign up enabled.
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/__test__/SelectDeviceForm.spec.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/api.js
Labels: SIZE: small, SIZE: medium

#10812 feat:renamed currentFacilityId
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/test/state/facilityConfig.spec.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/user_auth/assets/src/modules/pluginModule.js
  kolibri/plugins/user_auth/assets/src/modules/signIn/handlers.js
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, SIZE: small

#10818 Remove unneeded IE10 compatibility handling.
  kolibri/core/assets/src/logging.js
Labels: SIZE: very small

#10819 Only show webpack overlay for compilation errors.
  packages/kolibri-tools/lib/cli.js
Labels: TODO: needs review, TAG: dev experience, SIZE: very small

#10825 Remote file cleanup and improvements
  kolibri/core/assets/src/core-app/urls.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/zip_wsgi.py
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/utils/file_transfer.py
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/tests/test_file_transfer.py
  kolibri/utils/urls.py
Labels: TODO: needs review, DEV: backend, SIZE: large

#10831 "Sync All" button visible only if a facility is registered with KDP
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
Labels: APP: Device, SIZE: very small

#10791 server: Add systemd notify support for process management
  kolibri/utils/env.py
  kolibri/utils/server.py
Labels: DEV: backend, SIZE: small

#10830 track progress for content download request
  kolibri/core/content/models.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/resource_import.py
Labels: DEV: backend, SIZE: small

#10823 Improve how gender and birth year is displayed when changing the facility
  kolibri/core/assets/src/views/userAccounts/GenderDisplayText.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/ConfirmAccountDetails.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/ConfirmAccountDetails.spec.js
Labels: TODO: needs review, APP: User, SIZE: small

#10739 py27 ie11 deprecation warnings
  kolibri/plugins/device/assets/src/views/DeprecationWarningBanner.vue
  kolibri/plugins/device/assets/src/views/DeviceAppBarPage.vue
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/index.vue
  kolibri/plugins/device/kolibri_plugin.py
Labels: DEV: backend, APP: Device, SIZE: medium

#10854 Handle urlparse ValueError on invalid IP addresses in python >= 3.11
  kolibri/core/discovery/utils/network/urls.py
Labels: DEV: backend, SIZE: very small

#10853 Provide task arguments in API response
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/test/test_api.py
Labels: DEV: backend, SIZE: small

#10864 Pass click event to navigate method.
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
Labels: TODO: needs review, SIZE: very small

#10865 Allow time unbounded CSV exports from the backend command.
  kolibri/core/logger/csv_export.py
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/migrations/0013_generatecsvlogrequest_allow_null_timestamps.py
  kolibri/core/logger/models.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10866 First user made is superuser
  kolibri/core/device/serializers.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10842 Use containers to maintain Python 2.7 compatibility
  .github/workflows/build_pex.yml
  .github/workflows/build_whl.yml
  .github/workflows/c_extensions.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/python2lint.yml
  .github/workflows/tox.yml
  kolibri/utils/tests/test_sanity_check.py
Labels: DEV: dev-ops, DEV: backend, SIZE: small, SIZE: medium

#10867 Channel order persists across upgrades
  kolibri/core/content/utils/channel_import.py
Labels: DEV: backend, SIZE: small

#10841 Polishing loading states in Device & Facility
  kolibri/core/assets/src/state/modules/core/getters.js
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/plugins/device/assets/src/modules/deviceInfo/index.js
  kolibri/plugins/device/assets/src/modules/manageContent/handlers.js
  kolibri/plugins/device/assets/src/modules/managePermissions/handlers.js
  kolibri/plugins/device/assets/src/modules/userPermissions/handlers.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/views/DeviceInfoPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/DeleteExportChannelsPage.vue
  kolibri/plugins/device/assets/src/views/UserPermissionsPage/index.vue
  kolibri/plugins/facility/assets/src/modules/classAssignMembers/handlers.js
  kolibri/plugins/facility/assets/src/modules/classEditManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/classManagement/handlers.js
  kolibri/plugins/facility/assets/src/modules/facilityConfig/handlers.js
  kolibri/plugins/facility/assets/src/modules/facilityConfig/index.js
  kolibri/plugins/facility/assets/src/modules/userManagement/handlers.js
  kolibri/plugins/facility/assets/src/views/CoachClassAssignmentPage.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
Labels: TODO: needs review, APP: Device, APP: Facility, SIZE: medium

#10762 setup wizard "back" button handling
  kolibri/plugins/setup_wizard/assets/src/views/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
Labels: TODO: needs review, APP: Setup Wizard, SIZE: small

#10879 Revert "Bump @vueuse/core from 9.11.1 to 10.2.0"
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: SIZE: small

#10878 pwa: Fix JS escaping of template arguments for PWA manifest
  kolibri/plugins/pwa/templates/manifest.json
Labels: SIZE: small

#10884 Update AUTHORS.md
  AUTHORS.md
Labels: SIZE: very small

#10840 add flex properties to LessonContentCard title and message
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
Labels: APP: Coach, SIZE: small

#10888 Return false rather than erroring for malformed version strings.
  kolibri/core/assets/src/composables/useMinimumKolibriVersion.js
Labels: TODO: needs review, SIZE: very small

#10887 Add promise catching in the correct place.
  kolibri/plugins/learn/assets/src/composables/useSearch.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10895 Drops pkg_resource parse_version use in favour of semver to remove slow loading dependency
  kolibri/utils/compat.py
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10903 Refactor sidebar to use slots
  kolibri/plugins/learn/assets/src/views/TopicsPage/ToggleHeaderTabs.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: APP: Learn, SIZE: small

#10917 Add automatic release notes template
  .github/release.yml
Labels: SIZE: small

#10911 Do release artifact uploads individually to allow assets to be uploaded in spite of failures.
  .github/workflows/release_kolibri.yml
  .github/workflows/upload_github_release_asset.yml
Labels: DEV: dev-ops, SIZE: small

#10912 Prevent errors when running with a non-0.0.0.0 address binding.
  kolibri/utils/server.py
Labels: TODO: needs review, DEV: backend, SIZE: very small
