Repository learningequality/kolibri, pull requests merged in 2023-03, with the labels that each got.

#10159 Add message to indicate that deletion is being prepared for a channel.
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
Labels: TODO: needs review, TAG: user strings, APP: Device, SIZE: small

#10058 File sizes
  kolibri/core/assets/src/api-resources/exam.js
  kolibri/core/assets/src/api-resources/lesson.js
  kolibri/core/assets/src/constants.js
  kolibri/core/exams/api.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/core/lessons/test/test_lesson_api.py
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/index.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonsRoot/index.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/ResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: DEV: backend, APP: Coach, SIZE: medium, SIZE: large

#10165 Some string rearranging to support app bar updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/device/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
  kolibri/plugins/facility/assets/src/views/FacilityTopNav.vue
Labels: APP: Device, APP: Facility, APP: Coach, SIZE: small

#10151 Update string extraction, profiling, and context transfer to properly handle kolibri-common
  package.json
  packages/kolibri-tools/lib/cli.js
Labels: TODO: needs review, TAG: user strings, SIZE: small

#10169 Move download string to core strings
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
Labels: TODO: needs review, TAG: user strings, APP: Learn, SIZE: small

#9786 Sync schedule
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  package.json
  packages/kolibri-common/components/SyncSchedule/EditDeviceSyncSchedule.vue
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
Labels: TODO: needs review, APP: Device, APP: Facility, SIZE: large

#10168 Add coach strings
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
Labels: TODO: needs review, TAG: user strings, APP: Coach, SIZE: very small

#10175 Use colorlog.TTYColoredFormatter
  kolibri/utils/env.py
  kolibri/utils/logger.py
Labels: DEV: backend, SIZE: very small

#10174 WIP String review fixes for facility settings updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/device/assets/src/views/__test__/PinAuthenticationModal.spec.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/RemovePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ViewPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: TODO: needs review, APP: Device, APP: Facility, SIZE: small

#10167 Add Explore Libraries page new strings
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: medium

#10166 Create explore libraries page
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
Labels: APP: Learn, SIZE: medium

#10135 Update facility settings
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0021_facilitydataset_extra_fields_validations.py
  kolibri/core/auth/migrations/0022_facilitydataset_extra_fields_update_pin_to_string.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/package.json
  kolibri/plugins/device/assets/src/app.js
  kolibri/plugins/device/assets/src/modules/pluginModule.js
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/device/assets/src/views/__test__/PinAuthenticationModal.spec.js
  kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js
  kolibri/plugins/facility/assets/src/modules/facilityConfig/index.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/CreateManagementPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/RemovePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ViewPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, DEV: backend, APP: Device, APP: Facility, SIZE: very large

#10056 Learner insufficient storage notifications
  kolibri/core/assets/src/api-resource.js
  kolibri/core/assets/src/composables/useUserSyncStatus.js
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/StorageNotification.vue
  kolibri/core/assets/src/views/SyncStatusDisplay.vue
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/core/device/api.py
  packages/kolibri-tools/jest.conf/testUtils.js
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10039 Learner insufficient storage notifications initial set up
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/StorageNotification.vue
Labels: SIZE: medium

#10162 Add management command to create standalone translated loading pages.
  kolibri/core/device/management/commands/loadingpage.py
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templates/kolibri/loading_page.html
  kolibri/core/templates/kolibri/loading_snippet.html
Labels: TODO: needs review, TAG: user strings, DEV: backend, SIZE: large

#10111 Remote content browsing
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/views/LibraryPage/CardContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ResumableContentGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: APP: Learn, SIZE: medium, SIZE: large

#10181 Downloads strings
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
Labels: TAG: user strings, SIZE: small

#10183 Translate csv logs
  kolibri/core/logger/csv_export.py
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/tasks.py
  kolibri/core/logger/test/test_tasks.py
  kolibri/locale/en/LC_MESSAGES/django.po
  kolibri/locale/es_ES/LC_MESSAGES/django.mo
  kolibri/locale/es_ES/LC_MESSAGES/django.po
  kolibri/plugins/facility/assets/src/modules/manageCSV/actions.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: Facility, SIZE: large

#10185 Add remote content browsing error strings to commonLearn
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
Labels: TAG: user strings, APP: Learn, SIZE: small

#10188 Add practice quiz label and generic mastery goal string to core strings.
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10176 Update and upgrade messages
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/UpdateNotification.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/DriveList.vue
  kolibri/plugins/device/assets/test/views/SelectDriveModal.spec.js
Labels: APP: Device, SIZE: small

#10182 Task notifications
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/core/auth/tasks.py
  kolibri/core/content/tasks.py
  kolibri/core/device/task_notifications.py
  kolibri/core/tasks/decorators.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/test_decorators.py
  kolibri/core/tasks/test/test_job.py
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: User, SIZE: medium

#10187 Update strings across develop after final string review session
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/SyncStatusDescription.vue
  kolibri/core/assets/src/views/sync/SelectAddressModalGroup/DeviceConnectingModal.vue
  kolibri/plugins/coach/assets/src/views/StorageNotificationBanner.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/CreateManagementPinModal.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportLODUsersSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/ImportIndividualUserForm.vue
Labels: APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: Setup Wizard, SIZE: small

#10193 "Content Syncing" Flows string finalization
  kolibri/core/assets/src/mixins/commonCoreStrings.js
Labels: TAG: user strings, SIZE: very small

#10195 Fix topic tree redirects to not lose deviceId (or other) route parameters
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
Labels: TODO: needs review, APP: Learn, SIZE: small

#10192 "Change Facility" flow string finalization
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ChooseAdmin/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ChooseAdmin/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TAG: user strings, APP: User, APP: Setup Wizard, SIZE: small

#10194 Add string audit tooling.
  docs/i18n.rst
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/i18n/ExtractMessages.js
  packages/kolibri-tools/lib/i18n/astUtils.js
  packages/kolibri-tools/lib/i18n/auditMessages.js
  packages/kolibri-tools/lib/i18n/utils.js
Labels: TODO: needs review, SIZE: medium

#10196 Add or update strings for settings flows
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/RemoveStorageLocationModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/CreateManagementPinModal.vue
Labels: TAG: user strings, APP: Device, APP: Facility, SIZE: small

#10178 Update facility settings bug fixes
  kolibri/plugins/device/assets/src/app.js
Labels: TODO: needs review, APP: Device, SIZE: very small

#10190 Create explore libraries page
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/device/assets/src/app.js
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, APP: Device, APP: Learn, APP: Coach, SIZE: medium, SIZE: large

#10139 Setup Wizard + Learn Only Device Import User
  kolibri/core/assets/src/utils/syncTaskUtils.js
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/core/assets/src/views/sync/FacilityTaskPanel.vue
  kolibri/core/auth/tasks.py
  kolibri/core/auth/utils/users.py
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/utils.py
  kolibri/plugins/setup_wizard/api.py
  kolibri/plugins/setup_wizard/assets/src/api.js
  kolibri/plugins/setup_wizard/assets/src/constants.js
  kolibri/plugins/setup_wizard/assets/src/machines/lodImportMachine.js
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/modules/__test__/setupWizardPluginModule.spec.js
  kolibri/plugins/setup_wizard/assets/src/modules/pluginModule.js
  kolibri/plugins/setup_wizard/assets/src/routes.js
  kolibri/plugins/setup_wizard/assets/src/views/CreateFacilitySetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportAuthentication.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportLODUsersSetup.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportMultipleUsers.vue
  kolibri/plugins/setup_wizard/assets/src/views/JoinOrNewLOD.vue
  kolibri/plugins/setup_wizard/assets/src/views/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/LodJoinFacility.vue
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/ProgressToolbar.vue
  kolibri/plugins/setup_wizard/assets/src/views/Sandbox.vue
  kolibri/plugins/setup_wizard/assets/src/views/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/__test__/LoadingTaskPage.spec.js
  kolibri/plugins/setup_wizard/assets/src/views/importFacility/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/MultipleUsers.vue
  kolibri/plugins/setup_wizard/assets/src/views/importLODUsers/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/CreateLearnerAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DeviceNameForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FacilityPermissionsForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GuestAccessForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/PersonalDataConsentForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/RequirePasswordForLearnersForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/submission-states/ErrorPage.vue
  kolibri/plugins/setup_wizard/assets/test/views/SetupWizardIndex.spec.js
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: Setup Wizard, SIZE: very large

#10155 Replaces 'address' with 'device' in UI strings
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/AddDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/DeviceConnectingModal.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/__test__/AddDeviceForm.spec.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/__test__/SelectDeviceForm.spec.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/api.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/index.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/useDynamicAddresses.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/useSavedAddresses.js
  kolibri/core/assets/src/views/sync/SyncFacilityModalGroup.vue
  kolibri/core/assets/src/views/sync/syncComponentSet.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/ImportFacilityModalGroup.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkDeviceModal/SelectNetworkAddressModal.spec.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectNetworkDeviceModal/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/index.vue
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/setup_wizard/assets/src/views/JoinOrNewLOD.vue
  kolibri/plugins/setup_wizard/assets/src/views/SelectFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
Labels: TODO: needs review, TAG: user strings, APP: Device, APP: User, APP: Setup Wizard, SIZE: medium

#10200 scheduled Sync string fix
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
Labels: SIZE: very small

#10204 Actions updates
  .github/workflows/build_pex.yml
  .github/workflows/build_whl.yml
  .github/workflows/c_extensions.yml
  .github/workflows/check_docs.yml
  .github/workflows/check_licenses.yml
  .github/workflows/no_zombies.yml
  .github/workflows/postgres.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/python2lint.yml
  .github/workflows/tox.yml
  .github/workflows/yarn.yml
  .pre-commit-config.yaml
Labels: TODO: needs review, DEV: dev-ops, SIZE: medium

#10209 String updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/mixins/taskStrings.js
  kolibri/core/assets/src/views/StorageNotification.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/device/assets/src/views/__test__/PinAuthenticationModal.spec.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/LoadingTaskPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/LodJoinFacility.vue
  kolibri/plugins/setup_wizard/assets/src/views/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/CreateLearnerAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DeviceNameForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FacilityNameTextbox.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FacilityPermissionsForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FullOrLearnOnlyDeviceForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GettingStartedForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GuestAccessForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/PersonalDataConsentForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/RequirePasswordForLearnersForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccountUsername/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
Labels: APP: Device, APP: Facility, APP: Coach, APP: User, APP: Setup Wizard, SIZE: medium

#10206 Fix user in change facility
  kolibri/core/auth/migrations/0023_change_extra_fields_validator.py
  kolibri/core/auth/models.py
  kolibri/core/device/models.py
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreatePassword.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: User, SIZE: medium

#10215 Fix license check
  .github/workflows/check_licenses.yml
  test/conditional/test_licenses.sh
Labels: TODO: needs review, DEV: dev-ops, SIZE: small, SIZE: very small

#10199 Fix: formatting of installing pyenv in windows
  docs/howtos/installing_pyenv.md
Labels: SIZE: very small

#10214 String updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
  kolibri/core/assets/src/views/SyncStatusDescription.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/DeviceConnectingModal.vue
  kolibri/plugins/coach/assets/src/views/StorageNotificationBanner.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/ServerRestartModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/policies/assets/src/views/UsageAndPrivacy.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmAccountUsername/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmMerge.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/CreateAccount/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/ConfirmAccountDetails.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/ConfirmAccountDetails.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/__tests__/index.spec.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/MergeFacility.spec.js
  kolibri/plugins/user_profile/assets/test/views/ChangeFacility/UsernameExists.spec.js
  packages/kolibri-common/components/AppError/ReportErrorModal.vue
Labels: TAG: user strings, APP: Device, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, SIZE: small, SIZE: medium

#10228 Add informative error message to permission denied error.
  kolibri/core/auth/utils/sync.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10225 When creating a new remote user send all the local user information
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: very small

#10217 Removing void spaces and adding media query to the bookmark cards
  AUTHORS.md
  kolibri/plugins/learn/assets/src/views/CardList.vue
Labels: TODO: needs review, APP: Learn, SIZE: small, SIZE: very small

#10234 Strings==: for when multiple devices are not responding
  kolibri/core/assets/src/mixins/commonSyncElements.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/DeviceConnectingModal.vue
Labels: TODO: needs review, TAG: user strings, SIZE: very small

#10244 Fix my downloads string
  kolibri/core/assets/src/mixins/commonCoreStrings.js
Labels: SIZE: very small

#10222 Fix error for user merge data
  kolibri/core/auth/utils/migrate.py
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: very small

#10245 Fix string to be Learn more rather than just learn
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TAG: user strings, APP: User, APP: Setup Wizard, SIZE: small

#10227 adds logic to LibraryPage to optionally display a particular device's…
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/learn/kolibri_plugin.py
Labels: DEV: backend, APP: Learn, SIZE: medium

#10191 Kdaterange follow up
  kolibri/core/logger/api.py
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/models.py
  kolibri/core/logger/test/factory_logger.py
  kolibri/core/logger/test/test_permissions.py
  kolibri/plugins/facility/views.py
Labels: DEV: backend, APP: Facility, SIZE: small

#10161 Clean up of sign in and sign up
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/auth/test/test_api.py
  kolibri/plugins/user_auth/assets/src/apiResource.js
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
  kolibri/plugins/user_auth/assets/src/views/SignUpPage.vue
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: medium

#10212 Coach accessibility improvements
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/composables/useCoachTabs.js
  kolibri/plugins/coach/assets/src/constants/tabsConstants.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, TAG: a11y, APP: Coach, javascript, SIZE: very large

#10250 Import metadata tweaks
  kolibri/core/content/constants/schema_versions.py
  kolibri/core/content/public_api.py
  kolibri/core/content/test/test_public_api.py
  kolibri/core/device/utils.py
  kolibri/core/discovery/migrations/0006_networklocation_min_content_schema_version.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/test/test_network_utils.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#10258 Fix string references.
  kolibri/plugins/setup_wizard/assets/src/views/SelectFacilityForm.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
Labels: TODO: needs review, APP: User, APP: Setup Wizard, SIZE: small

#10261 Make min_content_schema_version nullable
  kolibri/core/discovery/migrations/0006_networklocation_min_content_schema_version.py
  kolibri/core/discovery/models.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10265 Temporarily disable raspberry pi image generation for releases
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: small

#10247 Handle network problems when merging users
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: small

#10271 Tweak asset upload for github releases.
  .github/githubUtils.js
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: small

#10272 Fix typo to remove unicode character that was breaking Py2.7
  kolibri/plugins/user_profile/viewsets.py
Labels: TODO: needs review, SIZE: very small

#10262 Fix truncated titles on mobile view
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#10202 do not use sqlalchemy session for tasks reads
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#10248 adds ability to explore channel on 'Explore Libraries' page
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
Labels: TODO: needs review, APP: Learn, SIZE: very small

#10283 Move where we mark a job as running inside job execution to make it runner independent.
  kolibri/core/tasks/worker.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10263 Setup wizard import task cancellation fixes
  kolibri/core/assets/src/api-resources/task.js
  kolibri/core/assets/src/utils/syncTaskUtils.js
  kolibri/core/assets/src/views/sync/FacilityTaskPanel.vue
  kolibri/core/auth/tasks.py
  kolibri/plugins/device/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
Labels: TODO: needs review, DEV: backend, APP: Device, SIZE: small

#10231 ptch: display channel thumbnails in root folder
  AUTHORS.md
  kolibri/plugins/learn/assets/src/views/thumbnails/ContentNodeThumbnail.vue
Labels: APP: Learn, SIZE: small, SIZE: very small

#10264 Allows superusers and those with can_manage_content permision to access '/ispinvalid' API resource
  kolibri/core/auth/api.py
  kolibri/core/auth/api_urls.py
  kolibri/core/auth/test/test_api.py
  kolibri/plugins/device/assets/src/app.js
  kolibri/plugins/device/assets/src/views/PinAuthenticationModal.vue
  kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js
Labels: TODO: needs review, DEV: backend, APP: Device, APP: Facility, SIZE: small

#10205 Restart zeroconf before provisioning
  kolibri/core/device/api.py
  kolibri/plugins/setup_wizard/api.py
  kolibri/plugins/setup_wizard/api_urls.py
  kolibri/plugins/setup_wizard/assets/src/api.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, SIZE: small

#10295 [Setup Wizard] Validate nonunique usernames
  kolibri/plugins/setup_wizard/assets/src/views/LodJoinFacility.vue
  kolibri/plugins/setup_wizard/assets/src/views/SelectSuperAdminAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
Labels: TODO: needs review, APP: Setup Wizard, SIZE: small

#10318 Improve cleanup of automated LOD peer to peer syncing tasks
  kolibri/core/auth/tasks.py
  kolibri/core/tasks/storage.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10315 Fix resource import counts
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/resource_import.py
  kolibri/plugins/device/test/test_api.py
Labels: TODO: needs review, DEV: backend, APP: Device, SIZE: very small

#10317 Do not show password edit on profile page for subset of users device.
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
Labels: TODO: needs review, APP: User, SIZE: very small

#10137 My downloads page
  kolibri/plugins/facility/assets/src/views/ClassEnrollForm.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/composables/useLearningActivities.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/my_downloads/app.js
  kolibri/plugins/learn/assets/src/my_downloads/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/my_downloads/routes.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/ConfirmationDeleteModal.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/SelectionBottomBar.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/Filters/ActivityFilter.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/Filters/SortFilter.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloads.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloadsSideNavEntry.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/buildConfig.js
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/learn/templates/learn/my_downloads.html
  kolibri/plugins/learn/urls.py
  kolibri/plugins/learn/views.py
  packages/kolibri-common/components/PaginatedListContainerWithBackend.vue
Labels: TODO: needs review, DEV: backend, APP: Facility, APP: Learn, SIZE: large, SIZE: very large

#10279 Clean up previously generated CSV files
  kolibri/core/logger/management/commands/exportlogs.py
  kolibri/core/logger/tasks.py
  kolibri/core/logger/test/test_api.py
  kolibri/plugins/facility/test/test_api.py
Labels: DEV: backend, APP: Facility, SIZE: medium

#10352 Fixes a missing string on the add device address form
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/AddDeviceForm.vue
Labels: SIZE: very small

#10312 Don't update or edit facility and facility datasets for imported facilities
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10325 Include facility_id in dict in req.get params get_remote_users_info
  kolibri/core/auth/utils/users.py
Labels: DEV: backend, SIZE: very small

#10338 App mode to getting_started docs
  docs/getting_started.rst
Labels: TAG: developer docs, SIZE: small

#10298 breadcrumb navigation bug
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: APP: Learn, SIZE: very small
