Repository learningequality/kolibri, pull requests merged in 2023-01, with the labels that each got.

#9939 Do not set as readonly a property of a reactive object
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassDeleteModal.vue
Labels: TODO: needs review

#9941 Read missing `percentage` string; fix CSV export messages
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/coach/assets/src/csv/fields.js
Labels: TODO: needs review, bug, i18n

#9937 Restore coach filters
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review

#9956 Fix progress calculation when importing a facility
  kolibri/core/auth/management/utils.py
Labels: TODO: needs review

#9919 Attempt to automatically label PRs.
  .github/labeler.yml
  .github/workflows/pr_labels.yml
Labels: DEV: dev-ops, SIZE: very small

#9964 fixed hidden banner on mobile view
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsMobileHeader.vue
Labels: TODO: needs review, APP: Learn, SIZE: very small

#9915 Implement folder skip logic to avoid navigation down single child folders
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/package.json
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, TODO: needs gherkin update, DEV: backend, APP: Learn, SIZE: medium

#9966 Remove unnecessary translation strings in favour of number i18n method.
  kolibri/core/assets/src/views/ProgressBar.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/epub_viewer/assets/src/views/BottomBar.vue
Labels: APP: Device, SIZE: very small

#9959 [Pdf_Viewer] Backport changes from develop to 0.15.x
  kolibri/plugins/pdf_viewer/assets/src/utils/event_utils.js
  kolibri/plugins/pdf_viewer/assets/src/utils/struct_tree_layer_builder.js
  kolibri/plugins/pdf_viewer/assets/src/utils/text_layer_builder.js
  kolibri/plugins/pdf_viewer/assets/src/utils/text_layer_builder.scss
  kolibri/plugins/pdf_viewer/assets/src/views/PdfPage.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/Bookmarks/BookmarkItem.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/Bookmarks/index.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/index.vue
  kolibri/plugins/pdf_viewer/assets/tests/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/assets/tests/PdfRendererIndex.spec.js
  kolibri/plugins/pdf_viewer/assets/tests/SideBar/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/assets/tests/mocks/pdfjsMock.js
  kolibri/plugins/pdf_viewer/buildConfig.js
  kolibri/plugins/pdf_viewer/package.json
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/jest.conf/index.js
  yarn.lock
Labels: TODO: needs review

#9961 Facility export usage data section design updated
  kolibri/plugins/facility/assets/src/views/DataPage/LearnMoreModal.vue
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: APP: Facility, SIZE: medium

#9942 Fix selected users count
  kolibri/core/assets/src/views/UserTable/index.vue
Labels: SIZE: very small

#9940 theme links in navbar fixed
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
Labels: SIZE: small, SIZE: very small

#9994 Fix restarting on Windows
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/utils/server.py
Labels: TODO: needs review, DEV: backend, APP: Device, SIZE: very small

#10002 Update AUTHORS.md
  AUTHORS.md
Labels: SIZE: very small

#9995 Backport fix for number of users from #9942
  kolibri/plugins/facility/assets/src/views/UserTable.vue
Labels: TODO: needs review

#10041 0.15.10 into develop
  CHANGELOG.md
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/HeaderTab.vue
  kolibri/plugins/device/assets/src/views/ManagePermissionsPage/UserGrid.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/utils/text_layer_builder.scss
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/index.vue
Labels: APP: Device, APP: Learn, APP: Coach, SIZE: medium

#9906 First pass routing and data fetching for remote content browsing and zipcontent remote capability
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/utils/search.py
  kolibri/core/content/zip_wsgi.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/upgrade.py
  kolibri/deployment/default/alt_wsgi.py
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/composables/__mocks__/useChannels.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDevices.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useSearch.spec.js
  kolibri/plugins/learn/assets/src/composables/useChannels.js
  kolibri/plugins/learn/assets/src/composables/useContentLink.js
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useLearnerResources.js
  kolibri/plugins/learn/assets/src/composables/useSearch.js
  kolibri/plugins/learn/assets/src/constants.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/actions.js
  kolibri/plugins/learn/assets/src/modules/coreLearn/utils.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/index.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/CategorySearchOptions.vue
  kolibri/plugins/learn/assets/src/views/CategorySearchModal/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard/card.scss
  kolibri/plugins/learn/assets/src/views/ChannelCard/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ChannelThumbnail.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/ContentCard/card.scss
  kolibri/plugins/learn/assets/src/views/ContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/SidePanel.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/ActivityButtonsGroup.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/SelectGroup.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/SearchPanelModal.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/currently-viewed-resource-metadata.spec.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/utils/file_transfer.py
  kolibri/utils/kolibri_whitenoise.py
  packages/hashi/src/iframeClient.js
Labels: TODO: needs review, DEV: backend, APP: Learn, SIZE: very large

#10049 [EPub_Viewer] Fix createMarks
  kolibri/plugins/epub_viewer/assets/src/views/SearchSideBar.vue
  kolibri/plugins/epub_viewer/assets/tests/SearchSideBar.spec.js
Labels: TODO: needs review, SIZE: small

#9993 added modal for setting PIN
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/mixins/notificationStrings.js
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ChangePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/CreateManagementPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/RemovePinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/ViewPinModal.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: TODO: needs review, APP: Facility, SIZE: medium
