Repository learningequality/kolibri, pull requests merged in 2023-05, with the labels that each got.

#10609 remove build.txt line in docs
  docs/getting_started.rst
Labels: SIZE: very small

#10416 Tracking merge facility users in some connection breakage situations
  kolibri/core/discovery/utils/network/client.py
  kolibri/plugins/user_profile/assets/src/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: medium

#10463 Sync cleaning all
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus/index.vue
  kolibri/plugins/device/assets/src/constants.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  packages/kolibri-common/components/SyncSchedule/EditDeviceSyncSchedule.vue
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
  packages/kolibri-common/components/SyncSchedule/constants.js
Labels: work-in-progress, APP: Device, APP: Facility, SIZE: medium, SIZE: large

#10607 Update dependabot to check at midnight UTC and to update github-actions.
  .github/dependabot.yml
Labels: SIZE: very small

#10616 Fix Update2 #8532 Remove text truncator
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
Labels: APP: Learn, SIZE: small

#10535 10440 fix
  kolibri/plugins/learn/assets/src/composables/useLearningActivities.js
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/CardThumbnail.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/index.vue
Labels: APP: Learn, SIZE: small

#10625 Tweaks needed for kolibri-tools release
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/hashi/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/lib/apiSpecExportTools.js
  packages/kolibri-tools/package.json
Labels: TODO: needs review, SIZE: small

#10618 Adds use of device settings auto download limit and max space to use …
  kolibri/core/content/utils/content_request.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10642 Block merge facility creating new account if target facility does not allow it
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/UsernameExists.vue
Labels: TODO: needs review, APP: User, SIZE: small, SIZE: very small

#10566 Uses before psuedo element so that navbar elements don't shift.
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
Labels: SIZE: small

#10641 Fixes UX issues with Sync and Register buttons on Facility Data page
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
Labels: APP: Facility, SIZE: small

#10626 Cleans up remote content browsing cards
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/MoreNetworkDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/PinnedNetworkResources.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small, SIZE: medium

#10414 Fix scroll bar jumping on topics pages
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: TODO: needs review, APP: Learn, SIZE: small

#10558 New feature: Remote download on content pages
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/composables/__mocks__/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/composables/useDownloadRequests.js
  kolibri/plugins/learn/assets/src/modules/topicsTree/handlers.js
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/test/views/learning-activity-bar.spec.js
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, APP: Learn, SIZE: large

#10672 Fixes setup wizard back bug
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DeviceNameForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FullOrLearnOnlyDeviceForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: TODO: needs review, APP: Setup Wizard, SIZE: small

#10677 fix title string on "Select learning facility" page
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
Labels: TODO: needs review, APP: User, SIZE: very small

#10682 Add filename to the path to upgrade options
  kolibri/core/content/management/commands/content.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10668 fix device limitations modal
  kolibri/core/auth/tasks.py
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, SIZE: small

#10686 Changes data prop progress to a computed prop for reactivity
  kolibri/plugins/learn/assets/src/views/cards/QuizCard/index.vue
Labels: APP: Learn, SIZE: small, SIZE: very small

#10676 Updates facility sync and register workflow
  kolibri/core/assets/src/views/sync/ConfirmationRegisterModal.vue
  kolibri/core/assets/src/views/sync/RegisterFacilityModal.vue
  kolibri/core/assets/src/views/sync/SyncFacilityModalGroup.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
Labels: APP: Device, APP: Facility, SIZE: medium

#10550 facility tab navigation bug
  kolibri/core/assets/src/utils/__test__/generateNavRoutes.spec.js
  kolibri/core/assets/src/utils/generateNavRoutes.js
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
  kolibri/plugins/facility/assets/test/state/facilityConfig.spec.js
Labels: TODO: needs review, APP: Facility, SIZE: medium

#10664 added pointer on hovering the sidenav menu links
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/SideNav.vue
Labels: SIZE: very small

#10667 Ensure jobs migration works properly on Postgresql
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/upgrade.py
  kolibri/utils/sanity_checks.py
  kolibri/utils/tests/test_sanity_check.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#10702 Fix kwargs for import tasks.
  kolibri/core/content/tasks.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#10701 Transpile mjs source files with babel.
  packages/kolibri-tools/lib/webpack.config.base.js
Labels: TODO: needs review, SIZE: very small

#10619 Reduce gutter size for content blocks on mobile and small screens
  kolibri/core/assets/src/mixins/nav-components.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/test/horizontal-nav-bar-with-overflow.spec.js
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/test/views/facility-app-bar-page.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/user_profile/assets/test/views/profile-page.spec.js
Labels: TODO: needs review, APP: Facility, APP: Learn, APP: User, SIZE: small, SIZE: medium

#10712 Ensure only quiz and lesson sizes for the current class are fetched.
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
Labels: TODO: needs review, APP: Coach, SIZE: small

#10687 Cant navigate to library
  kolibri/plugins/learn/assets/src/modules/recommended/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: medium, SIZE: very small

#9922 Ports remaining 0.15 fixes from corebase to AppBarPage to ensure focusTrap works correctly
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
Labels: SIZE: very small

#10727 Fixes disconnected status on kolibri library
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/__test__/SelectDeviceForm.spec.js
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/useDevices.js
  kolibri/plugins/learn/assets/src/composables/__mocks__/usePinnedDevices.js
  kolibri/plugins/learn/assets/src/views/DeviceConnectionStatus.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/test/views/explore-libraries-page.spec.js
Labels: TODO: needs review, APP: Learn, SIZE: medium

#10685 Demote custom ePub viewer text alignment style
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
Labels: SIZE: very small

#10743 Revert KFixedGridItem to KFixedGrid
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
Labels: SIZE: very small

#10738 Reduces test noise by setting loglevel to silent.
  packages/kolibri-tools/jest.conf/setup.js
Labels: TODO: needs review, SIZE: very small

#10724 Allow update and delete of scheduled tasks
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/content/test/test_tasks.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/test_tasks.py
  kolibri/core/logger/test/test_tasks.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/exceptions.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/validation.py
Labels: TODO: needs review, DEV: backend, SIZE: large

#10749 Restore Raspberry Pi builds for releases
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops, SIZE: small

#10695 Update contributing documentation
  CONTRIBUTING.md
  docs/contributing/ways_to_contribute.rst
  docs/howtos/index.rst
Labels: TODO: needs review, SIZE: small

#10752 hooks: Fix a minor typo in a documentation comment
  kolibri/plugins/hooks.py
Labels: DEV: backend, SIZE: very small

#10723 pwa: Add a Progressive Web App (PWA) plugin
  AUTHORS.md
  kolibri/__init__.py
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/hooks.py
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templatetags/core_tags.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/kolibri-logo-192.png
  kolibri/plugins/default_theme/static/kolibri-logo-512.png
  kolibri/plugins/default_theme/static/kolibri-logo.svg
  kolibri/plugins/pwa/__init__.py
  kolibri/plugins/pwa/kolibri_plugin.py
  kolibri/plugins/pwa/root_urls.py
  kolibri/plugins/pwa/templates/head_snippet.html
  kolibri/plugins/pwa/templates/manifest.json
  kolibri/plugins/pwa/templates/sw.js
  kolibri/plugins/pwa/urls.py
  kolibri/plugins/pwa/views.py
  kolibri/plugins/utils/__init__.py
Labels: DEV: backend, SIZE: medium

#10746 Device provisioning error handling
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, SIZE: medium
