Repository learningequality/kolibri, pull requests merged in 2023-12, with the labels that each got.

#11434 Finishing up the Quiz Root Page
  kolibri/core/assets/src/views/sortable/DragContainer.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AccordionContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AccordionItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/TabsWithOverflow.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
  yarn.lock
Labels: APP: Coach, SIZE: large

#11519 Support content renderable_only option in tasks API
  kolibri/core/content/tasks.py
Labels: DEV: backend, SIZE: very small

#11565 [Accordion] Add "collapse all"/ "expand all" logic into AccordionContainer
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AccordionContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: TODO: needs review, APP: Coach, SIZE: small, SIZE: medium

#11566 Fix - Video player height
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/media_player/assets/src/views/videojs-style/variables.scss
Labels: TODO: needs review, SIZE: very small

#11590 Fixes hitherto unnoticed bug that meant time_updated was never set.
  kolibri/core/tasks/storage.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11596 Handle suspicious file operations and return a 404.
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/tests/test_kolibri_whitenoise.py
Labels: DEV: backend, SIZE: small

#11568 Solve the out of frame bug of quiz images
  kolibri/plugins/perseus_viewer/assets/dist/perseus.js
Labels: TODO: needs review, SIZE: very small

#11570 Improved router handlers architecture in Coach - part 1
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/modules/examsRoot/handlers.js
  kolibri/plugins/coach/assets/test/showPageActions.spec.js
Labels: TODO: needs review, APP: Coach, SIZE: small

#11623 Use the official GH action for Slack
  .github/workflows/notify_team_new_comment.yml
Labels: DEV: dev-ops, SIZE: small

#11624 GH contributor slack action for release branch
  .github/workflows/notify_team_new_comment.yml
Labels: DEV: dev-ops, SIZE: small

#11625 Trying to fix a small issue with our slack notif
  .github/workflows/notify_team_new_comment.yml
Labels: DEV: dev-ops, SIZE: very small

#11562 Migrate quizForge object references to composition API standard
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: APP: Coach, SIZE: medium, SIZE: large

#11597 Add fields for tracking where jobs are executed
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/worker.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11607 fix the poistion of the sidepanelmodal
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
Labels: TODO: needs review, APP: Learn, SIZE: very small

#10824 Upgrade morango, cryptography and dependency versions.
  .github/workflows/tox.yml
  build_tools/install_cexts.py
  requirements/base.txt
  requirements/build.txt
  requirements/cext.txt
  requirements/cext_noarch.txt
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, SIZE: small, SIZE: very small

#11633 Remove stray references to quizForge
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: TODO: needs review, APP: Coach, SIZE: small

#11588 Improve Coach tabs accessibility for quiz report page
  kolibri/plugins/coach/assets/src/constants/tabsConstants.js
  kolibri/plugins/coach/assets/src/views/reports/QuizQuestionListPageBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizLearnerListPage.vue
Labels: APP: Coach, SIZE: medium

#11446 Link KDS to Kolibri via webpack aliases
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/webpack.config.plugin.js
Labels: SIZE: small, SIZE: very small

#11587 Prevent display of welcome modal in LOD's
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: APP: Learn, SIZE: very small

#11534 Changed KResponsiveWindow to useKResponsivewindow in Slidehow Viewer …
  AUTHORS.md
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
Labels: TODO: needs review, DEV: renderers, DEV: frontend, SIZE: small

#11642 Fix title validation error bug in quizSection
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: APP: Coach, SIZE: very small

#11621 Fix notification updates in Coach
  kolibri/core/assets/src/api-resource.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
Labels: TODO: needs review, APP: Coach, SIZE: small

#11636 Reduce whl size, bundle C extensions for all Python 3 versions on Windows
  build_tools/install_cexts.py
  kolibri/utils/env.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11652 0.16 into develop
  build_tools/install_cexts.py
  kolibri/core/assets/src/api-resource.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/getters.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js
  kolibri/plugins/coach/assets/src/views/home/HomePage/ActivityBlock.vue
  kolibri/utils/env.py
Labels: DEV: backend, APP: Coach, DEV: frontend, SIZE: small

#11573 trying to make all of the card layouts be in sync with one another
  kolibri/plugins/learn/assets/src/composables/useCardLayoutSpan.js
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ResumableContentGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: APP: Learn, DEV: frontend, SIZE: small, SIZE: medium

#11651 Include nodes for import that are missing supplementary files
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
Labels: DEV: backend, SIZE: small

#11660 Sanitize inputs to handle NULL characters when parsing a string literal
  kolibri/core/auth/api.py
Labels: DEV: backend, SIZE: small

#11551 Hides app bars on scroll down and show on scroll up
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: TODO: needs review, APP: Device, DEV: frontend, SIZE: small, SIZE: medium

#11662 Quiz creation DEBUG data improvements
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: medium

#11661 Quiz rebase regression fixes
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  package.json
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: medium

#11665 Fix card widths on ultra wide screen
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: APP: Device, APP: Learn, DEV: frontend, SIZE: very small

#11657 Add a meaningful error warning when KDS path is not provided when running yarn run devserver-with-kds
  package.json
  packages/kolibri-tools/lib/cli.js
Labels: DEV: tools, SIZE: small, SIZE: very small
