Repository learningequality/kolibri, pull requests merged in 2024-02, with the labels that each got.

#11827 Prevent user sign up on LOD imports
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/device/utils.py
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
Labels: DEV: backend, APP: User, DEV: frontend, SIZE: small

#11840 Remove redundant mastery label masking exercise card thumbnail
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/CardThumbnail.vue
Labels: APP: Learn, DEV: frontend, SIZE: small

#11835 Quiz creation bookmark selection
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: medium

#11823 Questions randomly selected from resource pool
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/utils/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/test/selectRandomExamQuestions.spec.js
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
Labels: APP: Coach, DEV: frontend, SIZE: medium

#11846 Ensure facility id is properly sent to public signup viewset.
  kolibri/plugins/setup_wizard/api.py
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, SIZE: very small

#11825 number of resources updates on selection
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: medium, SIZE: very small

#11849 Fix 500 errors when using django redis cache for response caching
  kolibri/core/content/api.py
  kolibri/core/utils/cache.py
  kolibri/deployment/default/cache.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11843 Add conditional check to ensure resource exists before rendering report page
  kolibri/plugins/coach/assets/src/views/reports/ReportsResourceHeader.vue
Labels: TODO: needs review, P0 - critical, APP: Coach, DEV: frontend, SIZE: very small

#11815 Resource selection UX- Improvement
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#11854 Pass the correct kwargs to the cleanupsyncs management command.
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/test/test_hooks.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11860 LOD Syncing: create canonical set of assignments when learner is assigned multiple ways
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/auth/test/test_sync_utils.py
  kolibri/core/auth/utils/sync.py
  kolibri/core/exams/single_user_assignment_utils.py
  kolibri/core/lessons/single_user_assignment_utils.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#11865 Standardize ContentCardList Component and Introduce ViewMoreButtonStates
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreatePracticeQuizPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#11863 Pin all installer actions to specific versions.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops, SIZE: small

#11868 Ensure that Kolibri can start regardless of whether redis and redis cache is installed.
  kolibri/core/utils/cache.py
  kolibri/utils/options.py
Labels: DEV: backend, SIZE: small

#11870 Update changelog for 0.16.0 release
  CHANGELOG.md
Labels: SIZE: small

#11874 Truncate long lesson title
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: very small

#11606 Issue 10254: Improve coach tabs accessibility of Reports Lesson Tab
  kolibri/plugins/coach/assets/src/constants/tabsConstants.js
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonReportPage.vue
Labels: APP: Coach, DEV: frontend, SIZE: medium

#11878 Fix dev docs typo
  docs/i18n.rst
Labels: TODO: needs review, TAG: developer docs, SIZE: very small

#11872 Fix version parsing for release candidates.
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11886 Reduce the chance of database locks interrupting soud syncing.
  kolibri/core/device/models.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11885 Update debian installer to include critical fix for raspberry Pi os.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: very small

#11873 Upgrade to KDS v3.0.0 and reference npm package
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/core/assets/src/views/sync/RadioButtonGroup.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectSyncSourceModal.vue
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/RecipientSelector.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/PrimaryStorageLocationModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/RemoveStorageLocationModal.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/CreateNewFacilityModal.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/DriveList.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerLanguages/LanguagesMenuItem.vue
  kolibri/plugins/setup_wizard/assets/src/views/JoinOrNewLOD.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/CreateLearnerAccountForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FacilityPermissionsForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FullOrLearnOnlyDeviceForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GettingStartedForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/GuestAccessForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/RequirePasswordForLearnersForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SetUpLearningFacilityForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/YesNoForm.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, DEV: renderers, APP: Device, APP: Facility, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, SIZE: medium

#11897 Set markdown to None in module cache to prevent it being imported by DRF.
  kolibri/utils/env.py
Labels: DEV: backend, SIZE: small, SIZE: very small

#11904 Prevent unique constraint saving errors.
  kolibri/core/content/utils/content_request.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11852 Unnecessary kolibri store in tests
  kolibri/core/assets/test/download-button.spec.js
  kolibri/core/assets/test/progress-bar.spec.js
  kolibri/core/assets/test/progress-icon.spec.js
  kolibri/core/assets/test/views/KTooltip.spec.js
  kolibri/plugins/coach/assets/test/views/AssignmentDeleteModal.spec.js
  kolibri/plugins/coach/assets/test/views/AssignmentDetailsModal.spec.js
  kolibri/plugins/device/assets/test/views/ChannelTokenModal.spec.js
  kolibri/plugins/device/assets/test/views/ContentNodeRow.spec.js
  kolibri/plugins/epub_viewer/assets/tests/BottomBar.spec.js
  kolibri/plugins/epub_viewer/assets/tests/NextButton.spec.js
  kolibri/plugins/epub_viewer/assets/tests/PreviousButton.spec.js
  kolibri/plugins/epub_viewer/assets/tests/SearchButton.spec.js
  kolibri/plugins/epub_viewer/assets/tests/SearchSideBar.spec.js
  kolibri/plugins/epub_viewer/assets/tests/SettingsButton.spec.js
  kolibri/plugins/epub_viewer/assets/tests/SettingsSideBar.spec.js
  kolibri/plugins/epub_viewer/assets/tests/TableOfContentsSection.spec.js
  kolibri/plugins/epub_viewer/assets/tests/TableOfContentsSectionSideBar.spec.js
  kolibri/plugins/epub_viewer/assets/tests/TocButton.spec.js
  kolibri/plugins/epub_viewer/assets/tests/TopBar.spec.js
  kolibri/plugins/setup_wizard/assets/test/views/PersonalDataConsentForm.spec.js
Labels: TODO: needs review, DEV: renderers, APP: Device, APP: Learn, APP: Coach, APP: Setup Wizard, DEV: frontend, SIZE: small

#11912 bump version number
  kolibri/__init__.py
Labels: DEV: backend, SIZE: very small

#11900 Improved route handlers architecture in Coach - planRoutes
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/composables/useGroups.js
Labels: APP: Coach, DEV: frontend, SIZE: small

#11762 Add check to call render on the response if it has a render method
  kolibri/core/decorators.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: very small

#11758 Fix NO_FILE_BASED_LOGGING environment variable behavior
  kolibri/utils/conf.py
  kolibri/utils/logger.py
Labels: DEV: backend, SIZE: small

#11779 Bulkimport
  kolibri/core/auth/management/commands/bulkimportusers.py
Labels: DEV: backend, SIZE: small

#11808 Refactor error handling in CustomDjangoCache
  kolibri/deployment/default/custom_django_cache.py
Labels: DEV: backend, SIZE: medium

#11820 Fix issues with Logging module ('kolibri.lib.logging')
  kolibri/core/assets/src/logging.js
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
Labels: TODO: needs review, DEV: frontend, SIZE: small, SIZE: very small

#11913 Use a different glob lib for now
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/glob.js
  packages/kolibri-tools/lib/i18n/SyncContext.js
  packages/kolibri-tools/lib/i18n/astUtils.js
  packages/kolibri-tools/lib/i18n/utils.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: DEV: tools, SIZE: medium

#11917 Update development documentation
  docs/howtos/development_with_kds.md
  docs/howtos/index.rst
  docs/howtos/rebasing_a_pull_request.md
  docs/howtos/rebasing_a_pull_request.rst
Labels: TODO: needs review, TAG: developer docs, SIZE: small

#11919 Update packages versions for latest release.
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
Labels: DEV: tools, SIZE: small

#11785 Watch core for changes if KDS option is provided, in devserver-with-kds
  packages/kolibri-tools/lib/cli.js
Labels: TODO: needs review, DEV: tools, SIZE: very small

#11902 Try to fix Slack notifications actions failing when " character is in the issue title
  .github/workflows/notify_team_new_comment.yml
Labels: TODO: needs review, DEV: dev-ops, DEV: renderers, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: medium, SIZE: very small

#11924 Remove buildkite status check label from readme
  README.md
Labels: SIZE: very small

#11887 Quiz Creation Select Resources - Keyword search
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
Labels: APP: Coach, DEV: frontend, SIZE: medium

#11864 Quiz creation resource selection: Topic selection & "Select all"
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Coach, DEV: frontend, SIZE: medium

#11862 Fix: Side panel closing confirmation & logic in child component
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ConfirmCancellationModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small, SIZE: medium

#11755 Prevent errors for exact duplicate usernames
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Labels: DEV: backend, SIZE: small

#11899 Fix import duplicate usernames
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_bulk_import.py
Labels: DEV: dev-ops, DEV: renderers, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: small, SIZE: medium, SIZE: very small, SIZE: very large

#11814 fix: os_user unnecessary password field
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
Labels: TODO: needs review, APP: User, DEV: frontend, SIZE: very small

#11918 Install KDS patch and configure dependabot to run on Wednesday
  .github/dependabot.yml
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, SIZE: small, SIZE: very small

#11753 Update Mac tests to run on Python 3.10
  .github/workflows/tox.yml
Labels: DEV: dev-ops, SIZE: very small

#11730 Delete coreAPI PageRoot component in favour of a default component in kolibri_app
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/src/views/PageRoot.vue
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/learn/assets/src/my_downloads/app.js
  kolibri/plugins/policies/assets/src/app.js
  kolibri/plugins/user_profile/assets/src/app.js
Labels: TODO: needs review, APP: Learn, APP: Coach, APP: User, DEV: frontend, SIZE: small

#11719 Removes inconsistently applied and mostly no-op double click blocking.
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/core/mutations.js
  kolibri/plugins/learn/assets/src/app.js
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/user_auth/assets/src/views/UserAuthLayout.vue
Labels: TODO: needs review, APP: Learn, APP: User, DEV: frontend, SIZE: small
