Repository learningequality/kolibri, pull requests merged in 2024-11, with the labels that each got.

#12745 Move useChannels & SearchChips to kolibri-common
  kolibri/plugins/learn/assets/src/composables/useDevices.js
  kolibri/plugins/learn/assets/src/composables/useLanguages.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/ChannelRenderer/CustomContentRenderer.vue
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/ContentNodeThumbnail.vue
  kolibri/plugins/learn/assets/test/views/explore-libraries-page.spec.js
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/learn/assets/test/views/search-results-grid.spec.js
  kolibri/plugins/learn/assets/test/views/topic-content.spec.js
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
  packages/kolibri-common/components/SearchChips.vue
  packages/kolibri-common/composables/__mocks__/useChannels.js
  packages/kolibri-common/composables/useBaseSearch.js
  packages/kolibri-common/composables/useChannels.js
  packages/kolibri-common/composables/useLanguages.js
Labels: TODO: needs review, APP: Learn, DEV: frontend

#12718 Remove FocusTrap in favor of KFocusTrap
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/CoreMenu/index.vue
  kolibri/core/assets/src/views/FocusTrap.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/__tests__/FocusTrap.spec.js
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Labels: TODO: needs review, DEV: renderers, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: Core JS API

#12782 Add ancestor information to summary and session log exports
  kolibri/core/logger/csv_export.py
Labels: DEV: backend

#12802 Use explicit Python version to suppress warning
  .github/workflows/pypi_upload.yml
Labels: DEV: dev-ops

#12785 When running under the Kolibri process bus, use a logging queue to prevent reentrant logging errors and file contention
  kolibri/core/tasks/main.py
  kolibri/core/tasks/test/taskrunner/conftest.py
  kolibri/core/tasks/test/taskrunner/test_job_running.py
  kolibri/core/tasks/utils.py
  kolibri/core/tasks/worker.py
  kolibri/utils/logger.py
  kolibri/utils/multiprocessing_compat.py
  kolibri/utils/server.py
Labels: DEV: backend

#12811 Reactivate PR Size labels
  .github/workflows/pr_labels.yml
Labels: DEV: dev-ops

#12823 Resolve issue with user not seeing updated practice quiz score on TopicsContentPage
  kolibri/plugins/learn/assets/src/composables/useContentNodeProgress.js
Labels: APP: Learn, DEV: frontend

#12763 Add learner_needs field to contentnode API
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Labels: DEV: backend

#12839 Fix typo which prevents error from dispatching
  kolibri/plugins/device/assets/src/views/RearrangeChannelsPage.vue
Labels: APP: Device, DEV: frontend

#12759 Update SearchFiltersPanel for Coach
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  packages/kolibri-common/components/SearchBox.vue
  packages/kolibri-common/components/SearchFiltersPanel/AccordionSelectGroup.vue
  packages/kolibri-common/components/SearchFiltersPanel/ActivityButtonsGroup.vue
  packages/kolibri-common/components/SearchFiltersPanel/CategorySearchModal/CategorySearchOptions.vue
  packages/kolibri-common/components/SearchFiltersPanel/CategorySearchModal/index.vue
  packages/kolibri-common/components/SearchFiltersPanel/SelectGroup.vue
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
  packages/kolibri-common/components/accordion/AccordionContainer.vue
  packages/kolibri-common/components/accordion/AccordionItem.vue
Labels: APP: Learn, APP: Coach, DEV: frontend, DEV: Core JS API

#12850 Fix write-to-disk option for dev server.
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/webpack.config.plugin.js
Labels: DEV: tools

#12835 Added lazy loading attribute to thumbnail image tags
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/ChannelDetails.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsMobileHeader.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/ChannelThumbnail.vue
  kolibri/plugins/learn/assets/src/views/thumbnails/Thumbnail.vue
Labels: TODO: needs review, APP: Device, APP: Learn, DEV: frontend

#12703 Reserved network locations for Studio and KDP
  kolibri/core/discovery/api.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/test/test_models.py
  kolibri/core/discovery/test/test_network_utils.py
  kolibri/core/discovery/test/test_tasks.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/discovery/utils/network/connections.py
  kolibri/core/discovery/well_known.py
Labels: DEV: backend

#12852 Lesson Summary children routes refactor
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/routes/lessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonCreationPage.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonEditDetailsPage/EditLessonDetails.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/LessonResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSelectionContentPreviewPage/LessonContentPreview/PreviewSelectedResources.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/EditLessonDetails.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/PreviewSelectedResources.vue
Labels: APP: Coach, DEV: frontend

#12844 Allow plugins to be enabled, disabled, and applied via env vars.
  kolibri/plugins/__init__.py
  kolibri/utils/env.py
Labels: DEV: distributions, DEV: backend, TAG: cloud

#12848 Use webpack's built in dynamic public path setting
  kolibri/core/assets/src/index.js
  packages/kolibri-module/src/index.js
  packages/kolibri-tools/lib/webpack.config.plugin.js
Labels: DEV: frontend, DEV: tools

#12870 Fix masterylog end timestamp issues
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/core/logger/test/test_upgrades.py
  kolibri/core/logger/upgrade.py
  kolibri/core/test/test_upgrade.py
  kolibri/core/upgrade.py
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Labels: DEV: backend

#12817 Replace unwrapped "up" and "down" strings used for aria labeling
  kolibri/plugins/coach/assets/src/views/lessons/LessonEditDetailsPage/EditDetailsResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/tables/LessonResourcesTable.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionOrder.vue
  kolibri/plugins/device/assets/src/views/RearrangeChannelsPage.vue
  packages/kolibri-common/components/sortable/DragSortWidget/index.vue
  packages/kolibri-common/strings/searchAndFilterStrings.js
  packages/kolibri/utils/i18n.js
Labels: APP: Device, APP: Coach, DEV: frontend

#12881 Update content request handling to only use reserved locations representing Studio
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
Labels: DEV: backend
