Repository learningequality/kolibri, pull requests merged in 2024-06, with the labels that each got.

#12041 With 2.7 dropped, use shutil disk_usage function universally.
  kolibri/core/device/test/test_api.py
  kolibri/core/discovery/utils/filesystem/posix.py
  kolibri/utils/system.py
Labels: DEV: backend, SIZE: small

#12219 EQM: Notify not enough resources to replace questions
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/NotEnoughResourcesModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: medium

#12218 Fix replacements order
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#12231 Fixing typo in useUser composable getter
  kolibri/core/assets/src/composables/__mocks__/useUser.js
  kolibri/core/assets/src/composables/useUser.js
Labels: DEV: frontend, SIZE: very small

#12019 Added another condition for TOPICS_TOPIC_SEARCH redirection
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: small

#12239 0.16 into develop
  .github/workflows/release_kolibri.yml
  kolibri/core/static/assets/default_theme/background.jpg
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/assets/default_theme/background.jpg
  kolibri/plugins/default_theme/static/assets/default_theme/kolibri-logo-192.png
  kolibri/plugins/default_theme/static/assets/default_theme/kolibri-logo-512.png
  kolibri/plugins/default_theme/static/assets/default_theme/kolibri-logo.svg
  kolibri/plugins/default_theme/static/assets/default_theme/logo.ico
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, APP: User, DEV: frontend, SIZE: small

#12249 Move NotEnoughResourcesModal to CreateQuizSection
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/NotEnoughResourcesModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#12252 Remove empty sections from quizzes on publish
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: TODO: needs review, DEV: backend, APP: Coach, DEV: frontend, SIZE: medium

#12236 Revert change that prevented search redirect in all cases.
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: small

#12250 Distributed error reporting: Setting up the database that stores all the errors
  kolibri/core/errorreports/__init__.py
  kolibri/core/errorreports/apps.py
  kolibri/core/errorreports/models.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
Labels: DEV: backend, SIZE: small

#12255 Distributed error reporting: Create model to store captured Errors
  kolibri/core/errorreports/migrations/0001_initial.py
  kolibri/core/errorreports/migrations/__init__.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/test/__init__.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/deployment/default/settings/base.py
Labels: DEV: backend, SIZE: medium

#12182 Updates to sections in ExamPage
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/modules/classSummary/index.js
  kolibri/plugins/coach/assets/src/utils/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/common/LearnerQuizReport.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AccordionContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/examViewer/index.js
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/LearnExamReportViewer.vue
  packages/kolibri-common/components/AccordionContainer.vue
  packages/kolibri-common/components/AccordionItem.vue
  packages/kolibri-common/components/useAccordion.js
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: TAG: user strings, APP: Learn, APP: Coach, DEV: frontend, SIZE: large, SIZE: very large

#12155 App script cleanup
  integration_testing/scripts/run_kolibri_app_mode.py
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
Labels: TODO: needs review, DEV: backend, SIZE: small

#12260 Distributed error reporting: Middleware to catch runtime exception in backend
  kolibri/core/errorreports/constants.py
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/deployment/default/settings/base.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#12261 Distributed error reporting: Endpoint /api/errorreports/report to store frontend error
  kolibri/core/api_urls.py
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/api_urls.py
  kolibri/core/errorreports/serializers.py
  kolibri/core/errorreports/test/test_api.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#12283 EQM: On first save, update the quiz's ID when redirecting
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: very small

#12254 Use && instead of & for logical AND.
  kolibri/plugins/facility/assets/src/views/ImportCsvPage/Preview.vue
Labels: TODO: needs review, APP: Facility, DEV: frontend, SIZE: very small

#12278 Update to allow and implement randomization of sections.
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizPreviewPage.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Learn, APP: Coach, DEV: frontend, SIZE: small, SIZE: medium

#12265 EQM Fix: Use can actually select topics
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#12281 EQM: Validation improvements
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#12290 Update to 0.17 version
  kolibri/__init__.py
Labels: DEV: backend, SIZE: very small

#12274 Fix single quiz selection flow
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/objectSpecs.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/utils/test_assignment.py
  kolibri/core/exams/constants.py
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useFetchTree.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/constants/examConstants.js
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/modules/examCreation/actions.js
  kolibri/plugins/coach/assets/src/modules/examCreation/handlers.js
  kolibri/plugins/coach/assets/src/modules/examCreation/index.js
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/utils/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateExamPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreatePracticeQuizPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/NotEnoughResourcesModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/PlanPracticeQuizPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonContentPreviewPage/PracticeQuizContentPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanQuizPreviewPage.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizPreviewPage.vue
  kolibri/plugins/coach/assets/test/selectRandomExamQuestions.spec.js
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
  kolibri/plugins/device/api.py
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: DEV: backend, APP: Device, APP: Coach, DEV: frontend, SIZE: very large

#12279 trying to fix integrity errors before migrating tables
  kolibri/utils/main.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#12215 Replace `TextTruncatorCss` with `KTextTruncator`
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/TextTruncatorCss.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/ItemProgressDisplay.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ChannelContentsSummary.vue
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/LessonMasteryBar.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsMobileHeader.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseChannelCard.vue
Labels: DEV: dev-ops, DEV: renderers, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, DEV: frontend, DEV: tools, SIZE: medium, SIZE: very large

#12285 Update LOD description in FullOrLearnOnlyDeviceForm component
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/FullOrLearnOnlyDeviceForm.vue
Labels: APP: Setup Wizard, DEV: frontend, SIZE: very small

#12323 Move jump to question string into enhanced quiz management strings.
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Learn, DEV: frontend, SIZE: small

#12291 Distributed Error Reporting: Frontend Error reporting
  kolibri/core/assets/src/api-resources/__tests__/errorReport.test.js
  kolibri/core/assets/src/api-resources/errorReport.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/assets/src/utils/errorReportUtils.js
Labels: DEV: frontend, SIZE: small, SIZE: medium

#12336 Additional strings
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
Labels: APP: Device, APP: Setup Wizard, DEV: frontend, SIZE: small, SIZE: very small

#9759 Upgrade perseus to npm published version.
  .github/dependabot.yml
  kolibri/plugins/learn/assets/src/views/AssessmentWrapper/index.vue
  kolibri/plugins/perseus_viewer/assets/dist/README.md
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_AMS-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Caligraphic-Bold.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Caligraphic-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Fraktur-Bold.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Fraktur-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Main-Bold.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Main-Italic.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Main-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Math-Italic.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_SansSerif-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Script-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Size1-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Size2-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Size3-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Size4-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/KaTeX_Typewriter-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/fonts/MathJax_Main-Regular.woff
  kolibri/plugins/perseus_viewer/assets/dist/images/next-step.png
  kolibri/plugins/perseus_viewer/assets/dist/images/perseus/error-buddy.png
  kolibri/plugins/perseus_viewer/assets/dist/images/previous-step.png
  kolibri/plugins/perseus_viewer/assets/dist/images/spinner.gif
  kolibri/plugins/perseus_viewer/assets/dist/index.css
  kolibri/plugins/perseus_viewer/assets/dist/katex.css
  kolibri/plugins/perseus_viewer/assets/dist/khan-exercise.css
  kolibri/plugins/perseus_viewer/assets/dist/math-input.css
  kolibri/plugins/perseus_viewer/assets/dist/mathquill.css
  kolibri/plugins/perseus_viewer/assets/dist/perseus.css
  kolibri/plugins/perseus_viewer/assets/dist/perseus.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/$_.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/Exercises.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/Khan.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/KhanUtil.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/i18n.js
  kolibri/plugins/perseus_viewer/assets/src/KAGlobals/icu.js
  kolibri/plugins/perseus_viewer/assets/src/i18n.js
  kolibri/plugins/perseus_viewer/assets/src/module.js
  kolibri/plugins/perseus_viewer/assets/src/translationUtils.js
  kolibri/plugins/perseus_viewer/assets/src/translator.js
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
  kolibri/plugins/perseus_viewer/assets/src/views/Tex.js
  kolibri/plugins/perseus_viewer/buildConfig.js
  kolibri/plugins/perseus_viewer/buildPerseus.js
  kolibri/plugins/perseus_viewer/extractPerseusMessages.js
  kolibri/plugins/perseus_viewer/getMessages.js
  kolibri/plugins/perseus_viewer/package.json
  kolibri/plugins/perseus_viewer/perseusBuildConfig.js
  packages/kolibri-tools/lib/i18n/astUtils.js
  yarn.lock
Labels: TODO: needs review, DEV: renderers, APP: Learn, DEV: frontend, DEV: tools, SIZE: very large

#12307 Allow quiz level learners see fixed order to be edited after a quiz is opened.
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
Labels: DEV: backend, SIZE: small

#12312 First pass string updates following UX writing and ditto review
  kolibri/core/assets/src/constants.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/NotEnoughResourcesModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: medium, SIZE: large

#12347 Correct strings that were manually edited on Crowdin
  kolibri/core/assets/src/views/UpdateNotification.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/CreateNewFacilityModal.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
Labels: TODO: needs review, P0 - critical, TAG: user strings, APP: Device, DEV: frontend

#12329 Remove browser search cancel button
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/SearchTools/LessonsSearchBox.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: very small

#12346 Added neeeded values for BaseValuesViewset
  kolibri/core/discovery/api.py
Labels: TODO: needs review, DEV: backend

#12251 Fix hitherto unnoticed regression in channel upgrade
  kolibri/core/content/tasks.py
Labels: P0 - critical, DEV: backend, SIZE: very small

#12354 EQM Lesson regression fixes
  kolibri/core/lessons/serializers.py
  kolibri/core/lessons/test/test_lesson_api.py
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
Labels: TODO: needs review, DEV: backend, APP: Coach, DEV: frontend

#12311 EQM: Side panel back / close icon UX improvements
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: medium

#12352 Link to new quiz creation properly.
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12369 Display question titles with displayQuestionTitle
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
Labels: APP: Coach, DEV: frontend

#12360 EQM: Bookmarks not linking anywhere in resource selection
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
Labels: TODO: needs review

#12363 Prevents errors on section deletion
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12372 EQM: Difficult questions reports fix
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/views/common/QuestionDetailLearnerList.vue
Labels: APP: Coach, DEV: frontend

#12353 Fix mis-match condition in replacement question array
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
Labels: APP: Coach, DEV: frontend

#12373 Wrap section deletion modal in focus trap
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: APP: Coach, DEV: frontend

#12377 Use useNow composable in ElapsedTime component
  kolibri/core/assets/src/views/ElapsedTime.vue
Labels: DEV: frontend

#12379 Load channel content on remove filter
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend

#12359 Fix question listing and navigation in quiz reports
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/views/AttemptLogList.vue
  kolibri/core/assets/src/views/ExamReport/index.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/index.js
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend
