Repository learningequality/kolibri, pull requests merged in 2024-01, with the labels that each got.

#11681 Linting rule to check formatting of translation strings
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  packages/eslint-plugin-kolibri/lib/rules/vue-string-objects-formatting.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context01.vue
Labels: APP: Learn, DEV: frontend, DEV: tools, SIZE: medium

#11658 Question sources
  kolibri/core/assets/src/exams/utils.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: medium, SIZE: large

#11645 fixing scroll issue at save changes button
  kolibri/core/assets/src/views/BottomAppBar.vue
Labels: DEV: frontend, SIZE: very small

#11688 Contributors welcome to our authors.md!
  .github/workflows/add_contributor.yml
  AUTHORS.md
Labels: DEV: dev-ops, SIZE: small

#11693 Fixing action's push to PR branch
  .github/workflows/add_contributor.yml
Labels: DEV: dev-ops, SIZE: very small

#11686 Hide modal when a token has multiple channels
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
Labels: TODO: needs review, APP: Device, DEV: frontend, SIZE: very small

#11684 Update to nodejs 18.
  .github/workflows/build_whl.yml
  .github/workflows/check_licenses.yml
  .github/workflows/pre-commit.yml
  .github/workflows/yarn.yml
  docker/base.dockerfile
  docker/build_whl.dockerfile
  docs/getting_started.rst
  docs/howtos/nodeenv.md
  package.json
  packages/kolibri-tools/package.json
Labels: TODO: needs review, DEV: dev-ops, DEV: tools, SIZE: small

#11697 Remove mostly useless warning against using npm
  package.json
  packages/kolibri-tools/lib/npm_deprecation_warning.js
Labels: TODO: needs review, DEV: tools, SIZE: very small

#11699 Release v0.16.x into develop
  .github/workflows/add_contributor.yml
  .github/workflows/build_whl.yml
  .github/workflows/check_licenses.yml
  .github/workflows/pre-commit.yml
  .github/workflows/yarn.yml
  AUTHORS.md
  docker/base.dockerfile
  docker/build_whl.dockerfile
  docs/getting_started.rst
  docs/howtos/nodeenv.md
  kolibri/core/assets/src/views/BottomAppBar.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/auth/api.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/plugins/device/assets/src/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/learn/assets/src/composables/useCardLayoutSpan.js
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ResumableContentGrid.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicSubsection.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  package.json
  packages/eslint-plugin-kolibri/lib/rules/vue-string-objects-formatting.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/npm_deprecation_warning.js
  packages/kolibri-tools/package.json
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context01.vue
  yarn.lock
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, APP: Device, APP: Learn, DEV: frontend, DEV: tools, SIZE: large

#11700 Add command line deprecation warning for Python 2.7
  kolibri/utils/env.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11698 Update package versions.
  packages/browserslist-config-kolibri/package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
Labels: DEV: tools, SIZE: small

#11683 move MeteredConnectionNotificationModal to Library Page & conditionally render "Other Libraries"
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/plugins/learn/assets/src/composables/useDeviceSettings.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/kolibri_plugin.py
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
Labels: TODO: needs review, DEV: backend, APP: Learn, DEV: frontend, SIZE: small

#11655 Better setup wizard errors
  kolibri/core/assets/src/views/userAccounts/UsernameTextbox.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
  packages/kolibri-common/components/AppError/index.vue
Labels: TODO: needs review, APP: Setup Wizard, DEV: frontend, SIZE: small

#11676 Fix to new badge being shown on channel delete
  kolibri/plugins/device/assets/src/modules/manageContent/index.js
Labels: APP: Device, DEV: frontend, SIZE: small

#11706 Remove CACHES override in dev settings
  kolibri/deployment/default/settings/dev.py
Labels: DEV: backend, SIZE: small

#11687 Enque_lifo_job
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/test_job.py
Labels: DEV: backend, SIZE: small

#11674 Update ExamSerializers according to v3 model
  kolibri/core/content/test/utils/test_assignment.py
  kolibri/core/exams/api.py
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/class_summary_api.py
Labels: DEV: backend, APP: Coach, DEV: frontend, SIZE: medium

#11709 Pin alabaster theme to version that is compatible with our version of sphinx.
  requirements/docs.txt
Labels: SIZE: very small

#11704 Better handling of validation errors when remote facility does not require passwords
  kolibri/core/assets/src/constants.js
  kolibri/core/auth/tasks.py
  kolibri/core/auth/utils/users.py
  kolibri/core/error_constants.py
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, DEV: frontend, SIZE: small

#11713 Remove Python 2.7 deprecation warning.
  kolibri/utils/env.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#11690 Handle metadata import failure.
  kolibri/core/content/utils/content_request.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11685 Consolidate browser compatibility data, drop IE11 support
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/core/assets/src/utils/minimumBrowserRequirements.js
  kolibri/plugins/device/assets/src/views/DeprecationWarningBanner.vue
  packages/browserslist-config-kolibri/index.js
Labels: TODO: needs review, APP: Device, DEV: frontend, DEV: tools, SIZE: small

#11715 Replaced isEmbeddedWebView with isAppContext
  kolibri/core/assets/src/composables/useUser.js
  kolibri/core/assets/src/utils/browserInfo.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: APP: Device, APP: Facility, APP: Coach, DEV: frontend, SIZE: small

#11695 Update condition to display new label for content imports
  kolibri/plugins/device/assets/src/views/ManageContentPage/ChannelPanel/WithSizeAndOptions.vue
Labels: TODO: needs review, TAG: user strings, APP: Device, DEV: frontend, SIZE: small

#11718 Remove inaccessible language switcher modal.
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
Labels: TODO: needs review, DEV: frontend, SIZE: small, SIZE: very small

#11707 Linting issue in no-console
  kolibri/plugins/coach/assets/src/composables/useCoreCoach.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/pdf_viewer/assets/src/utils/text_layer_builder.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  packages/hashi/downloadH5PVendor.js
  packages/hashi/src/H5P/H5PRunner.js
  packages/hashi/src/h5pBundle.js
  packages/hashi/src/iframeClient.js
  packages/hashi/src/xAPI/xAPIInterface.js
  packages/hashi/src/xAPI/xAPISchema.js
  packages/hashi/test/xAPI.spec.js
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/lib/i18n/intl_code_gen.js
  packages/kolibri-tools/lib/i18n/untranslatedMessages.js
Labels: DEV: renderers, APP: Device, APP: Facility, APP: Coach, DEV: frontend, DEV: tools, SIZE: small, SIZE: very small

#11591 Fixed intermittent KeyError when handling a finished future in the task worker #11350
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/worker.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#11735 Catch badly formed UUIDs passed to facility parameter
  kolibri/core/public/api.py
Labels: DEV: backend, SIZE: very small

#11736 Unpin docs requirements and tweak docs to fix build
  docs/backend_architecture/content/index.rst
  docs/backend_architecture/content/models.rst
  docs/conf.py
  docs/howtos/another_kolibri_instance.md
  docs/howtos/another_kolibri_instance.rst
  docs/howtos/installing_pyenv.md
  docs/howtos/installing_pyenv.rst
  docs/howtos/nodeenv.md
  docs/howtos/nodeenv.rst
  docs/howtos/pyenv_virtualenv.md
  docs/howtos/pyenv_virtualenv.rst
  requirements/docs.txt
Labels: DEV: backend, SIZE: small, SIZE: very small

#11682 Coach Quiz Exercise Resources
  kolibri/plugins/coach/assets/src/composables/useFetchTree.js
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: APP: Coach, DEV: frontend, SIZE: large, SIZE: very large

#11514 Swap on-my-own const for using the existing Personal const
  kolibri/plugins/setup_wizard/assets/src/constants.js
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
Labels: APP: Setup Wizard, DEV: frontend, SIZE: small, SIZE: medium

#11708 Fix welcome modal appearing after deleting channels
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Labels: APP: Device, APP: Learn, DEV: frontend, SIZE: small

#11716 Username case error
  kolibri/core/auth/api.py
  kolibri/core/auth/backends.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_backend.py
Labels: DEV: backend, SIZE: small

#11740 No download buttons in app context
  kolibri/core/assets/src/composables/useUser.js
  kolibri/core/assets/src/utils/browserInfo.js
  kolibri/core/assets/src/views/ContentRenderer/DownloadButton.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/device/assets/src/modules/deviceInfo/handlers.js
  kolibri/plugins/facility/assets/src/views/DataPage/index.vue
Labels: TODO: needs review, APP: Device, APP: Facility, APP: Coach, DEV: frontend, SIZE: small

#11737 Fix to Env Var and Config persisting in options.ini in KOLIBRI_HOME
  kolibri/utils/options.py
Labels: DEV: backend, SIZE: very small

#11745 0.16 into develop
  docs/backend_architecture/content/index.rst
  docs/backend_architecture/content/models.rst
  docs/conf.py
  docs/howtos/another_kolibri_instance.md
  docs/howtos/another_kolibri_instance.rst
  docs/howtos/installing_pyenv.md
  docs/howtos/installing_pyenv.rst
  docs/howtos/nodeenv.md
  docs/howtos/nodeenv.rst
  docs/howtos/pyenv_virtualenv.md
  docs/howtos/pyenv_virtualenv.rst
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/test/views/app-bar-core-page.spec.js
  kolibri/core/auth/api.py
  kolibri/core/auth/backends.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_backend.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/public/api.py
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/worker.py
  kolibri/plugins/coach/assets/src/composables/useCoreCoach.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/pdf_viewer/assets/src/utils/text_layer_builder.js
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/setup_wizard/assets/src/constants.js
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/HowAreYouUsingKolibri.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  packages/hashi/downloadH5PVendor.js
  packages/hashi/src/H5P/H5PRunner.js
  packages/hashi/src/h5pBundle.js
  packages/hashi/src/iframeClient.js
  packages/hashi/src/xAPI/xAPIInterface.js
  packages/hashi/src/xAPI/xAPISchema.js
  packages/hashi/test/xAPI.spec.js
  packages/kolibri-common/components/MeteredConnectionNotificationModal.vue
  packages/kolibri-tools/.eslintrc.js
  packages/kolibri-tools/lib/i18n/intl_code_gen.js
  packages/kolibri-tools/lib/i18n/untranslatedMessages.js
  packages/kolibri-tools/package.json
  requirements/docs.txt
  yarn.lock
Labels: TODO: needs review, DEV: dev-ops, DEV: renderers, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: medium

#11744 Remove coach page specific sub nav toggling.
  kolibri/plugins/coach/assets/src/views/CoachAppBarPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ExerciseQuestionListPageBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonManagerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#11750 Removes uncleaned up reference to isAndroidWebview.
  kolibri/core/assets/src/views/CoreFullscreen.vue
Labels: DEV: frontend, SIZE: small

#11752 Turn on learner resource download by default for on my own setup.
  kolibri/core/device/serializers.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11756 Prevent learner only devices from being shown as an import source when creating one.
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/JoinOrNewLOD.vue
Labels: TODO: needs review, APP: Setup Wizard, DEV: frontend, SIZE: very small

#11739 Username validation
  kolibri/core/public/api.py
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
Labels: DEV: backend, APP: Setup Wizard, DEV: frontend, SIZE: very small

#11765 Allow preset to be optional
  kolibri/core/device/serializers.py
Labels: TODO: needs review, DEV: backend, SIZE: very small

#11770 Handle updated exception signature from super validate method.
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: small

#11772 Fix issue where device connection check is not memoized
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/useConnectionChecker.js
Labels: TODO: needs review, DEV: frontend, SIZE: very small

#11743 Overflowfix
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: TODO: needs review, APP: Facility, DEV: frontend, SIZE: small

#11754 Add passwordless login support for the current os user in an app context
  kolibri/core/auth/api.py
Labels: TODO: needs review, P0 - critical, DEV: backend, SIZE: small

#11760 Upgrade KDS to v2.0.0 on the release branch
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, SIZE: very small

#11778 Tweak navbar overflow logic to catch selected items
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
Labels: TODO: needs review, SIZE: small

#11775 Properly handle list shaped details.
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: small

#11696 Realtime percentage of tasks in the tab title
  kolibri/plugins/device/assets/src/views/ManageTasksPage/TaskPanel.vue
  kolibri/plugins/device/assets/src/views/ManageTasksPage/index.vue
  kolibri/plugins/device/assets/src/views/commonDeviceStrings.js
Labels: APP: Device, DEV: frontend, SIZE: small, SIZE: medium

#11766 useFetchTree specs
  kolibri/plugins/coach/assets/test/useFetchTree.fixtures.js
  kolibri/plugins/coach/assets/test/useFetchTree.spec.js
Labels: TODO: needs review, TAG: unit tests, APP: Coach, DEV: frontend, SIZE: very large

#11796 0.16 into develop
  .github/workflows/build_pex.yml
  .github/workflows/build_whl.yml
  .github/workflows/c_extensions.yml
  .github/workflows/check_docs.yml
  .github/workflows/check_licenses.yml
  .github/workflows/no_zombies.yml
  .github/workflows/postgres.yml
  .github/workflows/pre-commit.yml
  .github/workflows/tox.yml
  .github/workflows/yarn.yml
  kolibri/core/assets/src/views/CoreFullscreen.vue
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/useConnectionChecker.js
  kolibri/core/auth/api.py
  kolibri/core/device/serializers.py
  kolibri/core/public/api.py
  kolibri/plugins/coach/assets/src/views/CoachAppBarPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/home/HomePage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ExerciseQuestionListPageBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportLessonPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonExerciseLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnerBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonManagerPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourceLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
  kolibri/plugins/setup_wizard/assets/src/views/JoinOrNewLOD.vue
  kolibri/plugins/user_profile/tasks.py
  kolibri/utils/options.py
  packages/kolibri-core-for-export/package.json
  packages/kolibri-tools/package.json
  yarn.lock
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, APP: Facility, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: medium

#11791 Use responsive composable instead of mixin to fix errors from the mixin.
  kolibri/plugins/learn/assets/src/views/cards/CardGrid.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: very small

#11805 Authors are pilots of kolibri
  .github/workflows/add_contributor.yml
Labels: DEV: dev-ops, SIZE: small

#11742 Use consistent KDS imports across the whole Kolibri
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
  kolibri/core/assets/src/views/InteractionList/index.vue
  kolibri/core/assets/src/views/MultiPaneLayout.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/SlotTruncator.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/TabsWithOverflow.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/assets/src/views/IdentifierTextbox.vue
  kolibri/plugins/learn/assets/src/composables/useCardLayoutSpan.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/ExploreLibrariesPage/LibraryItem.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/QuizRenderer/index.vue
  kolibri/plugins/learn/assets/src/views/SearchBox.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsPanelModal.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
Labels: DEV: renderers, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: Setup Wizard, DEV: frontend, SIZE: small

#11807 Capture more errors from the backend and show error messages for them
  kolibri/plugins/setup_wizard/api.py
  kolibri/plugins/setup_wizard/assets/src/views/ImportIndividualUserForm.vue
Labels: TODO: needs review, DEV: backend, APP: Setup Wizard, DEV: frontend, SIZE: small
