Repository learningequality/kolibri, pull requests merged in 2024-05, with the labels that each got.

#12101 Adds modal before delete section
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#12124 Update logos and installer branding
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
  .github/workflows/tox.yml
  build_tools/logo.py
  docs/_static/theme_overrides.css
  docs/conf.py
  docs/logo.ico
  docs/logo.png
  kolibri/core/assets/src/views/CoreLogo/index.vue
  kolibri/core/assets/src/views/CoreLogo/kolibri-logo.svg
  kolibri/core/assets/src/views/KolibriLoadingSnippet.vue
  kolibri/core/static/assets/kolibri-logo-192.png
  kolibri/core/static/assets/kolibri-logo-512.png
  kolibri/core/static/assets/kolibri-logo.svg
  kolibri/core/static/assets/logo.ico
  kolibri/core/templates/kolibri/loading_snippet.html
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/views/OnboardingStepBase.vue
Labels: DEV: dev-ops, DEV: backend, APP: Setup Wizard, DEV: frontend, SIZE: very large

#12125 bump version number
  kolibri/__init__.py
Labels: DEV: backend, SIZE: very small

#12082 Exam report: Avoid loading on question change
  kolibri/plugins/learn/assets/src/modules/examReportViewer/handlers.js
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: small

#12113 Add strings for post-setup onboarding guide component
  kolibri/plugins/learn/assets/src/strings/kolibriOnboardingGuideStrings.js
Labels: TODO: needs review, TAG: user strings, APP: Learn, DEV: frontend, SIZE: small

#12069 Next attempt at fixing GCS upload
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: small

#11977 Fix language switcher responsiveness
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherList.vue
  kolibri/core/assets/src/views/language-switcher/SelectedLanguage.vue
  kolibri/core/package.json
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/DefaultLanguageForm.vue
  kolibri/plugins/user_auth/assets/src/views/LanguageSwitcherFooter.vue
  yarn.lock
Labels: TODO: needs review, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: medium

#12108 tests: add tests for some components
  kolibri/core/assets/src/views/TimeDuration.vue
  kolibri/core/assets/src/views/__tests__/FocusTrap.spec.js
  kolibri/core/assets/src/views/__tests__/TimeDuration.spec.js
  kolibri/core/assets/src/views/__tests__/UserTypeDisplay.spec.js
Labels: DEV: frontend, SIZE: medium

#12128 Updates mac build to latest.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops, SIZE: very small

#12129 Always show the background for the Kolibri logo.
  kolibri/core/assets/src/views/CoreLogo/index.vue
Labels: TODO: needs review, DEV: frontend, SIZE: very small

#12110 Update now value in SyncStatusDisplay
  kolibri/core/assets/src/composables/useNow.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/SyncStatusDisplay.vue
Labels: DEV: frontend, SIZE: small

#12123 Update facility settings link display for Learn Only Device users
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: APP: Learn, DEV: frontend, SIZE: very small

#12122 Improve messaging around question replacement requirements
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#12136 Add form to add address after device import
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
Labels: bug, APP: Device, DEV: frontend, SIZE: small

#12131 Add duplicate log consolidation to sync hooks.
  kolibri/core/logger/kolibri_plugin.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#12115 Don't let users that are used for os user have their passwords set via the not specified password flow.
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Labels: TODO: needs review, DEV: backend, SIZE: medium

#12152 Fix language preferentiality for duplicate resources
  kolibri/core/assets/src/utils/i18n.js
  kolibri/core/assets/src/utils/intl-locale-data.js
  kolibri/core/assets/src/utils/vue-intl-locale-data.js
  kolibri/core/auth/migrations/0026_update_language_code_nyn_to_ny.py
  kolibri/core/device/migrations/0022_update_language_code_nyn_to_ny.py
  kolibri/core/device/upgrade.py
  kolibri/deployment/default/settings/base.py
  kolibri/locale/language_info.json
  kolibri/locale/ny/LC_MESSAGES/README.md
  kolibri/locale/ny/LC_MESSAGES/django.mo
  kolibri/locale/ny/LC_MESSAGES/django.po
  kolibri/locale/ny/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.coach.side_nav-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.demo_server.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.device.side_nav-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.epub_viewer.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.facility.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.html5_viewer.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.learn.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.learn.my_downloads_app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.learn.side_nav-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.media_player.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.pdf_viewer.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.policies.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.slideshow_viewer.main-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.user_auth.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.user_profile.app-messages.json
  kolibri/plugins/learn/assets/src/utils/contentNode.js
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/learn/assets/src/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/ResumableContentGrid.vue
  kolibri/plugins/learn/assets/src/views/SearchResultsGrid.vue
  kolibri/utils/i18n.py
  packages/kolibri-tools/lib/i18n/intl_code_gen.js
  packages/kolibri-tools/lib/i18n/locale-data/intl/ny.js
Labels: TODO: needs review, DEV: backend, APP: Learn, DEV: frontend, DEV: tools, SIZE: small, SIZE: medium

#12111 Exams: Create them, take them, view reports
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/test/exams/utils.spec.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/modules/questionDetail/handlers.js
  kolibri/plugins/coach/assets/src/modules/questionList/actions.js
  kolibri/plugins/coach/assets/src/utils/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/api.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/test/selectRandomExamQuestions.spec.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
Labels: P0 - critical, APP: Learn, APP: Coach, DEV: frontend, SIZE: medium, SIZE: large

#12161 Align metadata dropdown order to the figma spec
  kolibri/plugins/learn/assets/src/composables/useSearch.js
Labels: APP: Learn, DEV: frontend, SIZE: small

#12167 upgrade KDS version to latest
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/PointsIcon/index.vue
  kolibri/core/assets/src/views/TotalPoints.vue
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/user_profile/assets/src/views/ProfilePage/index.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: APP: Learn, APP: User, DEV: frontend, SIZE: small

#12137 Add "Update resources" option to Options dropdown
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small

#12158 Fix facility sync elapsed time
  kolibri/core/assets/src/views/sync/FacilityNameAndSyncStatus/index.vue
  kolibri/plugins/device/assets/src/views/FacilitiesPage/index.vue
  kolibri/plugins/facility/assets/src/views/DataPage/SyncInterface/index.vue
Labels: TODO: needs review, APP: Device, APP: Facility, DEV: frontend, SIZE: small

#12153 Learner devices status update
  kolibri/core/device/kolibri_plugin.py
  kolibri/core/device/migrations/0023_learner_device_status_multiple_devices.py
  kolibri/core/device/models.py
  kolibri/core/device/test/test_sync_operations.py
Labels: TODO: needs review, DEV: backend, SIZE: small, SIZE: medium

#12177 Update android build version.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops, SIZE: small

#12178 Coach loading state reports
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/modules/questionList/handlers.js
  kolibri/plugins/coach/assets/src/modules/resourceDetail/handlers.js
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/reports/ExerciseQuestionListPageBase.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#12080 Quiz creation: Snackbar improvements
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: DEV: backend, APP: Learn, APP: Coach, DEV: frontend, SIZE: small, SIZE: very large

#12169 Revert ExamPage BottomAppBar to previous version (0.16.x)
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: APP: Learn, DEV: frontend, SIZE: medium

#12179 Fixes issue where activeTabId is not set when viewing quiz reports for a group
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupReportQuizLearnerListPage.vue
Labels: APP: Coach, DEV: frontend, SIZE: very small

#12184 Don't deprovision within running Kolibri to create preseeded DBs
  .github/workflows/build_whl.yml
  Makefile
  build_tools/preseed_home.py
  build_tools/preseed_home.sh
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, SIZE: small

#12160 fixes user selection getting lost on closing the sidepanel
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
Labels: APP: Coach, DEV: frontend, SIZE: very small

#12185 Fixes progress indication bug
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
Labels: APP: Learn, DEV: frontend, SIZE: very small

#12083 docs: add new documentation related to testing style guide and testing template
  docs/frontend_architecture/index.rst
  docs/frontend_architecture/testing_layout.rst
  docs/frontend_architecture/unit_testing.rst
Labels: TODO: needs review, SIZE: medium

#12197 Truncate the syncqueue table before we add the unique constraint.
  kolibri/core/device/migrations/0019_syncqueue_and_status.py
  kolibri/core/device/models.py
Labels: DEV: backend, SIZE: small, SIZE: very small

#12084 App navigation refactor
  kolibri/core/assets/src/composables/__mocks__/useNav.js
  kolibri/core/assets/src/composables/__tests__/useNav.spec.js
  kolibri/core/assets/src/composables/useNav.js
  kolibri/core/assets/src/core-app/apiSpec.js
  kolibri/core/assets/src/mixins/nav-components.js
  kolibri/core/assets/src/utils/navComponents.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/CorePage/ImmersivePage.vue
  kolibri/core/assets/src/views/HorizontalNavBarWithOverflowMenu.vue
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/LogoutSideNavEntry.vue
  kolibri/core/assets/src/views/Navbar/index.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/test/nav-bar.spec.js
  kolibri/core/assets/test/utils/navComponents.spec.js
  kolibri/core/assets/test/views/app-bar.spec.js
  kolibri/core/assets/test/views/side-nav.spec.js
  kolibri/plugins/coach/assets/src/views/CoachAppBarPage.vue
  kolibri/plugins/coach/assets/src/views/CoachSideNavEntry.js
  kolibri/plugins/coach/assets/src/views/TopNavbar.vue
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/device/assets/src/views/DeviceAppBarPage.vue
  kolibri/plugins/device/assets/src/views/DeviceIndex.vue
  kolibri/plugins/device/assets/src/views/DeviceManagementSideNavEntry.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/__test__/DeviceSettingsPage.spec.js
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/assets/src/views/DeviceTopNav.vue
  kolibri/plugins/facility/assets/src/views/AllFacilitiesPage.vue
  kolibri/plugins/facility/assets/src/views/FacilityAppBarPage.vue
  kolibri/plugins/facility/assets/src/views/FacilityManagementSideNavEntry.js
  kolibri/plugins/facility/assets/src/views/FacilityTopNav.vue
  kolibri/plugins/facility/assets/src/views/UserPage/__test__/UserPage.spec.js
  kolibri/plugins/facility/assets/test/views/facility-app-bar-page.spec.js
  kolibri/plugins/learn/assets/src/my_downloads/views/MyDownloadsSideNavEntry.js
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/LearnAppBarPage.vue
  kolibri/plugins/learn/assets/src/views/LearnSideNavEntry.js
  kolibri/plugins/learn/assets/src/views/LearnTopNav.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/user_auth/assets/src/views/LoginSideNavEntry.js
  kolibri/plugins/user_profile/assets/src/views/UserProfileSideNavEntry.js
Labels: TODO: needs review, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, DEV: frontend, SIZE: very large

#12193 Handle case when username doesn't exist on remote and try to create it.
  kolibri/plugins/user_profile/tasks.py
Labels: TODO: needs review, DEV: backend, APP: User, SIZE: very small

#12201 Zip the whl file before uploading for BCK step.
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: very small

#12207 Refactor default_theme paths/structure
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/static/assets/default_theme/background.jpg
  kolibri/core/static/assets/default_theme/kolibri-logo-192.png
  kolibri/core/static/assets/default_theme/kolibri-logo-512.png
  kolibri/core/static/assets/default_theme/kolibri-logo.svg
  kolibri/core/static/assets/default_theme/logo.ico
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/kolibri-logo-192.png
  kolibri/plugins/default_theme/static/kolibri-logo-512.png
  kolibri/plugins/default_theme/static/kolibri-logo.svg
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
Labels: DEV: backend, APP: User, DEV: frontend, SIZE: medium

#12213 Add transform to ensure proper layering in Safari.
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
Labels: APP: User, DEV: frontend, SIZE: very small

#12200 Remove resource pool from exam serializer, don't send in API call
  kolibri/core/exams/models.py
  kolibri/core/exams/serializers.py
  kolibri/core/exams/test/test_exam_api.py
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
Labels: DEV: backend, APP: Coach, DEV: frontend, SIZE: small

#12202 fixes quizzes not showing "File size for download" value properly
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizListPage.vue
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: very small

#12216 Allow delete all questions
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: TODO: needs review, APP: Coach, DEV: frontend, SIZE: small, SIZE: medium

#12227 Add full stop to full sentence.
  kolibri/core/assets/src/mixins/commonSyncElements.js
Labels: TODO: needs review, DEV: frontend, SIZE: very small
