Repository learningequality/kolibri, pull requests merged in 2024-07, with the labels that each got.

#12371 Don't put csrf protection on endpoint that we use to set csrf cookie.
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Labels: TODO: needs review, DEV: backend

#12361 Reduce the size of the wheel file
  .github/workflows/build_whl.yml
  .gitignore
  Makefile
  kolibri/utils/kolibri_whitenoise.py
  kolibri/utils/tests/test_kolibri_whitenoise.py
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/compress.js
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, DEV: tools

#12293 EQM: Post-bash quickfixes
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
Labels: APP: Coach, DEV: frontend, SIZE: small, SIZE: very small

#12357 Distributed error reporting: Task to ping telemetry with all the tracked errors
  kolibri/core/analytics/tasks.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_models.py
Labels: DEV: backend, SIZE: small, SIZE: medium

#12395 Update automatic download setting default to False if running in a remote content context.
  kolibri/core/device/models.py
Labels: DEV: backend

#12391 EQM: Side panel bottom nav
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
Labels: APP: Coach, DEV: frontend

#12385 Revert "Merge pull request #11980 from learningequality/dependabot/np…
  kolibri/core/assets/src/views/userAccounts/BirthYearSelect.vue
  kolibri/core/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: DEV: frontend

#12310 Add string prompt to log in with existing username or create an account
  kolibri/core/auth/api.py
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/LodJoinFacility.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/UserCredentialsForm.vue
Labels: TODO: needs review, TAG: user strings, DEV: backend, APP: User, APP: Setup Wizard, DEV: frontend, SIZE: small, SIZE: very small

#12380 Fix white space on top of tabs dividing line
  kolibri/core/package.json
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsGroupHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12389 EQM: Only show save success message when saving
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/AssignmentDetailsModal.vue
Labels: APP: Coach, DEV: frontend

#12362 Perseus final fixes
  kolibri/core/assets/src/logging.js
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
Labels: DEV: renderers, DEV: frontend

#12407 make sure the question count v-model uses .number
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
Labels: APP: Coach, DEV: frontend

#12381 Update folder selection logic to handle deep folders.
  kolibri/core/assets/src/constants.js
  kolibri/plugins/coach/assets/src/composables/useQuizResources.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12412 Add in submit quiz button for non-large screen sizes.
  kolibri/plugins/learn/assets/src/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend

#12413 Exam models date_created updates
  kolibri/core/exams/api.py
  kolibri/core/exams/migrations/0009_alter_exam_date_created.py
  kolibri/core/exams/models.py
Labels: DEV: backend

#12384 EQM: Sections for quiz detail page
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
Labels: APP: Coach, DEV: frontend

#12393 EQM: What happens when I refresh?
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: APP: Coach, DEV: frontend

#12408 Upgrade morango.
  .github/workflows/morango_integration.yml
  .github/workflows/morongo_integration.yml
  kolibri/core/device/management/commands/devicesettings.py
  requirements/base.txt
  tox.ini
Labels: TODO: needs review, DEV: dev-ops, DEV: backend

#12416 Upgrade the mac app.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops

#12394 Count descendants not ancestors
  kolibri/core/assets/src/api-resources/contentNode.js
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/index.js
  kolibri/plugins/coach/assets/src/views/plan/LessonCreationPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Labels: TODO: needs review, DEV: backend, APP: Coach, DEV: frontend

#12396 What a drag
  kolibri/core/assets/src/views/sortable/DragContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/useDrag.js
Labels: APP: Coach, DEV: frontend

#12427 Coach questions preview: Fix background and selection colors + resolve linter errors
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/AssessmentQuestionListItem.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizPreviewPage.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12426 Fix ordering of quizzes on plan page.
  kolibri/plugins/coach/assets/src/composables/useQuizzes.js
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12428 EQM: Fix unlinted files
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/learn/assets/src/modules/examViewer/index.js
Labels: APP: Learn, APP: Coach, DEV: frontend

#12437 Hide Difficult questions tab if the quiz is still a draft
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizBaseListPage.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12436 Fix quiz preview
  kolibri/core/assets/src/exams/utils.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsQuizPreviewPage.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12439 Ensure skip to main content logic is working
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/CorePage/ImmersivePage.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/assets/src/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/user_auth/assets/src/views/UserAuthLayout.vue
Labels: APP: Learn, APP: User, DEV: frontend

#12429 Fix coreStrings import in AttemptLogList
  kolibri/core/assets/src/views/AttemptLogList.vue
Labels: TODO: needs review, DEV: frontend

#12414 Properly redirect on authentication failure
  kolibri/core/assets/src/core-app/client.js
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/utils/redirectBrowser.js
  kolibri/core/views.py
  kolibri/deployment/default/settings/dev.py
Labels: TODO: needs review, DEV: backend, DEV: frontend

#12441 fixes the route
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: APP: Coach, DEV: frontend

#12109 0.16 gherkin updates and corrections
  integration_testing/016-features/admin/device/admin-deletes-practice-quizzes-from-device.feature
  integration_testing/016-features/admin/device/admin-exports-practice-quizzes-from-device.feature
  integration_testing/016-features/admin/device/admin-imports-practice-quizzes-on-device.feature
  integration_testing/016-features/admin/device/admin-manage-content.feature
  integration_testing/016-features/admin/device/admin-rearrange-channels.feature
  integration_testing/016-features/admin/facility/facility-classes/admin-create-class.feature
  integration_testing/016-features/admin/facility/facility-classes/admin-delete-class.feature
  integration_testing/016-features/admin/facility/facility-classes/admin-enroll-assign-users.feature
  integration_testing/016-features/admin/facility/facility-data/admin-bulk-export-users-classrooms.feature
  integration_testing/016-features/admin/facility/facility-data/admin-bulk-import-users-classrooms.feature
  integration_testing/016-features/admin/facility/facility-data/admin-export-data.feature
  integration_testing/016-features/admin/facility/facility-data/admin-register-facility.feature
  integration_testing/016-features/admin/facility/facility-data/admin-sync-facility.feature
  integration_testing/016-features/admin/facility/facility-settings/admin-change-facility-settings.feature
  integration_testing/016-features/admin/facility/facility-users/admin-create-users.feature
  integration_testing/016-features/admin/facility/facility-users/admin-delete-user.feature
  integration_testing/016-features/admin/facility/facility-users/admin-edit-user.feature
  integration_testing/016-features/admin/facility/facility-users/admin-find-user.feature
  integration_testing/016-features/admin/profile/admin-change-profile-information.feature
  integration_testing/016-features/coach/class/class-coach-view.feature
  integration_testing/016-features/coach/class/coach-class-home-with-interaction.feature
  integration_testing/016-features/coach/class/coach-class-home.feature
  integration_testing/016-features/learner/home-page/home-page-guest.feature
  integration_testing/016-features/learner/profile/learner-change-profile-information.feature
  integration_testing/016-features/superadmin/facility/facility-users/super-admin-create-users.feature
Labels: SIZE: medium, SIZE: large

#11759 Pytest upgrade 3.7.1 -> 6.2.5
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/c_extensions.yml
  docs/stack.rst
  kolibri/core/analytics/test/test_ping.py
  kolibri/core/analytics/test/test_utils.py
  kolibri/core/auth/test/test_morango_integration.py
  kolibri/core/content/test/test_content_sync_hook.py
  kolibri/core/content/test/test_delete_content.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/deviceadmin/tests/test_dbbackup.py
  kolibri/core/deviceadmin/tests/test_dbrestore.py
  kolibri/core/discovery/test/test_network_broadcast.py
  kolibri/core/discovery/test/test_network_search.py
  kolibri/core/public/test/test_api.py
  kolibri/core/tasks/test/taskrunner/test_job_running.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/test/test_no_connection.py
  kolibri/core/test/test_key_urls.py
  kolibri/plugins/utils/test/helpers.py
  kolibri/utils/tests/test_cli.py
  kolibri/utils/tests/test_main.py
  requirements/test.txt
  test/coverage_blame.py
  test/patch_pytest.py
  test/pytest_3.10.patch
  tox.ini
Labels: TODO: needs review, DEV: dev-ops, DEV: backend, DEV: tools, SIZE: very small

#12444 Handle edge cases for resource selection in quizzes
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
Labels: APP: Coach, DEV: frontend

#12466 Adds loose pinning of dev docs requirements to ensure correct builds …
  docs/conf.py
  requirements/docs.txt
Labels: DEV: backend

#12453 Update release flow for BCK prerelease and final release
  .github/workflows/release_kolibri.yml
Labels: TODO: needs review, DEV: dev-ops

#12467 Fix exam report question selection display
  kolibri/core/assets/src/views/AttemptLogList.vue
Labels: TODO: needs review

#12470 Fix RTL Styles
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/TabsWithOverflow.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
Labels: TODO: needs review, APP: Coach, DEV: frontend

#12484 Fix KSelect overflow in exam page
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: TODO: needs review, APP: Learn

#12488 stop infinite reloads
  kolibri/core/templates/kolibri/loading_page.html
Labels: TODO: needs review

#12491 Bug fixes discovered while investigating issues in change facility workflow
  kolibri/core/logger/models.py
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeDifferentAccounts/index.vue
Labels: TODO: needs review, DEV: backend, APP: User, DEV: frontend

#12485 Exam Page: Move smaller screen timer to top
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: APP: Learn, DEV: frontend

#12492 Cherry-pick #12485
  kolibri/plugins/learn/assets/src/views/ExamPage/index.vue
Labels: APP: Learn, DEV: frontend

#12448 Fix language switcher errors
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  kolibri/core/package.json
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/CategorySearchModal/index.vue
  kolibri/plugins/learn/package.json
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: APP: Learn, DEV: frontend

#12451 Fix pex filenames
  Makefile
  build_tools/read_whl_version.py
Labels: TODO: needs review, DEV: backend

#12495 Update android installer action to latest released version.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops

#12487 Limit max questions per section to 25.
  kolibri/core/assets/src/constants.js
  kolibri/core/exams/constants.py
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
Labels: DEV: backend, APP: Coach, DEV: frontend

#12494 Restore preseeded database behaviour
  kolibri/utils/main.py
Labels: DEV: backend

#12496 Nav alignment
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/Navbar/index.vue
Labels: DEV: dev-ops, DEV: renderers, DEV: backend, APP: Learn, APP: Coach, APP: User, DEV: frontend

#12468 Python 3.12 support
  .github/workflows/morango_integration.yml
  .github/workflows/tox.yml
  kolibri/core/content/migrations/0037_add_bloompub_preset.py
  kolibri/utils/dummy_distutils_version.py
  kolibri/utils/env.py
  requirements/base.txt
  setup.py
  tox.ini
Labels: TODO: needs review, DEV: dev-ops, DEV: backend

#12498 Allow management of learner sync on remote content enabled devices.
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
Labels: APP: Device, DEV: frontend

#12465 Adjust CSS for button layout in EQM
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
Labels: APP: Coach, DEV: frontend

#12500 Add more error handling for facility user merging and facility deletion
  kolibri/core/auth/middleware.py
  kolibri/core/auth/permissions/general.py
  kolibri/core/tasks/permissions.py
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/tasks.py
  kolibri/plugins/user_profile/utils.py
  kolibri/plugins/user_profile/viewsets.py
  requirements/dev.txt
  requirements/test.txt
Labels: DEV: backend, APP: Learn, APP: User, DEV: frontend

#12324 Add ordering for FacilityUser viewset
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Labels: DEV: backend, SIZE: medium

#12511 Update link to privacy policy
  kolibri/core/assets/src/views/PrivacyInfoModal.vue
Labels: DEV: frontend
