Repository learningequality/kolibri, pull requests merged in 2024-10, with the labels that each got.

#12692 Update to 0.17.3
  kolibri/__init__.py
Labels: DEV: backend

#12587 Add missing `indeterminate` states on Select All checkboxes
  kolibri/core/assets/src/views/UserTable/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/DeleteResourcesModal.vue
Labels: APP: Device, APP: Coach, DEV: frontend

#12701 Move navroute generation into usenav composable.
  kolibri/core/assets/src/composables/__tests__/generateNavRoutes.spec.js
  kolibri/core/assets/src/composables/generateNavRoutes.js
  kolibri/core/assets/src/composables/useNav.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
Labels: DEV: frontend

#12698 Add to heartbeat API to keep useConnection composable more tightly encapsulated in the heartbeat module.
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/state/modules/core/actions.js
Labels: DEV: frontend

#12699 Consolidate content node utilities into kolibri-common.
  kolibri/core/assets/src/utils/contentNodeUtils.js
  kolibri/core/assets/src/views/ExamReport/utils.js
  kolibri/core/assets/src/views/MasteryModel.vue
  packages/kolibri-common/utils/contentNode.js
Labels: DEV: frontend

#12700 Move renderer suffix into core constants.
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/core-app/pluginMediator.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/DownloadButton.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/utils.spec.js
  kolibri/core/assets/src/views/ContentRenderer/constants.js
  kolibri/core/assets/src/views/ContentRenderer/index.js
  kolibri/core/assets/src/views/ContentRenderer/utils.js
Labels: DEV: frontend

#12696 0.18: Groups view updates
  kolibri/core/assets/src/mixins/commonCoreStrings.js
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
Labels: TODO: needs review, TAG: user strings, APP: Coach, DEV: frontend

#12689 Final fix to update the AUTHORS for new contributors
  .github/workflows/add_contributor.yml
Labels: DEV: dev-ops

#12644 Moved core notifications handling into NotificationsRoot component
  kolibri/core/assets/src/kolibri_app.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/views/NotificationsRoot.vue
  kolibri/core/assets/test/kolibri_app.spec.js
  kolibri/core/assets/test/views/NotificationsRoot.spec.js
Labels: DEV: frontend

#12571 [GSoC] Use KTable in Facility -> Classes
  AUTHORS.md
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
Labels: APP: Facility, DEV: frontend

#12717 Upgrade kds rc7
  kolibri/core/assets/src/views/InteractionList/index.vue
  kolibri/core/assets/src/views/MultiPaneLayout.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/SlotTruncator.vue
  kolibri/core/package.json
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
  packages/kolibri-common/components/Cards/AccessibleFolderCard.vue
  packages/kolibri-common/components/Cards/AccessibleResourceCard.vue
  packages/kolibri-common/components/SearchBox.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: DEV: renderers, DEV: frontend

#12693 Refactor accordion component
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  packages/kolibri-common/components/accordion/AccordionContainer.vue
  packages/kolibri-common/components/accordion/AccordionItem.vue
  packages/kolibri-common/components/accordion/useAccordion.js
Labels: APP: Coach, DEV: frontend

#12607 Resource discovery: Implement channel card
  packages/kolibri-common/components/Cards/AccessibleChannelCard.vue
Labels: APP: Learn, APP: Coach, DEV: frontend

#12711 Update UI and add additional info to Learner Reports pages
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerActivityPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerListPage.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerReportPage.vue
Labels: APP: Coach, DEV: frontend

#12713 Update the Plans > Lessons landing page to match the new information architecture
  kolibri/plugins/coach/assets/src/constants/lessonsConstants.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/LessonsRootPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Labels: APP: Coach, DEV: frontend

#12709 Fix import channel in Postgresql
  docs/conf.py
  kolibri/core/content/fixtures/longdescriptions_content_data.json
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
  requirements/docs.txt
Labels: TODO: needs review, DEV: backend

#12586 Bloom player
  .gitignore
  kolibri/__init__.py
  kolibri/core/assets/src/views/ContentRenderer/filePresetStrings.js
  kolibri/core/content/migrations/0038_alter_localfile_extension.py
  kolibri/core/content/static/bloom/bloomPlayer-d1be6dab31acb4a956a6.min.js
  kolibri/core/content/static/bloom/bloomplayer.htm
  kolibri/core/content/static/bloom/right_answer-913c37e88e2939122d763361833efd24.mp3
  kolibri/core/content/static/bloom/wrong_answer-f96cfc1e0cc2cea2dd523d521d4c8738.mp3
  kolibri/plugins/bloompub_viewer/__init__.py
  kolibri/plugins/bloompub_viewer/assets/src/module.js
  kolibri/plugins/bloompub_viewer/assets/src/views/BloomPubRendererIndex.vue
  kolibri/plugins/bloompub_viewer/buildConfig.js
  kolibri/plugins/bloompub_viewer/kolibri_plugin.py
  kolibri/utils/build_config/default_plugins.py
  packages/hashi/package.json
  packages/hashi/src/Bloom/BloomInterface.js
  packages/hashi/src/Bloom/BloomRunner.js
  packages/hashi/src/bloom.js
  packages/hashi/src/hashiBase.js
  packages/hashi/src/iframeClient.js
  packages/hashi/src/mainClient.js
  packages/kolibri-zip/src/fileUtils.js
  packages/kolibri-zip/src/index.js
  requirements/base.txt
Labels: DEV: renderers, DEV: backend, DEV: frontend

#12630 Update dropshadows to the latest Kolibri Design System guidelines
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomAppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreBanner.vue
  kolibri/core/assets/src/views/CorePage/AppBarPage.vue
  kolibri/core/assets/src/views/SideNav.vue
  kolibri/core/assets/src/views/SkipNavigationLink.vue
  kolibri/core/assets/src/views/sortable/DragContainer.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/LessonContentCard/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/CompletionModal/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/UnPinnedDevices.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/StorageNotification.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsPanelModal.vue
  kolibri/plugins/learn/assets/src/views/cards/CardLink.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/index.vue
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
Labels: TODO: needs review, DEV: renderers, APP: Learn, APP: Coach, APP: User, DEV: frontend

#12736 Branding tweaks
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/assets/src/views/KeenUiToolbar.vue
Labels: DEV: frontend

#12320 Tweaks to CLI and message extraction utility function
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/i18n/astUtils.js
Labels: DEV: tools, SIZE: small

#12738 Add Fulfulde translations
  kolibri/locale/ach_UG/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ar/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/bg_BG/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/bn_BD/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/de/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/el/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/en/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/es_419/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/es_ES/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/fa/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/django.mo
  kolibri/locale/ff_CM/LC_MESSAGES/django.po
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.core.default_frontend-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.coach.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.coach.side_nav-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.device.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.facility.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.learn.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.learn.my_downloads_app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.perseus_viewer.main-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.policies.app-messages.json
  kolibri/locale/ff_CM/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/fr_FR/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/gu_IN/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ha/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/hi_IN/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ht/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/id/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/it/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ka/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/km/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ko/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/mr/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/my/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ny/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/pa/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/pt_BR/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/pt_MZ/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/sw_TZ/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/te/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/uk/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/ur_PK/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/vi/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/yo/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
  kolibri/locale/zh_Hans/LC_MESSAGES/kolibri.plugins.setup_wizard.app-messages.json
Labels: TODO: needs review, P0 - critical, TAG: user strings, DEV: frontend

#12680 Delete resource from everywhere when force_delete is selected
  kolibri/core/content/tasks.py
Labels: DEV: backend

#12740 Dont delete the entire channel when deleting a single content
  kolibri/core/content/tasks.py
Labels: DEV: backend

#12723 Prevent access to undefined AttemptLogs while looking at reports
  kolibri/core/assets/src/exams/utils.js
  kolibri/core/assets/src/views/AttemptLogItem.vue
  kolibri/core/assets/src/views/AttemptLogList.vue
Labels: DEV: frontend

#12704 0.18: Plan Quizzes view updates
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
  kolibri/plugins/coach/assets/src/views/plan/CoachExamsPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Labels: APP: Coach, DEV: frontend

#12681 Make error reports into a plugin
  kolibri/__init__.py
  kolibri/core/analytics/tasks.py
  kolibri/core/api_urls.py
  kolibri/core/assets/src/api-resources/errorReport.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/error_reports/__init__.py
  kolibri/core/error_reports/apps.py
  kolibri/core/error_reports/constants.py
  kolibri/core/error_reports/middleware.py
  kolibri/core/error_reports/migrations/0001_initial.py
  kolibri/core/error_reports/migrations/__init__.py
  kolibri/core/error_reports/models.py
  kolibri/core/error_reports/schemas.py
  kolibri/core/error_reports/tasks.py
  kolibri/core/error_reports/test/__init__.py
  kolibri/core/error_reports/test/test_middleware.py
  kolibri/core/error_reports/test/test_models.py
  kolibri/core/error_reports/test/test_tasks.py
  kolibri/core/errorreports/apps.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/plugins/error_reports/__init__.py
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/api_urls.py
  kolibri/plugins/error_reports/assets/src/__tests__/errorReport.test.js
  kolibri/plugins/error_reports/assets/src/index.js
  kolibri/plugins/error_reports/assets/src/utils.js
  kolibri/plugins/error_reports/buildConfig.js
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/serializers.py
  kolibri/plugins/error_reports/test/test_api.py
  kolibri/utils/build_config/default_plugins.py
Labels: DEV: backend, DEV: frontend, SIZE: large

#12737 Improve learn folder contents display
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
Labels: TODO: needs review, APP: Learn, DEV: frontend

#12730 Information Architecture Refactor: Update the Plan > Lesson Summary
  kolibri/core/assets/src/views/CoreTable.vue
  kolibri/core/assets/src/views/sortable/DragSortWidget/index.vue
  kolibri/core/lessons/viewsets.py
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  kolibri/plugins/coach/assets/src/routes/planLessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/common/LessonStatus.vue
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/LessonOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/QuizOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonBase.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonLearnersTable.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourcesList.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLessonResourcesTable.vue
  yarn.lock
Labels: DEV: backend, APP: Coach, DEV: frontend

#12724 Update StorageNotification.vue to prevent undefined access if device plugin is disabled
  kolibri/plugins/learn/assets/src/views/StorageNotification.vue
Labels: APP: Learn, DEV: frontend

#12754 Final token updates
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/assets/src/views/ImmersiveToolbar.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/PermissionsIcon.vue
  kolibri/core/assets/src/views/ProgressBar.vue
  kolibri/plugins/coach/assets/src/views/common/HeaderTabs/HeaderTab.vue
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/device/assets/src/views/DeprecationWarningBanner.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/ToggleHeaderTabs.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: APP: Device, APP: Learn, APP: Coach, DEV: frontend

#12757 Remove custom eslint rules that are redundant with eslint-plugin-vue rules.
  kolibri/core/assets/src/views/sync/SelectDeviceModalGroup/SelectDeviceForm.vue
  kolibri/plugins/bloompub_viewer/assets/src/views/BloomPubRendererIndex.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/epub_viewer/assets/src/views/EpubRendererIndex.vue
  kolibri/plugins/facility/assets/src/views/ManageClassPage/ClassDeleteModal.vue
  kolibri/plugins/html5_viewer/assets/src/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/assets/src/views/DeviceConnectionStatus.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/index.vue
  kolibri/plugins/learn/assets/src/views/ProgressBar.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/learn/assets/src/views/classes/AssignedQuizzesCards.vue
  kolibri/plugins/media_player/assets/src/views/MediaPlayerIndex.vue
  kolibri/plugins/pdf_viewer/assets/src/views/PdfRendererIndex.vue
  kolibri/plugins/perseus_viewer/assets/src/views/PerseusRendererIndex.vue
  kolibri/plugins/slideshow_viewer/assets/src/views/SlideshowRendererComponent.vue
  packages/eslint-plugin-kolibri/lib/rules/vue-component-registration-casing.js
  packages/eslint-plugin-kolibri/lib/rules/vue-filename-and-component-name-match.js
  packages/eslint-plugin-kolibri/lib/rules/vue-no-unused-properties.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-unused-properties.spec.js
  packages/kolibri-tools/.eslintrc.js
Labels: DEV: renderers, APP: Facility, APP: Learn, APP: Coach, DEV: frontend, DEV: tools

#12760 Update favicon to be available when the default theme is disabled
  kolibri/core/static/assets/favicons/logo.ico
  kolibri/core/templatetags/core_tags.py
  kolibri/plugins/default_theme/kolibri_plugin.py
Labels: DEV: backend

#12761 Fix on my own merge account KCheckbox issue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmMerge.vue
Labels: APP: User, DEV: frontend

#12765 Update mappings for theme updates for newly introduced tokens made
  kolibri/core/package.json
  kolibri/plugins/bloompub_viewer/assets/src/views/BloomPubRendererIndex.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnerHeader.vue
  packages/kolibri-common/components/Cards/AccessibleFolderCard.vue
  packages/kolibri-common/components/Cards/AccessibleResourceCard.vue
  packages/kolibri-common/components/accordion/AccordionContainer.vue
  packages/kolibri-core-for-export/package.json
  yarn.lock
Labels: DEV: renderers, APP: Coach, DEV: frontend

#12776 Release v0.17.x into develop
  CHANGELOG.md
  kolibri/core/static/assets/favicons/logo.ico
  kolibri/core/templatetags/core_tags.py
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmMerge.vue
Labels: DEV: backend, APP: User, DEV: frontend
