Repository learningequality/kolibri, pull requests merged in 2024-04, with the labels that each got.

#12040 Fix inaccurate duplicate username reporting in bulk import
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/test/test_bulk_import.py
Labels: TODO: needs review, DEV: backend, SIZE: small

#12032 Add customizable demographic field entry to facility admin interface
  kolibri/core/auth/api.py
  kolibri/core/auth/constants/demographics.py
  kolibri/core/auth/migrations/0025_custom_demographic_schema.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_demographic_validation.py
  kolibri/core/device/migrations/0021_default_demographic_fields.py
  kolibri/core/device/models.py
  kolibri/core/device/utils.py
  kolibri/core/utils/validators.py
  kolibri/plugins/facility/assets/src/modules/userManagement/actions.js
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  packages/kolibri-common/components/ExtraDemographics/ExtraDemographicField.vue
  packages/kolibri-common/components/ExtraDemographics/__tests__/ExtraDemographicField.spec.js
  packages/kolibri-common/components/ExtraDemographics/__tests__/ExtraDemographics.spec.js
  packages/kolibri-common/components/ExtraDemographics/index.vue
Labels: DEV: backend, APP: Facility, DEV: frontend, SIZE: very large

#12028 Reuse URL validator for remote URL access.
  kolibri/core/content/api.py
  kolibri/plugins/user_profile/viewsets.py
Labels: DEV: backend, APP: User, SIZE: small

#12044 Remove any order_by to ensure values_list is properly unique.
  kolibri/core/content/utils/content_request.py
Labels: DEV: backend, SIZE: very small

#12049 Fix URL handling regression
  kolibri/plugins/user_profile/viewsets.py
  yarn.lock
Labels: DEV: backend, APP: User, SIZE: very small

#12050 Release upload fixes
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: small

#12058 Update windows installer for another naming fix. This time for signed assets.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops, SIZE: very small

#11934 tests: add initial test suite for `CoreMenu`
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
  kolibri/core/assets/src/views/CoreMenu/__tests__/CoreMenuDivider.spec.js
  kolibri/core/assets/src/views/CoreMenu/__tests__/CoreMenuOption.spec.js
  packages/kolibri-tools/jest.conf/setup.js
  packages/kolibri-tools/package.json
  yarn.lock
Labels: DEV: frontend, DEV: tools, SIZE: medium, SIZE: very large

#12015 Overrides prop default flipping behaviour
  kolibri/core/package.json
  kolibri/plugins/facility/assets/src/views/FacilityConfigPage/index.vue
Labels: APP: Facility, DEV: frontend, SIZE: very small

#12039 Fix #9067: Redirect signed-out users to resource URL without lessonId or classId
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: very small

#12052 Resolve webpack loaders and dependencies relative to kolibri-tools
  packages/kolibri-tools/lib/alias_import_resolver.js
  packages/kolibri-tools/lib/apiSpecExportTools.js
  packages/kolibri-tools/lib/clean.js
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/compress.js
  packages/kolibri-tools/lib/ensureDist.js
  packages/kolibri-tools/lib/lint.js
  packages/kolibri-tools/lib/read_webpack_json.js
  packages/kolibri-tools/lib/version.js
  packages/kolibri-tools/lib/webpack.config.base.js
  packages/kolibri-tools/lib/webpack.config.plugin.js
  packages/kolibri-tools/lib/webpackBundleTracker.js
  packages/kolibri-tools/lib/webpackRtlPlugin.js
Labels: DEV: tools, SIZE: small

#12051 Update useUser mocks for updated API.
  kolibri/core/assets/src/composables/__mocks__/useUser.js
Labels: DEV: frontend, SIZE: small

#12020 Added code for deletion of csv files in line #397
  packages/kolibri-tools/lib/i18n/crowdin.py
Labels: DEV: backend, DEV: tools, SIZE: very small

#12059 Add --manifest-only option to exportcontent command
  kolibri/core/content/management/commands/exportcontent.py
  kolibri/core/content/test/test_import_export.py
Labels: DEV: backend, SIZE: small

#12060 tests: add test suites for `SelectSourceModal` and `ConfirmationRegisterModal`
  kolibri/core/assets/src/views/sync/__tests__/ConfirmationRegisterModal.spec.js
  kolibri/core/assets/src/views/sync/__tests__/SelectSourceModal.spec.js
Labels: TODO: needs review, DEV: frontend, SIZE: medium

#12056 tests: add tests for some files in `ContentRenderer`
  kolibri/core/assets/src/views/ContentRenderer/__tests__/ContentRendererError.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/ContentRendererLoading.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/DownloadButton.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/utils.spec.js
Labels: TODO: needs review, DEV: frontend, SIZE: medium

#11937 Quiz creation: Question replacement & a bevy of misc fixes and polish
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/utils/selectQuestions.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ConfirmCancellationModal.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/TabsWithOverflow.vue
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/test/selectRandomExamQuestions.spec.js
  kolibri/plugins/coach/assets/test/useQuizCreation.spec.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/viewsets.py
  packages/kolibri-common/components/SidePanelModal/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
Labels: DEV: backend, APP: Learn, APP: Coach, DEV: frontend, SIZE: large, SIZE: very large

#12068 Fix issue with duplicate lesson from join.
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Labels: TODO: needs review, DEV: backend, SIZE: medium, SIZE: very small

#12099 Move handleReplacement logic from ReplaceQuestions.vue to useQuizCreation.js
  kolibri/plugins/coach/assets/src/composables/useQuizCreation.js
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/ReplaceQuestions.vue
Labels: APP: Coach, DEV: frontend, SIZE: small

#12067 Use router.replace for redirect.
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend, SIZE: very small

#12105 Fix Vue Tesing Library routes bug
  kolibri/core/assets/src/views/ContentRenderer/__tests__/ContentRendererError.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/ContentRendererLoading.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/DownloadButton.spec.js
  kolibri/core/assets/src/views/CoreMenu/__tests__/CoreMenuDivider.spec.js
  kolibri/core/assets/src/views/ExamReport/__tests__/AttemptIconDiff.spec.js
  kolibri/core/assets/src/views/ExamReport/__tests__/AttemptTextDiff.spec.js
  kolibri/core/assets/src/views/ExamReport/__tests__/TriesOverview.spec.js
  kolibri/core/assets/src/views/InteractionList/__tests__/InteractionItem.spec.js
  kolibri/core/assets/src/views/InteractionList/__tests__/index.spec.js
  kolibri/core/assets/src/views/__tests__/TotalPoints.spec.js
  kolibri/core/assets/src/views/sync/__tests__/ConfirmationRegisterModal.spec.js
  kolibri/core/assets/src/views/sync/__tests__/SelectSourceModal.spec.js
  kolibri/core/assets/src/views/userAccounts/__tests__/GenderDisplayText.spec.js
  kolibri/core/assets/src/views/userAccounts/__tests__/GenderSelect.spec.js
  packages/kolibri-tools/jest.conf/setup.js
Labels: DEV: frontend, DEV: tools, SIZE: small
