Repository learningequality/kolibri, pull requests merged in 2025-09, with the labels that each got.

#13703 Release v0.18.x into develop
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/device/test/test_api.py
  kolibri/utils/server.py
Labels: DEV: dev-ops, DEV: backend, SIZE: medium

#13579 Persist onboarding tour progress using localStorage
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri/components/onboarding/TooltipTour.vue
  packages/kolibri/composables/useTour.js
Labels: DEV: dev-ops, DEV: backend, APP: Facility, APP: Learn, APP: Coach, DEV: frontend, DEV: tools, SIZE: small, SIZE: medium, SIZE: very large

#13717 Update Learn > Library Sidepanel to give access to all the folder resources
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
Labels: P1 - important, APP: Learn, DEV: frontend, SIZE: small

#13649 Kolibri-Onboarding: Progress bar UI update & tooltip additions for Learn-only device setup and first-time use
  kolibri/plugins/device/assets/src/views/ManageContentPage/index.vue
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
  kolibri/plugins/facility/assets/src/views/LearnerClassEnrollmentPage.vue
  kolibri/plugins/learn/assets/src/views/HomePage/index.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityBar.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri/components/onboarding/TooltipTour.vue
  packages/kolibri/components/pages/AppBarPage/internal/SideNav.vue
  packages/kolibri/uiText/commonCoreStrings.js
  packages/kolibri/uiText/kolibriOnboardingGuideStrings.js
  packages/kolibri/utils/onboardingSteps.js
Labels: APP: Device, APP: Facility, APP: Learn, DEV: frontend, SIZE: medium

#13615 improves title truncation on the resource and folder cards
  kolibri/plugins/learn/assets/src/views/HybridLearningContentCard/index.vue
Labels: DEV: dev-ops, DEV: renderers, DEV: backend, APP: Device, APP: Facility, APP: Learn, APP: Coach, APP: User, APP: Setup Wizard, DEV: frontend, DEV: tools, SIZE: small, SIZE: very large

#13719 Fix: Prevent time desynchronization in survey report dropdowns
  packages/kolibri-common/components/quizzes/QuizReport/index.vue
Labels: SIZE: very small

#13654 Reloads channel list after import
  kolibri/core/content/utils/file_availability.py
  kolibri/plugins/device/assets/src/views/ManageContentPage/NewChannelVersionPage.vue
Labels: TODO: needs review, bug, DEV: backend, APP: Device, DEV: frontend, SIZE: medium, SIZE: very small

#13698 Streamline download skip chunked files
  kolibri/core/content/test/test_import_export.py
  kolibri/core/tasks/utils.py
  kolibri/utils/file_transfer.py
  kolibri/utils/tests/test_chunked_file.py
  kolibri/utils/tests/test_file_transfer.py
Labels: DEV: backend, SIZE: medium, SIZE: large

#13738 Fix long text input in free response questions
  kolibri/plugins/qti_viewer/assets/src/components/interactions/TextEntryInteraction.vue
Labels: DEV: renderers, DEV: frontend, SIZE: small

#13744 Bump to 0.18.3
  kolibri/__init__.py
Labels: DEV: backend, SIZE: very small

#13722 Disable Kolibri Onboarding feature in develop
  packages/kolibri/composables/useTour.js
Labels: P0 - critical, SIZE: small

#13746 update changelog for 0.18.3
  CHANGELOG.md
Labels: SIZE: small

#13666 Fixes the deletion of super admin by admin user.
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
Labels: APP: Facility, DEV: frontend, SIZE: small, SIZE: medium

#13739 Fix users reload after soft-deleting a user
  kolibri/plugins/facility/assets/src/composables/__mocks__/useUserManagement.js
  kolibri/plugins/facility/assets/src/composables/useUserManagement.js
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/MoveToTrashModal.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/AssignCoachesSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/EnrollLearnersSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/RemoveFromClassSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/UserCreate/index.vue
Labels: APP: Facility, DEV: frontend, SIZE: medium, SIZE: very small

#13755 Update bulk action icons to need only one TAB press for keyboard navigation
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
Labels: P0 - critical, APP: Facility, DEV: frontend, SIZE: medium

#13763 Standarize side panels styles
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/SectionSidePanel/index.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/AssignCoachesSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/EnrollLearnersSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/FilterUsersSidePanel/index.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/RemoveFromClassSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/UserCreate/index.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/common.scss
  packages/kolibri-common/components/SidePanelModal/index.vue
Labels: APP: Facility, APP: Coach, DEV: frontend, SIZE: medium

#13652 Handle deletion of coach from the assigned classes
  kolibri/core/auth/api.py
  kolibri/plugins/facility/assets/src/views/users/common/MoveToTrashModal.vue
Labels: DEV: backend, APP: Facility, APP: Coach, DEV: frontend, SIZE: small, SIZE: medium

#13773 Allow class search to match text anywhere in the string
  kolibri/plugins/facility/assets/src/views/common/SelectableList.vue
Labels: P1 - important, APP: Facility, DEV: frontend, SIZE: very small

#13787 Unwrapped strings rule
  kolibri/plugins/coach/assets/src/views/CoachPrompts/index.vue
  kolibri/plugins/coach/assets/src/views/common/status/StatusTestPage.vue
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/facility/assets/src/views/CsvInfoModal.vue
  kolibri/plugins/policies/assets/src/views/CookiePolicy.vue
  kolibri/plugins/policies/assets/src/views/UsageAndPrivacy.vue
  kolibri/plugins/qti_viewer/assets/src/components/QTISandboxPage.vue
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
  packages/kolibri-format/.eslintrc.js
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context01.vue
  packages/kolibri-tools/test/fixtures/i18nSyncContext/Context02.vue
  packages/kolibri/components/PrivacyInfoModal.vue
  packages/kolibri/components/onboarding/TooltipContent.vue
  packages/kolibri/components/pages/AppBarPage/internal/SideNav.vue
Labels: DEV: renderers, APP: Device, APP: Facility, APP: Coach, APP: User, DEV: frontend, DEV: tools, SIZE: small

#13791 QTI Survey fixes
  kolibri/plugins/qti_viewer/assets/src/components/interactions/SimpleChoice.vue
  kolibri/plugins/qti_viewer/assets/src/components/interactions/TextEntryInteraction.vue
  kolibri/plugins/qti_viewer/assets/src/constants.js
  kolibri/plugins/qti_viewer/assets/src/utils/qti/__tests__/declarations.spec.js
  kolibri/plugins/qti_viewer/assets/src/utils/qti/declarations.js
  kolibri/plugins/qti_viewer/assets/src/utils/qti/values.js
Labels: DEV: renderers, DEV: frontend, SIZE: large
