Repository learningequality/kolibri, pull requests merged in 2025-08, with the labels that each got.

#13617 Remove class title in favour of class name in class copy form
  kolibri/plugins/facility/assets/src/views/ManageClassPage/CopyClassSidePanel.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
Labels: APP: Facility, DEV: frontend, SIZE: small, SIZE: very small

#13623 update changelog for 0.18.2
  CHANGELOG.md
Labels: SIZE: small

#13624 Add user type column to csv logs export
  kolibri/core/auth/constants/user_kinds.py
  kolibri/core/logger/csv_export.py
Labels: DEV: backend, SIZE: small

#13552 Added keyboard navigation and visually hidden pageTitle for tooltips
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
  packages/kolibri-common/strings/kolibriOnboardingGuideStrings.js
  packages/kolibri-common/utils/onboardingSteps.js
Labels: APP: Device, APP: Learn, DEV: frontend, SIZE: medium

#13600 Implement move to trash side panel
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/index.vue
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/utils.js
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/MoveToTrashModal.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/EnrollLearnersSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/MoveToTrashSidePanel.vue
  packages/kolibri-common/apiResources/DeletedFacilityUserResource.js
  packages/kolibri-common/strings/bulkUserManagementStrings.js
  packages/kolibri-common/strings/searchAndFilterStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Labels: DEV: backend, APP: Facility, APP: Coach, DEV: frontend, SIZE: medium, SIZE: large

#13651 BUM SidePanel: Implement remove users from classes side panel functionality
  kolibri/core/auth/api.py
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/CloseConfirmationGuard.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/RemoveFromClassSidePanel.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
Labels: TAG: new feature, P0 - critical, DEV: backend, APP: Facility, DEV: frontend, SIZE: medium

#13650 Add removed users page
  kolibri/core/auth/api.py
  kolibri/plugins/facility/assets/src/composables/useUserManagement.js
  kolibri/plugins/facility/assets/src/constants.js
  kolibri/plugins/facility/assets/src/images/empty_plus_cloud.svg
  kolibri/plugins/facility/assets/src/images/empty_trash_cloud.svg
  kolibri/plugins/facility/assets/src/modules/mappers.js
  kolibri/plugins/facility/assets/src/routes.js
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/PermanentDeleteModal.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
Labels: DEV: backend, APP: Facility, APP: Coach, DEV: frontend, SIZE: large

#13655 Fix error when deleting a single user in UsersTable
  kolibri/plugins/facility/assets/src/views/users/common/DeleteUserModal.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
Labels: P0 - critical, APP: Facility, DEV: frontend, SIZE: small

#13672 Upgrade windows installer action usage to latest version.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
  kolibri/core/device/test/test_api.py
Labels: DEV: dev-ops, DEV: backend, SIZE: small, SIZE: very small

#13674 Refactor undo actions + consistent go back and close confirmation guards
  kolibri/plugins/facility/assets/src/composables/useActionWithUndo.js
  kolibri/plugins/facility/assets/src/utils.js
  kolibri/plugins/facility/assets/src/views/FacilityAppBarPage.vue
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/CloseConfirmationGuard.vue
  kolibri/plugins/facility/assets/src/views/users/common/MoveToTrashModal.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/AssignCoachesSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/EnrollLearnersSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/FilterUsersSidePanel/index.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/RemoveFromClassSidePanel.vue
  kolibri/plugins/facility/assets/src/views/users/sidePanels/UserCreate/index.vue
  packages/kolibri-common/components/PaginatedListContainerWithBackend.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
  packages/kolibri/components/FilterTextbox.vue
  packages/kolibri/components/GlobalSnackbar/index.vue
  packages/kolibri/components/GlobalSnackbar/internal/CoreSnackbar.vue
  packages/kolibri/components/pages/AppBarPage/index.vue
  packages/kolibri/components/pages/ImmersivePage/index.vue
  packages/kolibri/composables/useSnackbar.js
Labels: APP: Facility, DEV: frontend, SIZE: very large
