Repository learningequality/kolibri, pull requests merged in 2025-01, with the labels that each got.

#12984 Pin python version to 3.11 for node-gyp support.
  .github/workflows/check_licenses.yml
Labels: DEV: dev-ops

#12978 Add required sanity check flags to ensure deletion of testpypi artifacts
  .github/workflows/cleanup_test_pypi.yml
Labels: DEV: dev-ops

#12985 Remove the channel labels from the non-public ContentNode API
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/utils/search.py
  kolibri/core/public/api.py
Labels: DEV: backend

#12977 Fix H5P update builds
  .github/workflows/update_h5p.yml
  packages/hashi/package.json
  yarn.lock
Labels: DEV: dev-ops

#12992 Fixes assigned lessons and quizzes are not visible to the learner
  kolibri/plugins/learn/assets/src/routes/classesRoutes.js
  kolibri/plugins/learn/assets/src/views/classes/ClassAssignmentsPage.vue
Labels: APP: Learn, DEV: frontend

#12948 Fixes: Library - Connection state's position when there are no libraries around #11442
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend

#12952 Add quiz recipients selector as Side Panel
  kolibri/plugins/coach/assets/src/views/common/TruncatedItemList.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/index.vue
  kolibri/plugins/coach/assets/src/views/quizzes/QuizSummaryPage/QuizOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/quizzes/QuizSummaryPage/index.vue
  packages/kolibri-common/components/PaginatedListContainer.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
  packages/kolibri/package.json
  yarn.lock
Labels: APP: Coach, DEV: frontend

#13009 Small tweaks to simplify publishing packages.
  .github/workflows/npm_publish.yml
  .pre-commit-config.yaml
  package.json
  packages/browserslist-config-kolibri/package.json
  packages/build_kolibri_package.js
  packages/kolibri-tools/.gitignore
  packages/kolibri-tools/.npmignore
  packages/kolibri-tools/build_kolibri_tools.js
  packages/kolibri-tools/package.json
Labels: DEV: dev-ops, DEV: tools

#13026 Extracts QuestionsAccordion component
  kolibri/plugins/coach/assets/src/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/assets/src/views/common/useDrag.js
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionOrder.vue
Labels: APP: Coach, DEV: frontend

#12996 Integrate shopping cart into lesson resource selection side panel
  kolibri/plugins/coach/assets/src/routes/lessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/ContentCardList.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonResourceSelectionPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/UpdatedResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/ManageSelectedResources.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromBookmarks.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromChannels.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/ManageSelectedLessonResource.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/SelectedResources.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionOrder.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/index.vue
  packages/kolibri-common/strings/enhancedQuizManagementStrings.js
  packages/kolibri-common/strings/searchAndFilterStrings.js
Labels: APP: Coach, DEV: frontend

#13015 Modified validators in few files according to new ValidateObject
  kolibri/plugins/learn/assets/src/views/ContentPage.vue
  packages/kolibri-common/components/SearchFiltersPanel/SelectGroup.vue
  packages/kolibri-common/components/syncComponentSet/FacilityAdminCredentialsForm.vue
Labels: TODO: needs review, APP: Learn, DEV: frontend

#13044 Allow Studio URLs to be created as network locations
  kolibri/core/discovery/models.py
  kolibri/core/discovery/test/helpers.py
  kolibri/core/discovery/test/test_api.py
Labels: DEV: backend

#13031 Fix import path error in kolibri-tools migrate core API functionality
  packages/kolibri-tools/lib/apiTransform.js
  packages/kolibri-tools/package.json
Labels: DEV: tools

#13038 Quiz creation: Show correct answers for questions
  kolibri/plugins/coach/assets/src/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/ReplaceQuestions.vue
Labels: APP: Coach, DEV: frontend

#13041 Add a placeholder string when no resources are available/no channels on devices
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectionIndex.vue
  packages/kolibri/uiText/commonCoreStrings.js
Labels: APP: Coach, DEV: frontend

#13024 Fix alignment of language buttons in setup flow
  packages/kolibri/components/language-switcher/LanguageSwitcherList.vue
  packages/kolibri/components/language-switcher/internal/SelectedLanguage.vue
Labels: TODO: needs review
