Repository learningequality/kolibri, pull requests merged in 2025-05, with the labels that each got.

#13349 Cleans up no longer used component.
  kolibri/plugins/coach/assets/src/constants/lastPagesConstants.js
  kolibri/plugins/coach/assets/src/routes/learnersRoutes.js
  kolibri/plugins/coach/assets/src/views/common.js
  kolibri/plugins/coach/assets/src/views/common/notifications/ActivityList.vue
  kolibri/plugins/coach/assets/src/views/common/notifications/__test__/ActivityList.spec.js
  kolibri/plugins/coach/assets/src/views/home/HomeActivityPage.vue
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/ReportsLearnerActivityPage.vue
Labels: APP: Coach, DEV: frontend

#13374 Use SQLAlchemy URL.create to better handle special characters in passwords
  kolibri/core/tasks/utils.py
Labels: P1 - important, DEV: backend, TAG: cloud

#13233 cleans up learning activity imports from the learn plugin
  kolibri/plugins/learn/assets/src/composables/useLearningActivities.js
  kolibri/plugins/learn/assets/src/my_downloads/views/DownloadsList/index.vue
  kolibri/plugins/learn/assets/src/my_downloads/views/Filters/ActivityFilter.vue
  kolibri/plugins/learn/assets/src/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/assets/src/views/LearningActivityDuration/index.vue
  kolibri/plugins/learn/assets/src/views/LearningActivityLabel/index.vue
  kolibri/plugins/learn/assets/test/views/library-page.spec.js
  kolibri/plugins/learn/assets/test/views/topics-page.spec.js
  packages/kolibri-common/composables/__mocks__/useLearningActivities.js
Labels: APP: Learn, DEV: frontend

#13385 Upgrade mac app installer to latest version.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Labels: DEV: dev-ops

#13384 Add questions url prop to Bloom player
  kolibri/core/content/static/bloom/bloomPlayer-02a77592459cdf0b1bd7.min.js
  kolibri/core/content/static/bloom/bloomplayer.htm
  packages/hashi/src/Bloom/BloomRunner.js
Labels: DEV: frontend

#13403 Limit job update DB writes to significant events
  kolibri/core/content/utils/channel_transfer.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/utils.py
Labels: DEV: backend

#13413 Fix coach filtering
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Labels: TODO: needs review, DEV: backend, APP: Facility

#13420 Add a date_deleted field to FacilityUser and add Django migration file
  kolibri/core/auth/migrations/0028_facilityuser_date_deleted.py
  kolibri/core/auth/models.py
Labels: DEV: backend, SIZE: small

#13427 Quiz Creation: Sections have fixed question order by default
  kolibri/plugins/coach/assets/src/composables/quizCreationSpecs.js
Labels: APP: Coach, DEV: frontend, SIZE: very small
